@(celebId: Long = 1L,
  personalizeUrl: String,
  testcase: Option[String] = None,
  paymentJsModule: String = "stripe-payment",
  paymentPublicKey: String = "pk_qIGUDirehUxj2GTFwgeRBkOfHIWdX"
)(
  implicit
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData,
  authToken: egraphs.authtoken.AuthenticityToken
)

@**
 * Template for the checkout page. See base_template.scala.html for description
 * of implicit params.
 *@
@import views.html.frontend._
@import tags.tooltip
@import models.frontend.NgField.withField
@import models.frontend.forms.Field

@requiredStar = {<span class="required-marker">*</span>}

@identifyAs(name: String) = {id="@name" name="@name" ng-model="@name"}
@linked(link: String)(body: Html) = {
  @if(!link.isEmpty){<a href="@link">}@body@if(!link.isEmpty){</a>}
}

@headerStep(image: String, label: String, stage: String, link: String="") = {
  <div class="step @stage">
    <div class="image-container ">
      @linked(link){<img src="@EgraphsAssets.at(image)">}
    </div>
    <label>@linked(link){@label}</label>

  </div>
  @if(stage != "final") {
    <img class="step-arrow" class="@stage" src="@if(stage == "current") {@EgraphsAssets.at("images/glyphicons-rightarrow.png")} @if(stage == "previous") {@EgraphsAssets.at("images/glyphicons-rightarrow-orange.png")}">
  }
}

@header = {
  <div class="checkout-header">
    <div class="checkout-logo">
      <a href="/">
        <img src="@EgraphsAssets.at("images/logo-cart.png")">
      </a>
    </div>
    <div class="steps">
      @headerStep("images/glyphicons-links-orange.png", "connect", stage="previous", link=personalizeUrl)
      @headerStep("images/glyphicons-pencil-box-orange.png", "enter details", stage="current")
      @headerStep("images/glyphicons-check-circle.png", "done", stage="final")
    </div>
  </div>
}

@headJs = {
  @**
   *As a client-driven page, most data will be banged into JS rather than directly into the template 
   *@
  angular.extend(Egraphs.page, {
    config: {},

    celebId: @celebId,

    payment: {
      jsModule: "@paymentJsModule",
      apiKey: "@paymentPublicKey"
    },

    months: @Html({ (1 to 12).map("\"%02d\"".format(_)).mkString("[", ",", "]") }),

    years: @Html({ (13 to 25).map("\"%d\"".format(_)).mkString("[", ",", "]") }),

    states: @tags.geo.usstates(formatStr="json"),

    personalizeUrl: "@personalizeUrl"

    //scenarios: {
    //  module: "test/pages/checkout-scenarios",
    //  // testcase: "digital-egraph-only"
    //  // testcase: "digital-egraph-with-framed-print"
    //  // testcase: "15-dollar-code-herpderp-available"
    //  // testcase: "15-dollar-code-herpderp-exercised"
    //  // testcase: "pre-populate-all-forms"
    //  // testcase: "all-errors"
    //}

  });

  @if(!testcase.isEmpty) {
    angular.extend(Egraphs.page, {
      scenarios: {
        module: "test/pages/checkout-scenarios",
        testcase: "@testcase"
      }
    });
  }
  
}

@headerIcon(filename: String) = {
  <div class="header-icon">
    <img ng-src='@EgraphsAssets.at("images/" + filename)'>
  </div>
}

@orderSummary = {
  <div id="order-summary">
  <div class="summary-insertion"></div>
  <div class="summary">
    <h2 id="items-header">Items</h2>
    <ul class="line-items">
      <li ng-repeat="product in cart.products" class="{{product.lineItemType.codeType}}">
        <div class="image-and-description">
          <img ng-src="{{product.imageUrl}}"></img>
          <h3><div class="money">${{product.amount}}</div>{{product.name}}</h3>
          <div class="line-item-description">{{product.description}}</div>
        </div>
      </li>
    </ul>
    <div class="discounts clearfix">
      <h2>Discounts</h2>
       <a class="redeem-link" id="open-redeem" ng-click="toggleCodeRedeemerVisibility()">{{codeRedeemerText()}}</a>
       <ul ng-show="codeRedeemerVisible" class="line-items">
         <li class="discount {{cart.currentDiscount.status}}">
           <div class="image-and-description discount-field">
             <div class="money {{cart.currentDiscount.status}}" >${{cart.currentDiscount.amount}}</div>
             <form name="couponForm"
                   class="form-horizontal ajax"
                   remote-resource="{{cartApi.url}}/coupon"
                   local-resource="coupon"
                   submit-completed="refreshCart()">
               @withField("coupon", "couponCode") { field =>
                 <input @field.identityAttributes
                        resource-property
                        monitor-user-attention
                        no-submit-on-blur
                        placeholder="Enter code here"
                        type="text" />
                 <div class="errors" ng-show="@field.invalid">
                   @field.ifError("remote_invalid_code") {invalid code}
                 </div>
               }
             </form>
              @tooltip("How do I get one?") {
                <strong>We reward our customers.</strong> Join our mailing list after ordering to get exclusive weekly deals on egraphs.
              }
           </div>
         </li>
       </ul>
    </div>
    <h2>Fees</h2>
    <ul class="line-items">
      <li ng-show="cart.requiresShipping">
        <h3><div class="money">free!</div>Shipping</h3>
      </li>
      <li>
        <h3><div class="money">included in price!</div>Sales Tax</h3>
      </li>                
    </ul>              
    <ul class="line-items">
      <li class="TotalLineItem summary-line">
        <h3><div class="money">${{cart.total}}</div>Total</h3>
      </li>
    </ul>
  </div>
</div>

}

@baseBody = {
  <div id="content" role="main">
    <div id="main" ng-cloak ng-controller="CheckoutController">
      <div id="form" class="form-horizontal finger-pointy-errors">
        <section id="double-check">
          @headerIcon("glyphicons-magnifier-orange.png")
          <h2>Double-check your order</h2>
          @orderSummary
        </section>
        <section id="delivery-details">
          @headerIcon("glyphicons-envelope-orange.png")
          <h2>Enter delivery details</h2>
          <h3 class="fancy-header">Online Egraph Delivery</h3>
          <form remote-resource="{{cartApi.url}}/recipient"
                local-resource="recipient"
                name="recipientForm"
                class="ajax"
                novalidate
                ng-show="egraph.isGift == 'true'">
            @withField("recipient", "email") { field =>
              <div class="control-group">
                <label class="control-label" for="@field.id">
                  Recipient Email@requiredStar:
                  @tooltip("Why do you need this?") {
                    When the egraph is made, an email will be sent to yourself and the gift recipient with information on how to view and hear it.
                  }
                </label>
                <div class="controls">
                    <input @field.identityAttributes
                           type="email"
                           monitor-user-attention
                           resource-property
                           required>
                    @field.standardErrorDiv
                </div>
              </div> <!-- End .control-group.recipientName -->
            }
          </form>
          <form remote-resource="{{cartApi.url}}/buyer"
                local-resource="buyer"
                name="buyerForm"
                class="ajax"
                novalidate>
            <div class="control-group">
              @withField("buyer", "email") { field =>
                <label class="control-label" for="@field.id">
                  Your Email@requiredStar:
                </label>
                <div class="controls">
                  <input @field.identityAttributes
                         type="email"
                         monitor-user-attention
                         resource-property
                         required>
                  @field.standardErrorDiv
                </div>
              }
            </div> <!-- End .control-group -->
            <div class="control-group" ng-show="egraph.isGift == 'true'">
              @withField("buyer", "name") { field =>
                <label class="control-label" for="@field.id">
                  Your Name@requiredStar:
                  @tooltip("How is this used?", event="How is name used?") {
                    You will be attributed by name on the e-mail {{egraph.recipientName}} receives when his/her online egraph is ready, as well as on your order confirmation receipt.
                  }
                  </label>
                <div class="controls">
                  <input @field.identityAttributes
                         monitor-user-attention
                         resource-property>
                         
                  @field.standardErrorDiv
                </div>
              }
            </div> <!-- End .control-group -->

          </form>

          <div id="framed-print-delivery" ng-show="cart.requiresShipping">
            <h3 class="fancy-header framed-print">
              Framed print delivery
            </h3>
            <form name="shippingForm"
                  class="form-horizontal ajax"
                  remote-resource="{{cartApi.url}}/shipping-address"
                  local-resource="shipping">

              @withField("shipping", "name") { field =>
                <div class="control-group">
                  <label class="control-label" for="@field.id">Name@requiredStar:</label>
                  <div class="controls">
                    <input @field.identityAttributes
                           monitor-user-attention
                           resource-property 
                           required>
                    @field.standardErrorDiv
                  </div>
                </div>
              }

              @withField("shipping", "addressLine1") { field =>
                <div class="control-group">
                  <label class="control-label" for="@field.id">Address@requiredStar:</label>
                  <div class="controls">
                    <input @field.identityAttributes
                           monitor-user-attention
                           resource-property
                           required>
                    @field.standardErrorDiv
                  </div>
                </div>
              }

              @withField("shipping", "addressLine2") { field =>
                <div class="control-group">
                  <div class="controls">
                    <input @field.identityAttributes
                           monitor-user-attention
                           resource-property>
                           
                    @field.standardErrorDiv
                  </div>
                </div>
              }
              
              <div class="control-group">
                @withField("shipping", "city") { field =>
                  <label class="control-label" for="@field.id">City@requiredStar:</label>
                  <div class="controls">
                    <input @field.identityAttributes
                           monitor-user-attention
                           resource-property
                           required />
                    @field.standardErrorDiv
                }
                @withField("shipping", "state") { field =>
                  <select @field.identityAttributes
                          monitor-user-attention
                          resource-property
                          ng-options="state[0] as state[1] for state in states"
                          required />
                    <option value>State / Province / Territory</option>
                  </select>
                  @field.standardErrorDiv
                </div>
                }
              </div>

              @withField("shipping", "postalCode") { field =>
                <div class="control-group">
                  <label class="control-label" for="@field.id">Postal code@requiredStar:</label>
                  <div class="controls">
                    <input @field.identityAttributes monitor-user-attention resource-property class="half" required />
                    @field.standardErrorDiv
                  </div>
                </div>
              }
            </form>
          </div> <!-- end #framed-print-delivery -->
        </section>
        <section id="payment-details" ng-show="cart.total > 0">
          @headerIcon("glyphicons-lock-orange.png")
          <h2>Enter payment details</h2>
          <form id="stripeForm" class="ajax" stripe-resource="stripeToken" remote-resource name="stripeForm" novalidate>
            @withField("stripe", "cardNumber") { field =>
              <div class="control-group">
                <label class="control-label" for="@field.id">Card Number@requiredStar:</label>
                <div class="controls">
                  <input @field.identityAttributes monitor-user-attention resource-property required credit-card-number />
                  @field.errorDiv {
                    @field.ifError("required") {required}
                    @field.ifError("remote_card_declined") {card declined}
                    
                    @field.ifError(
                      "creditCardNumber",
                      "remote_invalid_number", 
                      "remote_incorrect_number"
                    ) {invalid card number}

                    @field.ifError("remote_expired_card") {card expired}
                  }
                  <ul class="credit-cards clearfix">
                    <li class="visa">Visa</li>
                    <li class="mastercard">Mastercard</li>
                    <li class="amex">American Express</li>
                    <li class="discover">Discover</li>
                  </ul>                  
                </div>
              </div>
            }
            <div class="control-group">
              <label class="control-label" for="card-exp-month">Expiration@requiredStar:</label>
              <div class="controls">
                <select @identifyAs("cardExpMonth")
                        monitor-user-attention
                        resource-property
                        class="inline"
                        ng-options="month for month in months"
                        required 
                        credit-card-expiry-month>
                  <option value>MM</option>
                </select>
                /
                <select @identifyAs("cardExpYear")
                        monitor-user-attention
                        resource-property
                        class="inline"
                        ng-options="year for year in years"
                        required
                        credit-card-expiry-year>
                  <option value>YY</option>
                </select>
                @withField("stripe", "cardExpMonth") { monthField =>
                  @withField("stripe", "cardExpYear") { yearField =>
                    <div class="errors" ng-show="(@monthField.userHasAttended && @yearField.userHasAttended) && (@monthField.invalid || @yearField.invalid)">
                      @monthField.ifError("remote_invalid_expiry_month") {incorrect expiration month}
                      @yearField.ifError("remote_invalid_expiry_year") {invalid expiration year}
                      @monthField.ifError("required", "remote_exp_month") {month required}
                      @yearField.ifError("required", "remote_exp_year") {year required}
                    </div>
                  }
                }
              </div>
            </div>
            @withField("stripe", "securityCode") { field =>
              <div class="control-group">
                <label class="control-label" for="@field.id">Security code@requiredStar:</label>
                <div class="controls">
                  <input @field.identityAttributes
                         monitor-user-attention
                         resource-property
                         class="half"
                         required 
                         credit-card-cvc />
                  @field.errorDiv {
                    @field.ifError("required") {required}
                    @field.ifError(
                      "creditCardCvc",
                      "remote_invalid_cvc",
                      "remote_incorrect_cvc"
                    ) {invalid security code}
                  }
                </div>
              </div>
            }
          </form>
          <form name="paymentForm"
                class="ajax"
                remote-resource="{{cartApi.url}}/payment"
                local-resource="payment"
                submit-completed="refreshCart()">
            @withField("payment", "postalCode") { field => 
              <div class="control-group">
                <label class="control-label" for="@field.id">Postal code@requiredStar:</label>
                <div class="controls">
                  <input @field.identityAttributes class="half"  monitor-user-attention required resource-property>
                  @field.standardErrorDiv
                </div>
              </div>
            }
            @withField("payment", "stripeToken") { field =>
              <input name="@field.name"
                     ng-model="stripeToken.id"
                     type="hidden" 
                     monitor-user-attention
                     resource-property
                     required />
            }
            </form>
        </section>
        <div class="field-reminder control-group">
          <div class="controls">
            <div class="fields-remaining" ng-show="fieldsRemaining().length > 0 && !submitting()">
              <img src="@EgraphsAssets.at("images/glyphicons-uparrow-circle-orange.png")"> <span class="num-remaining">{{fieldsRemaining().length}}</span> required fields remaining
            </div>
            <div class="no-fields-remaining" ng-show="fieldsRemaining().length == 0&& !submitting()">
              <img src="@EgraphsAssets.at("images/glyphicons-check-circle-green.png")"> All required fields complete!
            </div>
            <div class="validating" ng-show="submitting()">
              <img src="@EgraphsAssets.at("images/ajax-loader.gif")"> Updating...
            </div>
            <div class="payment-errors general-errors" ng-show="stripeForm.$error.remote_transaction">
              We were unable to charge the provided card. Please double check your info or try another card.
            </div>
            <div class="general-errors" ng-show="errors.noInventory">
              Sorry, but this star's queue <em>just</em> filled up with orders, but don't worry - we didn't charge your card! Sign up for our newsletter at the bottom of this page to be informed when your favorite stars will be available again.
            </div>
            <div class="general-errors" ng-show="errors.serverError">
              Sorry, but it looks like we're having server difficulties. Don't worry, we didn't charge your card though. Try again later and hopefully things will go more smoothly...
            </div >           
          </div>
        </div>
      </div>
      <div id="review" class="{{orderStatus()}}" >
        <div class="control-group">
          @headerIcon("{{orderCompleteIcon()}}")
          <h2>Complete your order</h2>
          <div class="submission">
            <button type="button"
                    class="button"
                    ng-click="transactCheckout()"
                    ng-disabled="fieldsRemaining().length > 0 || transacting || errors">
              <strong>
                <em>Purchase now</em> 
              </strong>
              <span>&raquo;</span>
            </button><img style="position:relative;left:5px" src="@EgraphsAssets.at("images/ajax-loader.gif")" ng-show="transacting" />
            <div id="this-will-charge" ng-show="fieldsRemaining().length == 0">
              <span class="money">${{cart.total}}</span> will be charged
              <span ng-show="cart.total > 0">to your card.</span>
              <span ng-show="cart.total <= 0">to you. This one's on us!</span>
            </div>
            @*<div id="or-edit"><a href="#">Edit your order</a></div>*@
          </div>
        </div>
      </div>
    </div>
  </div>
}


@base_template(
  title = "Egraphs Secure Checkout",
  headJs = headJs,
  jsMain = "pages/storefronts/a/checkout",
  body=baseBody,
  headerContent=Some(header),
  bodyClasses=Seq("storefront-a-checkout")
)