@(star: models.frontend.storefront_a.PersonalizeStar, 
  checkoutUrl: String,
  maxDesiredTextChars: Int,
  maxMessageToCelebChars: Int,
  testcase: Option[String]=None
)(
  implicit
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData,
  authToken: egraphs.authtoken.AuthenticityToken
)

@**
 * Template for the personalize page. See base_template.scala.html for description
 * of implicit params.
 *@

@import views.html.frontend._
@import tags.tooltip
@import models.frontend.NgField.withField
@import play.api.libs.json._
@import models.frontend.forms.Field

@fieldTooltip(link: String, event: String="")(body: => Html) = {
  @tooltip(link, Seq("field-tooltip"), event)(body)
}

@headerIcon(content:String, filename: String) = {
  <div class="iconed-header">
    <div class="header-icon">
      <img ng-src='@EgraphsAssets.at("images/" + filename)'>
    </div>
    <h2>@content</h2>
  </div>
}

@headJs = {
  @**
   *As a client-driven page, most data will be banged into JS rather than directly into the template 
   *@
  angular.extend(Egraphs.page, {
    config: {},
    celebId: @star.id,
    products: @Html(Json.stringify(JsArray(star.products.map(_.toJson)))),
    checkoutUrl: "@checkoutUrl"
  });

  @if(!testcase.isEmpty) {
    angular.extend(Egraphs.page, {
      scenarios: {
        module: "test/pages/personalize-scenarios",
        testcase: "@testcase"
      }
    });
  }
}

@loremTipsum = {
  <strong>Lorem tipsum dolor</strong> sit amet consectipiscent elit
}

@baseBody = {
  <div id="content" role="main" ng-controller="PersonalizeController" ng-cloak>
    <div id="main">
      <section id="personalize-masthead" role="banner" style="">
        <div class="masthead-content absolute-container">
            <h1>You are moments from personally connecting with @star.name</h1>
          @* <img class="video-preview" src='@EgraphsAssets.at("images/egraph-video-preview.png")'> *@
        </div>
        <hr class="masthead-highlight" />
        <img src="@star.mastheadUrl"></img>
      </section> <!-- end #masthead-home -->        
      <div class="container">
        <section id="testimonials">
          <div class="testimonials">
            <div class="testimonial">
              <div class="quote">
                The Egraph [...] to my son was amazing! The look on his face was priceless, he couldn't believe a REAL baseball player had wished him Happy Birthday!
              </div>
              <div class="attribution">
                - Carla Hord
                <span class="source">via Email</span>
              </div>
            </div>
          </div>
        </section>      
        <div class="value-propositions row">
          <div class="span3 clearfix">
            <div class="value-icon-holder"><img src='@EgraphsAssets.at("images/pencil.png")'></img></div>
            <div class="description">
              <strong>You write a note</strong>
              <span>for @star.name's eyes only</span>
            </div>
          </div>
          <div class="span3 clearfix">
            <div class="value-icon-holder"><img src='@EgraphsAssets.at("images/glyphish-microphone.png")'></img></div>
            <div class="description">
              <strong>@star.pronoun.subject.capitalize reads and replies</strong>
              <span>through @star.pronoun.possessiveAdjective iPad microphone. This is your egraph.</span>
            </div>
          </div>
          <div class="span3 clearfix">
            <div class="value-icon-holder"><img src='@EgraphsAssets.at("images/glyphish-verified.png")'></img></div>
            <div class="description">
              <strong>Authenticity verified</strong>
              <span>by signature and voice analysis</span>
            </div>
          </div>
          <div class="span3 clearfix">
            <div class="value-icon-holder"><img src='@EgraphsAssets.at("images/glyphish-heart.png")'></img></div>
            <div class="description">
              <strong>Love your egraph</strong>
              <span>or your money back, no questions asked</span>
            </div>
          </div>
          </div> <!-- end value-propositions -->
        <section id="buy-an-egraph">
          <h2 class="callout">
            <img src='@EgraphsAssets.at("images/glyphicons-circle-arrow-down-orange.png")'></img>
            Follow these steps to personally connect with @star.name for <span class="money">{{selectedProduct().currencySymbol}}{{selectedProduct().price}}</span>
          </h2>
        </section>
      </div> <!-- end container -->
    </div> <!-- end main -->

    <div class="main-like">
        <form name="egraphForm"
              remote-resource="{{cartApi.url}}/egraph"
              local-resource="egraph"
              class="form-horizontal ajax finger-pointy-errors"
              novalidate>
          <section id="make-the-connection">
            @headerIcon("Make the connection with " + star.name, "glyphicons-links-orange.png")
            <div class="make-the-connection form-horizontal">
              @withField("egraph", "messageToCeleb") { field =>
                <div class="control-group note-to-star">
                  <label class="control-label" for="@field.id">
                    What do you want to say to @star.pronoun.obj?
                    @fieldTooltip(s"What will ${star.pronoun.subject} do with my message?", event="What will star do with message?") {
                      <strong>This is your chance to be heard.</strong> @star.name will read this note and respond to you in a voice message, recorded from @star.pronoun.possessiveAdjective personal iPad.
                    }
                  </label>
                  <div class="controls">
                    <div class="visitor-profile">
                      <img src='@EgraphsAssets.at("images/glyphish-user.png")' />
                    </div>
                    <div class="triangle-border left">
                      <textarea @field.identityAttributes
                                cols="1"
                                resource-property
                                maxlength="@maxMessageToCelebChars"
                                monitor-user-attention
                                placeholder="Type your note to @star.name..."></textarea>
                      @field.standardErrorDiv
                    </div>
                    <div>
                      @fieldTooltip("Not sure what to say? Here are some tips.", event="Not sure what to say?") {
                        <strong>Make it personal.</strong> The more personal your note, the more personal your egraph from @star.name will be. Talk about why you're a fan. Or that special time you saw @star.pronoun.obj in person. Ask a question you've always wanted to know the answer to, or request that @star.pronoun.subject say something specific.
                      }
                      <div class="explanatory-text char-remaining">{{@maxDesiredTextChars - @{field.ngModel}.length}} left</div>
                    </div>
                  </div>
                </div> <!-- End .control-group.note-to-star -->
              }
              @withField("egraph", "desiredText") { field =>
                <div class="control-group note-to-star">
                  <label class="control-label" for="@field.id">
                    What do you want @star.pronoun.obj to write in reply?
                    @fieldTooltip("What is this?", event="What is the written message?") {
                      <strong>As part of your egraph, @star.name will hand-write a short message alongside @star.pronoun.possessiveAdjective signature using an iPad.</strong> Leave this field blank and @star.pronoun.subject will hand-write whatever @star.pronoun.subject wants. Or jot down something specific you want written, like <em>"Happy 16th Birthday, Bobby"</em> or <em>"Thanks for being my #1 fan!"</em>
                    }
                  </label>
                  <div class="controls">
                    <div>
                      <textarea @field.identityAttributes
                                cols="1"
                                resource-property
                                maxlength="@maxDesiredTextChars"
                                monitor-user-attention
                                placeholder="Leave it blank and @star.name will write whatever @star.pronoun.subject wants. Or give @star.pronoun.obj a short message like &quot;Happy 16th Birthday Bobby!&quot; and @star.pronoun.subject'll write that."></textarea>
                    </div>
                    @field.standardErrorDiv
                    <div>
                      <div class="explanatory-text char-remaining">{{@maxMessageToCelebChars - @{field.ngModel}.length}} left</div>
                    </div>
                  </div>
                </div> <!-- End .control-group.note-to-star -->
              }              
              @headerIcon("Briefly Introduce Yourself", "glyphicons-speechbubble-orange.png")              
              @withField("egraph", "isGift") { field =>
                <div class="control-group">
                  <label class="control-label" for="@field.id">
                    Who is this egraph for?
                    @fieldTooltip("How does gifting work?", event="How does gifting work?") {
                      <strong>Egraphs make a great gift for a friend or family member.</strong> Just select the <em>This is a gift</em> and enter the recipient's name (this is who @star.name will address their message to).
                    }
                    @fieldTooltip("How will they receive the gift?", event="How will they receive the gift?") {
                      On the next screen you can enter an email address for the recipient. When @star.name creates the egraph, an email will be sent to both yourself and the recipient with information on how to view and hear the graph.
                    }                    
                  </label>
                  <div class="controls">
                    <div @field.identityAttributes
                         class="btn-group"
                         bs-buttons-radio
                         resource-property
                         monitor-user-attention>
                      <button type="button"
                              value="false"
                              class="btn btn-primary btn-custom-radio">
                        This is for me
                      </button>
                      <button type="button" 
                              value="true" 
                              class="btn btn-primary btn-custom-radio">
                        This is a gift
                      </button>
                    </div>
                    <div class="explanatory-text" ng-show="@field.ngModel == 'true'">
                      Nice choice! An egraph makes a stellar gift.
                    </div>
                  </div>
                </div> <!-- End .control-group.recipientOption -->
              }

              @withField("egraph", "recipientName") { field =>
                <div class="control-group">
                  <label class="control-label" for="@field.id">
                    {{recipientPossessive()}} name<span class="required-marker">*</span>:
                    @fieldTooltip("How is this used?", event="How is name used?") {
                      This is the name @star.name will address the egraph to in both @star.pronoun.possessiveAdjective written and audio message.
                    }
                  </label>
                  <div class="controls">
                    <input @field.identityAttributes
                           monitor-user-attention
                           resource-property
                           required>
                    @field.standardErrorDiv
                  </div>
                </div> <!-- End .control-group.recipientName -->
              }
            </div>
          </section>

          <section id="look-and-feel">
            @headerIcon("Customize your egraph's look and feel", "glyphicons-camera-orange.png")
            <div class="form-horizontal">
              
              <div class="control-group photo-choice">
                <label class="control-label" for="photoChoice">
                  What photo should @star.name sign?
                  @fieldTooltip("An egraph is both an audio and written message", event="Explain photo") {
                    Using an iPad, @star.name will write a short message and signature on the photo you select. This written message and photo will be displayed with the audio message when you receive the egraph.
                  }
                </label>
                <div class="controls">
                  <div thumbnail-selector
                       ng-model="egraph.productId"
                       name="productId"
                       collection="products"
                       resource-property
                       monitor-user-attention>
                    <div class="selected-photo">
                      <img ng-src="{{selectedProduct().thumbnails.large}}">
                      <div class="image-label">
                        <h3>{{selectedProduct().title}}<div class="money right">{{selectedProduct().currencySymbol}}{{selectedProduct().price}}</div></h3>

                        <div class="image-label-caption">
                          {{selectedProduct().description}}
                        </div>
                      </div>
                    </div>
                    <div class="photo-selector">
                      <div class="thumbs">
                        <div class="photo-thumb" 
                             thumb
                             ng-repeat="product in products"
                             value="{{product.id}}">
                          <img ng-src="{{product.thumbnails.small}}">
                          <div class="money">{{selectedProduct().currencySymbol}}{{product.price}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="errors" ng-show="makeTheConnection.photoChoice.$dirty && makeTheConnection.photoChoice.$invalid">
                    <div class="alert alert-error hidden"
                         ng-show="makeTheConnection.photoChoice.$error.required" >
                      Don't you want to say something to @star.name?
                    </div>
                  </div>
                </div>
              </div> <!-- End .control-group.photoChoice -->

              @withField("egraph", "framedPrint") { field =>
                <div class="control-group">
                  <label class="control-label" for="@field.name">
                    In what format would you like the egraph delivered?
                    @fieldTooltip("Can I add the framed print later?", event="Can I add the framed print later?") {
                      <strong>Yes! You can order a framed print of your egraph any time you like</strong> For fastest processing though it is best to include it here. Just email support@@egraphs.com to place a framed print order later on.
                    }
                  </label>
                  <div class="controls">
                    <div @field.identityAttributes
                         class="btn-group"
                         resource-property
                         monitor-user-attention
                         bs-buttons-radio>
                      <button ng-type="button"
                              value="false"
                              class="btn btn-primary btn-custom-radio">
                        Online egraph only
                      </button>
                      <button type="button" 
                              value="true" 
                              class="btn btn-primary btn-custom-radio">
                        with framed print&nbsp;&nbsp;<span class="money slapped-on">+ $45</span>
                      </button>
                    </div>
                    <div class="errors" ng-show="makeTheConnection.photoChoice.$dirty && makeTheConnection.photoChoice.$invalid">
                      <div class="alert alert-error hidden"
                           ng-show="makeTheConnection.photoChoice.$error.required" >
                        Don't you want to say something to @star.name?
                      </div>
                    </div>
                    <div class="explanatory-text">
                      <strong>Online Egraph -</strong> Your egraph is an online experience. When @star.name creates the egraph, {{recipientNominative()}} will get an email with a link to view, hear, and share it online. <br /><strong>Framed print -</strong> This option includes an 8x12 frame, mat, and certificate of authenticity. It features the selected photo and written message of your egraph. Shipping fees are included in the price. 
                      @fieldTooltip("See an example framed print", event="See an example framed print") {
                        <img src="@EgraphsAssets.at("images/physical-preview.jpg")">
                      }
                    </div>
                  </div>
                </div> <!-- End .control-group.photoChoice -->
              }
            </div>
          </section>

          <div class="separator"></div>

          <section id="egraph-arrival">
            <h2 class="clearfix callout">
              <img src='@EgraphsAssets.at("images/glyphish-stopwatch.png")'>
              When will {{recipientNominative()}} get the egraph? @star.name will create it as soon as @star.pronoun.subject can -- on average it takes 2 weeks. It's depends on @star.pronoun.possessiveAdjective schedule, so it may be much faster, or it may be slower!
              @fieldTooltip("Need it delivered on a specific date?", event="Need it delivered on a specific date?") {
                If this is for a special occasion (like a birthday) and you'd like it sent to {{recipientNominative()}} on a specific date, email support@@egraphs.com after placing your order to let us know.
              }
            </h2>
          </section>
          <div class="separator"></div>

          <section id="preview-proceed" class="controls">
            <div class="field-reminder">
              <div class="fields-remaining" ng-show="fieldsRemaining().length > 0 && !egraphForm.$submitting">
                <img src="@EgraphsAssets.at("images/glyphicons-uparrow-circle-orange.png")"> Oops! You still have to fill in your name...
              </div>
              <div class="no-fields-remaining" ng-show="fieldsRemaining().length == 0 && !egraphForm.$submitting">
                <img src="@EgraphsAssets.at("images/glyphicons-check-circle-green.png")"> All required fields complete!
              </div>
              <div class="no-fields-remaining" ng-show="egraphForm.$submitting">
                <img src="@EgraphsAssets.at("images/ajax-loader.gif")"> Validating...
              </div>              
            </div>          
            <button id="review-button" 
                    type="button"
                    class="button review"
                    ng-click="proceedToCheckout()"
                    ng-disabled="egraphForm.$invalid || egraphForm.$submitting" >
              <strong>
                @*<span class="step-count in-button">3</span>*@
                <em>Proceed to Checkout</em>
              </strong>
              <span>&raquo;</span>
            </button>
            <div class="price" ng-show="fieldsRemaining().length == 0">Product price: <span class="money">${{productPrice()}}</span>
            <div class="preview">
              @*@tooltip("Preview your egraph") {
                @loremTipsum
              } *@
            </div>
          </section>
        </form>
    </div>
  </div>
}


@base_template(
  title=star.name + " | Personalize",
  headJs = headJs,
  jsMain = "pages/storefronts/a/personalize",
  body=baseBody,
  bodyClasses=Seq("storefront-a-personalize")
)