@(star: models.frontend.storefront_a.PersonalizeStar, checkoutUrl: String, testcase: Option[String])(
  implicit
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData,
  authToken: egraphs.authtoken.AuthenticityToken
)

@**
 * Template for the personalize page. See base_template.scala.html for description
 * of implicit params.
 *@

@import views.html.frontend._
@import tags.tooltip
@import models.frontend.NgField.withField
@import models.frontend.forms.Field

@maxTextChars = {130}
@fieldTooltip(link: String)(body: => Html) = {
  @tooltip(link, Seq("field-tooltip"))(body)
}

@headerIcon(content:String, filename: String) = {
  <div class="iconed-header">
    <div class="header-icon">
      <img ng-src='@EgraphsAssets.at("images/" + filename)'>
    </div>
    <h2>@content</h2>
  </div>
}

@headJs = {
  @**
   *As a client-driven page, most data will be banged into JS rather than directly into the template 
   *@
  angular.extend(Egraphs.page, {
    config: {},
    celebId: @star.id,
    products: @star.products.map(_.toJson).mkString("[", ",", "]"),
    checkoutUrl: "@checkoutUrl"
  });

  @if(!testcase.isEmpty) {
    angular.extend(Egraphs.page, {
      scenarios: {
        module: "test/pages/personalize-scenarios",
        testcase: "@testcase"
      }
    });
  }
}

@loremTipsum = {
  <strong>Lorem tipsum dolor</strong> sit amet consectipiscent elit
}

@mastheadImageUrl = {https://d3kp0rxeqzwisk.cloudfront.net/celebrity/172/landing_20121119003405102/master.jpg}

@profileImageUrl = {https://d3kp0rxeqzwisk.cloudfront.net/celebrity/172/profile_20120823053553898/w80.png}

@baseBody = {
  <div id="content" role="main" ng-controller="PersonalizeController" ng-cloak>
    <div id="main">
      <section id="personalize-masthead" role="banner" style="">
        <div class="masthead-content absolute-container">
            <h1>You are moments from personally connecting with @star.name</h1>
          @* <img class="video-preview" src='@EgraphsAssets.at("images/egraph-video-preview.png")'> *@
        </div>
        <hr class="masthead-highlight" />
        <img src="@mastheadImageUrl"></img>
      </section> <!-- end #masthead-home -->        
      <div class="container">
        <section id="testimonials">
          <div class="testimonials">
            <div class="testimonial">
              <div class="quote">
                Best gift ever! I hardly believed it was really his voice, and couldn't stop smiling all week. Love @@Egraphs!
              </div>
              <div class="attribution">
                - Herp Derpson. Needham, CT
                <span class="source">via Twitter</span>
              </div>
            </div>
          </div>
        </section>      
        <div class="value-propositions row">
          <div class="span3 clearfix">
            <div class="value-icon-holder"><img src='@EgraphsAssets.at("images/pencil.png")'></img></div>
            <div class="description">
              <strong>You write a note</strong>
              <span>for @star.name's eyes only</span>
            </div>
          </div>
          <div class="span3 clearfix">
            <div class="value-icon-holder"><img src='@EgraphsAssets.at("images/glyphish-microphone.png")'></img></div>
            <div class="description">
              <strong>@star.pronoun.subject.capitalize reads and replies</strong>
              <span>through @star.pronoun.possessiveAdjective iPad microphone. This is your egraph.</span>
            </div>
          </div>
          <div class="span3 clearfix">
            <div class="value-icon-holder"><img src='@EgraphsAssets.at("images/glyphish-verified.png")'></img></div>
            <div class="description">
              <strong>Authenticity verified</strong>
              <span>by signature and voice analysis</span>
            </div>
          </div>
          <div class="span3 clearfix">
            <div class="value-icon-holder"><img src='@EgraphsAssets.at("images/glyphish-heart.png")'></img></div>
            <div class="description">
              <strong>Love your egraph</strong>
              <span>or your money back, no questions asked</span>
            </div>
          </div>
          </div> <!-- end value-propositions -->
        <section id="buy-an-egraph">
          <h2 class="callout">
            <img src='@EgraphsAssets.at("images/glyphicons-circle-arrow-down-orange.png")'></img>
            Follow these steps to personally connect with @star.name for <span class="money">{{selectedProduct().currencySymbol}}{{selectedProduct().price}}</span>
          </h2>
        </section>
      </div> <!-- end container -->
    </div> <!-- end main -->

    <div class="main-like">
        <form name="egraphForm"
              remote-resource="{{cartApi.url}}/egraph"
              local-resource="egraph"
              class="form-horizontal ajax finger-pointy-errors"
              novalidate>
          <section id="make-the-connection">
            @headerIcon("Make the connection with " + star.name, "glyphicons-links-orange.png")
            <div class="make-the-connection form-horizontal">
              @withField("egraph", "messageToCeleb") { field =>
                <div class="control-group note-to-star">
                  <label class="control-label" for="@field.id">
                    What do you want to say to @star.pronoun.obj?
                    @fieldTooltip("What will " + star.pronoun.subject + " do with my message?") {
                      <strong>Lorem tipsum dolor</strong> sit amet consectipiscent elit
                    }
                  </label>
                  <div class="controls">
                    <div class="visitor-profile">
                      <img src='@EgraphsAssets.at("images/glyphish-user.png")' />
                    </div>
                    <div class="triangle-border left">
                      <textarea @field.identityAttributes
                                cols="1"
                                resource-property
                                maxlength="@maxTextChars"
                                monitor-user-attention
                                placeholder="Type your note to @star.name..."></textarea>
                      @field.standardErrorDiv
                    </div>
                    @*<img src='@profileImageUrl' class="star-profile-image">*@
                    <div>
                      @fieldTooltip("Not sure what to say? Don't panic! Here are some great examples.") {
                        @loremTipsum
                      }
                      <div class="explanatory-text char-remaining">{{@maxTextChars - @{field.ngModel}.length}} left</div>
                    </div>
                  </div>
                </div> <!-- End .control-group.note-to-star -->
              }
              @withField("egraph", "desiredText") { field =>
                <div class="control-group note-to-star">
                  <label class="control-label" for="@field.id">
                    What do you want @star.pronoun.obj to reply?
                  </label>
                  <div class="controls">
                    <div class="triangle-border right">
                      <textarea @field.identityAttributes
                                cols="1"
                                resource-property
                                maxlength="@maxTextChars"
                                monitor-user-attention
                                placeholder="Anything you really want to hear @star.pronoun.obj say? Leave it blank and @star.pronoun.subject'll say whatever @star.pronoun.subject wants..."></textarea>
                    </div>
                    @field.standardErrorDiv
                    <div>
                      <div class="explanatory-text char-remaining">{{@maxTextChars - @{field.ngModel}.length}} left</div>
                    </div>
                  </div>
                </div> <!-- End .control-group.note-to-star -->
              }              
              @headerIcon("Briefly Introduce Yourself", "glyphicons-speechbubble-orange.png")              
              @withField("egraph", "isGift") { field =>
                <div class="control-group">
                  <label class="control-label" for="@field.id">
                    Who is this egraph for?
                    @fieldTooltip("How does gifting work?") {
                      @loremTipsum
                    }
                  </label>
                  <div class="controls">
                    <div @field.identityAttributes
                         class="btn-group"
                         bs-buttons-radio
                         resource-property
                         monitor-user-attention>
                      <button type="button"
                              value="false"
                              class="btn btn-primary btn-custom-radio">
                        This is for me
                      </button>
                      <button type="button" 
                              value="true" 
                              class="btn btn-primary btn-custom-radio">
                        This is a gift
                      </button>
                    </div>
                    <div class="explanatory-text" ng-show="@field.ngModel == 'true'">
                      What a great choice! An egraph makes a stellar gift.
                    </div>
                  </div>
                </div> <!-- End .control-group.recipientOption -->
              }

              @withField("egraph", "recipientName") { field =>
                <div class="control-group">
                  <label class="control-label" for="@field.id">
                    {{recipientPossessive()}} name<span class="required-marker">*</span>:
                    @fieldTooltip("Why do you need this?") {
                      @loremTipsum
                    }
                  </label>
                  <div class="controls">
                    <input @field.identityAttributes
                           monitor-user-attention
                           resource-property
                           required>
                    @field.standardErrorDiv
                  </div>
                </div> <!-- End .control-group.recipientName -->
              }
            </div>
          </section>

          <section id="look-and-feel">
            @headerIcon("Customize your egraph's look and feel", "glyphicons-camera-orange.png")
            <div class="form-horizontal">
              
              <div class="control-group photo-choice">
                <label class="control-label" for="photoChoice">
                  What photo should @star.name sign?
                  @fieldTooltip("Wait, it's not just audio?") {
                    @loremTipsum
                  }
                  @fieldTooltip("What's with the different prices?") {
                    @loremTipsum
                  }

                </label>
                <div class="controls">
                  <div thumbnail-selector
                       ng-model="egraph.productId"
                       name="productId"
                       collection="products"
                       resource-property
                       monitor-user-attention>
                    <div class="selected-photo">
                      <img ng-src="{{selectedProduct().thumbnails.large}}">
                      <div class="image-label">
                        <h3>{{selectedProduct().title}}<div class="money right">{{selectedProduct().currencySymbol}}{{selectedProduct().price}}</div></h3>

                        <div class="image-label-caption">
                          {{selectedProduct().description}}
                        </div>
                      </div>
                    </div>
                    <div class="photo-selector">
                      <div class="thumbs">
                        <div class="photo-thumb" 
                             thumb
                             ng-repeat="product in products"
                             value="{{product.id}}">
                          <img ng-src="{{product.thumbnails.small}}">
                          <div class="money">{{selectedProduct().currencySymbol}}{{product.price}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="errors" ng-show="makeTheConnection.photoChoice.$dirty && makeTheConnection.photoChoice.$invalid">
                    <div class="alert alert-error hidden"
                         ng-show="makeTheConnection.photoChoice.$error.required" >
                      Don't you want to say something to @star.name?
                    </div>
                  </div>
                </div>
              </div> <!-- End .control-group.photoChoice -->

              @withField("egraph", "framedPrint") { field =>
                <div class="control-group">
                  <label class="control-label" for="@field.name">
                    In what format would you like the egraph delivered?
                    @fieldTooltip("What's the difference?") {
                      @loremTipsum
                    }
                    @fieldTooltip("What if I want the framed print later?") {
                      @loremTipsum
                    }
                  </label>
                  <div class="controls">
                    <div @field.identityAttributes
                         class="btn-group"
                         resource-property
                         monitor-user-attention
                         bs-buttons-radio>
                      <button ng-type="button"
                              value="false"
                              class="btn btn-primary btn-custom-radio">
                        Online egraph only
                      </button>
                      <button type="button" 
                              value="true" 
                              class="btn btn-primary btn-custom-radio">
                        with framed print&nbsp;&nbsp;<span class="money slapped-on">+ $45</span>
                      </button>
                    </div>
                    <div class="errors" ng-show="makeTheConnection.photoChoice.$dirty && makeTheConnection.photoChoice.$invalid">
                      <div class="alert alert-error hidden"
                           ng-show="makeTheConnection.photoChoice.$error.required" >
                        Don't you want to say something to @star.name?
                      </div>
                    </div>
                    <div class="explanatory-text">
                      This is the option that you've chosen. There are many other options, but this one is yours. Your option is your best friend. It is your life. You must master it as you must master your life.
                    </div>
                  </div>
                </div> <!-- End .control-group.photoChoice -->
              }
            </div>
          </section>

          <div class="separator"></div>

          <section id="egraph-arrival">
            <h2 class="clearfix callout">
              <img src='@EgraphsAssets.at("images/glyphish-stopwatch.png")'>
              When will {{recipientNominative()}} get the egraph? @star.name will create it as soon as @star.pronoun.subject can -- on average it takes 2 weeks. It may be much faster, or it may be slower!
            </h2>
          </section>
          <div class="separator"></div>

          <section id="preview-proceed" class="controls">
            <div class="field-reminder">
              <div class="fields-remaining" ng-show="fieldsRemaining().length > 0">
                <img src="@EgraphsAssets.at("images/glyphicons-uparrow-circle-orange.png")"> Oops! You still have to fill in your name...
              </div>
              <div class="no-fields-remaining" ng-show="fieldsRemaining().length == 0">
                <img src="@EgraphsAssets.at("images/glyphicons-check-circle-green.png")"> All required fields complete!
              </div>
            </div>          
            <button id="review-button" 
                    type="button"
                    class="button review"
                    ng-click="proceedToCheckout()"
                    ng-disabled="egraphForm.$invalid || egraphForm.$submitting" >
              <strong>
                @*<span class="step-count in-button">3</span>*@
                <em>Proceed to Checkout</em>
              </strong>
              <span>&raquo;</span>
            </button>
            <div class="price" ng-show="fieldsRemaining().length == 0">Product price: <span class="money">${{productPrice()}}</span>
            <div class="preview">
              @*@tooltip("Preview your egraph") {
                @loremTipsum
              } *@
            </div>
          </section>
        </form>
    </div>
  </div>
}


@base_template(
  title=star.name + " | Personalize",
  headJs = headJs,
  jsMain = "pages/storefronts/a/personalize",
  body=baseBody,
  bodyClasses=Seq("storefront-a-personalize")
)