@(egraphAndResults: Iterable[(models.Egraph, models.vbg.VBGVerifySample, models.xyzmo.XyzmoVerifyUser)], celebrity: Option[models.Celebrity] = None
)(implicit flash:play.mvc.Scope.Flash)

@import controllers.WebsiteControllers
@import services.Utils.lookupUrl
@import views.Application.tags.html.pagination
@import views.Application.html.content_base

@content_base(title="Admin - All Egraphs", body=body, head=head)

@head = {
<script src='@asset("public/twitter-bootstrap-1.4.0/js/bootstrap-alerts.js")' type="text/javascript"></script>
}

@headline = {
  @if(celebrity.isDefined) {@celebrity.get.publicName's Egraphs} else {Egraphs}
}

@body = {
<div class="admin-content">
  <h1>
    @headline @flash.get("TotalResultsStr")
  </h1>
  <div>
    <h2>Filters:</h2>
    <ul class="span16">
      <li><a href="?filter=pendingAdminReview">Pending Admin Review</a></li>
      <li><a href="?filter=passedBiometrics">Pass Biometrics</a></li>
      <li><a href="?filter=failedBiometrics">Failed Biometrics</a></li>
      <li><a href="?filter=approvedByAdmin">Approved by Admin</a></li>
      <li><a href="?filter=rejectedByAdmin">Rejected by Admin</a></li>
      <li><a href="?filter=awaitingVerification">Awaiting Verification</a></li>
      <li><a href="?filter=published">Published</a></li>
      <li><a href="?filter=all">All</a></li>
    </ul>
  </div>
  <table>
    <tr>
      <th></th>
      <th>Id</th>
      <th>State</th>
      <th>Order Id</th>
      <th>Signature Result</th>
      <th>Voice Result</th>
      <th>Voice Code</th>
      <th>Voice TxnId</th>
    </tr>
    @egraphAndResults.map { case (egraph, vbgVerifySample, xyzmoVerifyUser) =>
    <tr>
      <td>
        <a class="preview-link" href="/admin/egraphs/@egraph.id">
          Details
        </a>
      </td>
      <td>@egraph.id</td>
      <td>@egraph.stateValue</td>
      <td>@egraph.orderId</td>
      <td>@xyzmoVerifyUser.resultStr</td>
      <td>@vbgVerifySample.resultStr</td>
      <td>@vbgVerifySample.errorCode</td>
      <td>@vbgVerifySample.vbgTransactionId</td>
    </tr>
    }
  </table>
  @pagination()
</div>
}
