@(celebrityAccounts: Iterable[(models.Celebrity, models.Account)]
)(implicit flash:play.mvc.Scope.Flash, session: play.mvc.Scope.Session)

@import controllers.WebsiteControllers
@import services.Utils.lookupUrl
@import views.Application.tags.html.authenticityToken
@import views.Application.html.content_base
@import views.Application.tags.html.pagination

@content_base(title="Admin - Celebrities", body=body, head=head)

@getCreateCelebrity = @{
  lookupUrl("WebsiteControllers.getCreateCelebrityAdmin")
}

@postAdminLogout = @{
  lookupUrl("WebsiteControllers.postLogoutAdmin")
}

@head = {
<script src='@asset("public/twitter-bootstrap-1.4.0/js/bootstrap-alerts.js")' type="text/javascript"></script>
}

@body = {
<div class="admin-content">
  <form id="logout" method="POST" action='@postAdminLogout' enctype="application/x-www-form-urlencoded">
    @authenticityToken()
    <div>
      <button type="submit" id="logout-button" class="btn fade in">Logout</button>
    </div>
  </form>
  <h1>
    All Celebrities @flash.get("TotalResultsStr")
  </h1>
  <form method="link" action="@getCreateCelebrity">
    <input class="btn primary fade in" type="submit" value="New Celebrity"/>
  </form>
  <table>
    <tr>
      <th></th>
      <th>Id</th>
      <th>Email</th>
      <th>Public Name</th>
      <th>First</th>
      <th>Last</th>
      <th>Enrolled?</th>
      <th>Published?</th>
      <th>Products</th>
      <th>Orders</th>
      <th>Egraphs</th>
      <th>Inventory</th>
    </tr>
    @celebrityAccounts.map { case (celebrity, account) =>
    <tr>
      <td>
        <a class="preview-link" href="/admin/celebrities/@celebrity.id">
          Details
        </a>
      </td>
      <td>@celebrity.id</td>
      <td>@account.email</td>
      <td>
        <a class="preview-link" href="/@celebrity.urlSlug">
          @celebrity.publicName
        </a>
      </td>
      <td>@celebrity.firstName</td>
      <td>@celebrity.lastName</td>
      <td>@celebrity.enrollmentStatus</td>
      <td>@celebrity.publishedStatus</td>
      <td>
        <a class="preview-link" href="/admin/celebrities/@celebrity.id/products">
        Products
        </a>
      </td>
      <td>
        <a class="preview-link" href="/admin/celebrities/@celebrity.id/orders?filter=pendingAdminReview">
          Orders
        </a>
      </td>
      <td>
        <a class="preview-link" href="/admin/celebrities/@celebrity.id/egraphs">
          Egraphs
        </a>
      </td>
      <td>
        <a class="preview-link" href="/admin/celebrities/@celebrity.id/inventorybatches">
          Inventory
        </a>
      </td>
    </tr>
    }
  </table>
  @pagination()
</div>
}
