@(celebrity: models.Celebrity, egraphAndResults: org.squeryl.Query[(models.Egraph, models.vbg.VBGVerifySample, models.xyzmo.XyzmoVerifyUser)])

@import controllers.WebsiteControllers
@import services.Utils.lookupUrl
@import views.Application.html.content_base

@content_base(title="Admin - Egraphs", body=body, head=head)

@head = {
<script src='@asset("public/twitter-bootstrap-1.4.0/js/bootstrap-alerts.js")' type="text/javascript"></script>
}

@body = {
<div class="admin-content">
  <h2>
    @celebrity.publicName's Egraphs - @egraphAndResults.size total
  </h2>
  <table>
    <tr>
      <th>Id</th>
      <th>State</th>
      <th>Order Id</th>
      <th>vbg TxnId</th>
      <th>vbg Error</th>
      <th>vbg Result</th>
      <th>vbg Score</th>
      <th>xyzmo Result</th>
      <th>xyzmo Score</th>
    </tr>
    @egraphAndResults.map { case (egraph, vbgVerifySample, xyzmoVerifyUser) =>
    <tr>
      <td>@egraph.id</td>
      <td>@egraph.stateValue</td>
      <td>@egraph.orderId</td>
      <td>@vbgVerifySample.vbgTransactionId</td>
      <td>@vbgVerifySample.errorCode</td>
      <td>@vbgVerifySample.success</td>
      <td>@vbgVerifySample.score</td>
      <td>@xyzmoVerifyUser.isMatch</td>
      <td>@xyzmoVerifyUser.score</td>
    </tr>
    }
  </table>
</div>
}
