@(isCreate: Boolean, celebrity: models.Celebrity, errorFields: Option[List[String]], fields: (String) => String
)(implicit session: play.mvc.Scope.Session)

@import controllers.WebsiteControllers
@import services.Utils.lookupUrl
@import views.Application.tags.html.authenticityToken
@import views.Application.tags.html.errorMessage
@import views.Application.html.content_base
@import views.Application.tags.html.formField

@content_base(title="Admin - Product Details", body=body, head=head)

@head = {
<script src='@asset("public/twitter-bootstrap-1.4.0/js/bootstrap-alerts.js")' type="text/javascript"></script>
}

@celebrityIdMap = @{
  Map("celebrityId" -> celebrity.id.toString)
}

@postProduct = @{
  lookupUrl("WebsiteControllers.postCelebrityProduct", celebrityIdMap)
}

@body = {
<div class="admin-content">
  <h2>
    @celebrity.publicName.get - @{if(isCreate) "Create" else "Update"} Product
  </h2>
  <div class="form row">
    <div class="span12 form-column">
      <form id="product-form" method="POST" action='@postProduct' enctype="multipart/form-data">
        <fieldset>
          @authenticityToken()
          <input id="productId" name="productId" type="hidden" value="@fields("productId")">
          <legend>Product Details</legend>

          @formField(
            id="productName",
            label="Product Name",
            inputType="text",
            width="span4",
            fields=fields
          )

          @formField(
            id="productDescription",
            label="Product Description",
            inputType="text",
            width="span4",
            help=Some(Html("Will be displayed on the product's page.")),
            fields=fields
          )
        </fieldset>
        <fieldset>
          <legend>egraph presentation: media</legend>
          @formField(id="productImage", label="Product Photo", inputType="file", width="span8", help=Some(profileHelp), fields=fields)
          @profileHelp = { Must be JPG or PNG with minimum dimensions of 940x900. Will be cropped. }

          @formField(
            id="productIcon",
            label="Product Plaque Icon",
            inputType="file",
            width="span8",
            help=Some(Html("Must be transparent PNG with square dimensions. Will be cropped.")),
            fields=fields
          )
        </fieldset>
        <fieldset>
          <legend>egraph presentation: story <a class="customize" href="https://egraphs.jira.com/wiki/display/DEV/Egraph+Page#EgraphPage-HowtoCustomizeTheStory">(Customize)</a></legend>
          @formField(
            id="storyTitle",
            label="Title",
            inputType="text",
            width="span4",
            help=Some(Html("e.g. <em>The Story</em>")),
            fields=fields
          )

          <div class="clearfix">
            <label for="storyText">Body</label>
            <div class="input">
              <textarea class="xlarge" id="storyText" name="storyText" rows="3">@fields("storyText")</textarea>
              <span class="help-block">
                This text will be displayed alongside the egraph when it is viewed by the customer
              </span>
            </div>
          </div>

          <div class="actions">
            <button type="submit" id="submit-button" class="btn large primary fade in">Save</button>
            @errorMessage(errorFields)
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
}
