@(title: String = "Default string", intro_sub_head: String = "Sub Head Goes Here", body: => Html, afterBody: => Html = Html.empty)

<!doctype html> 
<!--[if lt IE 7 ]> <html class="ie lt-ie9 ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie lt-ie9 ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie lt-ie9 ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    
    <title>@title | Egraphs</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"> -->

    <link href='@asset("public/stylesheets/main.less")' rel="stylesheet">

		<script src='@asset("public/javascripts/modernizr.custom.js")'></script>
		<script src="https://use.typekit.com/ztt6ynw.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
  
  </head>

  <body>
    
    <header id="top" role="navigation">
    
    	<div class="container">
    	
    		<div class="row">
    	
    			<div class="logo span3">
    				
    				<a href="/" title="Egraphs"><img src="http://placehold.it/220x70" alt="Egraphs" /></a>
    			
    			</div>
    	
	    		<div class="explore span3">
	    		
	    			<p><a href="#">Inside an Egraph</a></p>
	    		
	    		</div> <!-- end .explore -->
	    		
	    		<div class="span6">
 
	 	    		<div class="social">
		    		
		    			<ul class="clearfix">
		    				<li><a href="#" class="facebook">Facebook</a></li>
		    				<li><a href="#" class="twitter">Twitter</a></li>
		    				<!-- <li><a href="#" class="addthis">AddThis</a></li> -->
		    			</ul>
		    		
		    		</div> <!-- end .social -->
 
		    		<nav class="account">
		    				    			    		
		    			<ul>
		    				<li>Hello, <a href="#">Sign in</a></li>
		    				<li class="account-options">
		    					<a href="#">My Account</a>
		    					<ul>
		    						<li><a href="#profile">Profile</a></li>
		    						<li><a href="#account">Account Settings</a></li>
		    						<li><a href="#my-gallery">My Gallery</a></li>
		    						<li><a href="#logout">Logout</a></li>
		    					</ul>
		    				</li>
		    			</ul>  
			    			  					    		
		    		</nav> <!-- end .account --> 
  		
	    		</div> 
    		
    		</div>
    	
    	</div>
    
    </header> <!-- end #top -->
    
    <section id="masthead-home" role="banner">
    
    	<div class="banner-gradient">
	    
		    <div class="container">
		    
		    	<div class="row">
		    	
		    		<div class="span5">
		    
		    			<h1>@title</h1>
		    	 
		    			<p><a href="#">Get Started</a></p>
		    	 
		    		</div>
		    	 
		    	</div>
		    	
		    </div>
	    
    	</div> 
    
    </section> <!-- end #masthead-home -->
      
    <section id="content" role="main">
    
	    <div id="main">
	    
		    <div class="container">
			    
			    	<div id="intro-home" class="row">
				
				      <div class="span6">
				      
				      	<h1>@intro_sub_head</h1>
				      	
				      	@body

				      </div>
				      
				      <div class="span5 offset1">
				      
				      	<img src='@asset("public/images/intro-egraph.jpg")' alt="intro-egraph">
				      
				      </div>
			      
			      </div> <!-- end #intro-home -->
		     
		    </div>
		    
	    </div> <!-- end #main -->

    </section> <!-- end #content -->
    
    <footer id="bottom" class="container" role="contentinfo">
    
    	<div class="row">
    	
    		<div class="span6">
    		
	    		<nav role="sitemap">
	    		
	    			<ol class="clearfix">
	    				<li><a href="#">Home</a></li>
	    				<li><a href="#">About Us / Contact</a></li>
	    				<li><a href="#">FAQ</a></li>
	    				<li><a href="#">Terms of Use</a></li>
	    				<li><a href="#">Privacy Policy</a></li>
	    			</ol>	
	    			
	    		</nav>
    		
    			<p><small>Copyright 2012 Egraph Corporation</small></p>
    		
    		</div>
    		
    		<div class="social span6">
    		
    			<ul>
    				<li><a href="#" class="facebook">Facebook</a></li>
    				<li><a href="#" class="twitter">Twitter</a></li>
    				<!-- <li><a href="#" class="addthis">AddThis</a></li> -->
    			</ul>    		

    		</div> <!-- end .social -->
    	
    	</div>
    
    </footer> <!-- end #bottom -->
    
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script> 
		<script>window.jQuery || document.write("<script src='@asset("public/javascripts/jquery-1.7.2.min.js")'>\x3C/script>")</script> 
		<script src='@asset("public/javascripts/functions.js")'></script> 
		@afterBody

  </body>
</html>