@(title: String = "Default string", intro_sub_head: String = "Sub Head Goes Here", body: => Html, afterBody: => Html = Html.empty)

<!doctype html> 
<!--[if lt IE 7 ]> <html class="ie lt-ie9 ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie lt-ie9 ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie lt-ie9 ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    
    <title>@title | Egraphs</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"> -->

    <link href='@asset("public/stylesheets/main.less")' rel="stylesheet">

		<script src='@asset("public/javascripts/modernizr.custom.js")'></script>
		<script src="https://use.typekit.com/ztt6ynw.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
  
  </head>

  <body>
    
    <header id="top" role="navigation">
    
    	<div class="container">
    	
    		<div class="row">
    	
	    		<div class="span4 offset5">
	    		
	    			<p><a href="#">Inside an Egraph</a></p>
	    		
	    		</div>
	    		
	    		<div class="span7 offset8">
	    		
	    			<p>Hello, <a href="#">Sign in</a></p>
	    			<ul>
	    				<li>
	    					<a href="#">My Account</a>
	    					<!-- <ul>
	    						<li><a href="#">Profile</a></li>
	    						<li><a href="#">Account Settings</a></li>
	    						<li><a href="#">My Gallery</a></li>
	    						<li><a href="#">Logout</a></li>
	    					</ul> -->
	    				</li>
	    			</ul>
	    		
	    		</div>
    		
    		</div>
    	
    	</div>
    
    </header> <!-- end #top -->
    
    <section id="masthead-home" role="banner">
	    
	    <div class="container">
	    
	    	<div class="row">
	    	
	    		<div class="span9">
	    
	    			<h1>@title</h1>
	    	 
	    			<p><a href="#">Get Started</a></p>
	    	 
	    		</div>
	    	 
	    	</div>
	    	
	    </div>
    
    </section> <!-- end #masthead-home -->
      
    <section id="content" role="main">
    
	    <div class="container">
	    
		    <div id="main">
		    
		    	<div id="intro-home" class="row">
			
			      <div class="span11 offset1">
			      	<h1>@intro_sub_head</h1>
			      	@body
			      </div>
			      
			      <div class="span11 offset1">
			      
			      	<img src='@asset("public/images/intro-egraph.jpg")' alt="intro-egraph">
			      
			      </div>
		      
		      </div> <!-- end #intro-home -->
		      
		    </div> <!-- end #main -->
	     
	    </div>

    </section> <!-- end #content -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script> 
		<script>window.jQuery || document.write("<script src='@asset("public/javascripts/jquery-1.7.2.min.js")'>\x3C/script>")</script> 
		<script src='@asset("public/javascripts/functions.js")'></script> 
		@afterBody

  </body>
</html>
