@()
@{/** Catalogs the permutations of every page we render. */}

@catalogEntry(href: String, description: String) = {<li><a href="@href">@description</a></li>}
@galleryEntry(href: String) = {
  <li>@href as
    <a href="@href&role=other">other</a>
    <a href="@href&role=admin">admin</a>
    <a href="@href&role=owner">owner</a>
  </li>}
<!doctype html>
<html>
  <head>
    <title>Front-end catalog</title>
  </head>
  <body>
    <h1>Front-end catalog</h1>
    <p>
      In here you can find the catalog of all the different pages we render, in all their
      permutations.
    </p>
    <p>
      Without further ado!
    </p>
    <h2>Base template</h2>
    <ol>
      @catalogEntry("BaseTemplate/loggedIn", "Logged in")
      @catalogEntry("BaseTemplate/notLoggedIn", "Not logged in")
    </ol>
    <h2>Landing page</h2>
    <ol>
      @landingEntry(controllerName: String) = {
        @catalogEntry(href="Landing/" + controllerName, description=controllerName)
      }

      @for(number <- 0 until 9) {
        @landingEntry("featured_stars?count=" + number)
      }
    </ol>
    <h2>Account Settings</h2>
    <ol>
      @catalogEntry("account/settings", "account settings")
    </ol>
    <h2>Account gallery</h2>
    <ol>
      @for(number <- 0 until 6) {
        @galleryEntry("account/gallery?user=leeroyjenkins&count=" + number)
      }
    </ol>
    <h2>Account Verification</h2>
    <ol>
      @catalogEntry("account/verify", "account verification/password reset")
    </ol>
    <h2>Storefront: Choose Photo Page (Celebrity info)</h2>
    <ol>
      @catalogEntry("ChoosePhoto/longBio", "Expected state")
      @catalogEntry("ChoosePhoto/withRecentEgraphs?num=0", "0 recent egraphs")
      @catalogEntry("ChoosePhoto/withRecentEgraphs?num=1", "1 recent egraph")
      @catalogEntry("ChoosePhoto/withRecentEgraphs?num=6", "6 recent egraphs")
      @catalogEntry("ChoosePhoto/withPartnerIcons?num=0", "0 partner icons")
      @catalogEntry("ChoosePhoto/withPartnerIcons?num=1", "1 partner icon")
      @catalogEntry("ChoosePhoto/withPartnerIcons?num=6", "6 partner icons")
      @catalogEntry("ChoosePhoto/longBio", "Super long bio")
    </ol>
    <h2>Storefront template (focus on the breadcrumbs)</h2>
    <ol>
      @catalogEntry("StorefrontTemplate/noneActiveOrComplete", "No crumb active or complete")

      @for(crumbIndex <- 1 to 5) {
        @catalogEntry(
          "StorefrontTemplate/active?crumbIndex=" + crumbIndex,
          "crumb " + crumbIndex + " active"
        )
      }      
    </ol>
    <h2>Storefront: Choose Photo Page (tiles)</h2>
    <ol>
      @catalogEntry("ChoosePhoto/withProducts?num=0", "0 portrait products")
      @catalogEntry("ChoosePhoto/withProducts?num=1", "1 portrait product")
      @catalogEntry("ChoosePhoto/withProducts?num=6", "6 portrait products")
      @catalogEntry("ChoosePhoto/landscape", "1 landscape product")
    </ol>

    <h2>Storefront: Choose Photo Page (carousel)</h2>
    <ol>
      @catalogEntry("ChoosePhoto/carousel?num=3&focus=1", "1st product in focus")
      @catalogEntry("ChoosePhoto/carousel?num=3&focus=2", "2nd product in focus")
      @catalogEntry("ChoosePhoto/carousel?num=3&focus=3", "3rd product in focus")
      @catalogEntry("ChoosePhoto/withProducts?num=0", "0 products")
      @catalogEntry("ChoosePhoto/withProducts?num=1", "1 product")
      @catalogEntry("ChoosePhoto/withProducts?num=2", "2 products")
    </ol>
    <h2>Storefront: Personalize</h2>
    <ol>
      @catalogEntry("Personalize/index", "Basic")
      @catalogEntry("Personalize/allErrors", "All fields have errors")
      @catalogEntry("Personalize/allErrors", "All fields are populated")
    </ol>
    <h2>Storefront: Checkout</h2>
    <ol>
      @catalogEntry("Checkout/index", "Basic")
      @catalogEntry("Checkout/allErrors", "All server-generated errors")
      @catalogEntry("Checkout/noShipping", "No shipping information")
    </ol>
    <h2>Storefront: All</h2>
    <ol>
      @catalogEntry("Personalize/index", "Personalize")
      @catalogEntry("Review/index", "Review")
      @catalogEntry("Login/index", "Login")
      @catalogEntry("Checkout/index", "Checkout")
      @catalogEntry("Finalize/index", "Finalize Order")
      @catalogEntry("Complete/index", "Order Complete")
    </ol>
    <h2>Emails</h2>
    <ol>
      @catalogEntry("Email/verify", "Account Verification / General Template")
      @catalogEntry("Email/index", "Order Confirmation")
      @catalogEntry("Email/view_egraph", "View Egraph")
    </ol>
  </body>
</html>
