@()

@** Catalogs the permutations of every page we render. *@

@catalogEntry(href: String, description: String) = {<li><a href="@href">@description</a></li>}

@galleryEntry(countFulfilled: Int, countPending: Int, countFulfilledGifts: Int, countPendingGifts: Int) = {
  <li>(@countFulfilled fulfilled, @countPending pending, @countFulfilledGifts fulfilled gifts, @countPendingGifts pending gifts) as
    <a href="@routes.Account.gallery("leeroyjenkins", "other", countFulfilled, countPending, countFulfilledGifts, countPendingGifts).url">other</a>
    <a href="@routes.Account.gallery("leeroyjenkins", "admin", countFulfilled, countPending, countFulfilledGifts, countPendingGifts).url">admin</a>
    <a href="@routes.Account.gallery("leeroyjenkins", "owner", countFulfilled, countPending, countFulfilledGifts, countPendingGifts).url">owner</a>        
  </li>
}

<!doctype html>
<html>
  <head>
    <title>Front-end catalog</title>
  </head>
  <body>
    <h1>Front-end catalog</h1>
    <p>
      In here you can find the catalog of all the different pages we render, in all their
      permutations.
    </p>
    <p>
      Without further ado!
    </p>
    <h2>Base template</h2>
    <ol>
      @catalogEntry("BaseTemplate/loggedIn", "Logged in")
      @catalogEntry("BaseTemplate/notLoggedIn", "Not logged in")
    </ol>
    <h2>Landing page</h2>
    <ol>
      @landingEntry(controllerName: String) = {
        @catalogEntry(href="Landing/" + controllerName, description=controllerName)
      }
      @catalogEntry("Landing/video", "Video masthead")
      @catalogEntry("Landing/searchbox", "Searchbox masthead")
      @catalogEntry("Landing/link", "Simple link")
      @for(number <- 0 until 9) {
        @landingEntry("featuredStars?count=" + number)
      }
      @landingEntry("featuredStars?count=16")
      @catalogEntry(routes.Landing.giftMessaging.url, "Gift Certificate Landing")  
      @catalogEntry("Landing/featuredStarsWithNoInventory", "Featured stars -- no inventory")
      @catalogEntry(href="Landing/signupOn", description="Landing page with modal")
    </ol>
    <h2>Account Settings</h2>
    <ol>
      @catalogEntry("Account/settings", "account settings")
      @catalogEntry("Account/errors", "account settings with errors")
    </ol>
    <h2>Account gallery</h2>
    <ol>
      @galleryEntry(countFulfilled = 0, countPending = 0, countFulfilledGifts = 0, countPendingGifts = 0)
      @galleryEntry(countFulfilled = 1, countPending = 0, countFulfilledGifts = 0, countPendingGifts = 0)   
      @galleryEntry(countFulfilled = 0, countPending = 2, countFulfilledGifts = 0, countPendingGifts = 0)
      @galleryEntry(countFulfilled = 0, countPending = 0, countFulfilledGifts = 3, countPendingGifts = 0)
      @galleryEntry(countFulfilled = 0, countPending = 0, countFulfilledGifts = 0, countPendingGifts = 4)
      @galleryEntry(countFulfilled = 1, countPending = 1, countFulfilledGifts = 1, countPendingGifts = 1)
      @galleryEntry(countFulfilled = 2, countPending = 0, countFulfilledGifts = 2, countPendingGifts = 0)
      @galleryEntry(countFulfilled = 0, countPending = 2, countFulfilledGifts = 0, countPendingGifts = 2)
      @galleryEntry(countFulfilled = 1, countPending = 1, countFulfilledGifts = 0, countPendingGifts = 0)
      @galleryEntry(countFulfilled = 0, countPending = 0, countFulfilledGifts = 1, countPendingGifts = 1)                        
    </ol>
    <h2>Account Recovery</h2>
    <ol>
      @catalogEntry("Account/verify", "Account Recovery")
      @catalogEntry("Account/reset", "Password Reset")
    </ol>
    <h2>Static pages</h2>
    <ol>
      @catalogEntry("Static/about", "About Us")
      @catalogEntry("Static/affiliates", "Affiliates")
      @catalogEntry("Static/careers", "Careers")
      @catalogEntry("Static/inside", "Inside an Egraph")
      @catalogEntry("Static/faq", "FAQ")
      @catalogEntry("Static/privacy", "Privacy")
      @catalogEntry("Static/terms", "Terms")
    </ol>
    <h2>Login</h2>
    <ol>
        @catalogEntry("Login/index", "Normal view")
        @catalogEntry("Login/allErrorsLogin", "All errors")
    </ol>
    <h2>Marketplace</h2>
    <ol>
      @catalogEntry("Marketplace/results", "Marketplace Results - Grid")
      @catalogEntry("Marketplace/results/list", "Marketplace Results - List")
      @catalogEntry("Marketplace/results/zero", "Marketplace Results - Zero")
      @catalogEntry("Marketplace/results/zero/requested", "Marketplace Results - Already Requested")
      @catalogEntry("Marketplace/landing", "Marketplace Landing")
    </ol>
    <h2>Celebrity Landing Page</h2>
    <ol>
      @catalogEntry("Landing/singleCelebrity", "Celebrity landing - male")      
      @catalogEntry("Landing/singleCelebrity?publicName=Mia+Hamm&casualName=Mia&isMale=0", "Celebrity landing - female")
    </ol>
    <h2>Egraph Page</h2>
    <ol>
      @catalogEntry(routes.Egraph.egraph().url, "Egraph page")
      @catalogEntry(routes.Egraph.egraph(true).url, "Egraph page - promotional")
      @catalogEntry(routes.Egraph.classicPortrait(isPromotional = false).url, "Classic - portrait")
      @catalogEntry(routes.Egraph.classicLandscape(isPromotional = false).url, "Classic - landscape")
      @catalogEntry(routes.Egraph.classicPortrait(isPromotional = true).url, "Classic - promotional portrait")
      @catalogEntry(routes.Egraph.classicLandscape(isPromotional = true).url, "Classic - promotional landscape")
    </ol>    
    <h2>Emails</h2>
    <ol>
      @catalogEntry("Email/celebrityRequest", "Celebrity Request")
      @catalogEntry("Email/celebrityWelcome", "Celebrity Welcome")
      @catalogEntry("Email/confirm", "Account Confirmation")
      @catalogEntry("Email/enrollmentComplete", "Enrollment Complete")
      @catalogEntry("Email/mlbStatic", "MLB Static")
      @catalogEntry("Email/orderConfirmation", "Order Confirmation")
      @catalogEntry("Email/resetPassword", "Reset Password")
      @catalogEntry("Email/siteShutdown", "Site Shutdown")
      @catalogEntry("Email/verify", "Account Verification / General Template")
      @catalogEntry("Email/viewEgraph", "View Egraph")
      @catalogEntry("Email/viewGiftEgraph", "View Gift Egraph")
    </ol>
    <h2>Gift Certificates</h2>
    <ol>
     @catalogEntry("GiftCertificateCheckout/index", "Gift certificate checkout, default")
    </ol>
    <h2>Error Pages</h2>
    <ol>
      @catalogEntry("Error/error", "500 error")
      @catalogEntry("Error/badRequest", "400 bad request")
      @catalogEntry("Error/forbidden", "403 forbidden")
      @catalogEntry("Error/notFound", "404 not found")
    </ol>
    <h2>Mblpa</h2>
    <ol>
      @catalogEntry("Mlbpa/egraphs", "Approval page")
    </ol>
    <h2>Checkout Connect/Personalize Pages</h2>
    <ol>
      @catalogEntry("Storefront-A/personalize", "Personalize page for Sergio Romo")
      @catalogEntry("Storefront-A/personalizeSoldOut", "Personalize page for Sergio when sold out")
    </ol>
    <h2>Checkout Review/Checkout Pages</h2>
    <ol>
      @catalogEntry("Storefront-A/checkout", "Empty checkout page")
      @catalogEntry("Storefront-A/checkout?testcase=digital-egraph-only", "Checkout page for Sergio, digital only")
      @catalogEntry("Storefront-A/checkout?testcase=digital-egraph-with-framed-print", "Checkout page for Sergio with egraph and print")
      @catalogEntry("Storefront-A/checkout?testcase=15-dollar-code-herpderp-available", "Checkout page for Sergio with $15 coupon 'herpderp' available")
      @catalogEntry("Storefront-A/checkout?testcase=15-dollar-code-herpderp-exercised", "Checkout page for Sergio with $15 coupon applied")
      @catalogEntry("Storefront-A/checkout?testcase=pre-populate-all-forms", "Checkout page for Sergio with all forms populated")
      @catalogEntry("Storefront-A/checkout?testcase=all-errors", "Checkout page for Sergio with all errors")
    </ol>
  </body>
</html>
