@(viewEgraphUrl: String,
  celebrityName: String,
  recipientName: String
)

Egraphs | View Egraph

Hi @recipientName,

It's me, @celebrityName. I just finished putting the final touches on my egraph to you. Here it is: @viewEgraphUrl

I hope you enjoy it and share it with all of your friends and family. Thank you for connecting with me on Egraphs!

Your egraph is already in your account so you can manage your gallery and easily share with your friends. If you've never logged into your account, go to https://www.egraphs.com/account/recover to set a password. Reach out to support@@egraphs.com if you have any questions.

In the meantime, thank you for being a loyal fan. It means a lot. Check back at www.egraphs.com often as I hope to have some cool, limited edition egraphs available soon.

Thanks,

@celebrityName
