@()(flash: play.api.mvc.Flash)

<div class="pagination">
  @import services.Utils.stringOptionToRichStringOption
  @if(flash.get("ShowPaging").toBoolean) {
  <ul>
    <li @if( !flash.get("ShowFirst").toBoolean ) {class="disabled"}><a href="@flash.get("FirstUrl").get">First</a></li>
    <li @if( !flash.get("ShowPrev" ).toBoolean ) {class="disabled"}><a href="@flash.get("PrevUrl").get">Prev</a></li>
    <li @if( !flash.get("ShowNext" ).toBoolean ) {class="disabled"}><a href="@flash.get("NextUrl").get">Next</a></li>
    <li @if( !flash.get("ShowLast" ).toBoolean ) {class="disabled"}><a href="@flash.get("LastUrl").get">Last</a></li>
  </ul>
  }
</div>
