@()

@**Configure google analytics**@
<script type="text/javascript">
  var googleAnalyticsId;
  var isProd=window.location.hostname=='www.egraphs.com';
  if (isProd) {
    googleAnalyticsId = 'UA-32858988-1';
  } else {
    googleAnalyticsId = 'UA-32858988-2';
  }

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', googleAnalyticsId]);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
@** Configure Mixpanel analytics **@
<script type="text/javascript">
  var mixpanelToken;
  var isProd=window.location.hostname=='www.egraphs.com';
  if (isProd) {
    mixpanelToken = '6562a62205713a6641101257ca614b21';
  } else {
    mixpanelToken = '3d17a1e49bd42bc35ee99403bccc659d';
  }

  (function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";
  a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+
  '//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];
  b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;
  "undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g=['disable','track','track_pageview',
  'track_links','track_forms','register','register_once','unregister','identify',
  'name_tag','set_config'];
  for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(
  Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c}
  )(document,window.mixpanel||[]);
  mixpanel.init(mixpanelToken);
</script>