@(implicit authToken: egraphs.authtoken.AuthenticityToken)

@import egraphs.authtoken.AuthenticityToken.safeForm
@import views.html.frontend.tags
@import controllers._

@**  
   Renders a modal that allows a user to signup for the Egraphs Insider mailing list.
*@

<div class="modal signup hide fade" id="emailSignupForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div>
      <h2 style="margin-bottom:10px"><span class="bold">Goodbye Everybody</span></h2>
      <p>Dear all,</p>
      <p>
        Sadly, I must announce that we will be shutting down Egraphs. We ran into some unforeseen obstacles that ultimately prevented us from continuing to operate. It has been a very difficult time for us here at the company, as every one of us was dedicated to building out the future of fan-celebrity interactions. We were fortunate enough to witness some amazing experiences between you all, and it was what enabled us to work up to this point.
      </p>
      <p>
        We wanted to send our sincerest thanks to those of you that have supported our company in any way. For our customers, we hope you enjoyed and continue to enjoy your egraphs. Every celebrity put a little of themselves into each one, and we want you to have those memories forever. To our celebrities, we wanted to give all of you a better way to share yourself with your fans. We hope that someone else will carry our torch forward for you. It was clear to us that you need better ways to interact personally with your fans, and we see a bright future for those options. To our partners, fans, and others, we appreciate all the numerous ways you directly and indirectly supported us. Launching a new product is never easy, and we could not have even gotten off with ground without a lot of help.
      </p>
      <p>
        Starting a business is always a gamble and most do not make it to sustainability. The most difficult part is disappointing those of you who believed in the idea with us. We gave Egraphs everything we had, but the landscape proved a little too treacherous.
      </p>
      <p>
        We will be reaching out to many of you through email to give you more relevant information about your specific situation. If you have any questions or concerns, please continue to email support@@egraphs.com.
      </p>
      <p>Thank you all again. We hope you have fond memories of your experiences, as we certainly did.</p>
      <p>Sincerely,</p>
      <p>David Auld &amp; The Egraphs Team</p>
      <p>
        <span class="bold">Thanks,</span><br>
        The Egraphs Team
      </p>
    </div>
    <div>
      <button id="signup-button" data-dismiss="modal" aria-hidden="true" class="button">
        <strong><em>Continue</em></strong>
        <span>&raquo;</span>
      </button>
    </div>

  </div>
</div>
      