@(implicit authToken: egraphs.authtoken.AuthenticityToken)

@import egraphs.authtoken.AuthenticityToken.safeForm
@import views.html.frontend.tags
@import controllers._

@**  
   Renders a modal that allows a user to signup for the Egraphs Insider mailing list.
*@

<div class="modal signup hide fade" id="emailSignupForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div>
      <h2><span class="bold">Notice</span></h2>
      <p>
        Egraphs is undergoing some major changes under the hood. We apologize for the inconvenience, but <span class="bold">we are unable
        to accept orders at this time.</span> You can still access your account by logging in at the top bar.
      </p>
      <p>
        <span class="bold">Thanks,</span><br>
        The Egraphs Team
      </p>
    </div>
    <div>
      <button id="signup-button" data-dismiss="modal" aria-hidden="true" class="button">
        <strong><em>Continue</em></strong>
        <span>&raquo;</span>
      </button>
    </div>

  </div>
</div>
      