@(headerData: models.frontend.header.HeaderData, landingVersion: String ="")
@**   Renders the default header using the provided header data. *@

@import models.frontend.header.HeaderLoggedIn
@import models.frontend.header.HeaderNotLoggedIn

@loggedInHeader(status: HeaderLoggedIn) = {
  @**   Renders the account menu for users that are logged in *@
  <li>Hello, <a href="#">@status.name</a></li>
  <li class="account-options">
    <a href="@status.accountSettingsUrl">My Account</a>
    <ul>
      @**   <li><a href="@status.profileUrl">Profile</a></li> *@
      <li><a href="@status.accountSettingsUrl">Account Settings</a></li>
      <li><a href="@status.galleryUrl">My Gallery</a></li>
      <li><a href="@status.logoutUrl">Logout</a></li>
    </ul>
  </li>
}

@notLoggedInHeader(status: HeaderNotLoggedIn) = {
  @**   Renders the account menu for users that are not in *@
  <li>Hello, <a href="@status.loginUrl">Sign in</a></li>
  <li class="account-options"><a href="@status.loginUrl">My Account</a></li>
}

<!-- Begin site_header.scala.html -->
<header id="top-a" role="navigation">
  <div class="container">
    <div class="row">
      <div id="logo-account-social">
        <div class="logo span">
      	
        	<h1><a href="/" title="Egraphs">Egraphs</a></h1>
      	
        </div>
        <div id="account-social">
          <nav class="account @if(headerData.loggedInStatus.isRight) {logged-in}">
            <ul>
              @{headerData.loggedInStatus match {
                case Left(notLoggedIn) => notLoggedInHeader(notLoggedIn)
                case Right(loggedIn) => loggedInHeader(loggedIn)
              }}
            </ul>
          </nav>
        </div> <!-- end #account-social -->
      </div> <!-- end #logo-account-social -->

      <div class="linkz">
        <div class="navbar-item our-stars">
          
          <p><a class="separator-after" href="@headerData.ourStarsLink">Enter our store</a></p>
          
        </div> <!-- end .our-stars -->
              
        <div class="navbar-item">
          
          <p><a class="separator-after" href="@headerData.insideAnEgraphLink">How it works</a></p>
          
        </div> <!-- end .explore -->
        @headerData.giftCertificateLink.map{ url =>
          <div class="navbar-item gift-certificates">
            
            <p><a class="separator-after" href="@url"><span>Gift Certificates</span></a></p>
            
          </div> <!-- end .gift-certificates -->
        }

        <div class="navbar-item search-control input-append">
          <input type="search" class="span2" placeholder="ex: Name or City"></input>
          <button class="btn" type="button"><i class="icon-search icon-white"></i></button>
        </div>  <!-- end .search-control -->
        
        <div class="navbar-item mobile-only">
          
          <p><span class="separator-after"><a href="@headerData.egraphsFacebookLink" class="responsive-social-sprite facebook">f</a></span></p>
          
        </div> <!-- end responsive fb link -->
        <div class="navbar-item mobile-only">
          
          <p><a href="@headerData.egraphsTwitterLink" class="responsive-social-sprite twitter">t</a></p>
          
        </div> <!-- end responsive twitter link -->

      </div> <!-- end .linkz -->

    </div> <!-- end .container -->
  </div> <!-- end .row -->

</header> <!-- end #top -->
<!-- End site_header.scala.html -->
