@(headerData: models.frontend.header.HeaderData, landingVersion: String ="")
@**   Renders the default header using the provided header data. *@

@import models.frontend.header.HeaderLoggedIn
@import models.frontend.header.HeaderNotLoggedIn

@loggedInHeader(status: HeaderLoggedIn) = {
  @**   Renders the account menu for users that are logged in *@
  <li>Hello, <a href="#">@status.name</a></li>
  <li class="account-options">
    <a href="@status.accountSettingsUrl">My Account</a>
    <ul>
      @**   <li><a href="@status.profileUrl">Profile</a></li> *@
      <li><a href="@status.accountSettingsUrl">Account Settings</a></li>
      <li><a href="@status.galleryUrl">My Gallery</a></li>
      <li><a href="@status.logoutUrl">Logout</a></li>
    </ul>
  </li>
}

@notLoggedInHeader(status: HeaderNotLoggedIn) = {
  @**   Renders the account menu for users that are not in *@
  <li>Hello, <a href="@status.loginUrl">Sign in</a></li>
  <li class="account-options"><a href="@status.loginUrl">My Account</a></li>
}

<!-- Begin site_header.scala.html -->
<header id="top" role="navigation">
  <div class="container">
    <div class="row">
      <div id="logo-account-social">
        <div class="logo span">
      	
        	<h1><a href="/" title="Egraphs">Egraphs</a></h1>
      	
        </div>
      
        <div id="account-social">
          <nav class="account @if(headerData.loggedInStatus.isRight) {logged-in}">
            <ul>
              @{headerData.loggedInStatus match {
                case Left(notLoggedIn) => notLoggedInHeader(notLoggedIn)
                case Right(loggedIn) => loggedInHeader(loggedIn)
              }}
            </ul>
          </nav>
        </div> <!-- end #account-social -->
      </div> <!-- end #logo-account-social -->
      
      <div class="linkz">
        <div class="navbar-item our-stars">
          <p><a class="separator-after" href="@headerData.ourStarsLink">Enter store</a></p>
          
        </div> <!-- end .our-stars -->
              
        <div class="navbar-item">
          
          <p><a class="separator-after" href="@headerData.insideAnEgraphLink">How it works</a></p>
          
        </div> <!-- end .explore -->

        <div class="navbar-item">
          <div>
            <form action="/stars">
              <div class="search-control input-append">
                <input name="query" type="search" class="span2" placeholder="Find names, teams"></input>
                <button class="btn" type="submit"><i class="icon-search icon-white"></i></button>
              </div>
            </form>  
          </div>
        </div>  <!-- end .search-control -->
      </div> <!-- end .linkz -->
    </div> <!-- end .row -->
  </div> <!-- end .container -->

</header> <!-- end #top -->

<!-- This just takes up as much space as the header so that other things below can appear below the header. -->
<div id="to-top" class="header-sized-container"></div>

<!-- End site_header.scala.html -->
