@(footerData: models.frontend.footer.FooterData)
@**  
    Renders the site footer.      
    footerData - the data necessary to render the links in the footer.
*@
@notices = {
    <p><small>Major League Baseball trademarks and copyrights are used with permission of MLB Advanced Media, L.P.  All rights reserved. Visit  www.MLB.com, The Official Site of Major League Baseball.</small></p>
    <p><small>The NBA and NBA member team identifications are the intellectual property of NBA Properties, Inc. and the respective member teams. &copy;2013 NBA Properties, Inc.  All Rights reserved.</small></p>
}
<!-- Begin site_footer.scala.html -->
<footer id="bottom" class="container" role="contentinfo">
  
  <div class="row">
    
    <div class="span8 site-links">
      
  	  <nav role="navigation">
  	    
  	    <ol class="clearfix">
          <li><a href="/">Home</a></li>
          <li><a href="@footerData.aboutUsLink">About Us</a></li>
          <li><a href="@footerData.faqLink">FAQ</a></li>
          <li><a href="@footerData.affiliatesLink">Affiliates</a></li>
          <li><a href="@footerData.termsOfUseLink">Terms of Use</a></li>
          <li><a href="@footerData.privacyPolicyLink">Privacy Policy</a></li>
          @** <li><a href="@footerData.careersPolicyLink">Careers</a></li> *@
  @**        <li><a href="#emailSignupForm" role="button" id="email-link">Sign up for our newsletter</a></li> **@
  	    </ol>	

  	  </nav>
      
      <p><small>Copyright 2013 Egraphs</small></p>
      <div class="wide-notices">
        @notices
      </div>  

    </div>
    <div class="span4 social">
      <div class="clearfix">
        @social()
       </div>
    </div>
  </div> 
  <div class="mobile-notices">
  @notices
  </div>      
</footer> <!-- end #bottom -->
<!-- End site_footer.scala.html -->
