@()
@**
  Configure Social Widget for Facebook
**@

@facebook = {
<div id="fb-root"></div>

<div class="fb-like-box" data-href="http://www.facebook.com/egraphs" data-width="270" data-border-color="000" data-show-faces="false" data-stream="false" data-header="false"></div>
}

@twitter = {
  <div class="twitter-follow">
    <a href="https://twitter.com/egraphs" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @@Egraphs</a>
  </div>  
}
<ul>
  <li>
    @mailing_list_form()
  </li>
  <li>
    @facebook
  </li>
  <li>
    @twitter
  </li>
</ul>  
