@(text: String, classes: Seq[String]=Seq.empty[String], event: String="")(body: => Html)
@** 
  Tooltip library adapted from http://osvaldas.info/elegant-css-and-jquery-tooltip-responsive-mobile-friendly 

  Usage:

  @tooltip("What is this?", classes=Seq("my-special-class")) {
    <strong>Hey Dummy</strong>, it's a tooltip of course!
  }
*@

@idTag(id: String) = {
  @if(id != "") { id="@id" }
}

@eventTag(event: String) = {
  @if(event != "") { event="@event" }
}

@defining( if (event != "") event else text ) { idUnstripped =>
@defining( idUnstripped.filter(_ != ' ') + "_tooltip" ) { id =>
@defining( classes.mkString(" ") ) { classString =>
  <div class="tooltip-link @classString">
    <a data-tooltip="@HtmlFormat.escape(body.body)" rel="tooltip" @idTag(id) @eventTag(event) tabindex="-1">
      @text
    </a>
  </div>
}}}