logs
out
.out
precompiled
target
test-result
tmp

*.class
*.DS_Store
*.ipr
*.iws
*.lock
*.log
*.ser
*.pyc
*.sublime-workspace

apps/website/war/WEB-INF/cloudbees-web.xml

apps/website/eGraphsServers.ipr
