logs
out
.out
precompiled
target
test-result
tmp

.classpath
.project
.settings/
.target

*.class
*.DS_Store
*.ipr
*.iws
*.lock
*.log
*.ser
*.pyc
*.sublime-workspace
*.sublime-project

apps/website/war/WEB-INF/cloudbees-web.xml

apps/website/eGraphsServers.ipr

RUNNING_PID
.cache
.tags
.tags_sorted_by_file

