//
// Styles for the order confirmation page (e.g. /orders/1/confirm)
//

.order-confirmation-content {

  h3 {
    margin-top:20px;
    font-family:'Terminal Dosis';
    color:white;
    text-transform:uppercase;

    .help-inline {
      font-weight:normal;
      text-transform:none;
      color:#999;
    }
  }
  table {

    td {

    }

    td.key {
      color:#ddd;
      font-weight:normal;
    }
  }

  img.product {
    .border-radius(6px);
  }
}

