@(fbAppId: String, callbackUrl: String)

@fbScriptSrc = @{
  "https://connect.facebook.net/en_US/all.js#appId=" + fbAppId + "&xfbml=1"
}

<!doctype html>
<html>
<head>
  <title>Egraphs facebook login test page</title>
  <link href='@asset("public/styles/egraph.css")' rel="stylesheet" type="text/css" >
</head>
<body>
<div>
  <div id="fb-root"></div>
  <script src=@fbScriptSrc></script>

  <fb:registration
          fields="name,email"
          redirect-uri=@callbackUrl
          width="530">
  </fb:registration>
</div>

</body>
</html>
