@(fbAppId: String
, tweetText: String = "Check out my Egraph!"
, tweetLink: String = "https://www.google.com"
, fbPostLink: String = "https://www.egraphs.com"
, fbPostPhoto: String = "https://fbrell.com/f8.jpg"
, fbPostName: String = "Post Name"
, fbPostCaption: String = "Post Caption"
, fbPostDescription: String = "Post Description"
)

<!doctype html>
<html>
<head>
  <title>Egraphs posting to social media test page</title>
  <link href='@asset("public/styles/egraph.css")' rel="stylesheet" type="text/css" >
</head>
<body>
<div class="container" id="egraph-page">
</div>

<div id='fb-root'></div>
<script src='https://connect.facebook.net/en_US/all.js'></script>
<p><a onclick='postToFeed(); return false;'>Post to Facebook Feed</a></p>
<p id='msg'></p>

<a href="https://twitter.com/share" class="twitter-share-button" data-text="@tweetText" data-url="@tweetLink" data-count="none">Tweet</a>

<script>
  FB.init({appId: @fbAppId, status: true, cookie: true});

  function postToFeed() {

    // calling the API ...
    var obj = {
      method: 'feed',
      link: '@fbPostLink',
      picture: '@fbPostPhoto',
      name: '@fbPostName',
      caption: '@fbPostCaption',
      description: '@fbPostDescription'
    };

    function callback(response) {
      document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
    }

    FB.ui(obj, callback);
  }
</script>
<script>
  !function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
    js = d.createElement(s);
    js.id = id;
    js.src = "//platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, "script", "twitter-wjs");
</script>
</body>
</html>
