@(newsletterListId: String)(
  implicit session: play.mvc.Scope.Session
)
@import views.frontend.tags
@import views.frontend.Utils.cdnAsset

<div class="modal signup hide fade" id="emailSignupForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div>
      <h2><span class="bold">Sign Up</span> for Egraphs Insider Newsletter</h2>
      <p>
        Get great deals, learn about new stars and be entered to win an iPad.
      </p>
    </div>
    <br>
    <img src="@cdnAsset("public/images/modal-ipad.png")"/>

    @tags.html.safeForm("id" ->"signup-form", "method" -> "POST", "action" -> "/subscribe") {
    <div>
      <label>Email:</label>
      <input class="input-xlarge" type="email" name="email" />
      <input type="hidden" value="@newsletterListId" id="listId" name="listId"/>
    </div>
    <div>
      <div>
        <button id="signup-button" type="submit" class="button">
          <strong><em>Submit</em></strong>
          <span>&raquo;</span>
        </button>
        <small>
                  <span id="signup-callout">

                  </span>
        </small>
      </div>
      <div>
        <div id="submit-email">
            <a href="/sweepstakes/insider">
              View contest details
            </a>
        </div>
        <div id="nothanks">
          <a href="#" data-dismiss="modal" class="modal-dismissal" aria-hidden="true">No Thanks</a>
        </div>
      </div>
    </div>
    }

  </div>
</div>