@(footerData: models.frontend.footer.FooterData)
@{/**
    Renders the site footer.

    footerData - the data necessary to render the links in the footer.
*/}
<!-- Begin site_footer.scala.html -->
<footer id="bottom" class="container" role="contentinfo">
  
  <div class="row">
    
    <div class="span6">
      
	  <nav role="navigation">
	    
	    <ol class="clearfix">
	      <li><a href="/">Home</a></li>
	      <li><a href="@footerData.aboutUsLink">About Us</a></li>
	      <li><a href="@footerData.faqLink">FAQ</a></li>
	      <li><a href="@footerData.termsOfUseLink">Terms of Use</a></li>
	      <li><a href="@footerData.privacyPolicyLink">Privacy Policy</a></li>
        <li><a href="@footerData.careersPolicyLink">Careers</a></li>
        <li><a href="#emailSignupForm" role="button" id="email-link" data-toggle="modal">Sign up for our newsletter</a></li>
	    </ol>	

	  </nav>
      
      <p><small>Copyright 2012 Egraphs</small></p>
      
    </div>
    
    <div class="social span6">
      
      <ul>
    	<li><a href="@footerData.egraphsFacebookLink" class="facebook">Facebook</a></li>
    	<li><a href="@footerData.egraphsTwitterLink" class="twitter">Twitter</a></li>
    	<!-- <li><a href="#" class="addthis">AddThis</a></li> -->
      </ul>

    </div> <!-- end .social -->
    
  </div> <!-- end .row -->

</footer> <!-- end #bottom -->
<!-- End site_footer.scala.html -->
