@()
<!-- Begin site_header.scala.html -->
<header id="top" role="navigation">
  
  <div class="container">
    
    <div class="row">
      
      <div class="logo span3">
    	
    	<h1><a href="/" title="Egraphs">Egraphs</a></h1>
    	
      </div>
      
	  <div class="explore span3">
	    
	    <p><a href="#">Inside an Egraph</a></p>
	    
	  </div> <!-- end .explore -->
	  
	  <div class="span6">
        
	 	<div class="social">
		  
		  <ul class="clearfix">
		    <li><a href="#" class="facebook">Facebook</a></li>
		    <li><a href="https://twitter.com/egraphs" class="twitter">Twitter</a></li>
		    <!-- <li><a href="#" class="addthis">AddThis</a></li> -->
		  </ul>
		  
		</div> <!-- end .social -->
        
		<nav class="account">
		  
		  <ul>
		    <li>Hello, <a href="#">Sign in</a></li>
		    <li class="account-options">
		      <a href="#">My Account</a>
		      <ul>
		    	<li><a href="#profile">Profile</a></li>
		    	<li><a href="#account">Account Settings</a></li>
		    	<li><a href="#my-gallery">My Gallery</a></li>
		    	<li><a href="#logout">Logout</a></li>
		      </ul>
		    </li>
		  </ul>  
		  
		</nav> <!-- end .account --> 
  		
	  </div> 
      
    </div>
    
  </div>
  
</header> <!-- end #top -->
<!-- End site_header.scala.html -->
