// Styles for the account settings page
#galleryrows {
  div.thumbnail {
    max-width: 100%;
    border: none;
  }

  div.pending-portrait {
    max-width: 100%;
  }

  div.pending-landscape {
    max-width: 100%;
  }

  div.landscape {
    margin-left: 0px;
    margin-bottom: 10px;
  }

  div.portrait{

  }

  .row-egraph {
    border-top: 1px solid @tableBorder;
  }

  span h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
  }

  span.order-line {
    color: @orange;
    font-weight: light;
    font-style: italic;
    font-size: 18px;
    padding-left: 5px;
  }

  div.order-row {
    border-top: 1px solid @tableBorder;
  }

  div.order-row:last-child {
    border-bottom: 1px solid @tableBorder;
  }

  span.order-detail {
    width: 50%;
  }

  span.order-label {
    font-weight: bold;
    width: 50%;
    display: inline-block;
  }

  div.shipping-details {
    position: relative;
    left: 5%;
  }
  div.shipping-details span {
    font-weight: bold;
  }

  .right > div {
    border-bottom: 1px solid @tableBorder;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .right div:first-child {
    padding-top: 14px;
  }

  .right div:last-child {
    border-bottom: 0px;
  }

  .right div:first-child {
    font-size: 15px;
    font-weight: bold;
    color: @grayDark;
  }

  .social-label {
    color: @blue;
    font-weight: normal;
  }

  .social > ul {
    padding-left: 0px;
  }

  .number {
    background-color: black;
    color: @white;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }

  div.padding-fix {
    padding-top: 0px;
  }

  ul {
    list-style-type: none;
    padding:0;
    margin:0;
  }

  li a {
    color: @gray;
    text-decoration: underline;
  }

  li a:hover {
    color: @orange;
  }
}
#gallerytop {
  span.username {
    font-size: 22px;
  }
  span.count {
    text-align: right;
  }

  div.row-fluid {
    margin-top: 20px;
    margin-bottom: 17px;
  }

}

@media (max-width: 480px) {
  #galleryrows {
      span.order-line {
        font-size: 14px;
        padding-left: 0px;
        padding-bottom: 5px;
      }
      span h3 {
        font-size: 14px;
      }

      br.number-br {
        display: none;
      }
      div.shipping-details {
       position: static;
      }
  }

  #gallerytop {
    span.count {
      text-align: left;
    }

    div.row-fluid {
      margin-top: 0px;
    }

  }
}
