// The Egraphs personalize stylesheet.

.initial-order-information {
	
	padding: 40px 0 0 40px;      	  
  
  figure {
  
  	position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    
    img { display: block; }
	    
    .recepient-information {
    	.callout-left;
	  	left: 20px;
	  	top: 60px;
    }
    
    .egraph-message {
    	.callout-right;
	  	left: 200px;
	  	top: 200px;
    }
    
  }
  
  .order-summary {
    
    border-top: 1px solid lighten(@gray, 50%);
    text-transform: uppercase;
    text-shadow: 0 1px 0 @white;
	    
    h2 {
	    border-top: 1px solid @white;
	    padding: 10px 0;
	    margin: 0;
	    border-bottom: 1px solid lighten(@gray, 50%);
	    color: @gray;
	    font-weight: 600;
	    font-size: 15px;
	    line-height: 1em;
    }
    
    .celebrity-information {

	    border-bottom: 1px solid @white;
	    margin-bottom: 20px;
    
	    .name {
		    border-top: 1px solid @white;
		    padding-top: 20px;
		    margin-bottom: 0;
		    font-weight: 600;
		    font-size: 14px;
		    line-height: 1.25em;	
		    color: @grayLight;		    
	    }
	    
	    .product {
		    margin-bottom: 0;		
		    padding-bottom: 20px;
		    border-bottom: 1px solid lighten(@gray, 50%);
		    font-size: 14px;
		    line-height: 1.25em;	    
	    }
    
    }
    
    .order-totals {
    
    	border-bottom: 1px solid @white;
    	margin-bottom: 20px;
    	
	    table {
	    
		    width: 100%;
		    font-size: 14px;
		    line-height: 1.25em;	
		    
		    th {
		    	width: 40%;
			    text-align: left;
			    font-weight: 600;
		    }
		    
		    td {
			    text-align: right;
			    font-weight: 400;
		    }
		    
		    .total {
			    th, td {
				    padding: 10px 0 20px;
				    border-bottom: 1px solid lighten(@gray, 50%); 
			    }
		    }
		    
	    }
	    
    }
  
  } 
    	    
} // end .initial-order-information
