// The Egraphs checkout stylesheet (form elements & page layouts related to the checkout flow)

#checkout {
  
  header {
  
    padding-bottom: 20px;
    border-bottom: 1px solid lighten(@gray, 50%);  
   
    h1 {
      font-weight: 100;
      font-size: 40px;
      line-height: 1.125em;
      margin-bottom: 0;
    }
    
    h2 {
    
      color: @grayLight;
      font-weight: 300;
      font-size: 22px;
      line-height: 1.25em;
      margin-bottom: 0;
    
    }
    
  }
  
  label.instructions {

    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.125em;    
            
    small {
      display: block;
      font-weight: 400;
      text-transform: none;
      font-style: italic;
      font-size: 12px;
      line-height: 1.125em;
      color: @gray;
    }

  }
  
  .iPhoneCheckContainer label {
    font-size: 14px;
    font-weight: 600;
    font-family: @sansFontFamily;
  }
  
  input[type=text], input[type=email], textarea {    
    width: 97%;
    font-size: 14px;
    line-height: 1.125em;
  }

	.btn-group {
	  margin-bottom:15px;
	}
	
	.btn-custom-radio {
	   width: 33.3333%;
	   .buttonBackground(lighten(@gray, 45%), lighten(@gray, 60%));
	   text-transform:uppercase;
	   font-size:0.75em;
	   line-height:1.3em;
	   padding-top:5px;
	   padding-bottom:5px;
	   color: lighten(@gray, 10%);
	   font-weight: 400;
	   text-shadow: 0px 1px 0px white;
	
	   &.active,
	   &:active {
	     .gradientBar(@orange, lighten(@orange, 10%));
	     *background-color: @orange;
	     .reset-filter();
	     font-weight:600;
	     color:white;
	     text-shadow: 0px -1px 0px black;
	   }
	
	}

	.col2 { // 2 column layout (used in many of the checkout page permutations)
	
	  > div { border-bottom: 1px solid lighten(@gray, 50%); }
	  
	  .main {
	
	    float: left;
	    width: 60%;
	
	    margin: 0;
	    padding: 0;
	
	    fieldset {
	
	      position: relative;      
	      border-top: 1px solid @white;
	      border-bottom: 1px solid lighten(@gray, 50%);  
	      border-right: 1px solid lighten(@gray, 50%); 
	      padding: 40px 0 20px 0;
	      
	      &.last { border-bottom: none; }
	      
	      &.submit {
	      
	      	border-top: none;
	      	border-bottom: none;
	      	padding-bottom: 80px;
	      	
	      	> div {
		      	padding-right: 40px;	
	      	}
	      	
	      }
	
	      legend {
	      
	        display: block;
	        width: auto;        
	        position: absolute;
	        left: 0;
	        top: 0;
	        text-align: center;
	        margin: 0;
	        background: @orange;
	        padding: 0 6px;
	        color: @white;
	        text-transform: uppercase;
	        font-size: 14px;
	        line-height: 1.5em;  
	        
	        span { display: none; }
	             
	      }
	      
	      .field {
	        
	        margin-bottom: 20px;
	        
	        &.last { margin-bottom: 0; }
	        
	        > div {
	        
	          padding-right: 40px;
	          margin-bottom: 0;
	        
	          label.instructions {
	          
	            float: left;
	            width: 30%;
	            
	          }
	          
	          .input {
	          
	            float: right;
	            width: 65%;           
	            
	          }
	        
	        }
	        
	      } // end .field
	    
	    } // end .fieldset    
	  
	  } // end .main
	  
	  aside {
	  
	    float: right;
	    width: 40%;
	    border-top: 1px solid @white;
	    
	  }
	  
	  footer {
		 
		  border-top: 1px solid @white;
		  padding-top: 40px;
		  color: @grayLight;
			text-shadow: 0 1px 0 @white;
		  
		  p {
			  float: left;
			  font-weight: 600;
			  font-size: 16px;
			  line-height: 60px;
			  margin-right: 40px;
			  margin-bottom: 0;
			  
			  a.logo-entrust {
				  
				  .inline-block;
				  width: 60px;
				  height: 60px;
				  background: url(../images/logo-entrust.gif) no-repeat 0 0;
				  text-indent: -9999px;
				  overflow: hidden;
				  margin-left: 10px;
				  
				  &:hover { .opacity(75); }
				  
			  }
			  
		  }
		  
		  ul {
			  
			  float: left;
			  list-style: none;
			  margin: 0 0 0 -20px;
			  padding: 0;
			  
			  li {
				  
				  float: left;
				  margin-right: 10px;
				  width: 45px;
				  height: 60px;
				  text-indent: -9999px;
				  overflow: hidden;
				  background: url(../images/bg-credit-cards.png) no-repeat 0 50%;
				  
				  &:last-child { margin-right: 0; }
				  
				  &.mastercard { background-position: -45px 50%; }
				  &.amex { background-position: -90px 50%; }
				  &.discover { background-position: 100% 50%; }
				  
			  }
			  
		  }
		 
	  }
	  
	} // end .col2
  
}