// The Egraphs checkout personalize stylesheet.

.order-overview {
	
	padding: 40px 0 0 40px;      	  
  
  figure.orientation-landscape {
  
  	position: relative;  	
    margin: 0 0 30px 0;
    padding: 0;

    img { 
    	display: block;

    	&.preview {    		
    		position:absolute;
    		left:9.5%;
    		top:8.42%;
    		width:81.88%;
    	}

    	&.frame {
    		position:relative;    		
    	}

    }

		.recipient-information {
			.marker-right;
    	right: 36%;
	  	bottom: 13%;	  	
    }
    
    .egraph-message {
    	.marker-left;
	  	left: 6%;
	  	top: 15%;
    }
    
    .egraph-audio {
    	.marker-left;
	  	left: 18%;
	  	bottom: 18%;
    }
    
  } // end .orientation-landscape
  
  .order-summary {
    
    border-top: 1px solid lighten(@gray, 50%);
    text-shadow: 0 1px 0 @white;
	    
    h2 {
	    border-top: 1px solid @white;
	    padding: 10px 0;
	    margin: 0;
	    border-bottom: 1px solid lighten(@gray, 50%);
	    color: @gray;
	    font-weight: 600;
	    font-size: 15px;
	    line-height: 1em;
	    text-transform: uppercase;
    }
    
    .celebrity-information {

	    border-bottom: 1px solid @white;
	    margin-bottom: 20px;
    
	    h3 {
		    border-top: 1px solid @white;
		    padding-top: 20px;
		    margin-bottom: 0;
		    font-weight: 600;
		    font-size: 14px;
		    line-height: 1.25em;	
		    color: @grayLight;		    
		    text-transform: uppercase;
	    }
	    
	    h4 {
		    font-weight: 600;
		    font-size: 14px;
		    line-height: 1.25em;	
		    color: @grayLight;	
		    text-transform: uppercase;
		    margin-bottom: 20px;
	    }
    
	    p {		  
	      		    
		    font-size: 14px;
		   	line-height: 1.25em;
		   	margin-bottom: 0;
		   	
		   	a { 
		   		color: @orange; 
		   		&:hover { color: @blue; }
		   	}
		   	
	    }

	    dl {

		    margin-bottom: 10px;

		   dt, dd {
		   		font-size: 12px;
		   		line-height: 1.25em;	
		   		margin: 0;
		   		padding: 0;			    
		    }
		    
		    dt {
			    strong { color: @orange; }
		    }
		    
		    dd {
			    margin-bottom: 10px;
		    }

	    }

	    .last {
		    margin-bottom: 0;		
		    padding-bottom: 20px;
		    border-bottom: 1px solid lighten(@gray, 50%);    
	    }
    
    }
    
    .order-totals {
    
    	border-bottom: 1px solid @white;
    	margin-bottom: 60px;
    	
	    table {
	    
		    width: 100%;
		    font-size: 14px;
		    line-height: 1.25em;	
		    
		    th {
		    	width: 40%;
			    text-align: left;
			    font-weight: 600;
			    text-transform: uppercase;
		    }
		    
		    td {
			    text-align: right;
			    font-weight: 400;
		    }
		    
		    .total {
			    th, td {
				    padding: 10px 0 20px;
				    border-bottom: 1px solid lighten(@gray, 50%); 
			    }
		    }
		    
	    }
	    
    }
  
  } 
    	    
} // end .order-overview

.main .order-overview { 

	display: none; 
	padding: 40px 0 15px 0;
	border-bottom: 1px solid lighten(@gray, 50%); 
	max-width: 555px;

  figure { 
  
  	margin: 0 0 25px 0; 
    // .egraph-audio { left: 23%; }
  
  }
  
  .celebrity-information {

	  border-bottom: none;
	  margin-bottom: 0;

    .last {	
	    padding-bottom: 0;
	    border-bottom: none;    
    }

  }
	
}

@media (max-width: 767px) {

	.main .order-overview {
		
		display: block;
		
	}

	aside {
	
		.order-overview {
	
			padding: 0;
			
			figure, .celebrity-information { display: none; }
			
			.order-summary {
								
				.order-totals { 
				
					padding-top: 20px;			
					border-bottom: none; 
				
					table {
					
						.total {
						
							th, td {
								padding-bottom: 0;
								border-bottom: none; 
							}
						
						}
						
					}
				
				}
				
			}
		
		}
		
	}

}