// The Egraphs landing page stylesheet.

#masthead-home {

	.banner-gradient {
		max-width: 1551px;
		margin: 0 auto;
		padding: 40px 0;
	}
	
	background: @grayDarker url(../images/landing-masthead-1.jpg) no-repeat 50% 0;
	.box-shadow(inset 0 -8px 8px -8px rgba(0, 0, 0, .5));
	/*
	-moz-box-shadow: inset 0 -8px 8px -8px rgba(0, 0, 0, .5);
	-webkit-box-shadow: inset 0 -8px 8px -8px rgba(0, 0, 0, .5);
	box-shadow: inset 0 -8px 8px -8px rgba(0, 0, 0, .5);
	*/
	
	h1 {
		color: @white;
		font-weight: 300;
		font-size: 52px;
		line-height: 1.15em;
		margin-bottom: .75em;
		text-shadow: 0 3px 3px rgba(0, 0, 0, .5);
	}
	
	p { margin-bottom: 0; }
	
}

#landing-stars {
	
	h3 {
		
		position: absolute;
		right: 0;
		top: -75px;
		font-size: 15px;
		line-height: 1.5em;
		margin: 0 20px 0 0;

		a {
		
			display: block;
			text-align: center;
			padding: 5px 10px 5px 40px;
			color: @orange;
			background: @white;
			.border-radius-top(5px);
		
			span { padding-left: 25px; }
		
		}
		
		a:hover { color: @blue; }
				
	}

	.row {
	
		margin-top: -40px;
		margin-bottom: 40px;
		margin-right: -20px;
	
		> div {
	
			position: relative;
			padding: 34px 0 10px 0;
			background: #fff;
	
		}
	
	}
			
} // end #landing-stars

.celebrities {

		article {
			
			text-align: center;
			margin-bottom: 20px;
			
			figure {
			
				margin: 0 0 10px 0;
				padding: 0;
			
				a {
	
					display: block;
					border: 5px solid transparent;
				
					img {
						display: block;
					}
				
				}
				
				a:hover {
					border-color: @orange;
				}
			
			}
			
			h4 {
			
				line-height: 1.25em;
				margin-bottom: 0;
				font-weight: 600;
					
				a { color: @orange; }
				
				a:hover { color: @linkColor; }
				
			}
			
			p {
				font-size: 14px;
				line-height: 1.5em;
				margin-bottom: 0;
			}	
			
		}
		
} // end .celebrities

#landing-welcome {

	padding-bottom: 40px;
	
	h1 {
		font-weight: 100;
		font-size: 40px;
		line-height: 1.25em;
		margin-bottom: .25em;
	}
	
	p {
		font-size: 20px;
		line-height: 1.5em;
	}

} // end #landing-welcome

#landing-steps {

	header {
	
		border-bottom: 1px solid @white;
		margin-bottom: 40px;
	
		h1 {
			font-weight: 100;
			font-size: 30px;
			line-height: 1.25em;
			margin-bottom: 0;
			padding-bottom: .5em;
			border-bottom: 1px solid #e6e6e6;
		}
	
	}

	ol {
		
		list-style: none;	
		padding: 0;
		margin: 0;
		
		li {
		
			margin-bottom: 40px;
			
			.instructions {
			
				margin-bottom: 40px;
							
				h2 {
					font-weight: 300;
					font-size: 20px;
					line-height: 1.25em;
					margin-bottom: .5em;					
				}
			
			}
			
			img.positioned { display: none; }
		
		}
				
	}

} // end #landing-steps

#landing-details {

	position: relative;
			
	header {
	
		margin-bottom: 40px;
				
		h1 {
			font-weight: 300;
			font-size: 30px;
			line-height: 1.25em;
			margin-bottom: .25em;
		}
		
		p {
			font-size: 18px;
			line-height: 1.5em;
			margin-bottom: 0;
		}
		
	}
	
	figure {
	
		display: none;
		
		text-align: center;
		position: relative;
		margin: 0 0 40px 0;
		padding: 0;
		
		img {
			display: block;
			margin: 0 auto 20px auto;
		}
		
		figcaption p span { display: none; }
		
	}
	
} // end #landing-details

#landing-more {

	margin-bottom: 40px;

	header {
		
		text-align: center;
		margin-bottom: 40px;
		
		h1 {
			margin-bottom: 1em;
		}
		
		p { margin-bottom: 0; }
		
	}

	.actions {

		article {
		
			padding-top: 50px;
			margin-bottom: 40px;
	
			h2 {
			
				font-weight: 600;
				font-size: 18px;
				line-height: 1.25em;
				margin-bottom: .25em;
				
				a { color: @grayDark; }
				a:hover { color: @orange; }
			
			}

		}

		.view {
			background: url(../images/icon-more-view.png) no-repeat 0 0;
		}
	
		.print {
			background: url(../images/icon-more-print.png) no-repeat 0 0;
		}
	
		.share {
			background: url(../images/icon-more-share.png) no-repeat 0 0;
		}
	
	}
	
	footer {
	
		border-top: 1px solid #efefef;
		
		.callout {
		
			border-top: 1px solid #fff;
			padding-top: 40px;			
		
			h3 {
	
				font-weight: 600;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 1.25em;
				margin-bottom: .25em;
				letter-spacing: .1em;
			}
			
			p {
				font-size: 14px;
				line-height: 1.5em;
				margin-bottom: 2em;
			}

		}
			
	}

} // #landing-more

@media (min-width: 1340px) {

	#masthead-home {
		
		.banner-gradient {	
			background: url(../images/bg-banner-gradient.png) repeat-y 50% 0;
		}

		.row { margin-left: -60px; } 
		
	}
	
	.cssgradients #masthead-home .banner-gradient {	
		background: -moz-linear-gradient(left, rgba(26,26,26,1) 0%, rgba(26,26,26,0) 10%, rgba(26,26,26,0) 90%, rgba(26,26,26,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(26,26,26,1)), color-stop(10%,rgba(26,26,26,0)), color-stop(90%,rgba(26,26,26,0)), color-stop(100%,rgba(26,26,26,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(26,26,26,1) 0%,rgba(26,26,26,0) 10%,rgba(26,26,26,0) 90%,rgba(26,26,26,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(26,26,26,1) 0%,rgba(26,26,26,0) 10%,rgba(26,26,26,0) 90%,rgba(26,26,26,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(26,26,26,1) 0%,rgba(26,26,26,0) 10%,rgba(26,26,26,0) 90%,rgba(26,26,26,1) 100%); /* IE10+ */
		background: linear-gradient(left, rgba(26,26,26,1) 0%,rgba(26,26,26,0) 10%,rgba(26,26,26,0) 90%,rgba(26,26,26,1) 100%); /* W3C */
	}
	
}

@media (min-width: 1080px) {

	#masthead-home {
		
		.banner-gradient {
			padding: 126px 0 0 0;
			height: 430px;
		}
				
	} // end #masthead-home

	#landing-stars {
	
		h3 {
			margin-right: 0;
		}
	
		.row {
		
			margin-top: 0;
			
			> div {
				margin: -40px -20px 0 -20px;		
				padding-left: 20px;
			}
		}
		
	} // end #landing-stars

}

@media (min-width: 1024px) {

	#landing-steps {
	
		header {
		
			text-align: center;
		
			h1 { font-size: 40px; }
		
		}
		
		ol {			
	
			max-width: 700px;
			margin: 0 auto;	
		
			li {
			
				margin-bottom: 40px;
				
				.instructions {
			
					h2 {
						
						font-size: 30px;				
						strong { margin-left: -35px; }
					
					}
	
					p {
						
						font-size: 18px;
						line-height: 1.5em;
						
						em {
							font-weight: 600;
						}
						
						small a { text-decoration: underline; }
						
					}
				
				}
				
			}
			
			.step-1  { text-align: center; }
				
			.step-2 {
			
				margin-bottom: 80px;
			
				.instructions {
				
					position: relative;
					z-index: 1;
					float: right;
					width: 50%;
					text-align: left;	
					min-height: 280px;
				
				}
				
				img.positioned {
					display: block;
					position: absolute;
					z-index: 0;
					left: -40px;
				}
			
			} // end .step-2 
		
			.step-3 {
			
				.instructions {
				
					position: relative;
					z-index: 1;
					float: left;
					width: 50%;
					text-align: left;		
				
				}			
			
				img.positioned {
					display: block;
					position: absolute;
					z-index: 0;
					right: -40px;
					top: 1550px;
				}
		
			} // end .step-3 
		
		}
		
	} // end #landing-steps
	
	#landing-details {
		
		margin: -80px -40px 0 -40px;
					
		header {		
			.gradient-white;		
			text-align: center;	
			padding-top: 40px;
			margin-bottom: 0;
		}
		
		.content {
			padding-top: 40px;		
			background: @white;
		}
		
	} // end #landing-details

	#landing-more {
		
		margin-left: -40px;
		margin-right: -40px;
		padding: 0 40px;
		background: @white;

	} // end #landing-more

}

@media (min-width: 979px) {

	#landing-details {

		.wrap {
			max-width: 700px;
			margin: 0 auto;		
		}

		figure {
		
			display: block;

			figcaption {
			
				position: absolute;		
								
				p {
					
					text-align: left;
					font-size: 14px;
					line-height: 1.5em;
					margin-bottom: 0;
				
					a {
						text-decoration: underline;
					}
				
					span {
						display: block;
						position: absolute;
						text-indent: -9999px;
						overflow: hidden;
					}
					
				}
				
			}
			
			.signature {
			
				width: 160px;
				padding-right: 10px;
	
				left: -90px;
				top: 90px;
				
				p {
	
					text-align: right;
				
					span {
						left: 100%;
						top: 10px;
						width: 185px;
						height: 122px;
						background: url(../images/bg-diagram-signature.png) no-repeat 0 0;
					}
					
				}
				
			}
			
			.name {
			
				width: 80px;
				padding-left: 10px;
				
				right: -25px;
				top: 347px;
				
				p {
				
					text-align: left;
				
					span {
						right: 100%;
						top: 10px;
						width: 250px;
						height: 1px;
						background: #29abe2;
					}
					
				}
			
			}
			
			.audio {
			
				width: 100px;
				padding-right: 10px;
				
				left: -80px;
				top: 326px;
				
				p {
				
					text-align: right;
					
					span {
						left: 100%;
						top: 10px;
						width: 220px;
						height: 1px;
						background: #29abe2;					
					}
				
				}
			
			}
		
		}
		
	} // end #landing-details

}

@media (max-width: 767px) {

	#masthead-home {
		
		height: 300px;
		
		.banner-gradient { display: none; }
				
	} // end #masthead-home

	#landing-welcome {
	
		.span6 {
			margin-bottom: 40px;
		}
	
	} // #landing-welcome

}

@media (max-width: 767px) and (min-width: 640px) {

	#landing-welcome {
	
		.span6 {
			float: left;
			width: 55%;
		}
		
		.span5 {
			float: right;
			width: 40%;
		}
	
	} // end #landing-welcome

}

@media (max-width: 767px) and (min-width: 481px) {

	#landing-stars {
	
		.row {
			margin-left: -20px;
			
			> div { padding-left: 15px; }
			
		}
	
	
	}

	.celebrities {
	
		article {
		
			float: left;
			width: 48%;
			margin-right: 2%;
		
		}
	
	} // end .celebrities

}

@media (max-width:480px) {

	#landing-stars {
		
		.row {
		
			margin-left: -20px;
			
			> div {
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 24px;
			}
		
		}
	
	}

	#landing-welcome {
	
		h1 {
			font-weight: 300;
			font-size:  30px;
			line-height: 1.25em;
			margin-bottom: .25em;
		}
		
		p {
			font-size: 16px;
			line-height: 1.5em;
		}
	
	}

}