@(celebrityName: String, productName: String, creditCardMsg: String)(
  implicit session: play.mvc.Scope.Session,
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData
)

@baseBody = {
<div id="content" class="top" role="main">

  <div id="main" class="sub">

    <section id="checkout" class="container">

      <header>
        <h1>Could not place your order</h1>
        <h2>@celebrityName | @productName</h2>
      </header>

      <div class="failed clearfix">

        <div class="purchase-error">

          <h2>There was an issue with your credit card</h2>

          <p>
            It looks like the issue was: @creditCardMsg
          </p>

          <p>
            Please try again, or get in touch with us at <a href="mailto:support@@egraphs.com">support@@egraphs.com</a>
          </p>

        </div>

      </div>

    </section>

  </div>

</div>

}

@base_template(
title="Order Failed - Credit Card Error",
body=baseBody
)