@()(
implicit authToken: egraphs.authtoken.AuthenticityToken,
headerData: models.frontend.header.HeaderData,
footerData: models.frontend.footer.FooterData
)
@import views.frontend.Utils
@import models.frontend.egraphs._

@baseBody = {

<section id="content" role="main">
  <div id="main" class="about-us">
    <div class="row-fluid">
      <div class="span12 masthead-static">
        <img src="@RemoteAssets.at("images/landing-masthead.jpg")"/>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <h1>Contact us</h1>
        </div>
      </div>
    </div>
  </div>
</section>

}
@base_template(
title="Contact us",
jsMain="pages/inside-egraph",
body=baseBody
)