@()(
implicit authToken: egraphs.authtoken.AuthenticityToken,
headerData: models.frontend.header.HeaderData,
footerData: models.frontend.footer.FooterData
)
@import views.frontend.Utils
@import models.frontend.egraphs._
@import controllers._

@baseBody = {

<section id="content" role="main">
<div id="main" class="about-us">
<div class="row-fluid">
  <div class="span12 masthead-static">
    <img src='@RemoteAssets.at("images/hellickson.jpg")'/>
  </div>
</div>

<div class="container">
<div class="row-fluid">
<div class="span12">
<h1>Privacy Policy</h1>
 <p>
  This privacy policy applies only to the website(s) controlled by Celebrity Marketplace, LLC the owner of
  EGRAPHS
  (“EGRAPHS,” "we" or "us"). This privacy policy applies only on the web sites where it is posted, including
  www.egraphs.com. For the purpose of this policy, such web sites shall be collectively referred to as the
  "Site".

<p>
  <strong>
    BY USING THE SITE, YOU CONSENT TO THE TERMS AND CONDITIONS OF THIS PRIVACY POLICY AND TO OUR PROCESSING OF
    PERSONAL INFORMATION FOR THE PURPOSES STATED BELOW. IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS OF
    THIS
    PRIVACY POLICY, PLEASE DO NOT USE THE SITE.
  </strong>

<h2>Information Collected</h2>

<p>
  We collect two types of information from visitors to the Site: (1) Personally Identifiable Information; and
  (2) Non-Personally Identifiable Information, such as your IP address or cookies.

<h2>Personally Identifiable Information</h2>

<p>
  "Personally Identifiable Information" is information that identifies you personally, such as your name,
  address, telephone number or email address. EGRAPHS collects and stores the personally identifiable
  information that you have provided to us. Here are some examples of manners in which we may collect your
  personally identifiable information on the Site:
<ul>
  <li>We may collect your email address, and name if you register to use the Site or otherwise make a purchase
    of a product on the Site;
  </li>
  <li>We may collect your name and email address if you contact us with a question;</li>
  <li>We may collect your name and email address if you are receiving content from the Site as a gift;</li>
  <li>We may collect your name, date of birth and email address if you choose to provide us this
    information in your course of dealings with us; for example, you may enter a promotion or otherwise
    join a program offered on the Site; and
  </li>
  <li>We may collect your name, your address, and your credit card and billing information if you make a
    purchase of any personalized media sold on the Site.
  </li>
</ul>
<p>
  The above list provides an example of the personally identifiable information that may be collected
  on the Site. If you do not want EGRAPHS to collect your personally identifiable information, please
  do not provide it to us.

<p>

<h2>Non-Personally Identifiable Information</h2>

<p>
  "Non-Personally Identifiable Information" can be technical information or it can be demographic
  information, such as your age, gender or interests. Non-personally identifiable information does NOT
  identify you personally. Here are some examples of the non-personally identifiable information that
  is collected via the Site and a description of how this information is used:
</p>
<ul>
  <li>Internet Protocol (IP) address -- Your IP address is a number that lets computers attached to
    the Internet know where to send you data -- such as the webpages you view. We use this information
    to deliver our webpages to you upon request, to tailor our Site to the interests of our users and
    to measure traffic within our Site.
  </li>
  <li>Cookie -- A "cookie" is a small text file that may be used to collect information about your
    activity on the Site. For example, when someone visits a page within the Site, a cookie is
    placed on the user's machine (if the user accepts cookies) or is read if the user has visited
    the Site previously. You may set most browsers to notify you if you receive a cookie, or you may
    choose to block cookies with your browser, but if you do, you may not be able to take advantage
    of the personalized features enjoyed by other users to our Site. Some of the cookies we use may
    be flash cookies or Adobe cookies. While they are harmless, they may contain Demographic
    Information (defined below) and depending on your browser these cookies may not normally be
    deleted when your cookies are deleted. Please check your browser to determine where these types
    of cookies are stored and how they may be deleted.
  </li>
  <li>Web Beacons (also known as "clear gifs," "web bugs" or "pixel tags") -- "Web Beacons" are
    tiny graphics with a unique identifier, similar in function to cookies, and are used to allow
    us to count users who have visited certain pages of the Site and to help determine the
    effectiveness of promotional or advertising campaigns. When used in HTML-formatted email
    messages, web beacons can tell the sender whether and when the email has been opened. In
    contrast to cookies, which are stored on a user's computer hard drive, web beacons are
    embedded invisibly on web pages.
  </li>
</ul>
<p>
  We collect the above non-personally identifiable information from all visitors to our Site. If
  you do not want EGRAPHS to have access to this information, please do not visit our Site.

<h2>Use of Information Collected Via the Site</h2>

<p>

<h3> Personally Identifiable Information</h3>

<p>
  We use your personally identifiable information that is collected on the Site primarily for
  the following purposes:
<ul>
  <li>To deliver products or services that you request or purchase when visiting the Site;</li>
  <li>To deliver products or services that a friend or colleague orders for you as a gift on
    your behalf;
  </li>
  <li>To notify you that a product you ordered is available, or otherwise alert you to
    special offers, updated information and other new services from EGRAPHS, or other third
    parties, or to forward promotional materials;
  </li>
  <li>To complete a transaction or service requested by you. For example, your information
    may be routed to a third party credit card processing company in order to complete a
    sale;
  </li>
  <li>To fulfill the terms of a promotion;</li>
  <li>To ensure the Site is relevant to your needs;</li>
  <li>To help us create and publish content most relevant to you;</li>
  <li>To notify you about a material change to this privacy policy or the Terms of
    Use & License Agreement, if necessary;
  </li>
  <li>To allow you access to limited-entry areas of the Site; and</li>
  <li>To contact you in response to sign up forms such as Contact Us or if you
    inquire about the status of an order.
  </li>
</ul>
<h2>Non-Personally Identifiable Information</h2>

<p>
  Non-personally identifiable information is used as described above and in
  other ways as permitted by applicable laws, including combining
  non-personally identifiable information with personally identifiable
  information.

<h2>Sharing and Disclosure of Information</h2>

<h3>Personally Identifiable Information</h3>

<p>
  We may share or disclose your personally identifiable information in
  the following instances:
<ul>
  <li>To fulfill a service to you, fulfill a purchase or respond to a
    request by you. For example, if you place an order for an item
    bearing a celebrity signature, a third party credit card processing
    company will receive that information in order to process this
    order. Similarly, we may have to share your name and email address
    with third parties in order to provide you with content or media
    that is personalized by a celebrity or athlete. Also, if a friend or
    colleague orders a product from the Site for you as a gift, we may
    receive your name and email address in order to fulfill that order.
    In addition, if you email us a question, we may use your email
    address to process your request and respond to your question. Also,
    if you are entering a sweepstakes or contest, we may use your
    personally identifiable information in order to fulfill the terms of
    that promotion. This means that we may share the information for
    prize fulfillment purposes or mail carriers. We also may share your
    information with the co-sponsor of that promotion.
  </li>

  <li>To visitors of our Site as part of our service to you. In some
    instances, your name and the product or service that you request
    on the Site may be displayed for other visitors to see what you
    ordered. Specifically, the Site will provide both “public” and
    “private” pages and our users will have the option of making any
    content that they purchase from the Site publicly accessibe, in
    the “public” areas, or accessible only by you, in the “private”
    areas. Content that is marked as viewable by the “public” will be
    accessible and viewable by any visitor to the Site; it will also
    be viewable to those who use Internet search engines so that any
    person on the Internet could view it and may be able to see your
    name as part of the content. Content that is marked as “private”
    will be viewable only by you.
  </li>

  <li>To affiliates, strategic partners, agents, third party
    marketers or other unaffiliated parties who are offering
    products or services that we believe may be of interest to you
    or who require your personally identifiable information for
    research, administrative and/or internal business purposes.
    These parties may use your personally identifiable information
    to contact you with an offer or advertisement related to a
    product or service, or they may use such information for their
    own research, administration or business purposes. If you do not
    want us to share your personally identifiable information in
    this manner, please do not provide us with this information.
  </li>

  <li>To unaffiliated third-party service providers, agents or
    independent contractors who help us maintain our Site and
    provide other administrative services to us (including, but
    not limited to, order processing and fulfillment, providing
    customer service, maintaining and analyzing data, sending
    customer communications on EGRAPHS’ behalf, and entry
    collection, winner selection and prize fulfillment for
    contests, sweepstakes and other promotions). We seek to ensure
    that these unaffiliated third parties will not use the
    personally identifiable information for any other purpose than
    to provide the administrative services for which they are
    responsible. Because such unaffiliated third-party service
    providers that help us administer our Site will have access to
    users' personally identifiable information, if you do not wish
    for our unaffiliated third-party service providers to have
    access to your information, please do not register or submit
    any personally identifiable information to us.
  </li>

  <li>To complete your purchase. We use a third party to process
    purchases made via the Site. Therefore, if you choose to
    make a purchase on the Site, the Site may collect from you
    your credit card number, billing address and other
    information related to such purchase, and that information
    will be routed to a third party in order for them to fulfill
    your purchase. Unless there is an issue or question related
    to your order, EGRAPHS will not view or access this data and
    it will be managed entirely by a third party provider.
  </li>

  <li>To comply with the law or in the good faith belief that
    such action is necessary in order to conform to the
    requirements of law or comply with legal process served on
    us, protect and defend our rights or property, including
    the rights and property of EGRAPHS or act in urgent
    circumstances to protect the personal safety of our end
    users.
  </li>

  <li>To third parties as part of any corporate
    reorganization process including, but not limited to,
    mergers, acquisitions, and sales of all or substantially
    all of our assets.
  </li>

  <li>To track and analyze non-identifying and aggregate
    usage and volume statistical information from our
    visitors and customers and provide such information to
    third parties.
  </li>

  <li>To protect against potential fraud, we may verify
    with third parties the information collected from
    the Site. In the course of such verification, we may
    receive personally identifiable information about
    you from such services. For example, we – or our
    third party credit card processor – may be forced to
    use card authorization and fraud screening services
    to verify that your card information and address
    matches the information that you supplied to us, and
    that the card has not been reported as lost or
    stolen.
  </li>
</ul>
<p>
  Except as described in this Privacy Policy or at the
  time we request the information, we do not otherwise
  use, share or otherwise disclose your personally
  identifiable information to any third parties.

<h2>Non-Personally Identifiable Information</h2>

<p>
  We use non-personally identifiable information
  collected on the Site in the manner disclosed above,
  in the Section A (2). We may share this non-personal
  information with third parties, and we also may
  combine it with personally identifiable information
  in some instances. If we combine this data with
  personally identifiable information, we will treat
  it as such and will use it in the manner described
  in this policy under the sections that discuss
  personally identifiable information.

<h2>Collection and Use of Information from Children
  Under the Age of 13</h2>

<p>
  The Site does not knowingly target children under
  the age of 13 and we do not collect personal
  information from any child under the age of 13. In
  the event we learn that such information has been
  provided to the Site, we will delete or destroy it.

<h2>Buying a Gift</h2>

<p>
  Some visitors to our Site may decide to purchase
  content to have it delivered to a third party, such
  as a friend or colleague (“friend”). In those
  instances, EGRAPHS would be collecting personally
  identifiable information from the purchaser, who is
  visiting the Site and makes a purchase, as well as
  personally identifiable information from the friend
  who will receive the gift. For example, the
  purchaser may provide us with the friend’s name and
  email address in order for the gift to be
  personalized and delivered. In these instances, we
  will retain the purchaser and friend’s information
  in accordance with this privacy policy. If you
  receive a gift from EGRAPHS as a friend and you do
  not want us to retain your name or email address,
  please email us at support@@egraphs.com.

<p>
  Note: We will not give gifts to children under the
  age of 13 without the permission of the parent.

<h2>International Transfer of Information</h2>

<p>
  If you choose to provide us with personally
  identifiable information, EGRAPHS may transfer that
  information to its affiliates and subsidiaries or to
  other third parties, across borders, and from your
  country or jurisdiction to other countries or
  jurisdictions around the world. If you are visiting
  from the European Union or other regions with laws
  governing data collection and use that may differ
  from U.S. law, please note that you are transferring
  your personally identifiable information to the
  United States which does not have the same data
  protection laws as the EU and by providing your
  personally identifiable information you consent to:

<p>
<ul>
  <li>the use of your personally identifiable
    information for the uses identified above in
    accordance with this privacy policy; and
  </li>
  <li>the transfer of your personally identifiable
    information to the United States as indicated
    above.
  </li>
</ul>
<h2>Opt-Out</h2>

<p>
  We may send you communications or data regarding
  the Site, including but not limited to (i)
  notices about your use of the Site, including
  any notices concerning violations of use, (ii)
  updates, and (iii) information or materials
  regarding transactions, products and/or services
  purchased or selected by you. By using and/or
  registering with the Site, you agree to receive
  this type of communication from us.

<p>
  Note, however, that some email messages may be
  more commercial in nature, as they may advertise
  a feature of our Site or services, a product or
  service we believe that you may be interested
  in, or otherwise discuss a marketing campaign or
  promotion offered by EGRAPHS. We give you the
  opportunity to opt-out of receiving these
  commercial emails from us by following the
  opt-out instructions provided in the message.

<h2>Forums, Chat Rooms and Other Public Posting
  Areas</h2>

<p>
  Please note that any information you include in
  a message you post to any chat room, forum or
  other public posting area is available to anyone
  with Internet access. If you don't want people
  to know your email address, for example, don't
  include it in any message you post publicly.
  <strong>
  PLEASE BE EXTREMELY CAREFUL WHEN DISCLOSING ANY
  INFORMATION IN CHAT ROOMS, FORUMS AND OTHER
  PUBLIC POSTING AREAS. WE ARE NOT RESPONSIBLE FOR
  THE USE BY OTHERS OF THE INFORMATION THAT YOU
  DISCLOSE IN CHAT ROOMS, FORUMS AND OTHER PUBLIC
  POSTING AREAS.
  </strong>
<h2>Third Party Web Sites</h2>

<p>
  This statement applies solely to information
  collected on the Site. The Site may contain
  links to other web sites. We are not responsible
  for the privacy practices or the content of
  these other web sites.

<h2>Third Party Advertisers</h2>

<p>
  We may use advertisers, third party ad networks,
  and other advertising companies, to serve
  advertisements on the Site. Please be advised
  that such advertising companies may gather
  information about your visit to the Site or
  other sites (such as through cookies, web
  beacons and other technologies) to enable such
  advertising companies to market products or
  services to you, to monitor which ads have been
  served to your browser and which webpages you
  were viewing when such ads were delivered.
  <strong>
  PLEASE NOTE THAT THIS POLICY DOES NOT COVER THE
  COLLECTION AND USE OF INFORMATION BY SUCH
  ADVERTISING COMPANIES.
  </strong>
<h2> Accessing Your Personally Identifiable</h2>

<p>

<h3>
  Information and Privacy Preferences</h3>

<p>
  We provide you with an opportunity to access
  your personally identifiable information to
  ensure it is correct, accurate and current. To
  edit your personally identifiable information,
  please visit support@@egraphs.com. If for any
  reason you are not able to update or edit your
  personally identifiable information at this
  page, you can access such information by
  contacting us as described below. We will make
  reasonable efforts to accommodate your request.

<h3>
  Assignment
</h3>

<p>
  In the event that all or part of our assets are
  sold or acquired by another party, or in the
  event of a merger, you grant us the right to
  assign the personally identifiable and
  non-personally identifiable information
  collected via the Site.

<h3>
  Changes to this Privacy Policy
</h3>

<p>
  We reserve the right to change this privacy
  policy from time to time. When we do, we will
  also revise the "last update" date at the bottom
  of this privacy policy. For changes to this
  privacy policy that may be materially less
  restrictive on our use or disclosure of personal
  information you have provided to us, we will
  attempt to obtain your consent before
  implementing the change by sending a notice to
  the primary email address specified in your
  account or by placing a prominent notice on the
  Site.

<h3> Security</h3>

<p>
  No data transmissions over the Internet can be
  guaranteed to be 100% secure. Consequently, we
  cannot ensure or warrant the security of any
  information you transmit to us and you
  understand that any information that you
  transfer to EGRAPHS is done at your own risk.
  Once we receive your transmission, we make
  reasonable efforts to ensure security on our
  systems. We use firewalls to protect your
  information from unauthorized access,
  disclosure, alteration, or destruction. However,
  please note that this is not a guarantee that
  such information may not be accessed, disclosed,
  altered or destroyed by breach of such firewalls
  and secure server software.

<p>
  If we learn of a security systems breach we may
  attempt to notify you electronically so that you
  can take appropriate protective steps. By using
  the Site or providing personally identifiable
  information to us you agree that we can
  communicate with you electronically regarding
  security, privacy and administrative issues
  relating to your use of this Site. We may post a
  notice on our Site if a security breach occurs.
  We may also send an email to you at the email
  address you have provided to us in these
  circumstances. Depending on where you live, you
  may have a legal right to receive notice of a
  security breach in writing.

<h3>
  Contacting EGRAPHS
</h3>

<p>
  If you have any questions about this privacy
  policy or our privacy practices, please contact
  us at support@@egraphs.com. All information you
  provide in any written communication will also
  be covered by this policy.

<h2>
  YOUR CALIFORNIA PRIVACY RIGHTS
</h2>

<p>
  Beginning on January 1, 2005, California Civil
  Code Section 1798.83 permits our visitors who
  are California residents to request certain
  information regarding EGRAPHS' disclosure of
  personally identifiable information to third
  parties for their direct marketing purposes. To
  make such a request, please contact us:

<h3>EGRAPHS</h3>
<address>
  c/o Celebrity Marketplace<br>
  615 2nd Ave.<br>
  Suite 300<br>
  Seattle, WA 98104
</address>
Effective Date: July 9, 2012
Last Updated: July 9, 2012

</div>
</div>
</div>
</div>
</section>

}
@base_template(
  title="Privacy Policy",
  body=baseBody
)