@(celebrity:models.Celebrity,
  profilePhotoUrl: String,
  products: Iterable[models.Product])

@import services.Finance.TypeConversions._
@import services.blobs.AccessPolicy.Public
@import models.Product

@content_base(title=celebrity.publicName.get + " - Egraphs", onLoad=onLoad, body=body)

@onLoad = {
  $(function () {
    $("a[rel=popover]")
      .popover({
        offset: 10,
        placement: 'above'
      })
      .click(function(e) {
        e.preventDefault()
      })
  })
}

@body = {
  <div class="celeb-content">
    <div class="row personal-info">
      <div class="span4 profile-photo" >
        <img src="@profilePhotoUrl" alt="@celebrity.publicName Profile Photo"/>
      </div>
      <div class="span12 profile-info">
        <h1>@celebrity.publicName</h1>
        <div class="quotemark">&ldquo;</div>
        <div class="row">
          <div class="span10 description">@celebrity.bio</div>
        </div>
      </div>
    </div>
    <div class="separator"></div>
    <div class="products">
      @if(products.headOption == None) {
        <h2>@celebrity.publicName isn't signing Egraphs! Go badger him on Twitter.</h2>
      } else {
        <h2>
          You choose a photo, then
          <a href="#" rel='popover' title="Between the two of us" data-content="When you buy an Egraph, a special slot of time on @celebrity.publicName's schedule gets reserved for him to hand-write you a personalized message on top of the photo you select here. Try having him wish you a happy birthday!">
            @celebrity.publicName signs it just for you.
          </a>
        </h2>
        @products.toList.grouped(2).map { productRow =>
          <div class="row">
            @productRow.map { product =>
              @_product(product, productRow)
            }
          </div>
        }.toList
      }
    </div>
  </div>

  @_product(product: Product, productRow: List[Product]) = {
    <div class="span6 offset1 @_offsetClass">
      <a class="product preview-link" href="/@celebrity.urlSlug/@product.urlSlug">
        <img src="@product.photo.resizedWidth(330).getSaved(Public).url" alt="@product.name Thumbnail">
        <div class="description">
          @product.name <span class="label success price-label">@product.price.formatSimply</span>
        </div>
        <div class="btn primary large success buy-button" >
          Get it autographed
        </div>
      </a>
    </div>

    @_offsetClass = {
      @((productRow.head, productRow.tail) match {
        case (aProduct, List()) if aProduct == product =>
          "offset5"

        case (aProduct, _) if aProduct == product =>
          "offset1"

        case (_, List(aProduct)) if aProduct == product =>
          "offset2"
      })
    }
  }
}
