@(buyer: models.Customer,
  buyerAccount: models.Account,
  recipient: models.Customer,
  celebrity:models.Celebrity,
  product: models.Product,
  order: models.Order)

@content_base(title="Order #" + order.id +"- Egraphs", body=body, head=head)

@import services.Finance.TypeConversions._
@import services.blobs.AccessPolicy.Public

@selfPurchase = @{ buyer == recipient }

@recipientPossessive = @{
 if(selfPurchase) {
   "your"
 } else {
   order.recipientName + "'s"
 }
}

@recipientMoniker = @{
  if(selfPurchase) {
    "you"
  } else {
    order.recipientName
  }
}

@head = {

}

@body = {
  <div class="order-confirmation-content">
    <h1>Egraph Order Complete</h1>
    <div class="row">
      <div class="span9">
        <p>
          <em>Congratulations!</em> We just booked @recipientMoniker a slice of
          @celebrity.publicName's schedule. Now @celebrity.publicName will have plenty of time
          to read the personal messages you entered and respond in true, biometrically authenticated
          handwriting.
        </p>
        <p>
          For now just sit back and relax; @celebrity.publicName will send @recipientMoniker
          an e-mail as soon as he's done signing the Egraph, so look forward to hearing from
          him!
        </p>
        <p>
          Here are the details of your order.
          In moments you will receive this same information in your inbox.
        </p>
        <h3>Order details <span class="help-inline">for your records</span></h3>
        <table>
          <tbody>
            <tr>
              <td class="key">Order number</td>
              <td>@order.id</td>
            </tr>
            <tr>
              <td class="key">Confirmation email</td>
              <td>@buyerAccount.email</td>
            </tr>
            <tr>
              <td class="key">Amount paid</td>
              <td>@order.amountPaid.formatSimply</td>
            </tr>
            <tr>
              <td class="key">Image</td>
              <td>@celebrity.publicName in @product.name</td>
            </tr>
            <tr>
              <td class="key">Desired text</td>
              <td><em>@order.requestedMessage</em></td>
            </tr>
            <tr>
              <td class="key">Note for @celebrity.publicName</td>
              <td><em>@order.messageToCelebrity</em></td>
            </tr>
          </tbody>
        </table>
      </div>
      <img alt="@product.name" class="span7 product" src="@product.photo.resizedWidth(700).getSaved(Public).url" />
    </div>
  </div>
}
