@(username: String, egraphs: List[models.frontend.egraphs.EgraphViewModel], controlRenderer: models.frontend.egraphs.GalleryControlRenderer)(
implicit session: play.mvc.Scope.Session,
headerData: models.frontend.header.HeaderData,
footerData: models.frontend.footer.FooterData
)
@import views.frontend.Utils
@import models.frontend.egraphs._

<script>
  !function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (!d.getElementById(id)) {
  js = d.createElement(s);
  js.id = id;
  js.src = "//platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  }
  }(document, "script", "twitter-wjs");
</script>

@fulfilledEgraph(egraph: models.frontend.egraphs.FulfilledEgraphViewModel, index: Int) = {
  <div class="row-fluid row-egraph">
    <div class="span12">
      <div class="number">@(index+1)</div><br class="number-br">
      <span>
        <h3>@egraph.productPublicName.map(publicName => publicName + ":") @egraph.productTitle</h3>
      </span>
    </div>
    <div class="row-fluid">
      <div class="span7">
        <div class="@egraph.orientation">
          <img src="@egraph.thumbnailUrl" alt="Egraph preview"></img>
        </div>
      </div>
      <div class="span5 right">
        <div>
          @egraph.productUrl<br>
          Signed @egraph.signedTimestamp
        </div>
        <div>
          <p>@egraph.productDescription</p>
        </div>
        <div class="padding-fix">
          <div class="social">
            <ul class="clearfix">
              <li><span class="social-label">Share this</span></li>
              <li>
                <a href="@egraph.facebookShareLink" class="facebook" target="_blank">Facebook</a>
              </li>
              <li>
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="@egraph.twitterShareText" data-url="@egraph.viewEgraphUrl" data-count="none">Twitter</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="controls">
          @if(controlRenderer == OwnerGalleryControl){
            @views.frontend.tags.html.toggle(styleclass="private",
              name="privacy",
              id=egraph.orderId.toString,
              checked = (egraph.publicStatus == "Public"))
          }
          @Html(controlRenderer.render(egraph.orderId, egraph.publicStatus).toString())

        </div>
      </div>
    </div>
  </div>
}

@pendingEgraph(egraph: models.frontend.egraphs.PendingEgraphViewModel, orderDetails: models.frontend.egraphs.OrderDetails, index: Int) = {
  <div class="row-fluid row-egraph">
    <div class="span12">
      <div class="number">@(index+1)</div>
      <br class="number-br">
      <span>
        <h3>@egraph.productPublicName.map(publicName => publicName + ":") @egraph.productTitle</h3><span class="order-line"> &nbsp;Pending Order</span>
      </span>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <div class="pending-@egraph.orientation">
        <img src="@egraph.thumbnailUrl">
        </img>
      </div>
    </div>
    <div class="span6">
      <div class="order-row">
        <span class="order-label">Order Date</span><span class="order-detail"> @orderDetails.orderDate</span>
      </div>
      <div class="order-row">
        <span class="order-label">Order Number</span><span class="order-detail"> @orderDetails.orderNumber</span>
      </div>
      <div class="order-row">
        <span class="order-label">Price</span><span class="order-detail"> @orderDetails.price</span>
      </div>
    </div>
    <div class="span3 shipping-details">
      <span>Status: </span>@orderDetails.statusText<br>
      @{/*
        <span>Shipping: </span>@orderDetails.shippingMethod<br>
        <span>UPS Tracking Number: </span>@orderDetails.UPSNumber<br>
      */}
    </div>
  </div>
}
@baseBody = {
  <section id="content">
    <div id="main">
      <div class="container">
        <header id="gallerytop">
          <div class="row-fluid">
            <span class="span8 username">@username's Egraphs</span>
            <span class="span4 count">
              <strong>@egraphs.length Egraphs</strong> /
              <strong>@{egraphs.filter(egraph => egraph.isInstanceOf[models.frontend.egraphs.PendingEgraphViewModel]).length}</strong>
              Pending, <strong>@{egraphs.filter(egraph => egraph.isInstanceOf[models.frontend.egraphs.FulfilledEgraphViewModel]).length}</strong>
              Finished</span>
          </div>
        </header>
        @if(egraphs.length == 0) {
          <section>
            <h1>
              @username does not have any egraphs yet...
            </h1>
          </section>
        }
        <section id="galleryrows">
        @for((egraph,index) <- egraphs.zipWithIndex){
          @{egraph match {
            case e: models.frontend.egraphs.PendingEgraphViewModel => pendingEgraph(e, e.orderDetails, index)
            case e: models.frontend.egraphs.FulfilledEgraphViewModel => fulfilledEgraph(e, index)
            case _ => ""
            }
          }
        }
        </section>
      </div>
    </div>
  </section>
}

@base_template(
  title="Gallery",
  jsMain="pages/account-gallery",
  body=baseBody
)