@()(implicit session: play.mvc.Scope.Session)

@import views.frontend.tags
@import views.frontend.tags.ng


@baseBody = {
  <section ng-cloak id="content" role="main" ng-controller="Controller">
    <div id="main">
      <div class="container" id="settings-page">

        <header id="settings-top">
          <h1>Account Settings</h1>
        </header>
      @tags.html.safeForm("method" -> "POST", "action" -> "/account/settings"){
        <section class="settings-group" id="personal-information">
            <h2>Personal Information</h2>
              @tags.ng.html.form_namevalue(model = "user.fullname", id = "fullname", title = "Name")
              @tags.ng.html.form_namevalue(model = "user.username", id = "username",title = "Username", helper="Gallery Url egra.ph/{{user.username}}")
              @tags.ng.html.form_email(model = "user.email", id = "email", title = "Email")
              @tags.ng.html.form_pwchange(model = "user", id = "password", length= 7)
              @tags.ng.html.form_select(label = "Gallery Visibility", model = "user.gallery.visibility", id="galleryvisibility", Map(
                                                                                                                        "public" -> "Public",
                                                                                                                        "private" -> "Private"))

          </section>
          <section class="settings-group" id="shipping-address">
            <h2>Shipping Address</h2>
            @tags.ng.html.form_address(address = "user.address", id ="address")
            <!--<a href="#" class="add-link"><p>+ Add Another Shipping Address</p></a>-->
          </section>
          <section class="settings-group" id="additional-settings">
            <h2>Additional Settings</h2>
             @tags.ng.html.form_checkbox(label = "Notices", model = "user.notices")
          </section>
          <div class="row-fluid">
            <div class="span9"></div>
            <div class="span3 save-button">
              @tags.html.arrow_button(caption="Save Changes", target="#")
            </div>
          </div>
        }
      </div>
    </div>
  </section>
}
@base_template(title="Your Account", jsMain = "settings", body=baseBody)