@(form:models.frontend.account.AccountPasswordResetForm, displayableErrors: List[String] = List())(
implicit session: play.mvc.Scope.Session,
headerData: models.frontend.header.HeaderData,
footerData: models.frontend.footer.FooterData
)

@import views.frontend.tags
@import views.frontend.tags.ng

@baseBody = {
<section ng-cloak id="content" class="top" role="main" ng-controller="Controller">
  <div id="main" class="sub">
    <div class="container" id="settings-page">
      <header id="settings-top">
        <h1 style="display: inline-block;">Account Password Reset</h1>
       </header>
      @tags.html.safeForm("method" -> "POST", "action" -> "/account/reset"){
      <section class="settings-group" id="password-reset">
        <input type="hidden" name="secretKey" value="@form.secretKey.value.getOrElse("")"/>
        <input type="hidden" name="email" value="@form.email.value.getOrElse("")"/>
      <div class="row-settings row-fluid">
        <div class="span12">
        <h2>Enter your new password below</h2>
        <div class="control-group">
          <label class="control-label ng-label">New Password</label>
          <div class="controls">
            <input ng-model="user.newPassword" ng-minlength="8" id="user_password" name="newPassword"
            type="password" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"/>
            <span ng-show="form.newPassword.$error.minlength">Password must be at least 8 characters</span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label ng-label">Verify Password</label>
          <div class="controls">
            <input id="user_password_confirmation" name="passwordConfirm" type="password"
                   xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"/>
            <span id="password_message" class="invisible">Passwords do not match</span>
          </div>
        </div>
      </div>
      </div>
      </section>
      <div class="row-fluid">
        <div class="span9"></div>
        <div class="span3 save-button">
          @tags.html.arrow_button(caption="Save Changes")
        </div>
      </div>
      }
    </div>
  </div>
</section>
}

@base_template(
title="Reset Password",
jsMain = "pages/account-password-reset",
body=baseBody)
