@(title: String,
  jsMain: String = "",
  headJs: => Html = Html.empty,
  celeb: models.frontend.storefront.ChoosePhotoCelebrity,
  recentEgraphs: Iterable[models.frontend.storefront.ChoosePhotoRecentEgraph],
  partnerIcons: Iterable[models.frontend.storefront.ChoosePhotoPartnerIcon],
  photoSection: => Html
)(implicit headerData: models.frontend.header.HeaderData, 
  footerData: models.frontend.footer.FooterData,
  storefrontBreadcrumbs: models.frontend.storefront.StorefrontBreadcrumbs
)
@{/**
  Base template for the two permutations of the "Choose photo" page in the celebrity
  storefront (tiled and carousel). See base_celebrity_storefront_choose_photo_tiled.scala.html.

  title - the title of the page. This will be concatenated with the celebrity's name.
  jsMain - see base_template.scala.html
  headJs - see base_template.scala.html
  celeb - viewmodel of the celebrity to render.
  recentEgraphs - viewmodel of the recent egraphs to render.
  partnerIcons - viewmodel of the partner icons to render (e.g. MLB)
  photoSection - the actual content: either the tiles or the carousel.

  headerData & footerData - see base_template.scala.html
*/}

@import frontend.formatting.DateFormatting.Conversions._

@choosePhotoHeadJs = {
  Egraphs.page.twitter_info = {handle:"@celeb.twitterUsername", name:"@celeb.name"};
  @headJs
}

@baseBody = {
  @photoSection

  <!-- Celebrity bio information -->
  <section id="content" role="contentinfo">

    <div id="main" class="sub">

      <div class="container celebrity-information">

        <div class="top clearfix">

          <header>

            <figure>
              <img src="@celeb.profileUrl" alt="FPO" />
            </figure>

            <div>

              <h1>@celeb.name</h1>
              <h2>@celeb.organization</h2>
              <h3>@celeb.roleDescription</h3>

            </div>

          </header>

          @{/** TODO: re-enable this if we do celebrity-level availability

            <footer class="product-availability">

            <p>Guaranteed Delivery: <strong>@celeb.deliveryDate.formatDayAsPlainLanguage</strong></p>

            <p>Quantity Available: <strong>@celeb.quantityAvailable</strong></p>

          </footer> <!-- end .product-availability --> */}

        </div> <!-- end .top -->

        <div class="middle clearfix">

          <div class="main">

            <div class="clearfix">

              <div class="bio">

                <h4>Biography</h4>
                <p>@Html(celeb.bio)</p>
              </div> <!-- end .bio -->

              <footer class="recently-purchased clearfix">

                <h4>Egraphs Recently Made By @celeb.name</h4>

                @for(egraph <- recentEgraphs) {
                <article>

                  <a href="@egraph.url">
                    <img src="@egraph.imageUrl"
                         alt="@egraph.productTitle for @egraph.ownersName" />
                  </a>

                  <h2><a href="@egraph.url">@egraph.productTitle</a></h2>
                  <p><a href="@egraph.url">for @egraph.ownersName</a></p>

                </article>
                }

              </footer> <!-- end .recently-purchased -->

            </div> <!-- end .clearfix -->

          </div> <!-- end .main -->

          <aside class="recent-tweets">

            <div>

              <h4>@celeb.name's Recent Tweets</h4>

              <div class="tweets"></div> <!-- end .tweets -->

            </div>

          </aside> <!-- end .recent-tweets -->

        </div> <!-- end .middle -->

        <!-- List icons of partnered organizations if they exist -->
        @if(!partnerIcons.isEmpty) {
          <footer class="bottom">

            <ul class="celebrity-partnerships clearfix">
              @for(icon <- partnerIcons) {
                <li><a href="@icon.link"><img src="@icon.imageUrl" alt="@icon.partnerName" /></a></li>
              }
            </ul> <!-- end .celebrity-partnerships -->

          </footer> <!-- end .bottom -->
        }
        <!-- <p class="to-top"><a href="#top">Back to Top</a></p> -->

      </div> <!-- end .celebrity-information -->

    </div> <!-- end #main -->

  </section> <!-- end #content -->
}

@base_celebrity_storefront_template(
  title=title + " | " + celeb.name,
  jsMain=jsMain,
  headJs=choosePhotoHeadJs,
  body=baseBody
)