@(title: String, headJs: => Html = Html.empty, jsMain: String = "", body: => Html)(
  implicit headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData,
  storefrontBreadcrumbs: models.frontend.storefront.StorefrontBreadcrumbs = null
)

@{/**
   Renders the base template for the Celebrity Storefront. This includes all breadcrumbs.

   For all variables see base_template.scala.html, to which this template almost wholely
   delegates.
*/}

@baseBody = {
  <div class="breadcrumbs">
    <div class="container">
      <ol class="clearfix">
        @{/** Iterate over the breadcrumbs, setting the right classes for active/previous/first */}
        @for((crumb, index) <- storefrontBreadcrumbs.indexed) {
          <li class="@if(index == 1) {first} @if(crumb.isActive) {active} @if(crumb.isAdjacentPreviousToActive) {previous}">
            @{/** Only wrap in an anchor if there was a URL, which indicates that the form has been completed */}
            @for(url <- crumb.url) {<a href="@url">}
              <span><strong><span>Step</span>@index</strong> @crumb.name</span> <small>&raquo;</small></a>
            @for(url <- crumb.url) {</a>}
            </li>
          </li>
        }
      </ol>
    </div>
  </div>  <!-- end .breadcrumbs -->

  @body
}


@base_template(
  title=title,
  jsMain=jsMain,
  headJs=headJs,
  body=baseBody
)