@()(
implicit session: play.mvc.Scope.Session,
headerData: models.frontend.header.HeaderData,
footerData: models.frontend.footer.FooterData
)
@import views.frontend.Utils
@import models.frontend.egraphs._
@import views.frontend.Utils.cdnAsset

@baseBody = {

<section id="content" role="main">
  <div id="main" class="about-us statics">
    <div class="row-fluid">
      <div class="span12 masthead-static">
        <img src='@cdnAsset("public/images/about-us.jpg")'/>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <h1>Careers</h1>
          <p>
            Egraphs was founded in September 2011 with the goal of connecting stars and their fans on a deeper, more personal level. In July 2012, we launched <a href="https://www.egraphs.com">www.egraphs.com</a> and our first product, an egraph.  It's a shared moment between a star and fan that's captured forever - think of it as a next-generation autograph that includes both a personal handwritten note and voice message from the star to the fan. Egraphs are authenticated, shareable, enduring, and currently available from over 130 Major League Baseball players. We seek to change the way fans connect with their stars by building products with global potential. You can read about our launch in <a href="http://espn.go.com/blog/playbook/fandom/post/_/id/7783/egraphs-are-the-autographs-of-the-future">this ESPN article</a>.
          </p>

          <h3>
            Openings:
          </h3>
          <ul>
            <li><a href="#devops">Developer Operations Engineer</a></li>
            <li><a href="#website-dev">Website Software Engineer</a></li>
            <li><a href="#ios-dev">iOS Software Engineer</a></li>
          </ul>
          <hr/>

          <h2>
            <a name="devops"></a>Developer Operations Engineer - Seattle, WA
          </h2>
          <p>
            Ours is a young website with strong growth trajectory. We seek an experienced developer operations engineer to help us deploy, monitor, and administer our growing footprint of servers and critical services, as well as improve overall site performance. At a glance, our current website architecture includes Scala on the Play framework, relational database clusters (master/replicas/backups), and Redis, all running on AWS.
          </p>
          <p>
            This is a chance to be one of the founding members of the Egraphs DevOps team. You will be working closely with a team of software engineers who believe in rational and transparent decisionmaking. Egos play no role here... humor plays a rather large role.
          </p>
          <p>Requirements:</p>
          <ul>
            <li>Extensive experience supporting web applications in production environments.</li>
            <li>Proficiency in a scripting languages and some familiarity with compiled languages.</li>
            <li>Expertise in modern deployment processes, including testing, git, and code reviews.</li>
            <li>Love for using the right tools for the job.</li>
            <li>Database administration experience is a plus.</li>
            <li>Computer Science degree or equivalent.</li>
            <li>Ready for a fun and wild ride.</li>
          </ul>
          <p>
            Please inquire at <a href="mailto:careers@@egraphs.com">careers@@egraphs.com</a> to learn more about this opportunity, our technology stack, our team and our company.
          </p>
          <hr/>

          <h2>
            <a name="website-dev"></a>Website Software Engineer - Seattle, WA
          </h2>
          <p>
            This is the startup firehose, the opportunity to tackle all the problems that a fast-growing software company faces while delivering delight to both our customers and our celebrity partners. Do you love making beautiful and responsive webpages? Do you want to design and implement the backend for a global marketplace with an eye for best practices? Do problems of scaling a cloud-based array of app servers and databases and caches excite you? This is what we work on, and we welcome you to find out more.
          </p>
          <p>
            Our team includes alums from Stanford, CMU, and Rice, and our previous work experience includes building other startups as well as running large-scale services at top technology firms.
          </p>
          <p>Requirements:</p>
          <ul>
            <li>Fluency in at least one programming language.</li>
            <li>Experience or interest in Scala and web development (HTML/CSS/Javascript) a plus.</li>
            <li>Demonstrated love for building software.</li>
            <li>Ability to self-manage. Our team process enables us to not have any formal management and this requires that all teammates be driven and empowered to do great work.</li>
            <li>Computer Science degree or equivalent.</li>
            <li>Ready for a fun and wild ride.</li>
          </ul>
          <p>
            We seek engineers of all levels of experience. Whether you have years of experience or just an eagerness to learn all aspects of building a compelling web business, apply now at <a href="mailto:careers@@egraphs.com">careers@@egraphs.com</a>.
          </p>
          <hr/>

          <h2>
            <a name="ios-dev"></a>iOS Software Engineer - Seattle, WA
          </h2>
          <p>
            This is the startup firehose, the opportunity to tackle all the problems that a fast-growing software company faces while delivering delight to both our customers and our celebrity partners. Do you want to build apps that are used by your favorite sports and music heroes? Do you love making beautiful user interfaces with an eye for best practices? Do you want to build responsive apps that interact with RESTful APIs? This is what we work on, and we welcome you to find out more.
          </p>
          <p>
            Our team includes alums from Stanford, CMU, and Rice, and our previous work experience includes building other startups as well as running large-scale services at top technology firms.
          </p>
          <p>Requirements:</p>
          <ul>
            <li>Must have at least one app on the store.</li>
            <li>Fluency in Objective-C.</li>
            <li>Up to date with ARC, modern Objective-C, and storyboarding.</li>
            <li>A solid understanding of MVC design.</li>
            <li>Experience with CoreData a plus.</li>
            <li>Experience with OpenGL-ES a plus.</li>
            <li>Demonstrated love for building software.</li>
            <li>Ability to self-manage. Our team process enables us to not have any formal management and this requires that all teammates be driven and empowered to do great work.</li>
            <li>Computer Science degree or equivalent.</li>
            <li>Ready for a fun and wild ride.</li>
          </ul>
          <p>
            Apply now at <a href="mailto:careers@@egraphs.com">careers@@egraphs.com</a>. Please include a link to an app you have made.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

}
@base_template(
title="Careers",
jsMain="",
body=baseBody
)