@(form: models.frontend.storefront.CheckoutFormView,
  summary: models.frontend.storefront.CheckoutOrderSummary,
  paymentJsModule: String = "yes-maam-payment",
  paymentPublicKey: String
)(
  implicit headerData: models.frontend.header.HeaderData, 
  footerData: models.frontend.footer.FooterData,
  storefrontBreadcrumbs: models.frontend.storefront.StorefrontBreadcrumbs,
  session: play.mvc.Scope.Session
)

@import models.frontend.forms.{Field, FormError}
@import views.frontend.tags.html.{storefront_breadcrumbs_responsive, bootstrap_text_input_field, bootstrap_input_field, safeForm}
@import frontend.formatting.MoneyFormatting.Conversions._
@import frontend.formatting.DateFormatting.Conversions._

@import views.frontend.tags

@headJs = {
  Egraphs.page.checkout = {
    paymentJsModule: "@paymentJsModule",
    paymentApiKey: "@paymentPublicKey",
    buyerPostalCodeFieldName: "@form.billing.postalCode.name",    
    productPriceInCents: @summary.total.getAmountMinor
  }
}

@baseBody = {
    <div id="content" class="top" role="main">
    
      <div id="main" class="sub">
      
        <section id="checkout" class="container" >
      
         @storefront_breadcrumbs_responsive()
            
          <header>  
            <h1>Checkout</h1>
            <h2>@summary.celebrityName | @summary.productName</h2>
          </header>
                    
          <div class="col2">
          
            <div class="clearfix">
          
              @safeForm("class" -> "main", "id" -> "checkout-form", "method" -> "post", "action" ->form.actionUrl) {
                <div class="order-overview">
                    
                    <figure>
                    
                      <img src="/public/images/fpo-egraph.png" alt="fpo-egraph" />
                    
                      <figcaption class="recipient-information">
                        A<span>. Recipient Information</span>
                      </figcaption>
                      
                      <figcaption class="egraph-message">
                        B<span>. Egraph Message</span>                      
                      </figcaption>
                      
                      <figcaption class="egraph-audio">
                        C<span>. Egraph Audio</span>                      
                      </figcaption>
                    
                    </figure>

                    <div class="order-summary">
                      @orderDetails
                    </div>
                    
                </div> <!-- end .order-overview -->
                
                @for(shipping <- form.shipping) {
                  <fieldset>
                  
                    <h3>Where do you want to ship your Egraph?</h3>
                    
                    @bootstrap_text_input_field("Full Name: ", shipping.fullName)
                    @bootstrap_text_input_field("Email:", shipping.email)
                    @bootstrap_text_input_field("Address:", shipping.address1)
                    @bootstrap_text_input_field("", shipping.address2)
                    @bootstrap_text_input_field("City:", shipping.city)

                    <div class="field state">
                      <div class="clearfix">
                        <label class="instructions" for="@shipping.state.name">State:</label>
                        <div class="input select control-group @shipping.state.ifError {error}">
                          <select data-placeholder="Choose a state..." id="@shipping.state.name" name="@shipping.state.name" class="chsn-select">
                            <option value></option>
                            @tags.geo.html.usstates(selected=shipping.state.value.getOrElse(""))
                          </select>
                          @for(error <- shipping.city.error) {
                            <div class="alert alert-error @shipping.state.ifError {error}">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              @error
                            </div>
                          }           
                        </div>
                      </div>
                    </div>

                    @bootstrap_text_input_field(
                      "Zip:",
                       shipping.postalCode,
                       inputClass="inline",
                       size=Some(10)                       
                    )

                    @{/** Disable shipping type until we support it.
                    <div class="field">
                      <div class="clearfix">
                        <label class="instructions" for="shipping-method">Shipping Method:</label>
                        <div class="input">
                          <p>
                            <select id="shipping-method" name="shipping-method">
                              <option value="standard">Standard: FREE Arrives 7-14 Days</option>
                            </select>
                          </p>
                          <p><small>Estimated arrival is based on the delivery date of the digital Egraph. You will be notified when the printed Egraph has been shipped. <a href="#">Questions?</a></small></p>
                        </div>
                      </div>
                    </div> <!-- end .field -->*/}
                                
                  </fieldset>
                }
  
                <fieldset class="last">
                
                  <h3>Billing Information</h3>

                  @for(shipping <- form.shipping) {
                    <div class="field inline">
                      <input type="checkbox"
                             id="billing-same" 
                             name="@shipping.billingIsSameAsShipping.name"
                             value="yes" 
                             @for(billingIsSame <- shipping.billingIsSameAsShipping; if billingIsSame) {checked}>
                      <label for="billing-same">My billing info is the same as my shipping.</label>
                    </div> <!-- end .field.inline-->
                  }

                  <div id="billing-info">
                    @bootstrap_text_input_field("Email:", form.billing.email)
                    @bootstrap_text_input_field(
                      "Full name:",
                      form.billing.fullName,
                      hint="As it appears on your card"
                    )
                    @bootstrap_text_input_field(
                      "Zip: ", 
                      form.billing.postalCode,
                      inputClass="inline",
                      size=Some(10)
                    )
                  </div> <!-- end #billing-info -->

                  @bootstrap_text_input_field(
                    "Card Number: ",
                    Field(name="stripe-card-number"),
                    omitName=true
                  )

                  <div class="field" >
                    <div class="clearfix">
                      <label class="instructions" for="card-exp-month">Exp. Date:</label>
                      <div class="input select card-expiry">
                        <select id="card-exp-month" class="inline chsn-select" data-placeholder="Month">
                          <option value></option>
                          <option value="01">January</option>
                          <option value="02">February</option>
                          <option value="03">March</option>
                          <option value="04">April</option>
                          <option value="05">May</option>
                          <option value="06">June</option>
                          <option value="07">July</option>
                          <option value="08">August</option>
                          <option value="09">September</option>
                          <option value="10">October</option>
                          <option value="11">November</option>
                          <option value="12">December</option>
                        </select>
                        <select id="card-exp-year" name="card-exp-year" class="inline chsn-select" data-placeholder="Year">
                          <option value></option>
                          @for(year <- 2012 until 2020) {
                            <option value="@year">@year</option>
                          }
                        </select>
                        <div class="alert alert-error hidden">
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                          <span class="error-message">Expiry date error</span>
                        </div>
                      </div>            
                    </div>
                  </div> <!-- end .field -->  
                                    
                  <div class="field add-bottom">
                    <div class="clearfix">
                      <label class="instructions" for="card-cvc">Security Code:</label>
                      <div class="input card-cvc">
                        <p>
                          <input id="card-cvc" type="text" name="card-cvc" class="inline" size="4">
                          <small><a href="#" class="tip">What's this?</a></small>
                          <div class="alert alert-error hidden">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <span class="error-message"></span>
                          </div>
                        </p>
                      </div>
                    </div>
                  </div> <!-- end .field -->
                  
                  <div class="general-errors">
                    <div class="alert alert-error offset1 span4 hidden">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <span class="error-message"></span>
                    </div>
                  </div>
                </fieldset>
                
                <fieldset class="submit">
                
                  <div class="clearfix">
                
                    @tags.html.arrow_button(caption="Finalize Order",
                     target="#",
                     classes="button right checkout-submit")
                  
                  </div>
                
                </fieldset>
                
              } <!-- end #checkout-form -->
              
              <aside>
              
                <div class="order-overview clearfix">
                    
                    <figure>
                    
                      <img src="/public/images/fpo-egraph.png" alt="fpo-egraph" />
                    
                      <figcaption class="recipient-information">
                        A<span>. Recipient Information</span>
                      </figcaption>
                      
                      <figcaption class="egraph-message">
                        B<span>. Egraph Message</span>                      
                      </figcaption>
                      
                      <figcaption class="egraph-audio">
                        C<span>. Egraph Audio</span>                      
                      </figcaption>
                    
                    </figure>
                      
                    <div class="order-summary">
                    
                      <h2>Summary</h2>
                      
                      @orderDetails
                      
                      <div class="order-totals">                      
                        <table>
                          <tr>
                            <th>Base price</th>
                            <td>@summary.basePrice.formatPrecisely</td>
                          </tr>
                          @for(printPrice <- summary.shipping) {
                            <tr>
                              <th>High-quality print</th>
                              <td>@printPrice.formatPrecisely</td>
                            </tr>
                          }
                          @for(taxPrice <- summary.tax) {
                            <tr>
                              <th>Tax</th>
                              <td>@taxPrice.formatPrecisely</td>
                            </tr>
                          }
                          <tr class="total">
                            <th>Total</th>
                            <td>@summary.total.formatPrecisely</td>
                          </tr>
                        </table>
                      </div>
                    
                    </div>
                  
                </div> <!-- end .order-overview -->
              
              </aside>
          
            </div> <!-- end .clearfix -->
            
            @tags.html.credit_cards_footer()        
          </div> <!-- end .col2 -->
        
        </section> <!-- end #checkout -->

      </div> <!-- end #main -->
    
    </div> <!-- end #content -->
}

@orderDetails = {
  <div class="celebrity-information">
    <h3>@summary.celebrityName</h3>
    <h4>@summary.productName</h4>
    <dl class="last">
      <dt><strong>A.</strong> Recipient's name</dt>
      <dd>@summary.recipientName</dd>
      <dt><strong>B.</strong> @summary.celebrityName will write</dt>
      <dd>@summary.messageText</dd>
      <dt><strong>C.</strong> @summary.celebrityName will record an audio message</dt>
    </dl>
  </div> 
}

@base_celebrity_storefront_template(
  title="Checkout",
  headJs=headJs,
  jsMain="pages/celebrity-storefront-checkout",
  body=baseBody
)