@()

@headJs = {
  Egraphs.page.twitter_info = {handle:"davidprice14", name:"David Price"};
}

@baseBody = {
  <section id="products">

    <div class="container">

      <div class="grid clearfix">

        <header class="clearfix">

          <ol>
            <li class="active"><span><strong><span>Step</span> 1</strong></li>
            <li><span><strong><span>Step</span> 2</strong></li>
            <li><span><strong><span>Step</span> 3</strong></li>
            <li><span><strong><span>Step</span> 4</strong></li>
          </ol>

          <h1><strong>1.</strong> Choose Photo</h1>

        </header>

        <article>

          <div class="thumb">

            <a href="#"><img src="http://placehold.it/340x200" alt="FPO" /></a>

          </div>

          <h2><a href="#">First MLB Victory &raquo;</a></h2>

          <p class="series">1 / 6</p>

          <p class="price">$100</p>

          <div class="orientation landscape">landscape size</div>

        </article>

        <article>

          <div class="thumb">

            <a href="#"><img src="http://placehold.it/340x200" alt="FPO" /></a>

          </div>

          <h2><a href="#">First MLB Victory &raquo;</a></h2>

          <p class="series">2 / 6</p>

          <p class="price">$100</p>

          <div class="orientation portrait">portrait size</div>

        </article>

        <article>

          <div class="thumb">

            <a href="#"><img src="http://placehold.it/340x200" alt="FPO" /></a>

          </div>

          <h2><a href="#">First MLB Victory &raquo;</a></h2>

          <p class="series">3 / 6</p>

          <p class="price">$100</p>

          <div class="orientation landscape">landscape size</div>

        </article>

        <article>

          <div class="thumb">

            <a href="#"><img src="http://placehold.it/340x200" alt="FPO" /></a>

          </div>

          <h2><a href="#">First MLB Victory &raquo;</a></h2>

          <p class="series">4 / 6</p>

          <p class="price">$100</p>

          <div class="orientation landscape">landscape size</div>

        </article>

        <article>

          <div class="thumb">

            <a href="#"><img src="http://placehold.it/340x200" alt="FPO" /></a>

          </div>

          <h2><a href="#">First MLB Victory &raquo;</a></h2>

          <p class="series">5 / 6</p>

          <p class="price">$100</p>

          <div class="orientation portrait">portrait size</div>

        </article>

        <article>

          <div class="thumb">

            <a href="#"><img src="http://placehold.it/340x200" alt="FPO" /></a>

          </div>

          <h2><a href="#">First MLB Victory &raquo;</a></h2>

          <p class="series">6 / 6</p>

          <p class="price">$100</p>

          <div class="orientation landscape">landscape size</div>

        </article>

      </div> <!-- end .grid -->

    </div> <!-- end .container -->

  </section> <!-- end #products -->

  <section id="content" role="main">

    <div id="main" class="sub">

      <div class="container celebrity-information">

        <div class="top clearfix">

          <header>

            <figure>
              <img src="http://placehold.it/80x100" alt="FPO" />
            </figure>

            <div>

              <h1>David Price</h1>
              <h2>Major League Baseball</h2>
              <h3>Pitcher, Tampa Bay Rays</h3>

            </div>

          </header>

          <footer class="product-availability">

            <p>Guaranteed Delivery: <strong>June 19, 2012</strong></p>

            <p>Quantity Available: <strong>4</strong></p>

          </footer> <!-- end .product-availability -->

        </div> <!-- end .top -->

        <div class="middle clearfix">

          <div class="main">

            <div class="clearfix">

              <div class="bio">

                <h4>Biography</h4>

                <p>Hoping to make his 3rd straight All-Star game appearance in 2012, David Price is one of the American League's most formidable pitchers. With 31 wins and a X.XX ERA over the past 2 seasons, Price's numbers stack up with just about any pitcher in the majors. He's off to a fast start this year &ndash; expect him to be leading the way for the Rays down the stretch come October.</p>

                <p>Interesting fact: David Price is nearly inseparable with his French Bulldog, Astro. In fact, when the Rays decided to give away an action figure of Price, he insisted that they create one for Astro, too. Word. Oh, and in case you're wondering, yes, we are looking into whether or not Astro will create egraphs for his fans. We'll keep you posted.</p>

              </div> <!-- end .bio -->

              <footer class="recently-purchased clearfix">

                <h4>Recently Purchased David Price Egraphs</h4>

                <article>

                  <a href="#"><img src="http://placehold.it/340x200" alt="FPO" /></a>

                  <h2><a href="#">Image Title Here</a></h2>
                  <p><a href="#">Owners Name</a></p>

                </article>

                <article>

                  <a href="#"><img src="http://placehold.it/340x200" alt="FPO" /></a>

                  <h2><a href="#">Image Title Here</a></h2>
                  <p><a href="#">Owners Name</a></p>

                </article>

                <article>

                  <a href="#"><img src="http://placehold.it/340x200" alt="FPO" /></a>

                  <h2><a href="#">Image Title Here</a></h2>
                  <p><a href="#">Owners Name</a></p>

                </article>

              </footer> <!-- end .recently-purchased -->

            </div> <!-- end .clearfix -->

          </div> <!-- end .main -->

          <aside class="recent-tweets">

            <div>

              <h4>David's Recent Tweets</h4>

              <div class="tweets"></div> <!-- end .tweets -->

            </div>

          </aside> <!-- end .recent-tweets -->

        </div> <!-- end .middle -->

        <footer class="bottom">

          <ul class="celebrity-partnerships clearfix">
            <li><a href="#"><img src="http://placehold.it/100x50" alt="FPO" /></a></li>
            <li><a href="#"><img src="http://placehold.it/100x50" alt="FPO" /></a></li>
            <li><a href="#"><img src="http://placehold.it/100x50" alt="FPO" /></a></li>
            <li><a href="#"><img src="http://placehold.it/100x50" alt="FPO" /></a></li>
          </ul> <!-- end .celebrity-partnerships -->

        </footer> <!-- end .bottom -->

        <!-- <p class="to-top"><a href="#top">Back to Top</a></p> -->

      </div> <!-- end .celebrity-information -->

    </div> <!-- end #main -->

  </section> <!-- end #content -->
}

@base_celebrity_storefront_template(
  title="Choose a photo",
  headJs=headJs,
  jsMain="pages/celebrity-storefront-tiled",
  body=baseBody
)