@(model: models.frontend.storefront.FinalizeViewModel)(
  implicit headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData,
  storefrontBreadcrumbs: models.frontend.storefront.StorefrontBreadcrumbs,
  session: play.mvc.Scope.Session
)

@import views.frontend.tags.html.storefront_breadcrumbs_responsive
@import views.frontend.tags

@headJs = {
  Egraphs.page.finalize = {
    paymentJsModule: "@model.billing.paymentJsModule",
    cardtoken: "@model.billing.paymentToken",
    paymentApiKey: "@model.billing.paymentApiKey"
  }
}


@baseBody = {
    <div id="content" class="top" role="main">
    
      <div id="main" class="sub">
      
        <section id="checkout" class="container" >
			
				 @storefront_breadcrumbs_responsive()
				 		
  				<header>	
  				  <h1>Finalize Order</h1>
  				  <h2>@model.personalization.celebName | @model.personalization.productTitle</h2> 
  				</header>
  				  				
					<div class="col2">
					
						<div class="finalize clearfix">
					
	    				<form class="main" method="post" action="./">

	    					<div class="order-overview">
	    						  
	    						  <figure>
	    						  
	    						  	<img src="/public/images/fpo-egraph.png" alt="fpo-egraph" />
	    						  
	    						  	<figcaption class="recipient-information">
	    						  		A<span>. Recipient Information</span>
	    						  	</figcaption>
	    						  	
	    						  	<figcaption class="egraph-message">
	    						  		B<span>. Egraph Message</span>	    						  	
	    						  	</figcaption>
	    						  	
	    						  	<figcaption class="egraph-audio">
	    						  		C<span>. Egraph Audio</span>	    						  	
	    						  	</figcaption>
	    						  
	    						  </figure>

	    						  <div class="order-summary">
		    				  		@orderDetails		    				  	
		    				  	</div>
	    						  
	    					</div> <!-- end .order-overview -->
	    					
	    					@for(shipping <- model.shipping) {
		    				  <fieldset>
		    				  
			    					<h3>Shipping Information</h3>

			    					<div class="field clearfix">

			    				  	<div class="left">
			    				  	  <ul>
			    				  	    <li><strong>@shipping.name</strong></li>
			    				  	    <li>@shipping.email</li>
			    				  	  </ul>

			    				  	</div>
			    				  
			    				  	<div class="right">
			    				  		<address>
			    				  			@shipping.addressLine1<br />
			    				  			@for(line2 <- shipping.addressLine2) {
			    				  				@line2<br />
			    				  			}
			    				  			@shipping.city, @shipping.state, @shipping.postalCode<br />
			    				  		</address>

												<!--<ul>
													<li>Standard: FREE</li>
													<li>Arrives 7-14 Days</li>
												</ul>-->
			    				  	</div>
		    				  	
			    					</div>

	    				  		<p><a href="@shipping.editUrl">Edit</a></p>

		    				  </fieldset>
	    				  }
	
	    				  <fieldset class="last">
	    				  
	    				  	<h3>Billing Information</h3>

	    				  	<div class="field clearfix">

		    				  	<div class="left">
		    				  		<ul>
		    				  			<li><strong>@model.billing.name</strong></li>
												<li>@model.billing.email</li>
		    				  		</ul>
		    				  	</div>
		    				  
		    				  	<div class="right">
											<ul>
												<li class="credit-card">Loading payment info...</li>
												<li>@model.billing.postalCode</li>
											</ul>
		    				  	</div>	

	    				  	</div>    				  	

  				  		  <p><a href="@model.billing.editUrl">Edit</a></p>

	    				  	
	    				  </fieldset>
	    				  
	    				  <fieldset class="submit">
	    				  
	    				  	<div class="clearfix">

	    				  		<p>If all information is correct, click <strong>purchase</strong> to get @model.personalization.celebName started on your egraph.</p>
	    				  	
 	    				 			@tags.html.arrow_button(
 	    				 			  caption="Purchase",
 	    				 			  target=model.purchaseUrl,
 	    				 			  classes="button right"
 	    				 			)
 	    				 			
	    				  	</div>
	    				  
	    				  </fieldset>
	    				  
	    				</form> <!-- end .main -->
	    				
	    				<aside>
	    				
	    					<div class="order-overview clearfix">
	    						  
	    						  <figure>
	    						  
	    						  	<img src="/public/images/fpo-egraph.png" alt="fpo-egraph" />
	    						  
	    						  	<figcaption class="recipient-information">
	    						  		A<span>. Recipient Information</span>
	    						  	</figcaption>
	    						  	
	    						  	<figcaption class="egraph-message">
	    						  		B<span>. Egraph Message</span>	    						  	
	    						  	</figcaption>
	    						  	
	    						  	<figcaption class="egraph-audio">
	    						  		C<span>. Egraph Audio</span>	    						  	
	    						  	</figcaption>
	    						  
	    						  </figure>
	    						  	
		    				  	<div class="order-summary">
		    				  	
		    				  		<h2>Summary</h2>
											
											@orderDetails

											@tags.html.storefront_price_summary(
											  model.price.base,
											  model.price.physicalGood,
											  model.price.tax,
											  model.price.total
											)
     		    				  	
		    				  	</div>
		    				  
	    					</div> <!-- end .order-overview -->
	    				
	    				</aside>
	  			
						</div> <!-- end .finalize -->
						
						@tags.html.credit_cards_footer()
  			
  				</div> <!-- end .col2 -->
  			
        </section> <!-- end #checkout -->

    	</div> <!-- end #main -->
    
    </div> <!-- end #content -->
}

@orderDetails = {
  @tags.html.storefront_order_details(
  	model.personalization.celebName, 
    model.personalization.productTitle, 
    model.personalization.recipientName, 
    model.personalization.messageText,
    Some(model.personalization.editUrl)
  )
}

@base_celebrity_storefront_template(
  title="Finalize Order",
  jsMain="pages/celebrity-storefront-finalize",
  headJs=headJs,
  body=baseBody
)