@(celebrityName: String,
  productTitle: String,
  celebrityWillWrite: String,
  recipientName: String,
  noteToCelebrity: Option[String],
  basePrice: org.joda.money.Money,
  guaranteedDelivery: java.util.Date,
  highQualityPrintParamName: String,
  highQualityPrint: Boolean,
  actionUrl: String
)(
  implicit headerData: models.frontend.header.HeaderData, 
  footerData: models.frontend.footer.FooterData,
	storefrontBreadcrumbs: models.frontend.storefront.StorefrontBreadcrumbs,
	session: play.mvc.Scope.Session
)

@{/** The review order page in the purchase flow. This is also where they choose whether to
      buy a physical print or not.

      celebrityName - the name of the celebrity
      productTitle - the title of the celebrity
      celebrityWillWrite - what the celebrity will write, or a description
          of what he will write.
      recipientName - who will be receiving the egraph
      noteToCelebrity - a short letter from the buyer to the celebrity.
      basePrice - the base price of the product being purchased
      guaranteedDelivery - date by which the recipient will be guaranteed to
          receive their egraph.
      highQualityPrintParamName - the parameter name to use when posting the
          user's choice relative to whether to buy a high-quality print or not.
      highQualityPrint - whether to check or not to check the print option check
          box by default
      actionUrl - the target at which to post the selected printing option.
*/}

@import frontend.formatting.MoneyFormatting.Conversions._
@import frontend.formatting.DateFormatting.Conversions._
@import views.frontend.tags.html.storefront_breadcrumbs_responsive
@import views.frontend.tags

@baseBody = {
    <div id="content" class="top" role="main">
    
      <div id="main" class="sub">
      
        <section id="checkout" class="container">
			
				 @storefront_breadcrumbs_responsive()
				 		
  				<header>	
  				  <h1>Review Order</h1>
  				  <h2>@celebrityName | @productTitle</h2>
  				</header>

  				<div class="review clearfix">

	  				<figure>
									
							<img src='@asset("public/images/fpo-egraph.png")' alt="fpo-egraph" />
						
							<figcaption class="egraph-message left">
							
								<h2><strong>A.</strong> @celebrityName will write <span>&raquo;</span></h2>
								
								<p>@celebrityWillWrite</p>
							
							</figcaption>

							<figcaption class="recipient-name right">
							
								<h2><strong>B.</strong> Recipient's Name <span>&raquo;</span></h2>
								
								<p>@recipientName</p>
							
							</figcaption>
						
						</figure>
	
	  				@tags.html.safeForm("action" ->  actionUrl, "method" -> "post", "class" -> "wrap") {
	  				
	  					<div class="clearfix">

			  				<p class="price right">@basePrice.formatSimply</p>
	  				
			  				<div class="left">
			  				
			  					<h2>Your message to @celebrityName:</h2>
			  				
			  					<p>@noteToCelebrity.getOrElse {<i>None provided</i>}</p>
			  				
			  				</div>
		  				
	  					</div>
		  				
	  					<fieldset class="left">
	  					
	  						<label>Would you like to order a high quality print of your Egraph?</label>
	  						<p><input id="order-print" 
	  						          type="checkbox" 
	  						          name="@highQualityPrintParamName" 
	  						          value="yes" @if(highQualityPrint) {checked}></p>
	  					
	  					</fieldset>
	  					
	  					<fieldset class="right">
	  					
	  						<p>Expected Delivery By:<br /> <strong>@guaranteedDelivery.formatDayAsPlainLanguage</strong></p>
	  					
	  						@tags.html.arrow_button(caption="Checkout", classes="button")
	  					
	  					</fieldset>
						
	  				} <!-- end .wrap -->

  				</div> <!-- end .review -->
 			
        </section> <!-- end #checkout -->

    	</div> <!-- end #main -->
    
    </div> <!-- end #content -->
}

@base_celebrity_storefront_template(
  title="Review Order",
  jsMain="pages/celebrity-storefront-review",
  body=baseBody
)
