@()(implicit headerData: models.frontend.header.HeaderData, 
  footerData: models.frontend.footer.FooterData)

@import views.frontend.tags.html.storefront_breadcrumbs_responsive
@import views.frontend.tags

@baseBody = {
    <div id="content" class="top" role="main">
    
      <div id="main" class="sub">
      
        <section id="checkout" class="container">
			
				 @storefront_breadcrumbs_responsive()
				 		
  				<header>	
  				  <h1>How Would You Like To Checkout?</h1>
  				</header>

  				<div class="row login clearfix">
  				
  					<section class="span4">
  					
  						<form action="./" method="post">
  						
  							<h2>Egraphs Account</h2>
  							
  							<div class="clearfix">
  							
	  							<fieldset>
	  				
										<legend>Sign In</legend>
										
										<p>
											<label>Username:</label>
											<input type="text" name="user"> 
										</p>
										
										<p>
											<label>Password:</label>
											<input type="password" name="pass"> 
										</p>
										
										<p class="account-actions"><small><a href="#" class="tip">Forgot your username or password?</a></small>
										
										<em>&ndash; or &ndash;</em>
										
										<a href="#" class="create-account">Create Account <span>&gt;</span></a></p>
										
	  							</fieldset>
								
  							</div>
								
								@tags.html.arrow_button(caption="Sign In", target="#", classes="button")					
  				
  						</form>
  				
  					</section>

  					<section class="span4">
  					
	  					<form action="./" method="post">
	  					
	  						<h2>Guest Checkout</h2>
	  						
	  						<div class="clearfix">
		  				
									<p>There is no log-in required to checkout as a guest. Creating an account will provide you with the following features:</p>
	
									<ul>
										<li>Info on upcoming featured stars</li>
										<li>Express checkout</li>
										<li>Save and share your Egraphs in myGallery</li>   
									</ul>
								
	  						</div>
								
								@tags.html.arrow_button(caption="Continue", target="#", classes="button")		
							
							</form>			
  				
  					</section>
  					
   					<section class="span4">
   					
	   					<form action="./" method="post" class="last">
	   					
	   						<h2>Login with Facebook</h2>
	  				
	   						<div class="clearfix">
	  				
									<p>By choosing this option, you’ll be lorem ipsum dolor et ataepa. Vesti bulum et blandit quam. Viva museo tortor erat. Pellent esque magna et tellus, congue at fermentum in.</p>  
								
	   						</div>					
	  				
								@tags.html.arrow_button(caption="Facebook", target="#", classes="button facebook")
							
							</form>
  				
  					</section>
  				
  				</div> <!-- end .login -->

					<footer class="clearfix">
					
						<p>Secured by: <a href="#" class="logo-entrust">Entrust</a></p>
						
						<p>Accepted payment types:</p>
						
						<ul>
							<li class="visa">Visa</li>
							<li class="mastercard">Mastercard</li>
							<li class="amex">American Express</li>
							<li class="discover">Discover</li>
						</ul>
							
					</footer>
  			
        </section> <!-- end #checkout -->

    	</div> <!-- end #main -->
    
    </div> <!-- end #content -->
}

@base_celebrity_storefront_template(
  title="Login",
  jsMain="pages/celebrity-storefront-login",
  body=baseBody
)