<html>

	<head>
	
		<title>Egraphs | View Egraph</title>
		<meta name="robots" content="noindex,nofollow">
	
	</head>
	
	<body style="margin: 0; padding: 0; background: #f0f0f0;">

		<table cellpadding="0" cellspacing="0" width="100%" bgcolor="#f0f0f0" style="width: 100%; background: #f0f0f0;">
		
			<tr>
				<td align="middle">
					<table cellpadding="0" cellspacing="0" width="600px" align="middle" bgcolor="#fafafa" background="http://egraphs.crashpaddesign.com/images/bg-email-main.jpg")' style="width: 600px; margin: 0 auto; background: #fafafa url('http://egraphs.crashpaddesign.com/images/bg-email-main.jpg') repeat-y 50% 0;">
						<tr>
							<td>
								<table cellpadding="0" cellspacing="0" width="100%" style="width: 520px; padding: 40px;">
									<tr>
										<td align="left" valign="top">
										
											<table cellpadding="0" cellspacing="0" width="100%" style="width: 100%;">
												<tr>
													<td width="450" align="left" valign="top">
														<a style="color: #ff5124; text-decoration: none; border: none; outline: none;" href="#"><img border="0" src='@asset("public/images/email-logo.jpg")' alt="Egraphs" width="120" height="75" /></a>
													</td>
													<td width="40px" valign="top">
														<a style="color: #ff5124; text-decoration: none; border: none; outline: none;" href="#"><img border="0" src='@asset("public/images/email-facebook.jpg")' alt="Egraphs on Facebook" width="30" height="30" /></a>
													</td>
													<td width="30px" valign="top">
														<a style="color: #ff5124; text-decoration: none; border: none; outline: none;" href="#"><img border="0" src='@asset("public/images/email-twitter.jpg")' alt="Egraphs on Twitter" width="30" height="30" /></a>
													</td>
												</tr>
												<tr>
													<td colspan="3">
														<img border="0" src='@asset("public/images/email-rule.gif")' width="520" height="20" />
													</td>
												</tr>
											</table>
											
											<p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">Hi Carlos,</p>
											
											<p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">It's me, Big Papi. I just finished putting the final touches on my egraph to you.
											Here it is: <a style="color: #ff5124; text-decoration: none; border: none; outline: none;" href="#">http://egraphs.com/gallery/carlosdiaz/davidortiz1</a>. I hope you enjoy
											it and share it with all of your friends and family. Thank you for connecting
											with me on Egraphs!</p>
											
											<p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">If you have any questions about your egraph, please let the Egraphs team
											know and they'll be happy to follow up. Their email is: <a style="color: #ff5124; text-decoration: none; border: none; outline: none;" href="mailto:support@@egraphs.com">support@@egraphs.com</a>.
											I don't have this email inbox set up yet, but I hopefully will soon!</p>
											
											<p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">In the meantime, thank you for being a loyal fan. It means a lot. Check back at
											<a style="color: #ff5124; text-decoration: none; border: none; outline: none;" href="#">egraphs.com</a> often for as I hope to have some cool, limited edition egraphs
											available soon.</p>
											
											<p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">Thanks,</p>
											
											<p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;"><img border="0" src='@asset("public/images/email-fpo-signature.gif")' alt="Big Pappi" width="166" height="83" /></p>
											
											<p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;"><a style="color: #ff5124; text-decoration: none; border: none; outline: none;" href="#" title="View your Egraph"><img border="0" src='@asset("public/images/email-btn-view-egraph.jpg")' alt="View your Egraph" width="156" height="35" /></a></p>
											
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<table cellpadding="0" cellspacing="0" width="600px" align="middle">
						<tr>
							<td><img border="0" src='@asset("public/images/email-bottom.jpg")' alt="email-bottom" width="600" height="30" /></td>
						</tr>
						<tr>
							<td align="middle">
								<p style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 12px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: center;">Copyright 2012 Egraph Corporation &nbsp; | &nbsp; 109 South Washington Street, Seattle, WA 98104</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		
		</table>
	
	</body>

</html>