@(viewEgraphUrl: String,
  celebrityName: String,
  recipientName: String,
  emailLogoSrc: String,
  emailFacebookSrc: String,
  emailTwitterSrc: String
)

@import views.frontend.tags

<html>
	<head>
		<title>Egraphs | View Egraph</title>
	</head>
	<body style="margin: 0; padding: 0; background: #f0f0f0;">
		<table cellpadding="0" cellspacing="0" width="100%" bgcolor="#f0f0f0" style="width: 100%; background: #f0f0f0;">
				<td align="middle">
					<table cellpadding="0" cellspacing="0" width="600px" align="middle" bgcolor="#fafafa" style="width: 600px; margin: 0 auto; background: #fafafa repeat-y 50% 0;">
						<!--<tr>-->
							<!--<td><img border="0" src='@asset("public/images/email-shim.gif")' width="520" height="40" /></td>-->
						<!--</tr>-->
						<tr>
							<td align="middle">
								<table cellpadding="0" cellspacing="0" width="520px" style="width: 520px;">
									<tr>
										<td align="left" valign="top">
                      @tags.email.html.email_header(emailLogoSrc, emailFacebookSrc, emailTwitterSrc)

											<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                        Hi @recipientName,
                      </p>

                      <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                        It's me, @celebrityName. I just finished putting the final touches on my egraph to you. Here it is:
                        <a style="color: #ff5124; text-decoration: none; border: none; outline: none;" href="@viewEgraphUrl">@viewEgraphUrl</a>.
                        I hope you enjoy it and share it with all of your friends and family. Thank you for connecting with me on Egraphs!
                      </p>

                      <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                        Your egraph is already in your account so you can manage your gallery and easily share with your friends. If you've never logged into your account, <a style="color: #ff5124; text-decoration: none; border: none; outline: none;" href="https://www.egraphs.com/account/recover">click here to set a password</a>.
                        Reach out to <a style="color: #ff5124; text-decoration: none; border: none; outline: none;" href="mailto:support@@egraphs.com">support@@egraphs.com</a> if you have any questions.
                      </p>
											
											<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                        In the meantime, thank you for being a loyal fan. It means a lot. Check back at
											<a style="color: #ff5124; text-decoration: none; border: none; outline: none;" href="https://www.egraphs.com">www.egraphs.com</a>
                        often as I hope to have some cool, limited edition egraphs available soon.</p>
											
											<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                        Thanks,
                      </p>

                      <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                        @celebrityName
                      </p>
											
											<!--<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">-->
                        <!--<img border="0" src='@asset("public/images/email-fpo-signature.gif")' alt="@celebrityName" width="166" height="83" />-->
                      <!--</p>-->
											
											<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                        <a href="@viewEgraphUrl" class=""><strong>View your Egraph</strong> <span>&raquo;</span></a>
                      </p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<!--<tr>-->
							<!--<td><img border="0" src='@asset("public/images/email-shim.gif")' width="520" height="40" /></td>-->
						<!--</tr>-->
					</table>
          @tags.email.html.email_footer()
				</td>
			</tr>
		</table>
	</body>
</html>