@(verifyPasswordUrl: String,
  emailLogoSrc: String,
  emailFacebookSrc: String,
  emailTwitterSrc: String
)

@import views.frontend.tags

<html>
	<head>
		<title>Egraphs | Account Verification</title>
	</head>
	<body style="margin: 0; padding: 0; background: #f0f0f0;">
		<table cellpadding="0" cellspacing="0" width="100%" bgcolor="#f0f0f0" style="width: 100%; background: #f0f0f0;">
			<tr>
				<td align="middle">
					<table cellpadding="0" cellspacing="0" width="600px" align="middle" bgcolor="#fafafa" style="width: 600px; margin: 0 auto; background: #fafafa repeat-y 50% 0;">
						<!--<tr>-->
							<!--<td><img border="0" src='@asset("public/images/email-shim.gif")' width="520" height="40" /></td>-->
						<!--</tr>-->
						<tr>
							<td align="middle">
								<table cellpadding="0" cellspacing="0" width="520px" style="width: 520px;">
									<tr>
										<td align="left" valign="top">
                      @tags.email.html.email_header(emailLogoSrc, emailFacebookSrc, emailTwitterSrc)

											<!--<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; line-height: 40px; color: #444444; text-shadow: 0 1px 0 #ffffff; text-align: left; margin-top: 0; margin-bottom: 0;">-->
                        <!--Please verify your email-->
                      <!--</p>-->
											<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 22px; font-weight: bold; color: #444444; text-shadow: 0 1px 0 #ffffff; text-align: left; margin-top: 0; margin-bottom: 10px;">
                        Please verify your email
                      </p>
											<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                        Here is your account! <a href="@verifyPasswordUrl">Click here to verify it.</a>
                      </p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<!--<tr>-->
							<!--<td><img border="0" src='@asset("public/images/email-shim.gif")' width="520" height="40" /></td>-->
						<!--</tr>-->
					</table>
          @tags.email.html.email_footer()
				</td>
			</tr>
		</table>
	</body>
</html>