@(buyerName: String,
  recipientName: String,
  recipientEmail: String,
  celebrityName: String,
  productName: String,
  orderDate: String,
  orderId: String,
  pricePaid: String,
  deliveredyDate: String,
  emailLogoSrc: String,
  emailFacebookSrc: String,
  emailTwitterSrc: String
)

@import views.frontend.tags

<html>
	<head>
		<title>Egraphs | Order Confirmation</title>
	</head>
	<body style="margin: 0; padding: 0; background: #f0f0f0;">
		<table cellpadding="0" cellspacing="0" width="100%" bgcolor="#f0f0f0" style="width: 100%; background: #f0f0f0;">
			<tr>
				<td align="middle">
					<table cellpadding="0" cellspacing="0" width="600px" align="middle" bgcolor="#fafafa" background='@asset("public/images/email-bg-main.jpg")' style="width: 600px; margin: 0 auto; background: #fafafa url('@asset("public/images/email-bg-main.jpg")') repeat-y 50% 0;">
						<!--<tr>-->
							<!--<td><img border="0" src='@asset("public/images/email-shim.gif")' width="520" height="40" /></td>-->
						<!--</tr>-->
						<tr>
							<td align="middle">
								<table cellpadding="0" cellspacing="0" width="520px" style="width: 520px;">
									<tr>
										<td align="left" valign="top">
											@tags.email.html.email_header(emailLogoSrc, emailFacebookSrc, emailTwitterSrc)

											<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; line-height: 40px; color: #444444; text-shadow: 0 1px 0 #ffffff; text-align: left; margin-top: 0; margin-bottom: 0;">
                        Order Confirmation
                      </p>
											<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 22px; font-weight: bold; color: #444444; text-shadow: 0 1px 0 #ffffff; text-align: left; margin-top: 0; margin-bottom: 10px;">
                        Order Number: @orderId
                      </p>
											<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                        Hi @buyerName,
                      </p>
											<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                        Thank you so much for purchasing an Egraph. Please find your order summary information below. A detailed summary of your order is also at
                        <a style="color: #ff5124; text-decoration: none; border: none; outline: none;" href="https://www.egraphs.com">www.egraphs.com</a>.
                      </p>
											<!--<img border="0" src='@asset("public/images/email-rule-content.gif")' width="520" height="42" />-->
											<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 22px; font-weight: bold; color: #444444; text-shadow: 0 1px 0 #ffffff; text-align: left; margin-top: 0; margin-bottom: 10px;">
                        ORDER DETAILS
                      </p>
											<table cellpadding="0" cellspacing="0" width="100%">
												<tr>
													<th align="left">
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              Egraph Order Date:
                            </p>
													</th>
													<td>
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              @orderDate
                            </p>
													</td>
												</tr>
												<tr>
													<th align="left">
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              Egraph Purchased by:
                            </p>
													</th>
													<td>
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              @buyerName
                            </p>
													</td>
												</tr>
												<tr>
													<th align="left">
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              Egraph Owner:
                            </p>
													</th>
													<td>
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              @recipientName
                            </p>
													</td>
												</tr>
												<tr>
													<th align="left">
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              Owner's Email:
                            </p>
													</th>
													<td>
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              @recipientEmail
                            </p>
													</td>
												</tr>
												<tr>
													<th align="left">
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              Celebrity:
                            </p>
													</th>
													<td>
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              @celebrityName
                            </p>
													</td>
												</tr>
												<tr>
													<th align="left">
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              Image Name:
                            </p>
													</th>
													<td>
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              @productName
                            </p>
													</td>
												</tr>
												<tr>
													<th align="left">
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              Order Number:
                            </p>
													</th>
													<td>
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              @orderId
                            </p>
													</td>
												</tr>
												<tr>
													<th align="left">
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              Price:
                            </p>
													</th>
													<td>
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              @pricePaid
                            </p>
													</td>
												</tr>
												<tr>
													<th align="left">
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              Expected Delivery By:
                            </p>
													</th>
													<td>
														<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
                              @deliveredyDate
                            </p>
												  </td>
												</tr>
											</table>
											<!--<img border="0" src='@asset("public/images/email-rule-content.gif")' width="520" height="42" />-->
											<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">Thank you,<br />
                        The Egraphs Team
                      </p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<!--<tr>-->
							<!--<td><img border="0" src='@asset("public/images/email-shim.gif")' width="520" height="40" /></td>-->
						<!--</tr>-->
					</table>
          @tags.email.html.email_footer()
				</td>
			</tr>
		</table>
	</body>
</html>