@()(
implicit session: play.mvc.Scope.Session,
headerData: models.frontend.header.HeaderData,
footerData: models.frontend.footer.FooterData
)
@import views.frontend.Utils
@import models.frontend.egraphs._

@baseBody = {

<section id="content" role="main">
  <div id="main" class="about-us statics">
    <div class="row-fluid">
      <div class="span12 masthead-static">
        <img src="/public/images/landing-masthead.jpg"/>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <h1>Frequently Asked Questions</h1>
          <h2>
            <a name="what-is"></a>What is an egraph?
          </h2>
          <p>
            An egraph is a shared moment between you and your star, captured forever. It is the next generation autograph. It starts with you writing a message to the star. Your star will personally read this message on their iPad. Then, based on what you requested for your egraph, your star will create an authenticated written and audio message just for you. No two egraphs are alike. Each one looks and sounds different—your egraph was created just for you (or your gift recipient) based on your original message to the star.
          </p>
					<h2>
            <a name="egraphs"></a>How does Egraphs bring the stars to you?
          </h2>
          <p>
            It begins when stars tell us they want to create egraphs for their fans. To begin, we make sure they are set up with an iPad and the Egraphs iPad app. It’s through the technology of the iPad that we’re able to bring you any star from anywhere in the world at any time. We enroll the stars in person, gathering voiceprints and handwriting samples. These are used later on to verify that the star you contacted is the one writing and recording an egraph for you. No middle men. No generic signed photographs.  Each egraph is unique and personal, created individually for you.
          </p>
          <h2>
            <a name="create"></a>How exactly does a star create an egraph?
          </h2>
          <p>
            Once you order an egraph, your request is routed to the Egraphs iPad app on your star’s iPad.  When the star has some time to connect with their fans, they will open up the Egraphs app. The first thing they see is your message. That’s important – this lets them know who you are and why you’re a fan. Then the star goes on to create the personalized written and voice message to you through their iPad. They use an iPad stylus to hand-write the messages, and they use the iPad’s microphone to record the audio message.
          </p>
          <h2>
            <a name="message"></a>What message can I send a star?
          </h2>
          <p>
            Anything! Well ... just about anything. You can tell the star how big a fan you are. Or that you went to the same high school. Or that you’re going to see him play when he comes to your town. It’s up to you. The only thing we ask is that your message is respectful to the star, just as we expect the star to be respectful in the written and audio messages they create for you. If your message doesn’t pass, we’ll kick it back to you to revise before we send it on to the star. For the full Terms of Use, <a href="/terms">click here</a>.
          </p>
          <h2>
            <a name="how-many"></a>How many egraphs are available from my star?  What happens if they sell out?
          </h2>
          <p>
            Each star agrees to create a certain number of egraphs in a specified period of time. Because each egraph is created individually, they can’t be rushed or mass-produced. That’s why a star will only agree to create a certain number at a time. They want to do it right. This can result in egraphs from a certain star selling out temporarily. When that happens, you’ll need to wait until the star decides to sign another batch. The celebrities set their own schedules for when and how many egraphs they sign.  If your favorite star’s egraphs are sold out, be sure to check back again soon on our website or follow <a href="http://www.twitter.com/egraphs">@@Egraphs</a> or your star on Twitter.
          </p>
          <h2>
            <a name="how-long"></a>How long will it be before I get my egraph?
          </h2>
          <p>
            Stars agree to create egraphs for fans in a timely manner. When you order your egraph, you will be given a date you can expect your egraph to be delivered by. If we foresee any issues with a star finishing your egraph by this date, we will let you know as soon as possible.
          </p>
          <h2>
            <a name="gift"></a>Can I give an egraph as a gift to someone else?
          </h2>
          <p>
            Yes, an egraph makes a great gift for a friend or family member. When ordering your egraph, be sure that you select ‘Yes’ where it asks “Is this a gift?” You’ll then be able to enter in the name and email address of the gift recipient.  When the star creates the egraph, the recipient will receive an email with information on how to view the completed egraph.
          </p>
					<h2>
            <a name="child"></a>The site terms say you have to be 13 to use the site. So can I give a gift to a child?
          </h2>
          <p>
            Assuming you have the parent's permission you can submit the egraph order with the name of the child, but the email address of the parent. In this case the parent will own the egraph and manage the privacy. Egraphs will transfer the ownership free of charge when the child is old enough to use the site.
          </p>
          <h2>
            <a name="new-stars"></a>How do I know when new stars are available on egraphs.com?
          </h2>
          <p>
            Follow us on Twitter: <a href="http://www.twitter.com/egraphs">@@Egraphs</a>.  We’ll let you know when we roll out new stars. Or, follow your favorite star on Twitter. When stars come on board, they’ll usually send out a message to their Twitter followers.
          </p>
          <h2>
            <a name="follow"></a>Where can I follow Egraphs online?
          </h2>
          <p>
            Twitter: <a href="http://www.twitter.com/egraphs">@@Egraphs</a>  We’ll keep you posted on all of the latest and greatest stars joining Egraphs, and
            other cool stuff.  Be ready for a special egraph the day after your favorite
            pitcher throws a no hitter!
          </p>
          <p>
            Facebook: <a href="http://www.facebook.com/egraphs">facebook.com/egraphs</a>  To learn more about who we are and what we’re
            doing.
          </p>
          <h2>
            <a name="question"></a>I have a question that isn’t answered here.  Who can I ask?
          </h2>
          <p>
            Email the Egraphs team at <a href="mailto:support@@egraphs.com">support@@egraphs.com</a> if you have further questions about buying an egraph.  We’d
            also love to hear any feedback you’d like to share with us at <a href="mailto:feedback@@egraphs.com">feedback@@egraphs.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

}
@base_template(
title="Frequently Asked Questions",
jsMain="",
body=baseBody
)