@()(
implicit session: play.mvc.Scope.Session,
headerData: models.frontend.header.HeaderData,
footerData: models.frontend.footer.FooterData
)
@import views.frontend.Utils
@import models.frontend.egraphs._

@baseBody = {

<section id="content" role="main">
  <div id="main" class="about-us">
    <div class="row-fluid">
      <div class="span12 masthead-static">
        <img src="/public/images/landing-masthead-1.jpg"/>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <h1>Frequently Asked Questions</h1>
          <h2>How does Egraphs  bring the stars to you?</h2>
          <p>
          Weeks before stars appear on our site, we talk to them about joining Egraphs.  Maybe they came across our
          website like you did. Maybe they saw their friends or teammates creating egraphs for their fans. However it
          was, these stars got wind of a new, personal, fun way to connect with fans, and they wanted in.

          Once the star is on board, we make sure they are set up with an iPad and the Egraphs iPad app.  It’s through
          the technology of the iPad that we’re able to bring you any star from anywhere in the world at any time.
          Think about being able to connect with your favorite star when he’s on the road touring in a far off part of
          the world – it’s  pretty incredible and totally real!
          </p>
          <h2>
          What is an egraph?
          </h2>
          <p>
            An egraph is a two-way, personalized interaction.  It starts with you writing a message to the star.  Your
            star will personally read it – it’s the first thing that’s displayed on the iPad when your star opens  it up
            to create your egraph.  Just knowing your message got through is a pretty cool thing.  Then, based on what
            you requested in your order, your star will create a 100% personalized, unique, and authenticated written
            and audio message just to you.  No two egraphs are alike.  Each one looks and sounds different – because
            each is one-of-a-kind!
          </p>
          <h2>
          How exactly does a star create an egraph?
          </h2>
          <p>
            Once you purchase an egraph, all of the information you submitted is sent to that star’s iPad.  When the
            star has some quiet time to connect with fans, he or she opens up the Egraphs application on the iPad.  The
            first thing the star sees is your message.  That’s important – so he knows who you are and anything else
            you’ve chosen to share.  Then the star goes on to create the personalized written and voice message to you.
            To do this, the star uses a stylus (a pen for the iPad) to write the note you submitted and then records a
            personal audio message to you through the iPad’s microphone.  Technology is incredible.
          </p>
          <h2>
          What message can I send a star?
          </h2>
          <p>
            Anything!  Well...just about anything. ☺ You can tell the star how big a fan you are.  Or that you went to the
            same high school.  Or that you’re going to see him  play when he comes to your town.  It’s up to you.  The
            only thing we ask is that your message is tasteful.  Be respectful to the star, just as we expect the star
            to be respectful in the written and audio messages he creates for you.  If your message doesn’t pass, we’ll
            kick it back to you to revise before we send it on to the star.  For the full Terms of Use, click here.
          </p>
          <h2>
          How many egraphs are available from my star?  What happens if they sell out?
          </h2>
          <p>
          Each star agrees to create a certain number of egraphs in a specified period of time.  Because egraphs are a
            one-to-one customized experience, they can’t be rushed or mass produced.  That’s why a star will only agree
            to create a certain number at a time.  They want to do it right.  That means there’s a limited amount.

          Once a star’s egraphs are sold out, you’ll need to wait until the star is able to sign another batch.  The
            celebrities will set their own schedules for when and how many egraphs they can sign, so if your favorite
            star is sold out, be sure to check back again soon on our website or follow
            <a href="http://www.twitter.com/egraphs">@@Egraphs</a> or your star on Twitter.
          </p>
          <h2>
          How long will it be before I get my egraph?
          </h2>
          <p>
          Stars agree to create egraphs for fans in a timely manner.  When you purchase your egraph, you will be given
            a date you can expect your egraph to be delivered by.  If we foresee any issues with a star finishing your
            egraph by this date, we will let you know as soon as possible with a later date.
          </p>
          <h2>
            Can I give an egraph as a gift to someone else?
          </h2>
          <p>
            Yes, an egraph makes a great gift for a friend or family member.  When ordering your Egraph, be sure that you
            select ‘Yes’ where it asks “Is this a gift?”  You’ll then be able to enter in the name and email address of
            the person you’re giving it to.  When the star creates the egraph, the recipient will receive an email with
            information on how to view the completed egraph.
          </p>
          <h2>
            How do I know when new stars are available on egraphs.com?
          </h2>
          <p>
            Follow us on Twitter: <a href="http://www.twitter.com/egraphs">@@Egraphs</a>.  We’ll let you know when we roll out new stars.  Or, follow your favorite
            star on Twitter.  When stars come on board, they’ll usually send out a message to their Twitter followers.
          </p>
          <h2>
            Where can I follow Egraphs online?
          </h2>
          <p>
            Twitter: <a href="http://www.twitter.com/egraphs">@@Egraphs</a>  We’ll keep you posted on all of the latest and greatest stars joining Egraphs, and
            other cool stuff like limited edition items.  Be ready for a special egraph the day after your favorite
            pitcher throws a no hitter!
          </p>
          <p>
            Facebook: <a href="http://www.facebook.com/egraphs">facebook.com/egraphs</a>  To learn more about who we are and what we’re
            doing.
          </p>
          <h2>
            I have a question that isn’t answered here.  Who can I ask?
          </h2>
          <p>
            Email the Egraphs team at <a href="mailto:support@@egraphs.com">support@@egraphs.com</a> if you have further questions about buying an egraph.  We’d
            also love to hear any feedback you’d like to share with us at <a href="mailto:feedback@@egraphs.com">feedback@@egraphs.com</a>  Or get in touch with us
            on Twitter or Facebook.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

}
@base_template(
title="Frequently Asked Questions",
jsMain="pages/inside-egraph",
body=baseBody
)