@(tableOfContents: List[models.frontend.contents.Section])(
implicit session: play.mvc.Scope.Session,
headerData: models.frontend.header.HeaderData,
footerData: models.frontend.footer.FooterData
)
@import views.frontend.Utils
@import views.frontend.Utils.cdnAsset
@import views.frontend.tags.html.physical_preview_modal
@import models.frontend.contents._




@baseBody = {

<section id="content" role="main" xmlns="http://www.w3.org/1999/html">
  <div id="main" class="inside-egraph statics">
    <div class="row-fluid">
      <div class="span12 masthead-static">
        <img src='@cdnAsset("public/images/contact-us.jpg")'/>
      </div>
    </div>
    @physical_preview_modal()
    <div class="container">
        <div class="row-fluid">
          <div class="span4">
            <div id="toc" class="toc">
            <ul>
              @for( s <- tableOfContents.map( t => t.renderHtml)){
                @Html(s)
               }
            </ul>
            </div>
          </div>
          <div class="span8">
            <h1>

              <a id="inside" class="toc-anchor"></a>
              Inside an egraph</h1>
            <div>
              <p>
                This page takes you inside the Egraphs product and technology.
              </p>
              <ol>
                <li>
                  The components of an egraph
                </li>
                <li>
                  The biometric authentication process
                </li>
                <li>
                  Enjoying and sharing your egraph 
                </li>
              </ol>
            </div>

            <div>
              <h2>
                <a id="what" class="toc-anchor">
                </a>
                What is an egraph?</h2>
              <div><p>
                An egraph is a shared moment between you and your favorite star. It is immortalized forever with a beautiful high resolution photograph, handwritten note, signature, and personalized voice message. It's his voice, his handwriting, his time — every egraph is one-of-a-kind.
                </p>

                <div>
                  <figure>
                    <div>
                    <img src='@cdnAsset("public/images/fpo-egraph-diagram.jpg")' alt="fpo-egraph-diagram" class="scale" />
                    </div>
                    <figcaption class="audio">

                      <p>An audio recording from your star<span>&raquo;</span></p>

                    </figcaption> <!-- end .audio -->

										<figcaption class="signature">

                      <p>A personalized message and hand-written signature from your star<span>&raquo;</span></p>

                    </figcaption> <!-- end .signature -->                    

                    <figcaption class="name">

                      <p>Authenticity information </p>

                    </figcaption> <!-- end .name -->
                    <figcaption>
                      <p>
                      <a href="#do">Want to know what you can do with an egraph?<span>&raquo;</span></a>
                      </p>
                    </figcaption>

                  </figure>
                </div>

              </div>
            </div>
            <div>
              <a id="biometric" class="toc-anchor"></a>
              <h2>The biometric authentication process</h2>
              <p>
                The first thing we do with any star is personally sit down with them to create a biometric fingerprint – a two-factor identification of their voice and signature profile. By doing this, we can verify that it’s that person creating egraphs for fans, no matter where they are in the world. 
              </p>
							<p>
                Getting a thorough biometric fingerprint used in verification is of the upmost importance to us. It’s the basis of the trust both fans and stars have in the authenticity of egraphs. 
              </p>
							<p>
							Here’s how we create the biometric fingerprint:
							</p> 
              <div class="diagram">
                <img src='@cdnAsset("public/images/voiceprint.png")'/>
              </div>
              <div class="callout">
                <h3>Voiceprint</h3>
                <p>
                  We collect audio samples from each star to create his voiceprint. Our technology extracts pitch, tone, cadence and other voice patterns that get turned into mathematical representations and statistical models. We store these representations in electronic format for use in authentication (see below).   
                </p>
              </div>
              <div class="diagram">
                <img src='@cdnAsset("public/images/signaturediagram.png")'/>
              </div>
              <div class="callout">
                <h3>Written signature profile</h3>
                <p>
                  Like the voiceprint, we collect in-person samples of the star’s signature. Our signature identification technology measures a person’s speed, rhythm, acceleration and movement when they sign their name on an iPad. Similar to the voiceprint, these are stored as complex algorithms for use in authentication (see below).
                </p>
              </div>
              <p>
                Authentication: When a star creates an egraph, we examine both the audio message and the written signature.  We match them to the star's biometric fingerprint in order to verify the creator of the egraph. After the voice message and signature pass our tests, the egraph immediately gets sent to the fan.  Rest assured we will not deliver any egraphs unless we're completely sure the star created the egraph.
              </p>
            </div>
            <div>
              <a id="do" class="toc-anchor"></a>
              <h2>Enjoying and sharing your egraph</h2>
              <p>
								Receiving an email directly from a player with a link to the egraph is just the beginning.  Here are all of the things that fans can do with their egraphs:
							</p>
              <ol>
                <li>
                  <span class="emphasis">Check out the egraph </span>in the digital gallery – the image, written message and audio recording.  Plus, you can view the authenticity details from when the egraph was created.
                </li>
                <li>
                  <span class="emphasis">Share it </span>with friends and family via your favorite social network. You can even tweet it back to the star and see what their reaction is. You never know what they’ll say and do. 
                </li>

                <li>
                  <span class="emphasis">Purchase a high quality framed print</span>. We offer a service that enables fans to order a beautiful,
                  <a data-toggle="modal" class="tip" href="#frame-preview" id="preview-shoutout">
                    framed egraph
                  </a>
                   – with the certificate of authenticity – to be shipped anywhere in the country.
                </li>
              </ol>
              <p>
                If you have other suggestions, we’d love to know! <br /> Email us your comments here:
                <a href="mailto:feedback@@egraphs.com">feedback@@egraphs.com</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

}

@base_template(
title="Inside an Egraph",
jsMain="pages/inside-egraph",
body=baseBody
)