@(featuredStars:Iterable[models.frontend.landing.FeaturedStar]
)(
  implicit headerData: models.frontend.header.HeaderData, 
  footerData: models.frontend.footer.FooterData
)

@{/** Consumer landing page

      featuredStars - the list of celebrities to feature.
*/}

@import views.frontend.tags

@featuredStarBlock(clearFix: Boolean) = {
  @for(starRow <- featuredStars.grouped(4).toList) {
    <div class="celebrities row">
      @if(clearFix) {<div class="clearfix">}

      @for(star <- starRow) {
        <article class="span3">
          <figure>
            @if(!star.hasInventoryRemaining) {
              <div class="ribbon simple">Sold out</div>
            }
            <a class="glowborder" href="@star.storefrontUrl" >
              <img src="@star.imageUrl" alt="@star.name" />              
            </a>
          </figure>

          <h4><a href="@star.storefrontUrl">@star.name &rsaquo;</a></h4>

          <p>@star.secondaryText</p>

        </article>        
      }

      @if(clearFix) {</div>}
    </div>
  }
}

@featuredStarsFooter = {
  <footer>
    <div id="featured-stars" class="callout">
      <h3>This Week's Featured Stars</h3>
      <p>Browse one of their galleries to get started making your own egraph.</p>
    </div>
    @featuredStarBlock(clearFix=false)
  </footer>
}

@baseBody = {
  @tags.landing.html.masthead_section()

  <section id="content" role="main">

    <div id="main">

      <div class="container">

        <footer id="landing-stars">
          <h3><a href="#featured-stars">This Week's Stars <span>+</span></a></h3>
          @featuredStarBlock(clearFix=true)
        </footer> <!-- end #landing-stars -->

        @tags.landing.html.welcome_header()

        @tags.landing.html.landing_steps()

        @tags.landing.html.landing_details()

        @tags.landing.html.landing_more(featureStarsFooter = Some(featuredStarsFooter))

        <p class="to-top"><a href="#top">Back to Top</a></p>

      </div> <!-- end .container -->

    </div> <!-- end #main -->

  </section> <!-- end #content -->
}

@base_template(
  title="Share a moment with your favorite star",
  jsMain="pages/landing",
  body=baseBody
)
