@(featuredStars:Iterable[models.frontend.landing.FeaturedStar]
)(
  implicit headerData: models.frontend.header.HeaderData, 
  footerData: models.frontend.footer.FooterData
)

@{/** Consumer landing page

      featuredStars - the list of celebrities to feature.
*/}

@featuredStarBlock(clearFix: Boolean) = {
  @for(starRow <- featuredStars.grouped(4).toList) {
    <div class="celebrities row">
      @if(clearFix) {<div class="clearfix">}

      @for(star <- starRow) {
        <article class="span3">

          <figure>
            <a href="@star.storefrontUrl"><img src="@star.imageUrl" alt="@star.name" /></a>
          </figure>

          <h4><a href="@star.storefrontUrl">@star.name &rsaquo;</a></h4>

          <p>@star.secondaryText</p>

        </article>        
      }

      @if(clearFix) {</div>}
    </div>
  }
}

@baseBody = {
  <section id="masthead-home" role="banner">

    <div class="banner-gradient">

      <div class="container">

        <div class="row">

          <div class="span6">

            <h1>What if you could have a minute with your star?</h1>

            <p><a href="#" class="button"><strong>Get Started</strong> <span>&raquo;</span></a></p>

          </div>

        </div>

      </div>

    </div> 

  </section> <!-- end #masthead-home -->

  <section id="content" role="main">

    <div id="main">

      <div class="container">

        <footer id="landing-stars">

          <h3><a href="#featured-stars">This Week's Stars <span>+</span></a></h3>

          @featuredStarBlock(clearFix=true)
          
        </footer> <!-- end #landing-stars -->

        <header id="landing-welcome" class="row">

          <div class="span6">

            <h1>With Egraphs you can.</h1>

            <p>
              An egraph is a direct line between
              you and your favorite star. Cut
              through the red tape and tell your
              star whatever you want. He’ll talk
              back to you. Your moment with him
              gets frozen in time through an
              egraph. Share it on your Facebook
              wall. Hang it on your bedroom
              wall. Do whatever you want<br />

              <em>&ndash; it’s your egraph.</em>
            </p>
          </div>

          <div class="span5 offset1">

            <img src='/public/images/intro-egraph.jpg' alt="intro-egraph">

          </div>

        </header> <!-- end #landing-welcome -->

        <section id="landing-steps">

          <header>

            <h1>Here's How It Works.</h1>

          </header>

          <ol>

            <li class="step-1 clearfix">

              <div class="instructions">

                <h2><strong>1.</strong> Select Your Celebrity's Photo</h2>

                <p>Your star hand-writes a personal message on every egraph, which is why each one starts with a hand selected, professional grade photo. Think of it like the poster or polaroid that you
                  stood in line to get autographed years ago.</p>

              </div> <!-- end .instructions -->

              <img src='@asset("/public/images/macbook-air.png")' alt="macbook-air" />

            </li> <!-- end .step-1 -->

            <li class="step-2 clearfix">

              <div class="instructions">

                <h2><strong>2.</strong> Write Your Star a Note</h2>

                <p>Everyone loves to be loved, and your star is no different. Remind him of your chance encounter at the supermarket. Ask him to wish you a happy birthday. Reveal your secret crush. <em>He will personally read every single word.</em></p>

                <p><small><a href="#">What can I write? &raquo;</a></small></p>

              </div> <!-- end .instructions -->

              <img src='@asset("/public/images/fpo-keyboard.png")' alt="keyboard" class="positioned" />

            </li> <!-- end .step-2 -->

            <li class="step-3 clearfix">

              <div class="instructions">

                <h2><strong>3.</strong> Your Star Responds into the Mic</h2>

                <p>Believe it or not, we book a block of your celebrity's time with your name on it, moments after you finish your note. This gives him plenty of time to find a quiet spot, hand-write you a response, and speak a short message just for you into his iPad's microphone.</p>

                <p><small><a href="#">How do I know it's really him? &raquo;</a></small></p>

              </div> <!-- end .instructions -->

              <img src='@asset("/public/images/bg-fpo-ipad.png")' alt="ipad" class="positioned" />

            </li> <!-- end .step-3 -->

          </ol>

        </section> <!-- end #landing-steps -->

        <section id="landing-details">

          <header>

            <div class="wrap">

              <h1>It's Your Egraph &ndash; Ready to Be Shared!</h1>

              <p>Your interaction with your star is a rare and unique experience that deserves to be enjoyed and shared. As soon as your celebrity finishes speaking, we capture his voice and script, making them available to you forever, timelessly, in a one-of-a-kind egraph.</p>

            </div> <!-- end .wrap -->

          </header>

          <div class="content">

            <div class="wrap clearfix">

              <figure>

                <img src='@asset("public/images/fpo-egraph-diagram.jpg")' alt="fpo-egraph-diagram" class="scale" />

                <figcaption class="signature">

                  <p>A personalized message and the <a href="#">digital signature</a> of your star <span>&raquo;</span></p>

                </figcaption> <!-- end .signature -->

                <figcaption class="audio">

                  <p>The audio <a href="#">recording</a> from your star <span>&raquo;</span></p>

                </figcaption> <!-- end .audio -->

                <figcaption class="name">

                  <p>Your Name <span>&raquo;</span></p>

                </figcaption> <!-- end .name -->

              </figure>

            </div> <!-- end .wrap -->

          </div> <!-- end .content -->

        </section> <!-- end #landing-details -->

        <section id="landing-more">

          <div class="actions row">

            <article class="view span4">

              <h2><a href="#">Viewing Your Egraph</a></h2>

              <p>Consectetur adipiscing elit. Cras aliquet, sem sed rutrum dignissim, magna enim eta pretium ante. Rutrum dignissim, magna enim. <a href="#">Learn More &raquo;</a></p>

            </article> <!-- end .view -->

            <article class="print span4">

              <h2><a href="#">Printing Your Egraph</a></h2>

              <p>Consectetur adipiscing elit. Cras aliquet, sem sed rutrum dignissim, magna enim eta pretium ante. Rutrum dignissim, magna enim. <a href="#">Learn More &raquo;</a></p>

            </article> <!-- end .print -->

            <article class="share span4">

              <h2><a href="#">Sharing Your Egraph</a></h2>

              <p>Consectetur adipiscing elit. Cras aliquet, sem sed rutrum dignissim, magna enim eta pretium ante. Rutrum dignissim, magna enim. <a href="#">Learn More &raquo;</a></p>

            </article> <!-- end .share -->

          </div> <!-- end .row -->

          <header>

            <h1>Which Star Will You Connect With?</h1>

            <p><a href="#" class="button"><strong>Get Started</strong> <span>&raquo;</span></a></p>

          </header>

          <footer>

            <div id="featured-stars" class="callout">

              <h3>This Week's Featured Stars</h3>

              <p>Browse one of their galleries to get started making your own Egraph.</p>

            </div>

            @featuredStarBlock(clearFix=false)
            
          </footer>

        </section> <!-- end #landing-more -->			      

        <p class="to-top"><a href="#top">Back to Top</a></p>

      </div> <!-- end .container -->

    </div> <!-- end #main -->

  </section> <!-- end #content -->
}

@base_template(
  title="What if you could have a minute with your star? | Egraphs",
  jsMain="pages/landing",
  body=baseBody
)
