<!doctype html>
<html>
<head>
  <title>Introducing Egraphs</title>
</head>
<body style="margin: 0; padding: 0; background: #f0f0f0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #888888;">
<table cellpadding="0" cellspacing="0" width="100%" bgcolor="#f0f0f0" style="width: 100%; background: #f0f0f0;">
<tr>
<td align="middle">
<table cellpadding="0" cellspacing="0" width="600px" align="middle" bgcolor="#fafafa"
       style="width: 600px; margin: 0 auto; background: #fafafa repeat-y 50% 0; border: 1px solid #888888;  font-size: 14px;">
<tr>
  <td align="middle" style="padding: 15px 25px 0px 25px;" colspan=2>
    <table cellpadding="0" cellspacing="0" width="100%" style="width: 100%;">
      <tr>
        <td width="450" align="left" valign="top">
          <a style="color: #ff5124; text-decoration: none; border: none; outline: none;"
             href="https://www.egraphs.com/?signup=true">
            <img src="https://s3.amazonaws.com/egraphs-static-resources/public/images/email-logo.jpg"/>
          </a>
        </td>
        <td width="40px" valign="top">
          <a style="color: #ff5124; text-decoration: none; border: none; outline: none;"
             href="http://www.facebook.com/egraphs">
            <img src="https://s3.amazonaws.com/egraphs-static-resources/public/images/email-facebook.jpg"/>
          </a>
        </td>
        <td width="30px" valign="top">
          <a style="color: #ff5124; text-decoration: none; border: none; outline: none;"
             href="http://www.twitter.com/egraphs">
            <img src="https://s3.amazonaws.com/egraphs-static-resources/public/images/email-twitter.jpg"/>
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr bgcolor="#efefef">
  <td style="padding-top: 25px; padding-left: 25px; padding-bottom: 25px;" width="50%">
    <a href="https://www.egraphs.com/?signup=true">
      <img src="https://s3.amazonaws.com/egraphs/email/hamilton-egraph.png" style="max-height: 100%;">
    </a>

  </td>
  <td style="padding-left: 25px; padding-right: 25px;" width="50%">
    <h1 style="font-size: 26px; line-height: 38px; font-weight: 200; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left; margin-top: 0; margin-bottom: 0;">
      Introducing Egraphs: a new way to connect with your <br>favorite MLB stars.
    </h1>
    <a href="https://www.egraphs.com/?signup=true"
       style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 22px; line-height: 38px; font-weight: 400; color: #FF5124;">
      Click Here to Get Started
    </a>
  </td>
</tr>
<tr>
  <td colspan=2 align="center" style="padding-top: 15px;">
    <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial,
              sans-serif; font-weight: 200; font-size: 26px; line-height: 38px; color: #888888; text-shadow: 0 1px 0 #ffffff;
               text-align: center;">
      Not just an autograph, an egraph
    </h1>

    <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 24px;
               font-weight: normal; text-shadow: 0 1px 0 #ffffff; text-align: center;
               padding-left: 15px; padding-right: 15px;
               ">
      Have you ever wondered how you could ask Josh Hamilton for some advice? Or have Andrew McCutchen give
      your some some batting tips?
      Want Don Mattingly to wish your dad a happy birthday? Now you can. With Egraphs, you can send
      messages to your favorite MLB stars and have them send
      a personal handwritten and voice message directly back to you! It's a next-generation autograph, and
      much more.
    </p>
    <a href="https://www.egraphs.com/?signup=true"
       style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 22px; line-height: 38px;
                  font-weight: 200; color: #FF5124; text-align: center;">
      Sign up to connect with your favorite MLB stars
    </a>

    <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 24px;
               font-weight: normal; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: center;
               padding-left: 65px; padding-right: 65px;">
      Plus when you sign up for the Egraphs Insider newsletter, you'll automatically be entered to <span
            style="font-weight: bold; color: #333333;">win some great prizes!</span>
    </p>
  </td>
</tr>
<tr>
  <td colspan="2">
    <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial,
              sans-serif; font-weight: 200; font-size: 26px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff;
               text-align: center; margin-top: 15px; padding-top: 15px; border-top: 1px solid #eeeeee;">
      Featured MLB Stars
    </h1>
  </td>
</tr>
<tr>
  <td align="center" colspan=2>
    <table style="font-size: 14px;">
      <tr>
        <td align="left">
          <a href="https://www.egraphs.com/?signup=true" style="text-decoration: none; color: inherit;">
            <img src="https://s3.amazonaws.com/egraphs/email/price.jpg" style="vertical-align: bottom;">

            <p>
                      <span style="color: #FF5124; font-weight: 400">
                        David Price
                      </span>
              <br>
              Tampa Bay Rays
            </p>
          </a>
        </td>
        <td align="left">
          <a href="https://www.egraphs.com/?signup=true" style="text-decoration: none; color: inherit;">
            <img src="https://s3.amazonaws.com/egraphs/email/hamilton.jpg" style="vertical-align: bottom;">

            <p>
                    <span style="color: #FF5124; font-weight: 400">
                      Josh Hamilton
                    </span>
              <br>
              Texas Rangers
            </p>
          </a>
        </td>
        <td align="left">
          <a href="https://www.egraphs.com/?signup=true" style="text-decoration: none; color: inherit;">
            <img src="https://s3.amazonaws.com/egraphs/email/wright.jpg" style="vertical-align: bottom;">

            <p>
                    <span style="color: #FF5124; font-weight: 400">
                      David Wright
                    </span>
              <br>
              New York Mets
            </p>
          </a>
        </td>
        <td align="left">
          <a href="https://www.egraphs.com/?signup=true" style="text-decoration: none; color: inherit;">
            <img src="https://s3.amazonaws.com/egraphs/email/bautista.jpg" style="vertical-align: bottom;">

            <p>
                    <span style="color: #FF5124; font-weight: 400">
                      Jose Bautista
                    </span>
              <br>
              Toronto Blue Jays
            </p>
          </a>
        </td>
      </tr>
      <tr>
        <td align="left">
          <a href="https://www.egraphs.com/?signup=true" style="text-decoration: none; color: inherit;">
            <img src="https://s3.amazonaws.com/egraphs/email/mccutchen.jpg" style="vertical-align: bottom;">

            <p>
                    <span style="color: #FF5124; font-weight: 400">
                      Andrew McCutchen
                    </span>
              <br>
              Pittsburgh Pirates
            </p>
          </a>
        </td>
        <td align="left">
          <a href="https://www.egraphs.com/?signup=true" style="text-decoration: none; color: inherit;">
            <img src="https://s3.amazonaws.com/egraphs/email/cabrera.jpg" style="vertical-align: bottom;">

            <p>
                    <span style="color: #FF5124; font-weight: 400">
                      Miguel Cabrera
                    </span>
              <br>
              Detroit Tigers
            </p>
          </a>
        </td>
        <td align="left">
          <a href="https://www.egraphs.com/?signup=true" style="text-decoration: none; color: inherit;">
            <img src="https://s3.amazonaws.com/egraphs/email/martinez.jpg" style="vertical-align: bottom;">

            <p>
                    <span style="color: #FF5124; font-weight: 400">
                      Pedro Martinez
                    </span>
              <br>
              Boston Red Sox
            </p>
          </a>
        </td>
        <td align="left">
          <a href="https://www.egraphs.com/?signup=true" style="text-decoration: none; color: inherit;">
            <img src="https://s3.amazonaws.com/egraphs/email/sabathia.jpg" style="vertical-align: bottom;">

            <p>
                    <span style="color: #FF5124; font-weight: 400">
                      C.C. Sabathia
                    </span>
              <br>
              New York Yankees
            </p>
          </a>
        </td>
      </tr>
    </table>
    <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial,
              sans-serif; font-weight: 200; font-size: 26px; line-height: 24px; color: #888888font-weight: 200; text-shadow: 0 1px 0 #ffffff;
               text-align: center;">
      Search from over 100 MLB stars</h1>
    <a href="https://www.egraphs.com/?signup=true"
       style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 22px; line-height: 38px;
                  font-weight: 400; color: #FF5124; text-align: center;">
      Get Started
    </a>
  </td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" width="600px" align="middle">
  <tr>
    <td><img border="0" src="https://s3.amazonaws.com/egraphs-static-resources/public/images/email-bottom.jpg"
             width="600" height="30"/></td>
  </tr>
  <tr>
    <td align="middle">
      <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 12px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: center;">
        Copyright 2012 Egraphs
      </p>
    </td>
  </tr>
</table>
</td>
</tr>
</table>
</body>
</html>