@()(
implicit session: play.mvc.Scope.Session,
headerData: models.frontend.header.HeaderData,
footerData: models.frontend.footer.FooterData
)
@import views.frontend.Utils
@import models.frontend.egraphs._

@baseBody = {

<section id="content" role="main">
<div id="main" class="about-us statics">
<div class="row-fluid">
  <div class="span12 masthead-static">
    <img src='@asset("/public/images/kerry-wood.jpg")'/>
  </div>
</div>

<div class="container">
<div class="row-fluid">
<div class="span12">
<h1>Terms of Use & License Agreement</h1>

<p>
  This Terms of Use & License Agreement (“Agreement”) forms a binding agreement between Celebrity Marketplace,
  LLC , the owner of EGRAPHS, (“EGRAPHS,” “we” or “us”), which has developed and owns the web site located at
  www.egraphs.com (the “Site”), and you (“you” or “user”), as a user of the Site.
</p>

<p>
  Please read this Agreement carefully before purchasing any product sold on the Site or using the Site or the
  services available on it. By using the Site or purchasing any product on the Site, the services available at
  the Site, and any service, software, application, web tool, plug-in, component, functionality, technology,
  products available on the Site, or program that we created for purposes of using the Site or the services
  (collectively, the "Services"), you confirm your acceptance of the terms of this Agreement. This Agreement,
  along with any other policies or guidelines posted on the Site, shall govern your use of the Site and the
  Services, whether you access the Site directly or through a third-party web site. Certain areas, features,
  functionality, or Services of the Site, or certain of the Services, may be subject to different or additional
  terms, rules, guidelines or policies (“Additional Rules”), and we may provide such Additional Rules to you via
  postings, pop-up notices, links, or other means at the time that you access or use the relevant area, feature,
  functionality, or Service. From time to time, such Additional Rules may conflict with this Agreement; in the
  event of such a conflict, the Additional Rules will control.
</p>

<p>
  The Site allows you, as a visitor, to purchase content for your own, personal use, or as a gift for a third
  party, whether it is a friend or colleague. This Agreement applies to all persons who access or view such
  content and the terms and provisions included herein shall constitute a binding agreement between EGRAPHS and
  any party accessing content made available by EGRAPHS.
</p>

<p>
  <em>
    Accordingly, by visiting the Site, posting or viewing any content made available by EGRAPHS, using the
    Services and/or by completing the registration process for the Services, you represent and warrant that you
    have read, understand, have the legal capacity to, and hereby agree to be legally bound by this Agreement and
    each of its terms. If you do not agree with the terms of this Agreement, please do not use the Site or the
    Services.
  </em>
</p>

<p>
  <strong>
    The Site and Services are available ONLY TO USERS 13 YEARS OF AGE OR OLDER. REGISTRANTS BETWEEN THE AGES OF 13
    AND 18 SHOULD HAVE A PARENT ASSIST IN THE COMPLETION OF REGISTRATION.
  </strong>

<h2>

  Changes to this Agreement

</h2>

<p>
  As you are likely aware, the Internet offers a medium that requires constant updates and revisions in order to
  ensure the Services and Site are capable of meeting your needs. Given this, we may change the terms of this
  Agreement from time to time. By continuing to use any of the Site after we post any such changes, you accept
  this Agreement, as modified. We may change, restrict access to, suspend or discontinue the Site, or any
  portion of the Site, at any time.
</p>

<h2>

  User Name and Password


  Registration and Use

</h2>

<p>
  You do not need to register on the Site to use the Services. However, if you want to enjoy any of the
  advanced features on the Site, such as developing a gallery of any content made available via the Site, you
  may be required to register. Further, registration will allow for more convenience, since past purchases and
  other personal information may be retained for those users who register. When registering with the Site, you
  agree to do the following: (a) provide true, accurate, current and complete information to EGRAPHS (such
  information is referred to in this Agreement as the “Registration Data”) and (b) maintain and promptly update
  the Registration Data to keep it true, accurate, current and complete. If you provide any information or
  Registration Data that is untrue, inaccurate, and/or not current or incomplete, or if we have grounds to
  suspect that such information is untrue, inaccurate, and/or not current or incomplete, we may suspend or
  terminate your account and may refuse to permit you to have current or future use of the Site or Services (or
  any portion thereof).
</p>

<p>
  You agree that the information you supply during that registration process will be accurate and complete. You
  also agree not to (i) select, register, or attempt to register, or use a user name of another person with the
  intention of impersonating that person; (ii) use a user name of anyone else without authorization; (iii) use a
  user name in violation of the intellectual property rights of any person; or (iv) use a user name that EGRAPHS
  considers to be offensive. EGRAPHS reserves the right to reject or terminate any user name or password that,
  in its judgment, it deems offensive. You will be responsible for preserving the confidentiality of your
  password and will notify EGRAPHS of any known or suspected unauthorized use of your account. Further, you agree
  that you are responsible for all statements made and acts or omissions that occur on your account while your
  password is being used.
</p>

<h2>

  Unauthorized Use of Your User Name and Password

</h2>

<p>
  You should not authorize any third party to access or to use the Site and/or the Services in order to act on
  your behalf. If you do so, you will be responsible for all acts and/or omissions of that third party on or in
  connection with the Site and/or the Services. You are responsible for maintaining the confidentiality of your
  user name and password, and you are fully and always responsible for all activities that occur under your user
  name or password. You agree to immediately notify us via email at support@@egraphs.com of any unauthorized use
  of your user name or password or any other breach of security. We cannot and will not be liable for any loss
  or damage arising from any unauthorized use of your account.
</p>

<p>
  You agree to indemnify, defend and hold harmless EGRAPHS from and against any and all losses, expenses,
  damages and costs (including reasonable attorneys' fees) resulting from any violation of this Agreement or
  any activity related to your account (including negligent or wrongful conduct) by you or any other person
  accessing the Site using your account.
</p>

<p>
  EGRAPHS reserves the right to access and disclose any information including, without limitation, user names of
  accounts and other information to comply with applicable laws and lawful government requests. You must be at
  least 13 years old to register on the Site.
</p>

<h2>

  Intellectual Property Rights


  Grant of License

</h2>

<p>
  The Site grants all visitors a license to access and view the content that is publicly displayed on the Site.
  Further, EGRAPHS grants all purchasers a license to view and display certain content, photographs, images,
  videos and/or other media that contains digitally authenticated signatures, recordings, notations and voice
  notes (“Personalized Media”) from celebrities and public personalities who have agreements with EGRAPHS. The
  Personalized Media is subject to the restrictions proposed in this Agreement.
</p>

<p>
  Any person who purchases Personalized Media from EGRAPHS or who otherwise receives Personalized Media as a
  gift, hereby confirms and agrees that such Personalized Media is owned or licensed by EGRAPHS, and is protected
  by copyright, trademark and other intellectual property laws and that you are receiving a license to display
  such Personalized Media only after submitting the appropriate payment to EGRAPHS. Upon submission of such
  payment or upon receipt of any Personalized Media from a third party as a gift, EGRAPHS hereby grants you
  a revocable, non-exclusive and world-wide license to display and print the Personalized Media in accordance
  with the terms of this Agreement. This grant allows you to share the Personalized Media with a small group of
  your friends, however, this license does not give you or your friends the right to commercially distribute,
  publish, reproduce or otherwise exploit the Personalized Media or copies of the Personalized Media in any form
  (including by email or other electronic means), without prior written permission from EGRAPHS. Further, you
  agree that you will notify any third parties to whom you transfer any Personalized Media of the restrictions
  on their use of the Personalized Media, prior to providing them with such Personalized Media. Of course, you
  are free to encourage others to access the Personalized Media themselves on the Site, and to tell them how to
  find it. Further, you may not distort, reverse engineer, alter or modify the Personalized Media and you may
  not publish or display the media in a manner that is disparaging, hateful or offensive, in the sole discretion
  of EGRAPHS.
</p>

<h2>

  Termination of License

</h2>

<p>
  EGRAPHS has the right, but not the obligation, to terminate and/or revoke any license that it grants to any
  user who violates the terms of this Agreement. You understand that such termination or revocation shall mean
  that the Personalized Media will be removed from the Site, the Services and from EGRAPHS’ server. Furthermore,
  in such an instance, EGRAPHS may, in its sole discretion, terminate a user’s access to the Site and Services
  and report user to the applicable law enforcement agency.
</p>

<p>
  In addition, we have the right, in our sole, exclusive, and complete discretion, to terminate and/or revoke
  the license to any Personalized Media if we have reason to believe that posting, displaying, or otherwise
  using such Personalized Media may infringe the intellectual property rights of a third party, subject us to
  expense or liability, or impair our reputation and/or goodwill. In such instance, if the termination or
  revocation is not a result of any negligence or action by the user, EGRAPHS will evaluate whether any repayment
  of the license fees is necessary.
</p>

<h2>

  Rights to Your Content

</h2>

<p>
  The Site may allow you, as a user, to submit your own content or materials to the Site for viewing by the
  public. You hereby represent and warrant that (i) you own, have licensed or otherwise have retained all of
  the rights, licenses, consents, and releases that are necessary to grant us the license described below; and
  (ii) neither (a) the content or materials you post nor (b) any use of the Site or Services, by storing,
  displaying, copying, or otherwise functioning as we intend and permit, will infringe, misappropriate, or
  violate a third party’s patent, copyright, trademark, trade secret, or moral rights, or any other proprietary
  or intellectual property rights, or any other rights of publicity or privacy, or otherwise result in a
  violation of any applicable law or regulation.
</p>

<p>
  In the event you submit such content or materials, you will be the owner of such content, but you understand
  that you are granting to EGRAPHS, and to anyone authorized by EGRAPHS, a royalty-free, perpetual, irrevocable,
  non-exclusive, unrestricted, worldwide license to display, use, copy, modify, transmit, sell, exploit, create
  derivative works from, distribute, and/or publicly perform such materials, in whole or in part, in any manner
  or medium, now known or hereafter developed, for any purpose. Also, in connection with the exercise of such
  rights, you grant EGRAPHS, and anyone authorized by EGRAPHS, the right to identify you as the author of any of
  your postings or submissions by name, email address or screen name, as EGRAPHS deems appropriate. This gives
  EGRAPHS the right to manage your content without violating any of your rights to it. We will not take advantage
  of this right, but we will need it in order to fulfill our service to you and/or provide certain features to you.
</p>

<h2>

  Copyright Complaints

</h2>

<!--<p>-->
  <!--<a href="#Click here to notify EGRAPHS of any claims of copyright infringement on the Site.-->
<!--</p>-->

<h2>

  No Framing

</h2>

<p>
  Without the prior written permission of EGRAPHS, you may not make it appear that a third-party site is
  presenting or endorsing, any of the content of the Site, or incorporate any intellectual property of the Site,
  EGRAPHS or any of their licensors into another web site or other service.
</p>

<h2>

  Trademarks

</h2>

<p>
  You may not use any trademark or service mark appearing on the Site without the prior written consent of EGRAPHS,
  or the owner of the mark.
</p>

<h2>

  Our Right to Monitor, Remove and/or Terminate Access and/or Content

</h2>

<p>
  Although we cannot and do not monitor all content and activity on the Site, you understand that we have the
  right, but not the obligation, to monitor the content and activity on the Site to determine compliance with
  this Agreement and any other operating rules, guidelines, or policies that we may establish from time to time.
  We have the right, but not the obligation, to remove or to require users to remove any Personalized Media or
  content that we, in our sole discretion, deem to be (a) disruptive, disparaging, offensive or otherwise put
  the celebrity or public personality in a false or negative light; (b) inconsistent with our Services, or our
  strategic mission, vision, and/or this Agreement; and/or (c) possibly in violation of applicable law. We also
  have the right, in our sole, exclusive, and complete discretion, to terminate the access of any user who
  violates this Agreement, or any terms, guidelines, or policy posted or explained on the Site.
</p>

<p>
  In addition, we have the right, in our sole, exclusive, and complete discretion, to remove any Personalized
  Media or content if we have reason to believe that posting, displaying, or otherwise using such Personalized
  Media or content may infringe the intellectual property rights of a third party, subject us to expense or
  liability, or impair our reputation and/or goodwill.
</p>

<p>
  Notwithstanding our right to monitor, remove, and terminate the access of any user, all users of the Site and
  Services shall remain at all times solely responsible for any material or content that they post onto the Site.
  You hereby acknowledge and agree that neither we nor any of our affiliates, subsidiaries, agents, partners,
  employees, or related parties, shall assume or have any liability for any action or inaction by EGRAPHS with
  respect to any conduct within the Site or any communications, or postings, or transactions made on, in
  connection with, or via the Site and Services.
</p>

<p>
  We also reserve the right to disclose any information or the terms of any license or agreement with any user
  that we believe is necessary to satisfy any law, regulation or governmental request, or to refuse to post or
  to remove any information or materials, in whole or in part.
</p>

<p>
  In the event that you become aware of content that you deem to be objectionable or in violation of this
  Agreement, please email us at support@@egraphs.com.
</p>

<h2>
  Notification Regarding Communications from EGRAPHS
</h2>

<p>
  By registering with the Site and/or by using the Services, you understand that we may send you communications
  or data from the Site regarding the Services, including but not limited to (i) notices about your use of the
  Site and Services, including any notices concerning violations of use; (ii) updates; and (iii) information or
  materials regarding transactions, products, and/or services purchased or selected by you or in which you are
  involved via use of the Site and/or Services. By using the Services and the Site, you agree to receive such
  email messages from us.
</p>

<p>
  Note, however, that some email messages may be more “commercial” in nature than others, as they may advertise
  a feature of our Site or Services or a product or service in which we believe you may be interested, or may
  otherwise discuss a marketing campaign or promotion offered by EGRAPHS or one of our partners or another third
  party. We will give you the opportunity to opt-out of receiving these commercial emails from us by following
  the opt-out instructions provided in such message(s).
</p>

<h2>

  Disclaimer of Warranties

</h2>

<p>
  We work hard to make the Site interesting but we cannot guarantee that our users will always find everything
  to their liking. Please read this Disclaimer carefully before using the Services or the Site.
</p>

<p>
  <strong>
    YOU AGREE THAT YOUR USE OF THE SERVICES AND THE SITE IS AT YOUR SOLE RISK. BECAUSE OF THE NUMBER OF POSSIBLE
    SOURCES OF CONTENT AND INFORMATION AVAILABLE THROUGH THE SITE, AND THE INHERENT HAZARDS AND UNCERTAINTIES OF
    ELECTRONIC DISTRIBUTION, THERE MAY BE DELAYS, OMISSIONS, INACCURACIES OR OTHER PROBLEMS WITH SUCH INFORMATION.
    IF YOU RELY ON THE SITE OR ANY CONTENT OR MATERIAL AVAILABLE THROUGH THE SITE OR THE SERVICES, YOU DO SO AT YOUR
    OWN RISK. YOU UNDERSTAND THAT YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA
    THAT RESULTS FROM ANY MATERIAL AND/OR DATA DOWNLOADED FROM OR OTHERWISE PROVIDED THROUGH THE SITE.
  </strong>
</p>

<p>
  <strong>
  THE SITE AND THE SERVICES ARE PROVIDED TO YOU AS IS, WITH ALL FAULTS, AND AS AVAILABLE. EGRAPHS AND ITS LICENSORS CANNOT AND DOES NOT
  WARRANT THE ACCURACY, COMPLETENESS, CURRENTNESS, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE
  OF THE INFORMATION AVAILABLE THROUGH THE SITE, NOR DO THEY GUARANTEE THAT THE SITE OR THE SERVICES WILL BE ERROR-FREE
  OR CONTINUOUSLY AVAILABLE, OR THAT THE SITE OR THE SERVICES WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. UNDER
  NO CIRCUMSTANCES WILL EGRAPHS OR ITS LICENSORS BE LIABLE TO YOU OR ANYONE ELSE FOR ANY DAMAGES ARISING OUT OF USE OF THE SITE OR THE
  SERVICES, INCLUDING, WITHOUT LIMITATION, LIABILITY FOR CONSEQUENTIAL, SPECIAL, INCIDENTAL, INDIRECT OR SIMILAR
  DAMAGES, EVEN IF WE ARE ADVISED BEFOREHAND OF THE POSSIBILITY OF SUCH DAMAGES. (BECAUSE SOME STATES DO NOT ALLOW THE
  EXCLUSION OR LIMITATION OF CERTAIN CATEGORIES OF DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IN SUCH STATES,
  THE LIABILITY FOR EGRAPHS IS LIMITED TO THE FULLEST EXTENT PERMITTED BY SUCH STATE LAW.) YOU AGREE THAT THE LIABILITY
  OF EGRAPHS AND ITS LICENSORS, IF ANY, ARISING OUT OF ANY KIND OF LEGAL CLAIM IN ANY WAY CONNECTED TO THE SITE OR THE SERVICES WILL NOT
  EXCEED THE AMOUNT, IF ANY, YOU PAID TO EGRAPHS FOR THE USE OF THE SITE.
  </strong>
</p>

<h2>
  Privacy
</h2>

<p>
  We have established a Privacy Policy to explain to users how we may collect and use certain information. You can read
  the Privacy Policy on our Site. Your use of the Site and Services signifies your acknowledgment of, and agreement to,
  this Privacy Policy.
</p>

<h2>
  Indemnification
</h2>

<p>
  You agree to indemnify, defend, and hold us and our licensors harmless from and against all losses, expenses, damages and costs,
  including reasonable attorneys’ fees, resulting from any violation of this Agreement by you, or any use or misuse of
  the Site and/or Services for which you may be responsible. We reserve the right to assume, at our sole expense, the
  exclusive defense and control of any matter subject to these indemnification obligations, in which case you will fully
  cooperate with us in asserting any available defenses.
</p>

<h2>Termination of Service</h2>

<p>
  We reserve the right, in our sole, exclusive, and complete discretion, and without cause and/or without notice to (i)
  terminate without notice your ability to access or use the Site and/or Services and (ii) delete any data. You may
  terminate your user account upon notice to us at any time. To terminate, send us an email at support@@egraphs.com, identify
  your account clearly and accurately, and explain that you are writing to terminate your account with us.
</p>

<h2>Governing Law</h2>

<p>
  This Agreement has been made in and shall be construed in accordance with the laws of the State of New York. By using
  the Site, you consent to the exclusive jurisdiction of the state and federal courts located in New York, in all
  disputes arising out of or relating to this Agreement.
</p>

<p>
  In the event that any portion of this Agreement is found to be invalid or unenforceable for any reason, such
  invalidity or unenforceability shall not affect the enforceability or validity of any other portion of this Agreement,
  which shall remain in full force and effect and be construed as if the invalid or unenforceable portion were not part
  of the Agreement.
</p>

<h2>Dispute Resolution</h2>

<p>
  Any dispute relating in any way to your visit to the Site, your purchase of any product or Personalized Media or your
  use or of the Services, shall be submitted to confidential arbitration in the state of New York, except that, to the
  extent you have in any manner violated or threatened to violate EGRAPHS’ intellectual property rights, we may seek
  injunctive relief or other appropriate relief in any state or federal court in the state of New York, and you consent
  to exclusive jurisdiction and venue in such courts.
</p>

<p>
  Arbitration under this agreement shall be conducted under the rules then prevailing of the American Arbitration
  Association. The arbitrator's award shall be binding and may be entered as a judgment in any court of competent
  jurisdiction. To the fullest extent permitted by applicable law, no arbitration pursuant to this Agreement shall be
  joined to an arbitration involving any other party subject to the Agreement, whether through class arbitration
  proceedings or otherwise.
</p>

<h2>Survival</h2>

<p>
  If any part of this Agreement is determined to be invalid or unenforceable pursuant to applicable law including, but
  not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable
  provision will be deemed to have been superseded by a valid enforceable provision that most closely matches the intent
  of the original provision, and the remainder of the Agreement shall continue in effect. A printed version of this
  Agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings
  based upon or relating to this Agreement to the same extent and subject to the same conditions as other business
  documents and records originally generated and maintained in printed form. All rights not expressly granted herein are
  reserved.
</p>

<h2>Assignment of the Agreement</h2>

<p>
  We may assign this Agreement, in whole or in part, at any time with or without notice to you. You may not assign this
  Agreement, or any part of this Agreement, to any other party. Any attempt by you to do so is void.<strong> ANY CLAIM
  RELATED TO THIS AGREEMENT, THE SITE OR SERVICES MUST BE BROUGHT WITHIN ONE YEAR. THAT ONE-YEAR PERIOD BEGINS ON THE
  DATE WHEN SUCH CLAIM FIRST COULD BE FILED. IF IT IS NOT FILED WITHIN THE ONE-YEAR PERIOD, THAT CLAIM IS PERMANENTLY
  BARRED. THIS LIMITATION APPLIES TO YOU AND YOUR SUCCESSORS. IT ALSO APPLIES TO US AND OUR SUCCESSORS AND
  ASSIGNS.</strong> Our failure to exercise or enforce any right or provision of this Agreement shall not constitute a
  waiver of such right or provision. The section titles in the Agreement are for convenience only and have no legal or
  contractual effect.
</p>

<p>
  Effective: 7/12/2012
</p>

<p>
  Last updated: 7/12/2012
</p>

<p>
  <strong>
    NOTICE AND PROCEDURE
    FOR MAKING CLAIMS OF
    COPYRIGHT INFRINGEMENT
  </strong>

<p>
  Pursuant to Title 17, United States Code, Section 512(c)(2), notifications of claimed copyright infringement must be
  sent to Service Provider's Designated Agent.
</p>

<p>
  Service Provider: Cloudbees, Inc.<br>
  Name of Agent Designated to Receive Notification of Claimed Infringement: Eric Feeny<br>
  Full Address of Designated Agent to Which Notification Should Be Sent: Eric Feeny | 615 2nd Ave Suite 300, Seattle WA 98104<br>
  Telephone Number of Designated Agent: 313-334-7274 X 101<br>
  Facsimile Number of Designated Agent: 206-866-6762 ATTN: Eric Feeny<br>
  E-Mail Address of Designated Agent: eric@@egraphs.com<br>
</p>

<p>
  To be effective, the notification must be a written communication that includes the following:
</p>
<ol>
  <li>
    A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that
    is allegedly infringed;
  </li>
  <li>
    Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works
    at a single online site are covered by a single notification, a representative list of such works at that site;
  </li>
  <li>
    Identification of the material that is claimed to be infringing or to be the subject of infringing activity
    and that is to be removed or access to which is to be disabled, and information reasonably sufficient to
    permit us to locate the material; 4. Information reasonably sufficient to permit us to contact the complaining
    party, such as an address, telephone number and, if available, an electronic mail address at which the
    complaining party may be contacted; 5. A statement that the complaining party has a good-faith belief that
    use of the material in the manner complained of is not authorized by the copyright owner, its agent or the
    law; and
  </li>
  <li> 
    A statement that the information in the notification is accurate and, under penalty of perjury, that the
    complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
    We may give notice to our users by means of a general notice on any of our websites, electronic mail to a
    user's e-mail address in our records, or written communication sent by first-class mail to a user's physical
    address in our records.
  </li>
</ol>
<p>
  If you receive such a notice, you may provide counter-notification in writing to the designated agent that includes
  the information below. To be effective, the counter-notification must be a written communication that includes the
  following:
</p>
<ol>
   
  <li>
    Your physical or electronic signature;
  </li>
  <li>
    Identification of the material that has been removed or to which access has been disabled, and the location
    at which the material appeared before it was removed or access to it was disabled;
  </li>
  <li>
    A statement from you, under penalty of perjury, that you have a good-faith belief that the material was removed or
    disabled as a result of a mistake or misidentification of the material to be removed or disabled;
  </li>
  <li>
    Your name, physical address and telephone number, and a statement that you consent to the jurisdiction of
    a Federal District Court for the judicial district in which your physical address is located, or if your
    physical address is outside of the United States, for any judicial district in which we may be found, and
    that you will accept service of process from the person who provided notification of allegedly infringing
    material or an agent of such person.
  </li>
</ol>

</div>
</div>
</div>
</div>
</section>

}
@base_template(
title="Terms of Use",
jsMain="",
body=baseBody
)