@(title: String = "Default string", body: => Html, afterBodyJs: => Html = Html.empty)
<!-- The type of @body' and @afterBodyJs is '=> Html', which
    basically means "Some code that generates HTML (or javascript)."
    In this case that code will be another template that calls this
    one and provides those two variables.

    We defaulted @afterBodyJs to 'Html.empty' to indicate that it's optional. This way
    not every template needs to provide callable javascript.
  -->

<!doctype html>
<html>
  <head>
    <title>I am the site template. The title I got passed was: @title.</title>
    <link rel="stylesheet" href='@asset("public/twitter-bootstrap/less/bootstrap.less")'>
  </head>
  <body>
    <p>
      This template demonstrates a way to re-use code by wrapping a
      template in another template.  Most of this page was defined in
      base_template.scala.html. It was then called by
      uses_base_template.scala.html and provided this content:
      <!-- Put in the provided page @body -->
      <div style="border:1px solid green">@body</div>      
    </p>
  </body>
  
  <!-- Put in the javascript provided by the function that calls this one -->
  <script type="text/javascript">@afterBodyJs</script>
</html>
