@(storefrontBreadcrumbs: models.frontend.storefront.StorefrontBreadcrumbs)

@{/** Tiny breadcrumbs that only appear at a certain browser size.

      Unfortunately they need to be individually included into every purchase flow page that wants to
      display breadcrumbs
*/}


<div class="mobile-steps clearfix">
  <ol>
    @for((crumb, index) <- storefrontBreadcrumbs.indexed) {
      <li class="@if(crumb.isActive) {active} @if(crumb.isAdjacentPreviousToActive) {previous}">
        @for(url <- crumb.url) {<a href="@url"}
          <span><strong><span>Step</span> @{index + 1}</strong>
        @for(url <- crumb.url) {</a>}
      </li>
    }
  </ol>
  
  @for((crumb, index) <- storefrontBreadcrumbs.indexed if crumb.isActive) {
    <div class="section-title">
      <h1><strong>@{index + 1}</strong></h1>
      @crumb.name
    </div>
  }

  

</div>  

