@(order: models.Order,
  product: models.Product,
  buyer: models.Customer,
  buyerEmail: String,
  recipient: models.Customer,
  recipientEmail: String,
  celebrityName: String,
  fulfillingEgraph: Option[models.Egraph],
  fields: (String) => String
)(implicit authToken: egraphs.authtoken.AuthenticityToken, 
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData)

@import controllers.WebsiteControllers
@import services.Finance.TypeConversions._
@import egraphs.authtoken.AuthenticityToken.safeForm
@import views.html.Application.tags.errorMessage
@import views.html.Application.tags.formField
@import views.html.Application.tags.valueRow
@import views.html.frontend.tags
@import views.html.frontend.tags.ng
@import views.html.frontend.base_template

@head = {
<script src='@EgraphsAssets.at("twitter-bootstrap-1.4.0/js/bootstrap-alerts.js")' type="text/javascript"></script>
}

@postOrder = @{
  routes.WebsiteControllers.postOrderAdmin(orderId = order.id)
}

@productUrl() = @{
  routes.WebsiteControllers.getProductAdmin(productId = order.productId)
}

@reviewControls = {
  <div class="form">
    @if(order.reviewStatus == models.enums.OrderReviewStatus.PendingAdminReview) {
      @safeForm('id -> "approve-form", 'method -> "POST", 'action -> postOrder.url) {
        <input name="orderId" type="hidden" value="@order.id">
        <input name="action" type="hidden" value="approve">
        <div class="actions">
          <h3>Approve so that Celebrity can fulfill</h3>
          <button type="submit" id="approve-button" class="btn primary fade in">Approve</button>
        </div>
      }
      @safeForm('id -> "reject-form", 'method -> "POST", 'action -> postOrder.url) {
        <input name="orderId" type="hidden" value="@order.id">
        <input name="action" type="hidden" value="reject">
        <div class="actions">
          <h3>Reject so that Celebrity will not see this order</h3>
          <label>Rejection Reason</label>
          <div class="input">
            <input name="rejectionReason" type="text" maxlength="128"/>
          </div>
          <button type="submit" id="reject-button" class="btn primary fade in">Reject</button>
        </div>
      }
      @safeForm('id -> "editMessages-form", 'method -> "POST", 'action -> postOrder.url) {
        <input name="orderId" type="hidden" value="@order.id">
        <input name="action" type="hidden" value="editMessages">
        <div class="actions">
          <h3>Edit messages -- please edit with care!</h3>
          @formField(id="recipientName"     , label="Recipient Name"      , inputType="text", width="span4", fields=fields)
          @formField(id="messageToCelebrity", label="Message to Celebrity", inputType="text", width="span8", fields=fields)
          @formField(id="requestedMessage"  , label="Requested Message"   , inputType="text", width="span8", fields=fields)
          <button type="submit" id="editMessages-button" class="btn primary fade in">Edit Messages</button>
        </div>
      }
      @safeForm('id -> "changeBuyer-form", 'method -> "POST", 'action -> postOrder.url) {
        <input name="orderId" type="hidden" value="@order.id">
        <input name="action" type="hidden" value="changeBuyer">
        <div class="actions">
          <h3>Change buyer</h3>
          @formField(
            id="newBuyerEmail",
            label="New Buyer Email (must correspond to an existing customer)",
            inputType="text",
            width="span4",
            fields=fields
          )
          <button type="submit" class="btn primary fade in">Change Buyer</button>
        </div>
      }
      @safeForm('id -> "changeRecipient-form", 'method -> "POST", 'action -> postOrder.url) {
        <input name="orderId" type="hidden" value="@order.id">
        <input name="action" type="hidden" value="changeRecipient">
        <div class="actions">
          <h3>Change recipient</h3>
          @formField(
          id="newRecipientEmail",
          label="New Recipient Email (must correspond to an existing customer)",
          inputType="text",
          width="span4",
          fields=fields
          )
          <button type="submit" class="btn primary fade in">Change Recipient</button>
        </div>
      }
      @safeForm('id -> "changeProduct-form", 'method -> "POST", 'action -> postOrder.url) {
        <input name="orderId" type="hidden" value="@order.id">
        <input name="action" type="hidden" value="changeProduct">
        <div class="actions">
          <h3>Change product</h3>
          @formField(
            id="newProductId",
            label="New Product Id",
            inputType="text",
            width="span4",
            fields=fields
          )
          <button type="submit" class="btn primary fade in">Change Product</button>
        </div>
      }
    }
    @if(order.reviewStatus != models.enums.OrderReviewStatus.PendingAdminReview) {
      @safeForm('id -> "pending-form", 'method -> "POST", 'action -> postOrder.url) {
        <div class="actions">
          <h3>Revert back to PendingAdminReview?</h3>
          <input name="orderId" type="hidden" value="@order.id">
          <input name="action" type="hidden" value="pending">
          <button type="submit" id="pending-button" class="btn primary fade in">Revert</button>
        </div>
      }
    }
    @if(order.reviewStatus == models.enums.OrderReviewStatus.ApprovedByAdmin) {
      @safeForm('id -> "generateImages-form", 'method -> "POST", 'action -> postOrder.url) {
        <div class="actions">
          <h3>Generate framed print JPG (and also PNG)</h3>
          <input name="orderId" type="hidden" value="@order.id">
          <input name="action" type="hidden" value="generateImages">
          <button type="submit" id="generateImages-button" class="btn primary fade in">Generate JPG and PNG</button>
        </div>
      }
    }
    @if(order.paymentStatus == models.enums.PaymentStatus.Charged) {
      @safeForm('id -> "refund-form", 'method -> "POST", 'action -> postOrder.url) {
        <div class="actions">
        <h3>Refund (but not reject) this order? Be Careful.</h3>
          <input name="orderId" type="hidden" value="@order.id">
          <input name="action" type="hidden" value="refund"><br>
          <button type="submit" id="refund-button"
                  onClick="if(confirm('Are you sure you want to refund order #@order.id?')) {
                    return true;}
                    else {return false;}"
                  class="btn primary fade in">Refund</button>
        </div>
      }
    }
  </div>

}

@body = {
<section id="content" class="top" role="main">
  <div id="main" class="sub">
    <div class="container" id="celebrity-admin">
      <h1>
        Order Admin
      </h1>
      <div row-fluid>
        <div class="span12">
          <h2>Admin Review</h2>
          @valueRow(label="Review Status",        value=order.reviewStatus)
          @valueRow(label="Recipient Name",       value=order.recipientName)
          @if(order.reviewStatus != models.enums.OrderReviewStatus.PendingAdminReview) {
            @valueRow(label="Message To Celebrity", value=order.messageToCelebrity)
            @valueRow(label="Requested Message",    value=order.requestedMessage)
          }
          @valueRow(label="Has Published Egraph?",value=fulfillingEgraph.isDefined)
          @reviewControls
          <hr/>
          <h2>Order Details</h2>
          @valueRow(label="Id",                   value=order.id)
          @valueRow(label="Celebrity",            value=celebrityName)
          @valueRow(label="Product",              value=order.productId, href=productUrl().url)
          @valueRow(label="BuyerId",              value=buyer.id)
          @valueRow(label="Buyer name",           value=buyer.name)
          @valueRow(label="Buyer email",          value=buyerEmail)
          @valueRow(label="RecipientId",          value=recipient.id)
          @valueRow(label="Recipient name",       value=recipient.name)
          @valueRow(label="Recipient email",      value=recipientEmail)
          @valueRow(label="Expected Date",        value=order.expectedDate)
          @valueRow(label="Written Message Type", value=order._writtenMessageRequest)
          @valueRow(label="Privacy Status",       value=order.privacyStatus)
          @valueRow(label="Rejection Reason",     value=order.rejectionReason.getOrElse(""))
          @valueRow(label="Order Type",           value=order._orderType)
          @valueRow(label="Created",              value=order.created)
          @valueRow(label="Updated",              value=order.updated)
          <hr/>
          <h2>Payment Details</h2>
          @valueRow(label="Payment Status",       value=order.paymentStatus)
          @valueRow(label="Amount",               value=order.amountPaid.formatSimply)
        </div>
      </div>    
    </div>
  </div>
</section>    
}


@base_template(title="Admin - Order", body=body)
