@()(implicit authToken: egraphs.authtoken.AuthenticityToken,
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData)
  
@import egraphs.authtoken.AuthenticityToken.safeForm 
@import views.html.frontend.base_template 

@body = {
<section id="content" class="top" role="main">
  <div id="main" class="sub">
    <div class="container" id="celebrity-admin">	
      <h1> Test Video Uploader </h1>

        @helper.form(action = routes.ApiControllers.postVideoAsset, 'enctype -> "multipart/form-data") {

          <input type="file" name="video" />
          <input type="text" name="celebrityId" />
          <input type="submit" name="submit" /> 
        }
    </div>
  </div>
</section>
}

@base_template(title="Admin - Video Uploader", body=body,  jsMain="pages/admin/celebrity")