@(videosAndPublicNames: List[(VideoAsset, String)])(
  implicit authToken: egraphs.authtoken.AuthenticityToken,
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData)
  
@import egraphs.authtoken.AuthenticityToken.safeForm
@import views.html.frontend.base_template
@import models.enums.VideoStatus  
@import controllers.WebsiteControllers

@body = {
<section id="content" class="top" role="main">
  <div id="main" class="sub">
    <div class="container" id="celebrity-admin">
      <h1> Unprocessed Videos </h1> 

      <div class="videos">
          @videosAndPublicNames.map { case (video, publicName) =>
	
	          <div class="video" style="margin: 20px; float: left;">
	          
	            <p> @publicName </p>

                <video width="540" height="340" controls>
                  <source src='@video.url' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                </video>
                            
                <table>
                  <tr>
                    <td>
                      @safeForm('id -> "approve-video-form", 'method -> "POST", 'action -> (
                          routes.WebsiteControllers.postProcessVideo(
                          action = VideoStatus.Approved.name, id = video.id)).url) {
                        
                        <fieldset>
                          <div class="actions">
                            <button type="submit" id="submit-approve-button" class="btn primary fade in">Approve</button>  
                          </div>
                        </fieldset>
                      }
                    </td>

                    <td>
                      @safeForm('id -> "reject-video-form", 'method -> "POST", 'action -> (
                          routes.WebsiteControllers.postProcessVideo(
                          action = VideoStatus.Rejected.name, id = video.id)).url) {
                        
                        <fieldset>
                          <div class="actions">
                            <button type="submit" id="submit-reject-button" class="btn primary fade in">Reject</button>  
                          </div>
                        </fieldset>
                      }
                    </td>
                  </tr>
                </table>

            </div>
          }
      </div>
    </div>
  </div>
</section>
}

@base_template(title="Admin - Unprocessed Videos", body=body, jsMain="pages/admin/celebrity")