@(videoAssetViewModels: List[models.website.video.VideoAssetViewModel], status: String)(
  implicit authToken: egraphs.authtoken.AuthenticityToken,
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData)
  
@import egraphs.authtoken.AuthenticityToken.safeForm
@import views.html.frontend.base_template
@import models.enums.VideoStatus  
@import controllers.WebsiteControllers
@import models.website.video.VideoAssetViewModel

@videoButton(formId: String, videoType: String, buttonId: String, buttonTitle: String) = {
  <td>
    @safeForm('id -> formId, 'method -> "GET", 'action -> (routes.WebsiteControllers.getVideoAssetsWithStatusAdmin(videoType)).url) {

      <fieldset>
        <input name="status" type="hidden" value="@videoType">
        <div class="actions">
          <button type="submit" id="@buttonId" class="btn primary fade in">@buttonTitle</button>
        </div>
      </fieldset>
    }
  </td>
}

@actionButton(formId: String, videoType: String, buttonId: String, buttonTitle: String, videoId: Long) = {
  <td>
    @safeForm('id -> formId, 'method -> "POST", 'action -> (
      routes.WebsiteControllers.postProcessVideoAdmin(
      action = videoType, id = videoId)).url) {

      <fieldset>
        <div class="actions">
          <button type="submit" id="@buttonId" class="btn primary fade in">@buttonTitle</button>
        </div>
      </fieldset>
    }
  </td>
}

@body = {
<section id="content" class="top admin-content" role="main">
  <div id="main" class="sub">
    <div class="container" id="celebrity-admin">
      
      <table>
        <tr>
          @videoButton("see-unprocessed-form", VideoStatus.Unprocessed.name, "see-unprocessed-button", "Unprocessed")
          @videoButton("see-approved-form", VideoStatus.Approved.name, "see-approved-button", "Approved")
          @videoButton("see-rejected-form", VideoStatus.Rejected.name, "see-rejected-button", "Rejected")
        </tr>
      </table> 

      <h1> @status Videos </h1>

      <div class="videos">
          @videoAssetViewModels.map { case VideoAssetViewModel(videoUrl, videoId, celebrityPublicName, created) =>
	
	          <div class="video" style="margin: 20px; float: left;">
	          
	            <p> @celebrityPublicName <small style="font-size:12px">(Uploaded @created GMT)</small></p>

                <video width="540" height="340" controls>
                  <source src='@videoUrl' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                </video>
                            
                <table>
                  <tr>
                    @actionButton("approve-video-form", VideoStatus.Approved.name, "submit-approve-button", "Approve", videoId)
                    @actionButton("reject-video-form", VideoStatus.Rejected.name, "submit-reject-button", "Reject", videoId)
                  </tr>
                </table>
            </div>
          }
      </div>
    </div>
  </div>
</section>
}

@base_template(title="Admin - Unprocessed Videos", body=body, jsMain="pages/admin/celebrity")