@(order: models.Order,
  product: models.Product,
  buyer: models.Customer,
  buyerEmail: String,
  recipient: models.Customer,
  recipientEmail: String,
  fulfillingEgraph: Option[models.Egraph],
  fields: (String) => String)(implicit session: play.mvc.Scope.Session)

@import controllers.WebsiteControllers
@import services.Finance.TypeConversions._
@import services.Utils.lookupUrl
@import views.Application.tags.html.authenticityToken
@import views.Application.tags.html.formField
@import views.Application.tags.html.valueRow
@import views.Application.html.content_base

@content_base(title="Admin - Order", body=body, head=head)

@head = {
<script src='@asset("public/twitter-bootstrap-1.4.0/js/bootstrap-alerts.js")' type="text/javascript"></script>
}

@postOrder = @{
  lookupUrl("WebsiteControllers.postOrderAdmin", Map("orderId" -> order.id.toString))
}

@productUrl() = @{
  lookupUrl("WebsiteControllers.getProductAdmin", Map("productId" -> order.productId.toString))
}

@reviewControls = {
  @if(order.reviewStatus == models.enums.OrderReviewStatus.PendingAdminReview) {
    <div class="form">
      <form id="approve-form" method="POST" action='@postOrder' enctype="application/x-www-form-urlencoded">
        @authenticityToken()
        <input name="orderId" type="hidden" value="@order.id">
        <input name="action" type="hidden" value="approve">
        <div class="actions">
          <h3>Approve so that Celebrity can fulfill</h3>
          <button type="submit" id="approve-button" class="btn primary fade in">Approve</button>
        </div>
      </form>
      <form id="reject-form" method="POST" action='@postOrder' enctype="application/x-www-form-urlencoded">
        @authenticityToken()
        <input name="orderId" type="hidden" value="@order.id">
        <input name="action" type="hidden" value="reject">
        <div class="actions">
          <h3>Reject so that Celebrity will not see this order</h3>
          <label>Rejection Reason</label>
          <div class="input">
            <input name="rejectionReason" type="text" maxlength="128"/>
          </div>
          <button type="submit" id="reject-button" class="btn primary fade in">Reject</button>
        </div>
      </form>
      <form id="editMessages-form" method="POST" action='@postOrder' enctype="application/x-www-form-urlencoded">
        @authenticityToken()
        <input name="orderId" type="hidden" value="@order.id">
        <input name="action" type="hidden" value="editMessages">
        <div class="actions">
          <h3>Edit messages -- please edit with care!</h3>
          @formField(id="messageToCelebrity", label="Message to Celebrity", inputType="text", width="span8", fields=fields)
          @formField(id="requestedMessage"  , label="Requested Message"   , inputType="text", width="span8", fields=fields)
          <button type="submit" id="editMessages-button" class="btn primary fade in">Edit Messages</button>
        </div>
      </form>
    </div>
  }
}

@body = {
<div class="admin-content">
  <h1>
    Order Admin
  </h1>
  <h2>Admin Review</h2>
  @valueRow(label="Review Status",        value=order.reviewStatus)
  @valueRow(label="RecipientName",        value=order.recipientName)
  @{/** Avoid repeating these values. */}
  @if(order.reviewStatus != models.enums.OrderReviewStatus.PendingAdminReview) {
    @valueRow(label="Message To Celebrity", value=order.messageToCelebrity)
    @valueRow(label="Requested Message",    value=order.requestedMessage)
  }
  @valueRow(label="Has Published Egraph?",value=fulfillingEgraph.isDefined)
  @reviewControls
  <hr/>
  <h2>Order Details</h2>
  @valueRow(label="Id",                   value=order.id)
  @valueRow(label="Product",              value=order.productId, href=productUrl().url)
  @valueRow(label="BuyerId",              value=buyer.id)
  @valueRow(label="Buyer name",           value=buyer.name)
  @valueRow(label="Buyer email",          value=buyerEmail)
  @valueRow(label="RecipientId",          value=recipient.id)
  @valueRow(label="Recipient name",       value=recipient.name)
  @valueRow(label="Recipient email",      value=recipientEmail)
  @valueRow(label="Expected Date",        value=order.expectedDate)
  @valueRow(label="Privacy Status",       value=order.privacyStatus)
  @valueRow(label="Rejection Reason",     value=order.rejectionReason.getOrElse(""))
  @valueRow(label="Created",              value=order.created)
  @valueRow(label="Updated",              value=order.updated)
  <hr/>
  <h2>Payment Details</h2>
  @valueRow(label="Payment Status",       value=order.paymentStatus)
  @valueRow(label="Amount",               value=order.amountPaid.formatSimply)
</div>
}
