@(videoAssetViewModels: List[models.website.video.VideoAssetViewModel], status: String)(
  implicit authToken: egraphs.authtoken.AuthenticityToken,
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData)
  
@import egraphs.authtoken.AuthenticityToken.safeForm
@import views.html.frontend.base_template
@import models.enums.VideoStatus  
@import controllers.WebsiteControllers
@import models.website.video.VideoAssetViewModel

@body = {
<section id="content" class="top admin-content" role="main">
  <div id="main" class="sub">
    <div class="container" id="celebrity-admin">
      
      <table>
        <tr>
          <td>
            @safeForm('id -> "see-unprocessed-form", 'method -> "GET", 'action -> (routes.WebsiteControllers.getVideoAssetsWithStatusAdmin(VideoStatus.Unprocessed.name)).url) {

              <fieldset>
                <input name="status" type="hidden" value="@VideoStatus.Unprocessed.name">
                <div class="actions">
                  <button type="submit" id="see-unprocessed-button" class="btn primary fade in">Unprocessed</button>
                </div>
              </fieldset> 
            } 
          </td>

          <td>
            @safeForm('id -> "see-approved-form", 'method -> "GET", 'action -> (routes.WebsiteControllers.getVideoAssetsWithStatusAdmin(VideoStatus.Approved.name)).url) {

              <fieldset>
                <input name="status" type="hidden" value="@VideoStatus.Approved.name">
                <div class="actions">
                  <button type="submit" id="see-approved-button" class="btn primary fade in">Approved</button>
                </div>
              </fieldset> 
            } 
          </td>
                    
          <td>
            @safeForm('id -> "see-rejected-form", 'method -> "GET", 'action -> (routes.WebsiteControllers.getVideoAssetsWithStatusAdmin(VideoStatus.Rejected.name)).url) {

              <fieldset>
                <input name="status" type="hidden" value="@VideoStatus.Rejected.name">
                <div class="actions">
                  <button type="submit" id="see-rejected-button" class="btn primary fade in">Rejected</button>
                </div>
              </fieldset> 
            } 
          </td>
        </tr>
      </table> 

      <h1> @status Videos </h1>

      <div class="videos">
          @videoAssetViewModels.map { case VideoAssetViewModel(videoUrl, videoId, celebrityPublicName, created) =>
	
	          <div class="video" style="margin: 20px; float: left;">
	          
	            <p> @celebrityPublicName <small style="font-size:12px">(Uploaded @created GMT)</small></p>

                <video width="540" height="340" controls>
                  <source src='@videoUrl' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                </video>
                            
                <table>
                  <tr>
                    <td>
                      @safeForm('id -> "approve-video-form", 'method -> "POST", 'action -> (
                          routes.WebsiteControllers.postProcessVideoAdmin(
                          action = VideoStatus.Approved.name, id = videoId)).url) {
                        
                        <fieldset>
                          <div class="actions">
                            <button type="submit" id="submit-approve-button" class="btn primary fade in">Approve</button>  
                          </div>
                        </fieldset>
                      }
                    </td>

                    <td>
                      @safeForm('id -> "reject-video-form", 'method -> "POST", 'action -> (
                          routes.WebsiteControllers.postProcessVideoAdmin(
                          action = VideoStatus.Rejected.name, id = videoId)).url) {
                        
                        <fieldset>
                          <div class="actions">
                            <button type="submit" id="submit-reject-button" class="btn primary fade in">Reject</button>  
                          </div>
                        </fieldset>
                      }
                    </td>
                  </tr>
                </table>

            </div>
          }
      </div>
    </div>
  </div>
</section>
}

@base_template(title="Admin - Unprocessed Videos", body=body, jsMain="pages/admin/celebrity")