@()
@{/** All of the Tools we have. Wiki reference available at https://egraphs.atlassian.net/wiki/display/DEV/Tools */}

<!doctype html>
<html>
<head>
  <title>Admin Tools</title>
</head>
<body>
<h1>Admin Tools</h1>
<p>
  Welcome to tools. These are a collection of scripts that don't impact the server performance wise and are
  safe to run by admins.

</p>
<h2>JVM</h2>
<ol>
  <li>
    <a href="/admin/script?action=print-jvm-params">Print JVM Params</a>
    Prints paramaters related to the JVM this instance is running on.
  </li>
</ol>
<ol>
  <li>
    <a href="/admin/script?action=kick-egraphs-awaitingverification">
      Kicks egraphs awaiting verification</a>

  </li>
</ol>
<ol>
  <li>
    <a href="/admin/script?action=kick-pending-enrollmentbatches">
      Kicks pending enrollment batches
    </a>
  </li>
</ol>


</body>
</html>
