@()(implicit authToken: egraphs.authtoken.AuthenticityToken,
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData)
  
@import views.html.frontend.base_template 
@import egraphs.authtoken.AuthenticityToken.safeForm

@body = {
<section id="content" class="top" role="main">
  <div id="main" class="sub">
    <div class="container" id="celebrity-admin">	
      <h1> Test Video Uploader </h1>

        @safeForm('id -> "upload-video-form", 'method -> "POST", 'action -> (routes.WebsiteControllers.postVideoAsset).url, 'enctype -> "multipart/form-data") {

          <fieldset>
            <button type="file" id="select-file-button" name="video" class="btn primary fade in">Choose File</button>
            <input type="text" name="celebrityId" />
            
            <div class="actions">
              <button type="submit" id="submit-video-button" class="btn primary fade in">Submit</button>
            </div>
          </fieldset> 
        }        
    </div>
  </div>
</section>
}

@base_template(title="Admin - Video Uploader", body=body,  jsMain="pages/admin/celebrity")