@(isCreate: Boolean, celebrity: models.Celebrity, errorFields: Option[List[String]], fields: (String) => String, product: Option[models.Product] = None, isTestMode: Boolean = false
)(implicit authToken: egraphs.authtoken.AuthenticityToken, 
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData)

@import controllers.WebsiteControllers
@import egraphs.authtoken.AuthenticityToken.safeForm
@import views.html.Application.tags.errorMessage
@import views.html.Application.tags.formField
@import views.html.frontend.tags
@import views.html.frontend.tags.ng
@import views.html.frontend.base_template

@postProduct = @{
  product match {
    case Some(p) => routes.WebsiteControllers.postProductAdmin(productId = p.id)
    case None => routes.WebsiteControllers.postCreateProductAdmin(celebrityId = celebrity.id)
  }
}

@productPhoto = {
  @product.map(p => p.photo.resizedWidth(600).getSaved(services.blobs.AccessPolicy.Public).url).getOrElse("")
}

@productPhotoPreview = {
  @product.map(p => p.signingAreaPreview(600))
}

@productIcon = {
  @product.map(p => p.icon.getSaved(services.blobs.AccessPolicy.Public).url).getOrElse("")
}

@body = {
<section id="content" class="top" role="main">
  <div id="main" class="sub">
    <div class="container" id="celebrity-admin">
      <h1>
        @celebrity.publicName - @{if(isCreate) "Create" else "Update"} Product
      </h1>
      <div class="form row-fluid">
        <div class="span12 form-column">
          @safeForm('id -> "product-detail", 'method -> "POST", 'action -> postProduct.url, 'enctype -> "multipart/form-data") {
            <fieldset>
              <input id="productId" name="productId" type="hidden" value="@fields("productId")">
              <input id="publishedStatus" name="publishedStatusString" type="hidden" value="@fields("publishedStatusString")">
              <legend>Product Details</legend>

              @formField(
                id="productName",
                label="Product  Name",
                inputType="text",
                width="span4",
                fields=fields
              )

              @formField(
                id="productDescription",
                label="Product Description",
                inputType="text",
                width="span4",
                help=Some("Will be displayed on the product's page."),
                fields=fields
              )

              @formField(
                id="priceInCurrency",
                label="Price in USD",
                inputType="text",
                width="span4",
                fields=fields
              )

              @if(isCreate && isTestMode) {
                @formField(
                  id="createWithoutInventory",
                  label="Override inventory?",
                  inputType="checkbox",
                  width="checkbox",
                  help=Some("Demo'ers should leave this unchecked"),
                  fields=fields
                )
              }

            </fieldset>
            <fieldset>
              <legend>egraph presentation: media</legend>
              
              @formField(id="productImage", label="Product Photo", inputType="file", width="span8", help=Some("Must be JPG or PNG with minimum dimensions of 1024x1024. Will be cropped."), fields=fields)

              @formField(id="signingOriginX", label="Signing Origin X", inputType="text", width="span4", help=Some("Between 0 and 575"), fields=fields)
              @**   @formField(id="signingOriginY", label="Signing Origin Y", inputType="text", width="span4", fields=fields) *@
              <input id="signingOriginY" name="signingOriginY" type="hidden" value="0">

              @formField(
                id="productIcon",
                label="Product Plaque Icon",
                inputType="file",
                width="span8",
                help=Some("Must be transparent PNG with square dimensions. Will be cropped."),
                fields=fields
              )
            </fieldset>
            <fieldset>
              <legend>egraph presentation: story <a class="customize" href="https://egraphs.jira.com/wiki/display/DEV/Egraph+Page#EgraphPage-HowtoCustomizeTheStory">(Customize)</a></legend>
              @formField(
                id="storyTitle",
                label="Title",
                inputType="text",
                width="input-large",
                help=Some("e.g. <em>The Story</em>"),
                fields=fields
              )

              <div class="clearfix">
                <label for="storyText">Body</label>
                <div class="input">
                  <textarea class="xlarge" id="storyText" name="storyText" rows="4" cols="6">@fields("storyText")</textarea>
                  <span class="help-block">
                    This text will be displayed alongside the egraph when it is viewed by the customer
                  </span>
                </div>
              </div>
              <button class="btn toggle" data-toggle="toggle" id="publish-button" type="button">Published</button>
              <div class="actions">
                @tags.arrow_button(caption="Submit")  
                <button type="reset" class="button">
                  <strong><em>Reset</em></strong><span>&raquo;</span>
                </button>     
                @errorMessage(errorFields)
              </div>
            </fieldset>
          }
        </div>
        <div class="row-fluid"> 
          <div class="span12 profile-thumbnail" >
            <legend>Current Photo</legend>
            <img src="@productPhoto">
            <legend>Current Icon</legend>
            <img src="@productIcon">
          </div>
        
    </div>
  </div>
</section>
}

@base_template(title="Admin - Product Details", body=body, jsMain="pages/admin/celebrity-product-detail")
