@(egraphsAndResults: Iterable[(models.Egraph, models.Celebrity, Option[models.vbg.VBGVerifySample], Option[models.xyzmo.XyzmoVerifyUser])], celebrity: Option[models.Celebrity] = None
)(implicit authToken: egraphs.authtoken.AuthenticityToken,
  paginationInfo: models.frontend.PaginationInfo,
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData)


@import controllers.WebsiteControllers
@import egraphs.authtoken.AuthenticityToken.safeForm
@import views.html.frontend.tags.pagination
@import views.html.frontend.tags
@import views.html.frontend.base_template


@headline = {
  @if(celebrity.isDefined) {@celebrity.get.publicName's Egraphs} else {Egraphs}
}

@body = {
<section id="content" class="top" role="main">
  <div id="main" class="sub">
    <div class="container" id="celebrity-admin">
      <h1>
        @headline @paginationInfo.totalResultsStr
      </h1>
      <section>
        <h2>Filters:</h2>
        <ul class="span16">
          <li><a href="?filter=pendingAdminReview">Pending Admin Review</a></li>
          <li><a href="?filter=passedBiometrics">Pass Biometrics</a></li>
          <li><a href="?filter=failedBiometrics">Failed Biometrics</a></li>
          <li><a href="?filter=approvedByAdmin">Approved by Admin</a></li>
          <li><a href="?filter=rejectedByAdmin">Rejected by Admin</a></li>
          <li><a href="?filter=awaitingVerification">Awaiting Verification</a></li>
          <li><a href="?filter=published">Published</a></li>
          <li><a href="?filter=pendingMlbReview">Pending MLB review</a></li>
          <li><a href="?filter=rejectedByMlb">Rejected by MLB</a></li>
          <li><a href="?filter=all">All</a></li>
        </ul>
      </section>    
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th></th>
            <th>Id</th>
            <th>Celebrity</th>
            <th>State</th>
            <th>Order Id</th>
            <th>Signature Result</th>
            <th>Voice Result</th>
          </tr>
        </thead>
        @egraphsAndResults.map { case (egraph, celebrity, vbgVerifySample, xyzmoVerifyUser) =>
        <tr>
          <td>
            <a class="preview-link" href="/admin/egraphs/@egraph.id">
              Details
            </a>
          </td>
          <td>@egraph.id</td>
          <td>@celebrity.publicName</td>
          <td>@egraph.egraphState</td>
          <td>@egraph.orderId</td>
          <td>@if(xyzmoVerifyUser.isDefined) {@xyzmoVerifyUser.get.resultStr} else {}</td>
          <td>@if(vbgVerifySample.isDefined) {@vbgVerifySample.get.resultStr} else {}</td>
        </tr>
        }
      </table>
      @pagination()
  </div>
 </div>
</section>  
}

@base_template(title="Admin - Egraphs", body=body, jsMain="pages/admin/celebrity")
