@()
@{/** All of the Tools we have. Wiki reference available at https://egraphs.atlassian.net/wiki/display/DEV/Tools */}

<!doctype html>
<html>
<head>
  <title>Admin Tools</title>
</head>
<body>
<h1>Admin Tools</h1>
<p>
  Welcome to Tools. Please do not run these more than necessary.
  <a href="https://egraphs.atlassian.net/wiki/display/DEV/Tools">Wiki documentation available here</a>.
</p>
<h2>Orders</h2>
<ol>
  <li>
    <a href="?action=order-report">Order Report</a> - Note: an Order will have multiple rows if there are multiple outstanding candidate Egraphs (rejected Egraphs are excluded).
  </li>
</ol>

<h2>Physical Print Report</h2>
<ol>
  <li><a href="?action=physical-print-report">Physical Print Report</a></li>
</ol>

<h2>Inventory Batches</h2>
<ol>
  <li><a href="?action=inventory-batch-report">Inventory Batch Report</a> - Goes back 90 days based on end date</li>
</ol>

<h2>Monthly Celebrity Payment Tools</h2>
<ol>
  <li><a href="?action=monthly-celebrity-order-report">Digital Order View</a> - for previous full month</li>
  <li><a href="?action=monthly-celebrity-print-order-report">Print Order View</a> - for previous full month</li>
</ol>

<h2>Email lists</h2>
<ol>
  <li><a href="?action=email-list-report">New Stars Updates Subscribers</a></li>
</ol>
</body>
</html>
