@(categories: Iterable[models.categories.Category] = None)(implicit authToken: egraphs.authtoken.AuthenticityToken,
  paginationInfo: models.frontend.PaginationInfo,
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData)

@import controllers.WebsiteControllers
@import egraphs.authtoken.AuthenticityToken.safeForm
@import views.html.frontend.tags.pagination
@import views.html.frontend.tags
@import views.html.frontend.tags.ng
@import views.html.frontend.base_template

@body = {

<section id="content" class="top" role="main">
  <div id="main" class="sub">
    <div class="container" id="celebrity-admin">
      <h1>
        Categories @paginationInfo.totalResultsStr
      </h1>
	  <div class="row-fluid">
	  	<div class="span12">
	  	  <h3>Create a category</h3>
	      @safeForm('method -> "POST", 'action -> routes.WebsiteControllers.postCategoryAdmin.url, 'enctype -> "multipart/form-data", 'class -> "form-inline"){
      	  <label>Name</label>  
          <input type="hidden" name="categoryId" value="0">
          <input type="text" name="name">
          <span class="help-block">The name should be easy to search for like "MLB" or "NBA Position"</span>
          <label>PublicName</label>
          <input type="text" name="publicName"> 
          <span class="help-block">Pick a name to be displayed publicly, like "Team" or "Instrument"</span>
          <button class="btn btn-primary" type="submit">Save</button>	
	      }
	    </div>
	  </div>    	
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>PublicName</th>
            </tr>
          </thead>
        @categories.map { (category)  =>
          <tr>
            <td><a href="@routes.WebsiteControllers.getCategoryAdmin(category.id)">@category.id</a></td>
            <td>@category.name</td>
            <td>@category.publicName</td>
          </tr> 
        }
      </table>  
      @pagination()
    </div>
  </div>
</section>    
}

@base_template(title="Admin - Categories", body=body)