@(customerName: String, email: String, resetPasswordUrl: String)

<html>
  <body>
    <h2>Egraphs Password Recovery</h2>
    <p>
      Hi @customerName,
    </p>
    <p>
      We received a request to change the password associated with your email address (@email). If you would like to change your password, please click on the link below. If you didn't make this request, or no longer need to change your password, you can ignore this email.
    </p>
    <p>
      <a href="@resetPasswordUrl">Reset Password</a>
    </p>
    <p>
      We hope you are enjoying your Egraphs experience - please don't hesitate to contact us at support@@egraphs.com if you have questions or suggestions.
    </p>
    <p>
      -Your friends at Egraphs
    </p>
  </body>
</html>
