#content #main.egraph {
  margin-bottom: 0px;
  max-width: 720px;
}

#content.egraph-section {
  padding-bottom: 0px;
}

#content {
  div#main.egraph {
    .container {
      margin: 40px 0px 25px 0px;
      max-width: 100%;
    }

    /*
    .vjs-default-skin .vjs-play-progress {
      border-width: 1px 1px 1px 1px;
      border-style: solid;
      margin: 0px 60px 0px 60px;
    }
    */

  }
}
