// Styles for the gift certificate checkout page

#content.gift-certificate-checkout {
  @separatorColor: 1px solid lighten(@gray, 50%);
  section {
    border-bottom:@separatorColor;
    .box-shadow(0px 1px 0px white);
    padding-top:7px;
    padding-bottom:15px;

    &.first {
      border-top: none;
    }
  }

  h2 {
    color:#4d4d4d;
    text-transform: uppercase;
    font-size:16px;
    font-weight:600;
    margin-bottom:15px;
  }

  .hint {
    color:#808080;
    font-size:14px;
    font-weight:300;
    line-height:normal;
  }


  #masthead {
    h1 {
      font-size:40px;
      font-weight:100;
      margin-top:20px;
    }

    ul {
      color:#808080;
      padding-top:30px;
      font-size:14px;
      font-weight:300;
      
      li {
        line-height:18px;
        list-style-type:circle;
      }
    }
  }

  #choose-amount {
    .amount-option {
      position:relative;

      button.btn {
        border-radius:0px;
        position:relative;
        .buttonBackground(lighten(@gray, 60%), lighten(@gray, 45%));
        color: #333;
        height:70px;
        width:100%;
        text-transform:uppercase;
        font-weight:300;
        font-size:36px;

        .dollah {
          position:relative;
          vertical-align:super;
          top:3px;
          font-size:22px;
        }

        &:hover {
          .gradientBar(lighten(@orange, 30%), lighten(@orange, 40%));
          *background-color: @orange;        
          border:1px solid lighten(@orange, 25%);
        }

        &.active, &:active {
          .gradientBar(@orange, lighten(@orange, 10%));
          *background-color: @orange;
          .reset-filter();
          // font-weight:600;
          color:white;
          text-shadow: 0px -1px 0px black;
        }
      } // End button.btn

      &.own-amount {
        button.btn {
          font-size:20px;
        }

        #amount-field {
          position:relative;
          display:inline-block;
          float:right;
          margin-top:15px;

          .dollah {
            position:relative;
            top:-1px;
            color:#333;
            font-size:20px;
            padding-right:7px;
          }

          input {
            max-width:70px;
          }
        }
      }
    } // End .amount-option

    .hint {
      padding-top:4px;
      text-align:center;
    }
  } // End .choose-amount

  #personalize {
    input {
      width:100%;
    }

    .input.gifter-name {
      margin-top:15px;
    }
  }

  #billing-review-column {
    border-right:@separatorColor;
    .box-shadow(1px 1px 0px white);
  }

  .price-summary {
    border-top:1px solid white;
  }
} // End #content

@media (max-width:767px) { #content.gift-certificate-checkout {  
  #choose-amount {
    .amount-option {
      // Space out the buttons once they snap to vertical alignment
      margin-bottom: 15px;
    }
  }

  #personalize {
    div.input {
      padding-right:10px;

      input {
        width: 100%;
      }
    }
  }

  #billing-review-column {
    border-right:none;
    .box-shadow(1px 0px 0px white);
  }

  aside.price-summary {
    display:none;
  }
}}