// Styles for the gift certificate checkout page

@sectionSeparator: 1px solid lighten(@gray, 50%);

#content.gift-certificate-checkout {
  @sectionSeparator: 1px solid lighten(@gray, 50%);
  section {
    border-bottom:@sectionSeparator;
    .box-shadow(0px 1px 0px white);
    padding-top:7px;
    padding-bottom:15px;

    &.first {
      border-top: none;
    }

    .control-label {
      text-align: left;
    }
  }

  h2 {
    color:#4d4d4d;
    text-transform: uppercase;
    font-size:16px;
    font-weight:600;
    margin-bottom:15px;
  }

  .hint {
    color:#808080;
    font-size:14px;
    font-weight:300;
    line-height:normal;
  }

  #masthead {
    h1 {
      font-size:40px;
      font-weight:100;
      margin-top:20px;
    }

    ul {
      color:#808080;
      padding-top:30px;
      font-size:14px;
      font-weight:300;
      
      li {
        line-height:18px;
        list-style-type:circle;
      }
    }
  }

  #choose-amount {
    .amount-option {
      position:relative;

      button.btn {
        border-radius:0px;
        position:relative;
        .buttonBackground(lighten(@gray, 60%), lighten(@gray, 45%));
        color: #333;
        height:70px;
        width:100%;
        text-transform:uppercase;
        font-weight:300;
        font-size:36px;

        .dollah {
          position:relative;
          vertical-align:super;
          top:3px;
          font-size:22px;
        }

        &:hover {
          border:1px solid @orange;
        }

        &.active, &:active {
          .gradientBar(@orange, lighten(@orange, 10%));
          *background-color: @orange;
          .reset-filter();
          color:white;
          text-shadow: 0px -1px 0px black;
        }
      } // End button.btn

      &.own-amount {
        button.btn {
          font-size:20px;
        }

        #amount-field {
          position:relative;
          display:inline-block;
          float:right;
          margin-top:15px;

          .dollah {
            position:relative;
            top:-1px;
            color:#333;
            font-size:20px;
            padding-right:7px;
          }

          input {
            max-width:70px;
          }
        }
      }
    } // End .amount-option

    .hint {
      padding-top:4px;
      text-align:center;
    }

  } // End .choose-amount

  #personalize {
    border-bottom:0px;
    .box-shadow(none);

    h2 {
      margin-bottom:0px;
    }

    .control-group {
      margin-right:10px;
      input {
        width:100%;
      }
    }


    .hint {
      margin-bottom: 12px;
    }
  }

  #billing {
    padding-left:@fluidGridGutterWidth;
    border-bottom:none;
    border-left: @sectionSeparator;
    .box-shadow(1px 0px 0px white inset);

    .control-group {
      margin-right:10px;
    }

    input {
      width:100%;
    }
  }

  button.review {
    margin-top:20px;
  }

  input#card-cvc, input#postal-code {
    max-width:50px;
  }

} // End #content

@media (max-width:767px) { #content.gift-certificate-checkout {  
  @sectionSeparator: 1px solid lighten(@gray, 50%);
  .controls {
    // Eliminate artifactual input expansion outside of grid due to spanning at
    // 100%
    margin-right:10px;

    input[type="text"] {
      width:100%;
    }
  }

  #choose-amount {
    .amount-option {
      // Space out the buttons once they snap to vertical alignment
      margin-bottom: 15px;
    }
  }

  #personalize {
    border-bottom:@sectionSeparator;
    .box-shadow(0px 1px 0px white);
  }

  #billing {
    padding-left: none;
    border-left: none;
    .box-shadow(none);
  }
}}