// Styles for the masthead of the website landing page.

.masthead-gradient(@break0 : 0%, @break1 : 360px, @break2 : 476px) {
    background: -moz-radial-gradient(center, circle farthest-side, rgba(26,26,26,0) 0%, rgba(26,26,26,0) 320px,  rgba(26,26,26,1) 476px); /* FF3.6+ */
    background: -webkit-radial-gradient(center, circle farthest-side, rgba(26,26,26,0) 0%, rgba(26,26,26,0) 320px, rgba(26,26,26,1) 476px); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, circle farthest-side, rgba(26,26,26,0) 0%, rgba(26,26,26,0) 320px, rgba(26,26,26,1) 476px); /* Opera 12+ */
    background: -ms-radial-gradient(center, circle farthest-side, rgba(26,26,26,0) 0%, rgba(26,26,26,0) 320px, rgba(26,26,26,1) 476px); /* IE10+ */
    background: radial-gradient(circle at center, rgba(26,26,26,0) 0%, rgba(26,26,26,0) 320px, rgba(26,26,26,1) 476px); /* W3C */
}
#masthead.carousel {
  margin-bottom: 0;
  background: rgba(26,26,26,1);
  .transition(.6s cubic-bezier(0,.98,.21,.9) left);
  // force 3d acceleration
  .translate3d(0,0,0);

  .carousel-controls {
    position: absolute;
    bottom: 15%;
    left: 10%;
    .carousel-control {
      position: static;
      border: 2px solid @white;

      margin-left: 15px;  
      float: left;
      margin-top: 0;
      width: 24px; // 14 + 3 + 3 = 20px
      height: 24px; // 12 + 5 + 3 = 20px
      
      
      i {
        margin-top: 5px;

        &.icon-pause {
          margin-left: 1px;
        }
      }

    }
  }
}
.masthead-home {
  .box-shadow(inset 0 -8px 8px -8px rgba(0, 0, 0, .5));
  
  // Specify all aspects of the background but the image url,
  // which is specified in the actual page.
  background-color: @grayDarker;
  background-repeat: no-repeat;
  background-position: 50% 0; // center align
  background-size: auto 100%; // scale responsively with masthead height

  .banner-gradient {
    max-width: 1551px;
    margin: 0 auto;
    height: 100%;    
  }

  h1 {
    margin-top:20px;
    color: @white;
    font-size: 52px;
    font-weight: 300;
    line-height: 1.15em;
    margin-top: .75em;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .5);
  }

  h2 {
    color: @white;
    line-height: 1.15em;
    font-weight: : 300;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .5); 
  }

  .helper {
    border-bottom: 1px dotted @white;
    color: @white;
    font-size: 12px;

    &:hover {
      border-bottom: 1px dotted @orange;
      color: @orange;
    }
  }
  
  .play-egraph, .get-started {
    margin-top: 10px;
    i {
      margin-left: 5px;
      vertical-align: middle;
    }
  }
  
  form {
    width: 256px;

    .search-control {
      .celebrity-searchbox-container();
      border: 1px solid @orange;
    }

    .help-block {
      font-size: 12px;
      color: @white;
    }
  }
}

#video-modal {
  
  .modal-dismissal {
    border-bottom: 1px dotted @orange;
    background: none;
    color: @orange;
    cursor: pointer;
    float: right;
    text-decoration: none;
  }

  #egraph-container {
    height: 0;
    padding-bottom: 61.04%;  // 16:9;
    padding-top: 25px;
    position: relative;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
// Past 1080 pixels width we turn on the radial gradient that obscures the
// photo's edge
@media (min-width: 1080px) {
  .masthead-home {
    height: 400px;

    h1 {
      max-width: 440px;
    }   

    .header-parent {
      padding: 0px; // overwrite unattractive bootstrap padding
    }

    .banner-gradient {
      background: url(../images/bg-banner-gradient.png) repeat-y 50% 0;
    }

    .row { margin-left: -60px; }     
  }
  
  // Put in a radial fade-to-dark-gray for big screens.

  .cssgradients .masthead-home .banner-gradient { 
    .masthead-gradient(0%, 74.6%, 100%)
  }
} // end min-width: 1080px;

// Down-adjust masthead height at resolutions below 1080p
@media (max-width: 1079px) and (min-width: 768px) {
  .masthead-home {
    min-height: 400px;
  }
  
  .cssgradients .masthead-home .banner-gradient { 
    background: none;
  }
}

@media (max-width: 767px) {
  .masthead-home {
    min-height: 300px;

    h1 {
      max-width: 75%;
      font-size: 38px;
    }
  } // end .masthead-home-a
}

@media (max-width: 767px) and (min-width: 481px) {
  #video-modal {
    // Override Bootstrap default values. 
    width: 480px;
    margin-left: -240px;
  }  
}

@media (max-width: 480px) {
  .masthead-home {  
    min-height: 250px;

    form {  
      display: none;
    }
  
      h1 {
        margin-top: 1.25em;
        font-size: 25px;
      }
  }
  #video-modal {
    // Override inappropriate responsive CSS from
    // assets/bootstrap-modal/css/bootstrap-modal.css
    top: 70%;
    .modal-header {
      display: none;
    }
  }
}