// Various mixins

.inline-block {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

.gradient-white {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

//.box-shadow(@x, @y, @blur, @color) {
.box-shadow(@arguments) {
  box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
}

.border-radius-top(@arguments) {
	-webkit-border-top-left-radius: @arguments;
	-webkit-border-top-right-radius: @arguments;
	-moz-border-radius-topleft: @arguments;
	-moz-border-radius-topright: @arguments;
	border-top-left-radius: @arguments;
	border-top-right-radius: @arguments;
}

.border-radius-bottom(@arguments) {
	-webkit-border-bottom-left-radius: @arguments;
	-webkit-border-bottom-right-radius: @arguments;
	-moz-border-radius-bottomleft: @arguments;
	-moz-border-radius-bottomright: @arguments;
	border-bottom-left-radius: @arguments;
	border-bottom-right-radius: @arguments;
}

.transitions(@arguments) {
	-moz-transition: @arguments;
	-webkit-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

// Surrounds the element with a 1px border, default egraphs orange,
// that glows upon hover or focus.
.glowborder(@color: @orange) {
  border: 1px solid lighten(@color, 10%);    
  .box-shadow(0px 0px 0px @color);
  @transition: border .2s linear, box-shadow .2s linear;
  .transition(@transition);

  &:hover {
    .box-shadow(0px 0px 6px @color);
    border: 1px solid @color;
  }

  &:focus {
    border: 1px solid @color;
    .box-shadow(0px 0px 6px @color);
  }  
}

// A search box that doesn't use images.  It's borders glow.
.celebrity-searchbox-container2(@mainColor: @orange, @borderColor: @offWhite) {
  .border-radius(3px 3px 3px 3px);
  .glowborder(@mainColor);
  border: 1px solid @borderColor;
  border-radius: 4px;

  input[type="search"] {
    -webkit-appearance: none;
    font-size: 14px;
    height: 25px;
    margin-right: -1px;
    position: relative;

    &:focus {
      border: 1px solid silver;
      .box-shadow(0px 0px 0px @mainColor);
    }

    &::-webkit-input-placeholder {
      color: @mainColor;
    }

    &::-moz-placeholder {
      color: @mainColor;
    }

    &::-ms-placeholder {
      color: @mainColor;
    }
  }

  .btn {
    i {
      margin-top: 2px;
    }
    background: @mainColor;
    bottom: 0;
    margin-left: -4px;
    padding-bottom: 5px;
    position: relative;
    right: 0;
    top: 0;
  }
}

// A type of glowborder appropriate for presenting a captioned image.
// Mix this in on the highest parent container that wishes to have its
// hover trigger the glowed around contained a.glowborder
.glowborder-link-container() {
  a.glowborder {
    display: block;
    padding: 4px;
    .glowborder();
    
    img {
      display: block;
    }
  }

  a { color: @orange; }
}

/* !Celebrity Search Box */
.celebrity-searchbox-container(@margin-override: 1px) {


  position: relative;
  input[type=search] {
    .inline-block;
    vertical-align: middle;
    font-size: 20px;
    width: 90%;
    color: @orange;
    margin: 0;
    -webkit-appearance : none;
    border-radius: 0;
    .glowborder();

    &::-webkit-input-placeholder {
      color: @orange;
    }

    &::-moz-placeholder {
      color: @orange;
    }

    &::-ms-placeholder {
      color: @orange;
    }

  }
  input[type=submit] {
    position: absolute;
    background: @white url(../images/bg-icon-magnify.png) no-repeat 94% 50%;
    border: none;
    width: 20%;
    vertical-align: middle;
    right: 10%;
    -webkit-appearance: none;
    margin-top: @margin-override;
    .box-shadow(none);
  }
}

//
// Renders correctly-scaled social buttons as a sprite represented by bg-sprite-social-icons.png.
//
// Params:
//   cellEdgeLength -- the intended size of one edge of the button.
//
.social-sprite(@cellEdgeLength) {
  @spriteColumns: 3;
  @spriteRows: 3;
  @facebookX: 0%;
  @twitterX: 50%;
  @defaultY: 0%;
  @hoverY: 50%;

  display: inline-block;
  width: @cellEdgeLength;
  height: @cellEdgeLength;
  position: relative;  
  text-indent: -9999px;
  overflow: hidden;
  background: url(/assets/images/bg-sprite-social-icons.png) no-repeat;
  background-size: percentage(@spriteColumns) percentage(@spriteRows);

  &.facebook {
    background-position: @facebookX @defaultY;
    &:hover { background-position: @facebookX @hoverY; }
  }

  &.twitter {
    background-position: @twitterX @defaultY;
    &:hover { background-position: @twitterX @hoverY; }
  }
}


.marker {
  
  position: absolute;
  width: 40px;
  height: 40px;
  color: @white;
  font-size: 14px;
  line-height: 1.5em;
  
  span { display: none; }
  
}

.marker-left {
  .marker;
  padding-left: 8px;
  background: url(/assets/images/bg-icon-marker-left.png) no-repeat 0 0;	
}

.marker-right {
  .marker;
  text-align: right;
  padding-right: 10px;
  background: url(/assets/images/bg-icon-marker-right.png) no-repeat 100% 0;
}

@landscapeFrameSize: 555px;
.landscape-egraph-preview-ratios {
  left:9.5%;
  top:8.52%;
  width:81.88%;
}

@portraitFrameSize: 400px;
.portrait-egraph-preview-ratios {
  left:11.62%;
  top:6.57%;
  width:77.1%;              
}