//
// Styles for the consumer website site header
//

// Default styles (all screen sizes)

@navbarZIndex: 9001; // over 9000
@flyoutWidth: 200px;

#left-flyout {
  display: none;
}

#top, #bottom, #content, .flyout-pull-right {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transition: -moz-transform .2s ease-in-out;
    -ms-transition: -ms-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    .no-flicker();
}  

header.top {
  .clearfix();

  .box-shadow(0px 2px 4px rgba(0, 0, 0, .15));  
  background: @offWhite;  
  left: 0;
  padding: 2px 4px 2px;
  position: fixed;
  right: 0;
  text-shadow: 0 1px 1px @white;
  top: 0;
  z-index: @navbarZIndex;

  .navbar-expand {
    display: none;
  } 
  // Bootsrap overrides
  .navbar {
    margin-bottom: 0;
  }
  
  &.relative {
    position:relative;
    visibility:hidden;
  }

  p {
    font-size: 14px;
    line-height: 1em;
    margin-bottom: 0;
  }
  
  a { color: @gray; }

  a:hover { color: @linkColorHover; }

  .navbar-item {    
    border-left: 1px solid @grayVeryLight;
    float: left;
    text-align: center;

    a {
      padding-left: 14px;
      padding-right: 14px;
    }

    > div {
      border-left: 1px solid @white;
      display: table-cell;
      height: 63px;
      vertical-align: middle;
    }

    p {
      a {
        border-left: 1px solid @white;
        display: block;
        line-height: 63px;        
      }
    }
  }

  // Some elements only become visible at smaller screen sizes
  .mobile-only {
    display: none;
  }

  .linkz {
    float: left;
  }
  
  .logo {
    float: left;
    margin-right: 15px;
    padding-top: 5px;

    h1 {
    
      width: 175px;
    
      a {
        display: block;
        height: 58px;
        background: url(/assets/images/logo-cropped.png) no-repeat 0 0;
        
        // scale logo responsively with height.
        background-size: auto 100%; 
        
        // Hide the "Egraphs" text, but allow it to still be there for screen readers
        text-indent: -9999px;         
        overflow: hidden;
      }
      
      a:hover { 
        .opacity(75)
      }

    } // end h1
  
  } // end .logo

  #account-social {
    float: right
  }

  .account {

    cursor: pointer;
    
    float: right;
    border-left: 1px solid @grayVeryLight;
    border-right: 1px solid @grayVeryLight;
    
    > ul {
    
      position: relative;
      list-style: none;
      margin: 0;
      padding: 10px 40px 0 40px;
      height: 50px;
      border-left: 1px solid @white;
      border-right: 1px solid @white;
      
      li {      
        font-size: 12px;
        line-height: 1.25em;      
      }
      
      li:first-child {
        a { color: @linkColorHover; }
        a:hover { color: @gray; }
      }

      .account-options {
      
        > a {         
          font-weight: 600;
          font-size: 14px;
          line-height: 1em;
          padding-right: 16px;
          background: url(/assets/images/bg-top-account-arrow.png) no-repeat 100% 50%;         
        }
        
        > a:hover { background-image: url(/assets/images/bg-top-account-arrow-active.png); }
    
        ul {
          
          display: none;
          position: absolute;
          width: 100%;
          left: 1px;
          top: 72px;
          list-style: none;
          margin: 0;
          padding: 0;
          
          li {

            font-weight: 400;         
            font-size: 14px;
            line-height: 1em;
            text-shadow: none;        
            border-bottom: 1px solid rgba(255, 255, 255, .25);
            background: lighten(@orange, 5%);
            .opacity(90);
          
            a {             
              color: @white;
              display: block;
              padding: 10px;              
            } 
            
            a:hover {             
              color: @white;
              background-color: darken(@orange, 5%);            
            }
            
          }
          
          li:last-child { border-bottom: none; }
        
        }
                
      }
      
      .account-options.active {
      
        > a { 
          color: @orange;
          background-image: url(/assets/images/bg-top-account-arrow-active.png); 
        }
      
        ul { display: block; }
      
      }
    
    }         
    
  }
  
  .account.hover .account-options {
  
    > a { 
      color: @orange;
      background-image: url(/assets/images/bg-top-account-arrow-active.png); 
    }
  
  }

  .social {
    float: right;
  }

  form {
    margin-bottom: 0px;
    padding-left: 14px;
    .search-control {
      .celebrity-searchbox-container(@orange, @inputBorder, 180px);
    }
  }
} // end header.top


// Adjust the logo and social tools when at widest to align them with
// the edges of the content column itself rather than the content within
// the content column. Below this res, layout will use bootstrap's defaults.
@media (min-width: 1340px) {
  header.top {
    .logo { margin-left: -20px; }
    .social { margin-right: -40px; }
  }
}

@media (max-width: 979px) and (min-width: 769px) {
  header.top {
    .social {
      > ul {
        padding-left: 10px;     
      }
    }
    // Bring down the padding to handle more than two links up top
    .account > ul {
      padding-left: 10px;
      padding-right: 10px;
    }

    .container {
      width: 100%;
    }
    .logo a {
      margin-left: 5px;
    }
    .social {
     margin-right: 5px;
    }

    // This keeps the search box from shrinking
    input.span2, textarea.span2, .uneditable-input.span2 {
      width: 140px;
    }

    form {
      padding-left: 6px;
      padding-right: 5px;
    }
  } // end header.top
}

@media(max-width: 768px) {
  #top, #bottom, #content, .flyout-pull-right {
    .translate(0,0);
    &.left-flyout-push {
      .translate(@flyoutWidth + 1, 0);
    }
  }

  #left-flyout {
    .box-shadow(inset 0px 0px 15px 0px rgba(26,26,26,1)); 
    .transition(visibility 0 linear .2s);
    background-color: @grayDarker;
    border-right: 1px solid rgba(255,255,255,.15);
    display: block;
    height: 100%;
    position: fixed;
    visibility: hidden;
    width: @flyoutWidth;
    z-index: -1;
    &.is-visible {
      z-index: 0;
      .transition(z-index 0 linear .2s);
      visibility: visible;
    }

    ul {
      border-bottom: 1px solid rgba(255,255,255,.15);
      list-style-type: none;
      margin: 0;
      text-transform: uppercase;
      width: 100%;
      
      li {
        line-height: 2.5em;
        padding-left: 10px;

        a {
          text-shadow: 0px -1px 0px black;
          color: @white;
          font-size: 16px;
          font-weight:300;
          text-transform: uppercase;

          &:hover {
            color: @orange; 
          }    
        }
      }
     
      &:last-of-type {
        border-bottom: none;
      }
    } 
  }
}

@media (max-width: 768px) {

  header.top {
    padding-top:5px;
    padding-bottom: 0;

    .container {
      padding: 0;
      .row {
      // margin-left: -20px;
      }
    } 
         
    .logo {
      float:left;
      padding-top: 0px;

      h1 {        
        width:114px;
        a {
          height: 40px;
        }
      }
    }
    
    #logo-account-social {
      .clearfix();      
      display: inline;
      float: right;
      .logo {
        margin-right: 0;
      }  
    }
    
    .wide-only {
      display: none;
    }
    
    .navbar-expand {
      display: block;
      float: left;
      .btn-navbar { 

        border: none;
        background: @offWhite;
        cursor: pointer;

        span.icon-bar {
          background-image: none;
          .buttonBackground(lighten(@orange, 10%), @orange);
          width: 24px;
          height: 4px;
        }
      }
    }
  }  
}  

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

  header.top {
  
    .logo h1 a {
      background-image: url(/assets/images/logo-ios.png);      
    }

    .account {
      
      > ul {
  
        .account-options {
        
          > a {
            background: url(/assets/images/bg-top-account-arrow-ios.png) no-repeat 100% 50%; 
            background-size: 9px 5px;       
          }
                  
        }
        
        .account-options.active {
        
          > a { background-image: url(/assets/images/bg-top-account-arrow-active-ios.png); }
                
        }
      
      }         
      
    }
  
  }
  
}
