@(username: String, egraphs: List[models.frontend.egraphs.EgraphViewModel],
  giftEgraphs: List[models.frontend.egraphs.EgraphViewModel], 
  controlRenderer: models.frontend.egraphs.GalleryControlRenderer,
  galleryCustomerId: Long
)(implicit authToken: _root_.egraphs.authtoken.AuthenticityToken,
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData
)

@import views.frontend.Utils
@import views.html.frontend.tags
@import models.frontend.egraphs._

@init = {
  Egraphs.page.authenticityToken = "@authToken.value";
}

@baseBody = {
  <script>@init</script>
  <section id="content">
    <div id="main">
      <div class="container">
        <header class="gallerytop">
          <div class="row-fluid">
            <span class="span8 username">@username's Egraphs</span>
            <span class="span4 count">
              @if(egraphs.length == 1) {
                <strong>@egraphs.length Egraph</strong> /
              } else {
                <strong>@egraphs.length Egraphs</strong> /
              }
              <strong>@{egraphs.filter(egraph => egraph.isPending).length}</strong>
              Pending, <strong>@{egraphs.filter(egraph => !egraph.isPending).length}</strong>
              Finished</span>
          </div>
        </header>
        @if(egraphs.length == 0) {
          <section>
            <h1>
              @username does not have any egraphs yet...
            </h1>
          </section>
        }
        <section class="galleryrows">
        @for((egraph,index) <- egraphs.zipWithIndex){
          @{egraph match {
            case e: models.frontend.egraphs.PendingEgraphViewModel => tags.gallery.pending_egraph(e, e.orderDetails, index, galleryCustomerId)
            case e: models.frontend.egraphs.FulfilledEgraphViewModel => tags.gallery.fulfilled_egraph(e, index, controlRenderer)
            case _ => ""
            }
          }
        }
        </section>
        
        @** Gifts given section: Only display if the user has given gifts *@
        @if(!giftEgraphs.isEmpty) {
          <header class="gallerytop">
            <div class="row-fluid">
              <span class="span8 username">Gifts Given</span>
              <span class="span4 count">
                @if(giftEgraphs.length == 1) {
                  <strong>@giftEgraphs.length Egraph</strong> /
                } else {
                  <strong>@giftEgraphs.length Egraphs</strong> /
                }
                <strong>@{giftEgraphs.filter(giftEgraph => giftEgraph.isPending).length}</strong>
                Pending, <strong>@{giftEgraphs.filter(giftEgraph => !giftEgraph.isPending).length}</strong>
                Finished</span>
            </div>
          </header>
          <section class="galleryrows">
          @for((giftEgraph,index) <- giftEgraphs.zipWithIndex){
            @{giftEgraph match {
              case e: models.frontend.egraphs.PendingEgraphViewModel => tags.gallery.pending_egraph(e, e.orderDetails, index, galleryCustomerId)
              case e: models.frontend.egraphs.FulfilledEgraphViewModel => tags.gallery.fulfilled_egraph(e, index, controlRenderer)
              case _ => ""
              }
            }
          }
          </section>
        }
      </div>
    </div>
  </section>
}

@base_template(
  title="Gallery",
  jsMain="pages/account-gallery",
  body=baseBody
)