@(username: String, 
  egraphs: List[models.frontend.egraphs.EgraphViewModel],
  giftEgraphs: List[models.frontend.egraphs.EgraphViewModel], 
  controlRenderer: models.frontend.egraphs.GalleryControlRenderer,
  galleryCustomerId: Long
)(implicit authToken: _root_.egraphs.authtoken.AuthenticityToken,
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData
)

@import views.frontend.Utils.{egraphOrEgraphs}
@import views.html.frontend.tags
@import models.frontend.egraphs._

@init = {
  Egraphs.page.authenticityToken = "@authToken.value";
}

@galleryTop(egraphs: List[EgraphViewModel], title: String) = {
  <header class="gallerytop">
    <div class="row-fluid">
      <span class="span8 username">@username's @title</span>
      <span class="span4 count">
        <strong>@egraphs.length @egraphOrEgraphs(egraphs.length)</strong> /
        <strong>@{egraphs.filter(egraph => egraph.isPending).length}</strong>
        Pending, <strong>@{egraphs.filter(egraph => !egraph.isPending).length}</strong>
        Finished</span>
    </div>
  </header>
}

@galleryRows(egraphs: List[EgraphViewModel]) = {
<section class="galleryrows">
  @for((egraph, index) <- egraphs.zipWithIndex){
    @{egraph match {
      case e: models.frontend.egraphs.PendingEgraphViewModel => tags.gallery.pending_egraph(e, e.orderDetails, index, galleryCustomerId)
      case e: models.frontend.egraphs.FulfilledEgraphViewModel => tags.gallery.fulfilled_egraph(e, index, controlRenderer, galleryCustomerId)
      case _ => ""
      }
    }
  }
</section>
}

@baseBody = {
  <script>@init</script>
  <section id="content">
    <div id="main">
      <div class="container">
        @if(giftEgraphs.isEmpty || !areAllPendingGifts(egraphs)) {
          @galleryTop(displayableEgraphs(egraphs, galleryCustomerId), "Egraphs")
          @if(egraphs.length == 0 || areAllPendingGifts(egraphs)) {
            <section>
              <h1>@username does not have any egraphs yet...</h1>
            </section>
          }
        }      
        @galleryRows(displayableEgraphs(egraphs, galleryCustomerId))
        
        @** Gifts given section: Only display if the user has given gifts *@
        @if(!giftEgraphs.isEmpty) {
          @galleryTop(giftEgraphs, "Gifts Given")
          @galleryRows(giftEgraphs)
        }
      </div>
    </div>
  </section>
}

@base_template(
  title="Gallery",
  jsMain="pages/account-gallery",
  body=baseBody
)

@** Util functions *@

@** Should only display on MY gallery page those egraphs that either I purchased myself
    or that are published (i.e. don't spoil the gift-giving surprise) *@
@displayableEgraphs(egraphs: List[EgraphViewModel], galleryCustomerId: Long) = @{
  egraphs.filter(egraph => !egraph.isGift || (egraph.isGift && !egraph.isPending))
}

@areAllPendingGifts(egraphs: List[EgraphViewModel]) = @{
  egraphs.forall(egraph => egraph.isPending && egraph.isGift)
}