@(accountRecoverForm: Form[String],
  accountRecoverActionUrl: String
)(implicit authToken: egraphs.authtoken.AuthenticityToken,
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData
)

@import egraphs.authtoken.AuthenticityToken.safeForm
@import models.frontend.forms.{Field, FormError}
@import views.frontend.Utils.bootstrapFields
@import views.html.frontend.tags

@baseBody = {
<section id="content" class="top" role="main">
  <div id="main" class="sub">
    <div class="container" id="settings-page">

      @safeForm(
        'id -> "recover-account-form",
        'action -> accountRecoverActionUrl,
        'method -> "POST"
      ){

        <section class="settings-group" id="password-reset">
          <div class="row-settings row-fluid">
            <div class="span12">
              <h3>Need to set your password? Please enter your email address.</h3>
              <span>
                @helper.input(accountRecoverForm("email"), '_label -> "Email Address:", '_showConstraints -> false) { (id, name, value, args) =>
                  <input type="email" name="@name" id="@id" @toHtmlArgs(args)>
                }
              </span>
            </div>
          </div>
        </section>
        <div class="row-fluid">
          <div class="span9"></div>
          <div class="span3 save-button">
            @tags.arrow_button(caption="Submit")
          </div>
        </div>

      } <!-- end safe form -->

    </div>
  </div>
</section>
}

@base_template(title = "Account Recovery", jsMain = "pages/account-password-reset", body = baseBody)