@(title: String, headJs: => Html = Html.empty, jsMain: String = "", body: => Html)(
  implicit headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData,
  authToken: egraphs.authtoken.AuthenticityToken,
  storefrontBreadcrumbs: models.frontend.storefront.StorefrontBreadcrumbs
)

@**   Renders the base template for the Celebrity Storefront. This includes all breadcrumbs.

      For most argument documentation see base_template.scala.html, to which this template almost
      wholely delegates.

      storefrontBreadcrumbs - information about the currently active breadcrumb.
*@

@baseBody = {
  <div class="breadcrumbs flyout-pull-right">
    <div class="container">
      <ol class="clearfix">
        @**   Iterate over the breadcrumbs, setting the right classes for active/previous/first *@
        @for((crumb, index) <- storefrontBreadcrumbs.indexed) {
          <li class="@if(index == 0) {first} @if(crumb.isActive) {active} @if(crumb.isAdjacentPreviousToActive) {previous}">
            @**   Only wrap in an anchor if there was a URL, which indicates that the form has been completed *@
            @for(url <- crumb.url) {<a href="@url">}
              <span><strong><span>Step</span>@{index + 1}</strong> @crumb.name</span> <small>&raquo;</small></a>
            @for(url <- crumb.url) {</a>}            
          </li>
        }
      </ol>
    </div>
  </div>  <!-- end .breadcrumbs -->

  @body
}


@base_template(
  title=title,
  jsMain=jsMain,
  headJs=headJs,
  body=baseBody
)