@()(
implicit headerData: models.frontend.header.HeaderData,
footerData: models.frontend.footer.FooterData,
authToken: egraphs.authtoken.AuthenticityToken
)
@import models.frontend.egraphs._

@baseBody = {

<section id="content" role="main">
  <div id="main" class="about-us statics">
    <div class="row-fluid">
      <div class="span12 masthead-static">
        <img src='@EgraphsAssets.at("images/about-us.jpg")'/>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <h1>Careers</h1>
          <h3>
            Love sports? Love technology? We're hiring!
          </h3>
          <script type="text/javascript" src="https://app.theresumator.com/widgets/basic/create/egraphs" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
</section>

}
@base_template(
title="Careers",
jsMain="pages/careers",
body=baseBody
)