@(celebrityName: String, celebrityEmail: String, appPlistUrl: String)

<html>
<head>
  <title>Welcome to Egraphs</title>
</head>
<body style="margin: 0; padding: 0; background: #f0f0f0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #888888;">
<table cellpadding="0" cellspacing="0" width="100%" bgcolor="#f0f0f0" style="width: 100%; background: #f0f0f0;">
  <tr>
    <td align="middle">
      <table cellpadding="0" cellspacing="0" width="600px" align="middle" bgcolor="#fafafa"
             style="width: 600px; margin: 0 auto; background: #fafafa repeat-y 50% 0; border: 1px solid #888888;  font-size: 14px;">
        <tr>
          <td align="middle" style="padding: 15px 25px 0px 25px;" colspan=2>
            <table cellpadding="0" cellspacing="0" width="100%" style="width: 100%;">
              <tr>
                <td width="450" align="left" valign="top">
                  <a style="color: #ff5124; text-decoration: none; border: none; outline: none;"
                     href="https://www.egraphs.com/?signup=true">
                    <img src="https://s3.amazonaws.com/egraphs-static-resources/public/images/email-logo.jpg"/>
                  </a>
                </td>
                <td width="40px" valign="top">
                  <a style="color: #ff5124; text-decoration: none; border: none; outline: none;"
                     href="http://www.facebook.com/egraphs">
                    <img src="https://s3.amazonaws.com/egraphs-static-resources/public/images/email-facebook.jpg"/>
                  </a>
                </td>
                <td width="30px" valign="top">
                  <a style="color: #ff5124; text-decoration: none; border: none; outline: none;"
                     href="http://www.twitter.com/egraphs">
                    <img src="https://s3.amazonaws.com/egraphs-static-resources/public/images/email-twitter.jpg"/>
                  </a>
                </td>
              </tr>
            </table>
        <tr bgcolor="#efefef">
          <td style="padding-top: 25px; padding-left: 25px; padding-bottom: 25px;" width="50%">
            <img src="https://s3.amazonaws.com/egraphs/email/hamilton-egraph.png" style="max-height: 100%;">
          </td>
          <td style="padding-left: 25px; padding-right: 25px;" width="50%">
            <h1 style="font-size: 26px; font-weight: 200; color: #404040; text-shadow: 0 1px 0 #ffffff; text-align: left; margin-top: 0; margin-bottom: 0;">
              Welcome to Egraphs:
            </h1>

            <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
               font-weight: normal; text-shadow: 0 1px 0 #ffffff; text-align: left;
               padding-left: 0px; padding-right: 0px;">
              Please view this email on your iPad.
            </p>
          </td>
        </tr>
        <tr>
          <td colspan=2 align="center" style="padding-top: 15px; padding-bottom: 30px">
            <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial,
              sans-serif; font-weight: 200; font-size: 26px; line-height: 38px; color: #404040; text-shadow: 0 1px 0 #ffffff;
               text-align: left; padding-left: 20px; padding-right: 20px">
              Dear @celebrityName,
            </h1>

            <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 24px;
               font-weight: normal; text-shadow: 0 1px 0 #ffffff; text-align: left;
               padding-left: 20px; padding-right: 20px; color: #404040;;
               ">
              Your fans can't wait to connect with you. Egraphs is here to help you interact with them in a fun and
              comfortable way. Please make sure you open this email on your iPad.
              <br> <br>
              <span style="font-weight:bold">Username:</span> @celebrityEmail
              <br>
              <span style="font-weight:bold">Password:</span> ********
              <br><br>
              The next step is to download the Egraphs iPad app and login. Use the <span style="font-weight:bold">Username</span>
              listed above to login to the iPad, then follow the enrollment instructions. After you are enrolled you can
              start creating egraphs!
              <br><br>

            <p>
              <a href="@appPlistUrl"
                 style="color: #ff5124; text-decoration: none; border: none; outline: none;">
                <img src="https://s3.amazonaws.com/egraphs/email/email-btn-get-app.jpg"/>
                <br>
                Click this on your iPad
              </a>
            </p>
            <br><br>
            If you have any questions, or you don't know your password, please contact
            <a href="mailto:support@@egraphs.com?subject=Welcome Email Help">support</a>
            </p>
          </td>
        </tr>
      </table>
      <table cellpadding="10" cellspacing="0" width="600px" align="middle">
        <tr>
          <td style="padding-top:0px"><img border="0" src="https://s3.amazonaws.com/egraphs-static-resources/public/images/email-bottom.jpg"
                   width="600" height="30"/></td>
        </tr>
        <tr>
          <td align="middle">
            <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 12px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: center;">
              Copyright 2012 Egraphs
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
