@(loginForm: models.frontend.login_page.LoginFormViewModel,
  newOwnerTargetUrl: String,
  celebrityName: String = "Herp Derpson",
  maybeGiftRecipient: Option[String] = None,
  fbAuthUrl: String
)(implicit headerData: models.frontend.header.HeaderData, 
  footerData: models.frontend.footer.FooterData,
  storefrontBreadcrumbs: models.frontend.storefront.StorefrontBreadcrumbs,
  authToken: egraphs.authtoken.AuthenticityToken
)

@** Performs login from the checkout flow.

      loginForm - the form that should be used for an existing egraph owned to log in
      newOwnerTargetUrl - the url that individuals that choose to log in as a "New
          egraph owner" should hit.
      celebrityName - name of the celebrity being purchased from.
      maybeGiftRecipient - the name where applicable of the individual for whom the
          user is buying the egraph.
*@

@import views.html.frontend.tags.storefront_breadcrumbs_responsive

@header = {How would you like to check out?}

@currentOwnerHeader = {As a current egraph owner}
 
@newOwnerHeader = {As a new egraph owner}

@newOwnerContent = {
  @if(maybeGiftRecipient.isEmpty) {
    <p>
      When you finish ordering, we will automatically create an account for you against the e-mail you provide in the next screen.
    </p>
    <p>
      Your new account will let you track order status, receive your completed egraph, share it with friends, and quite a bit more.
    </p>
  }
  @for(giftRecipient <- maybeGiftRecipient) {
    <p>
      When you finish ordering, we will automatically create accounts for you and @giftRecipient against the e-mail addresses entered during the order process.
    </p>
    <p>
      Your new accounts will let you track order status, receive the egraph when it's done, share it with friends, and quite a bit more.
    </p>    
  } 
  <p>You just have to press that big red <strong>Continue</strong> button.</p>     
}

@fbHeader = {Through my Facebook account}

@fbContent = {
  <p>
    Click the blue button if you want your Egraph purchase to be secured against your Facebook account. Don't worry, you can change your mind whenever you want.
  </p>
  <p>
    Could it really be that easy? Let's find out...
  </p>
}

@login_template(
  loginForm=loginForm,
  title="How would you like to check out?",
  jsMain="pages/celebrity-storefront-login",
  header=header, 
  currentOwnerHeader=currentOwnerHeader,
  newOwnerHeader=newOwnerHeader,
  newOwnerContent=newOwnerContent,
  newOwnerTargetUrl=newOwnerTargetUrl,
  fbHeader=fbHeader,
  fbContent=fbContent,
  fbAuthUrl=fbAuthUrl,
  bannerMessage = ""
)