@(publicName: String,
  email: String,
  appPlistUrl: String)

Dear @publicName,

Your Egraphs Celebrity account has been created!

Your fans want to interact with you. Egraphs is here to help you interact with them in a fun and comfortable way.

Username: @email
Password: If you don't have your password, please ask your Egraphs representative.

The next step is to dowload the Egraphs iPad app and complete enrollment. Once you are enrolled, you can start signing digital autographs for your fans!

Download the app: @appPlistUrl

If you have any questions, or you don't know your password, please contact celebsupport@@egraphs.com

Thanks,
The Egraphs Team
