@(signerName: String,
  recipientName: String,
  frameCssClass: String,
  frameLayoutColumns: String,
  productIcon: String,
  storyLayoutColumns: String,
  storyTitle: String,
  storyBody: String,
  audioUrl: String,
  signedImage: String,
  signedOnDate: String,  
  shareOnFacebookLink: String,
  shareOnTwitterLink: String,
  galleryLink: Option[String] = None,
  isPromotional: Boolean = false
)(implicit
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData,
  authToken: egraphs.authtoken.AuthenticityToken
)

@title = {@signerName egraph for @recipientName}

@headHtml = {
    <!-- svg shim for IE -->
    <!--[if lt IE 9]>
      <script src="@EgraphsAssets.at("svgweb/src/svg.js")" type="text/javascript"></script>
    <![endif]-->

    <!-- Mixpanel events -->
    <script type="text/javascript">
      mixpanel.track('Egraph viewed', {'url': window.location.href})
    </script>
    <script type="text/javascript">
      mixpanel.track_links('#egraph-classic-page .facebook', 'Facebook share button clicked (egraph)')
    </script>
    <script type="text/javascript">
      mixpanel.track_links('#egraph-classic-page .twitter', 'Tweet button clicked (egraph)');
    </script>
    <script type="text/javascript">
      mixpanel.track_links('.egraphs-classic-logo', 'Navigate home from egraph page')
    </script>
}

@headJs = {
  Egraphs.page.signerName = "@signerName";
  Egraphs.page.isPromotional = @isPromotional;
}

@styles = @{
  Seq(EgraphsAssets.at("soundmanager/360-player/360player.css").url,
      EgraphsAssets.at("soundmanager/360-player/360player-visualization.css").url
  )
}

@baseBody = {
    <div class="container" id="egraph-classic-page">
      <div class="egraph-classic-content @frameCssClass">
        <div class="left-spotlight"></div>
        <div class="right-spotlight"></div>
        <div class="story-spotlight"></div>
        <div class="story-text-spotlight"></div>
        <div class="row">
          <div class="@frameLayoutColumns photo-column" >
            <div class="egraph-classic">
              <div class="frame">
                <div class="image-aperture">
                  <iframe src='@signedImage' class="signed-photo" alt="Signed photo"></iframe>
                  <!-- <div class="fx-mat-glow"></div> The glow off the bottom edge of the matte -->
                  <div class="fx-mat-shadow"></div>               
                  <!-- <div class="fx-glass-shine"></div> The shine on top of the glass -->
                </div>
                <div class="plaque">
                  <img src='@EgraphsAssets.at("images/egraph_plaque.png")' alt="plaque" >
                  <div class="plaque-content">
                    <div class="player" id="360player">
                      <div class="ui360 ui360-vis player-widget"><a href="@audioUrl"></a></div>
                    </div>
                    <div class="plaque-separator"></div>
                    <div class="hero-text" >
                      <div class="hero-text-centered">
                        <div class="signer">@signerName</div>
                        <div class="signed-for">signed for</div>
                        <div class="signee">@recipientName</div>
                      </div>
                    </div>
                    <div class="plaque-separator"></div>                                        
                    <div class="product-icon-and-date-box">
                      <div class="product-icon-content">
                        <div class="product-icon-centered">
                          <img src='@productIcon' />
                        </div>
                      </div>
                      <div class="signing-date">@signedOnDate</div>
                      <!-- Shine on top of the plaque icon <div class="fx-shine"></div> -->
                    </div>                    
                  </div>
                  <!-- <div class="fx-plaque-shine"></div> -->
                  <div class="fx-top-reflection"></div>
                  <div class="fx-right-reflection"></div>                                    
                </div>
              </div>
            </div>
            <!-- <img src="egraph_frame_no_light.png" > -->
          </div>
          <div class="@storyLayoutColumns story-column" >
            <h1 class="story-column-element embossed" emboss="@storyTitle.toUpperCase">@storyTitle.toUpperCase</h1>
            <div class="story-column-element separator"></div>
            <div class="story-column-element story-text">@Html(storyBody)
            </div>                        
            <div class="story-column-element">
              <a href="@galleryLink.getOrElse("/")" class="egraphs-classic-logo">
                <img class="logo-inactive" src='@EgraphsAssets.at("images/egraphs_logo_inactive.png")' alt="Egraphs Logo">
                <img class="logo-active" src='@EgraphsAssets.at("images/egraphs_logo_active.png")' alt="Egraphs Logo">
              </a>
            </div>
            <div class="story-column-element separator"></div>
            <div class="story-column-element social">              
              <ul class="clearfix">
                <li><a href="@shareOnFacebookLink" class="facebook" target="_blank">Facebook</a></li>
                <li><a href="@shareOnTwitterLink" class="twitter" target="_blank">Twitter</a></li>
                <!-- <li><a href="#" class="addthis">AddThis</a></li> -->
              </ul>              
            </div>
            <div class="story-column-element gallery-link">              
              <a href="#">Gallery</a>
            </div>
          </div> <!-- End story column -->
        </div>
      </div>
    </div>
    <!-- Scripting goes here -->
    <!-- soundmanager2 360-degree player -->
    <script type="text/javascript" src='@EgraphsAssets.at("soundmanager/360-player/script/berniecode-animator.js")'></script>
    <!-- special IE-only canvas fix -->
    <!--[if IE]><script type="text/javascript" src='@EgraphsAssets.at("soundmanager/360-player/script/excanvas.js")'></script><![endif]-->

    <!-- Core soundmanager2 -->
    <script type="text/javascript" src='@EgraphsAssets.at("soundmanager/script/soundmanager2-nodebug-jsmin.js")'></script>
    <script type="text/javascript" src='@EgraphsAssets.at("soundmanager/360-player/script/360player.js")'></script>
    <script type="text/javascript">
      soundManager.url = '/assets/soundmanager/swf/'; // path to directory containing SM2 SWF

      soundManager.useFastPolling = true; // increased JS callback frequency, combined with useHighPerformance = true

      threeSixtyPlayer.config.scaleFont = (navigator.userAgent.match(/msie/i)?false:true);
      threeSixtyPlayer.config.showHMSTime = true;

      if (threeSixtyPlayer.config.useWaveformData) {
        soundManager.flash9Options.useWaveformData = true;
      }
      if (threeSixtyPlayer.config.useEQData) {
        soundManager.flash9Options.useEQData = true;
      }
      if (threeSixtyPlayer.config.usePeakData) {
        soundManager.flash9Options.usePeakData = true;
      }
      
      if (threeSixtyPlayer.config.useWaveformData ||
          (threeSixtyPlayer.flash9Options && (threeSixtyPlayer.flash9Options.useEQData ||
          threeSixtyPlayer.flash9Options.usePeakData)))
      {
        // even if HTML5 supports MP3, prefer flash so the visualization features can be used.
        soundManager.preferFlash = true;
      }

      if (window.location.href.match(/html5/i)) {
        // for testing IE 9, etc.
        soundManager.useHTML5Audio = true;
      }

      // enable some spectrum stuffs

      threeSixtyPlayer.config.useWaveformData = true;
      threeSixtyPlayer.config.useEQData = true;
      
    </script>    
}

@base_template(
  title=title.toString,
  headHtml=headHtml,
  body=baseBody,
  headJs=headJs,
  jsMain="pages/egraph-classic",
  suppressHeaderAndFooter=true,
  cssFiles=styles,
  bodyClasses=Seq("egraph-classic-page"),
  viewportFix = false
)