@(buyerName: String,
  recipientName: String,
  recipientEmail: String,
  celebrityName: String,
  productName: String,
  orderDate: String,
  orderId: String,
  pricePaid: String,
  deliveredByDate: String,
  faqHowLongLink: String,
  hasPrintOrder: Boolean
)

Egraphs | Order Confirmation
Order Number: @orderId

Hi @buyerName,

Thank you so much for purchasing an Egraph. Please find your order summary information below. A detailed summary of your order is also at www.egraphs.com.

ORDER DETAILS

Egraph Order Date: @orderDate
Egraph Purchased by: @buyerName
Egraph Owner: @recipientName
Owner's Email: @recipientEmail
Celebrity: @celebrityName
Image Name: @productName
Order Number: @orderId
Price: @pricePaid
Expected Digital Delivery: @deliveredByDate

@if(hasPrintOrder) { Your framed print is expected to arrive 3 weeks after your digital delivery. Framed prints ordered now will NOT arrive by December 24. We want to upfront about print delivery timing because we don't want to ruin anyone's Christmas. }

For more information on expected delivery dates, please see @faqHowLongLink

Thank you,

The Egraphs Team
