
@()(
  implicit
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData,
  authToken: egraphs.authtoken.AuthenticityToken
)

@**
 * Template for the gift certificate checkout page. See base_template.scala.html for description
 * of implicit params.
 *@

@import models.frontend.forms.Field

@headJs = {
  angular.extend(Egraphs.page, {
    certificateOptions: [
      {type:"concrete", price:25},
      {type:"concrete", price:50},
      {type:"concrete", price:75, isMostPopular:true, isDefault:true},
      {type:"concrete", price:100},
      {type:"custom", price:75}
    ],

    config: {
      validateClientSide: true,
      useSampleData: true
    },

    paymentConfig: {
      jsModule: "yes-maam-payment",
      apiKey: "pk_qIGUDirehUxj2GTFwgeRBkOfHIWdX",
      errorCode: "invalid_number"
    },
    
    months: @Html({ (1 to 12).map("\"%02d\"".format(_)).mkString("[", ",", "]") }),

    years: @Html({ (2012 to 2020).map("\"%d\"".format(_)).mkString("[", ",", "]") })
  });
}

@** SVG previews of the gift certificate *@
@previews = {
  <div class="previews">
    <div class="preview foreground">
      <object data='@EgraphsAssets.at("images/gift-certificate-preview.svgz")' type="image/svg+xml"></object>
    </div>
    <div class="preview background">
      <object data='@EgraphsAssets.at("images/gift-certificate-preview.svgz")' type="image/svg+xml" ></object>
    </div>
  </div>  
}

@baseBody = {
  <div id="content" 
       class="gift-certificate-checkout content" 
       role="main"
       ng-cloak
       ng-controller="GiftCertificatePurchaseController">
    <div id="main" >
      <div class="container">
        <section id="masthead" class="first">
          <div class="row-fluid">
            <div class="span6">
              <h1>An Egraphs gift certificate is perfect for the holidays.</h1>
              <div class="responsive-previews">@previews</div>
              <ul>
                <li>Gift certificates can be used to connect with any star on the site</li>
                <li>They can be used over multiple purchases</li>
                <li>They never expire</li>
                <li><strong>Buy a gift certificate in four easy steps:</strong></li>
              </ul>
            </div>
            <div class="desktop-previews span6">@previews</div>
          </div>
        </section> <!-- End #masthead -->
        
        <section id="choose-amount">
          <h2><span class="checkout-step-count one">1</span>Choose an amount:</h2>
          <form class="amount-options row-fluid" name="ownAmount">
            <div ng-repeat="option in certificateOptions" ng-class="option.buttonSpanSize">
              <div class="amount-option dollar-amount" ng-show="option.isConcrete">
                <button class="btn" ng-class="option.buttonClass" ng-click="selectOption(option)">
                  <span class="dollah">$</span>{{option.price}}
                </button>
                <div class="hint" ng-show="option.isMostPopular">
                  Most popular price point
                </div>
              </div>
              <div class="amount-option own-amount" ng-show="option.isCustom">
                <button class="btn" ng-class="option.buttonClass" ng-click="selectOption(option)">Set my own amount</button>
                <div id="amount-field" ng-class="option.amountFieldClass" novalidate>
                  <span class="dollah">$</span>
                  <input type="text"
                         name="amount"
                         class="inset-shade"
                         ng-model="option.price" 
                         ng-pattern="/^[0-9]+$/"
                         required />
                </div>
              </div>
            </div>
          </form>
        </section> <!-- End #choose-amount -->
        
        <div class="row-fluid">
          <section id="personalize" class="span6">
            <h2><span class="checkout-step-count">2</span>Personalize:</h2>
            <div class="hint">
              The certificate PDF you receive will contain your name and the recipient's.
            </div>

            <form class="form-horizontal" name="personalize" novalidate>
              <div class="control-group recipient-name">
                <label class="control-label" for="recipient-name">Recipient name:</label>
                <div class="controls">
                  <input id="recipient-name"
                         name="recipientName"
                         type="text"
                         placeholder="e.g. Tiny Tim"                          
                         class="inset-shade"
                         ng-model="order.recipientName" 
                         required />
                  <div class="errors" ng-show="personalize.recipientName.$dirty && personalize.recipientName.$invalid">
                    <div class="alert alert-error"
                         ng-show="personalize.recipientName.$error.required" >
                      <strong>Sorry!</strong> I can't make the certificate without a name...
                    </div>
                  </div>

                </div>
              </div> <!-- End .recipient-name.control-group -->
              <div class="control-group gifter-name">
                <label class="control-label" for="gifter-name">Your name:</label>
                <div class="controls">
                  <input id="gifter-name"
                         name="gifterName"
                         type="text"
                         placeholder="e.g. Santa Claus" 
                         class="inset-shade"
                         ng-model="order.gifterName"
                         required />
                  <div class="errors" ng-show="personalize.gifterName.$dirty && personalize.gifterName.$invalid">
                    <div class="alert alert-error"
                         ng-show="personalize.gifterName.$error.required" >
                      <strong>Sorry!</strong> I can't make the certificate you deserve without your name...
                    </div>
                  </div>
                </div>
              </div> <!-- End .gifter-name.controls -->
              <div class="control-group email">
                <label class="control-label" for="email">Your Email:</label>
                <div class="controls">
                  <input id="email"
                         name="email" 
                         type="email"
                         class="inset-shade"
                         ng-model="order.email"
                         required />
                  <div class="errors" ng-show="personalize.email.$dirty && personalize.email.$invalid">
                    <div class="alert alert-error"
                         ng-show="personalize.email.$error.required" >
                      <strong>Sorry!</strong> I won't know where to send the certificate without your address...
                    </div>
                  </div>

                </div>
              </div> <!-- End .email.controls -->

            </form>
          </section> <!-- End #personalize -->

          <section id="pay" class="span6">
            <h2><span class="checkout-step-count">3</span>Pay:</h2>
            <form credit-card-form class="form-horizontal" name="pay" novalidate>
              <fieldset>
                <div class="control-group card-number">
                  <label class="control-label" for="card-number">Card number:</label>
                  <div class="controls">
                    <input id="card-number"
                           name="cardNumber" 
                           type="text"
                           class="inset-shade"
                           ng-model="order.card.number"
                           required
                           credit-card-number />
                    <div class="errors" ng-show="pay.cardNumber.$dirty && pay.cardNumber.$invalid">
                      <div class="alert alert-error"
                           ng-show="pay.cardNumber.$error.required"
                           >
                        <strong>Sorry!</strong> My boss will kill me if I don't get this from you.
                      </div>                                
                      <div class="alert alert-error"
                           ng-show="pay.cardNumber.$error.remote_payment_invalid_number" >
                        <strong>Sorry!</strong> This card number is invalid. Try another?
                      </div>
                    </div>

                  </div>
                </div> <!-- End .card-number.controls -->

                @** in-line styles in this section leave a bad taste in my mouth,
                but necessary here to override chosen.js pretty selectors *@
                <div class="control-group card-exp" >
                  <label class="control-label" for="card-exp-month">Exp. Date:</label>
                  <div class="controls select card-expiry">
                    <select id="card-exp-month"
                            credit-card-expiry-month
                            name="cardExpMonth"
                            class="inline"
                            ng-model="order.card.expMonth"
                            ng-options="month for month in months"
                            required >
                      <option value>MM</option>
                    </select>
                    <select id="card-exp-year"
                            credit-card-expiry-year
                            name="cardExpYear"
                            class="inline"
                            ng-model="order.card.expYear"
                            ng-options="year for year in years"
                            required >
                      <option value>YYYY</option>
                    </select>
                    <div class="errors" ng-show="(pay.cardExpMonth.$dirty && pay.cardExpMonth.$invalid) || (pay.cardExpYear.$dirty && pay.cardExpYear.$invalid)">
                      <div class="alert alert-error">
                        <strong>Oops!</strong> Mind double checking this one?
                      </div>
                    </div>
                  </div>
                </div> <!-- end .control-group -->  

                <div class="control-group card-cvc">
                  <label class="control-label" for="card-cvc">Security Code:</label>
                  <div class="controls">
                    <input id="card-cvc" 
                           name="cardCvc"
                           type="text"
                           class="inset-shade"
                           ng-model="order.card.cvc" 
                           required
                           credit-card-cvc />
                    <div class="errors" ng-show="pay.cardCvc.$dirty && pay.cardCvc.$invalid">
                      <div class="alert alert-error" ng-show="pay.cardCvc.$error.required">
                        <strong>Sorry!</strong> If I don't get this from you my boss will kill me.
                      </div>                                  
                      <div class="alert alert-error" ng-show="pay.cardCvc.$error.creditCardCvc">
                        <strong>Sorry!</strong> This card CVC isn't valid. Double-check the back of your card?
                      </div>                      
                    </div>
                  </div>
                </div> <!-- End .card-cvc.controls -->

                <div class="control-group postal-code">
                  <label class="control-label" for="postal-code">Postal code:</label>
                  <div class="controls">
                    <input id="postal-code"
                           name="postalCode"
                           type="text"
                           class="inset-shade"
                           ng-model="order.card.postalCode"
                           required />
                    <div class="errors" ng-show="pay.postalCode.$dirty && pay.postalCode.$invalid">
                      <div class="alert alert-error" ng-show="pay.postalCode.$error.required">
                        <strong>Sorry,</strong> but I need this to charge your card.
                      </div>
                    </div>                           
                  </div>
                </div> <!-- End .postal-code.controls -->

                <div class="control-group">
                  <button id="review-button" 
                          type="button"
                          class="button right review"
                          ng-click="submitCardInfo(cardInfoAccepted)" >
                  <strong>
                    <span class="checkout-step-count in-button">4</span>
                    <em>Review Order</em>
                  </strong>
                  <span>&raquo;</span>
                  </button>
                </div>

              </fieldset>
            </form>
          </section> <!-- End #pay -->
        </div>
        <section id="review" class="modal hide fade gift-certificate-modal" data-width="300">
          <div class="modal-header">
            <button type="button" class="close modify-order" aria-hidden="true">&times;</button>
            <h2><span class="checkout-step-count">4</span>Review order</h2>
          </div>
          <div class="modal-body">
            <div class="purchaser-summary clearfix">
              <div class="amount-recipient">
                <h3 id="recipient-header" >Gift Details:</h3>
                <div class="summary-item">$75.00 for Bruce Banner from Joshua Johnson</div>
              </div>
              <div class="modal-body-separator"></div>
              <div class="billing">
                <h3>Billing info:</h3>
                <div class="summary-item">
                  <div>Joshua Johnson</div>
                  <div class="card-number-placeholder">Visa XXXXXXXXXXXX4021</div>
                </div>
              </div> <!-- End .billing -->              
            </div> <!-- End .purchaser-summary -->
            <div class="modal-body-separator"></div>
            <div class="price-summary">
              <table>
                <tr>
                  <th>Subtotal</th>
                  <td>$75.00</td>
                </tr>
                <tr class="last">
                  <th>Tax</th>
                  <td>$0.00</td>
                </tr>
                <tr id="total">
                  <th>Total</th>
                  <td>$75.00</td>
                </tr>
              </table>
            </div> <!-- End .price-summary -->
            <div class="modal-body-separator"></div>
            <div class="purchase-container clearfix">
              <span id="modify-order" class="modify-order" >Modify order</a></span>
              @tags.arrow_button(
                caption="Buy now",
                classes="button right review"
              )
            </div>
          </div> <!-- End .modal-body -->
        </section> <!-- End #review -->
      </div>
    </div>
  </div>
}

@base_template(
  title="Gift Certificates",
  headJs = headJs,
  jsMain = "pages/gift_certificates",
  cssFiles = Seq(EgraphsAssets.at("bootstrap-modal/css/bootstrap-modal.css").url),  
  body=baseBody
)