@()(
  implicit
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData,
  authToken: egraphs.authtoken.AuthenticityToken
)

@import models.frontend.forms.Field

@headJs = {
  
}

@baseBody = {
  <div id="content" class="gift-certificate-checkout content" role="main">
    <div id="main">
      <div class="container">
        <section id="masthead" class="first">
          <div class="row-fluid">
            <div class="span6">
              <h1>An Egraphs gift certificate is perfect for the holidays.</h1>
              <ul>
                <li>Gift certificates can be used to purchase any product on the site</li>
                <li>they can be used over multiple purchases</li>
                <li>they do not expire</li>
                <li>You will receive an e-mail with a printable PDF certificate and code</li>
              </ul>
            </div>
          </div>
        </section>
        
        <section id="choose-amount">
          <h2>Choose an amount:</h2>
          <div class="amount-options row-fluid">
            <div class="amount-option dollar-amount span2">
              <button class="btn"><span class="dollah">$</span>25</button>
            </div>
            <div class="amount-option dollar-amount span2">
              <button class="btn"><span class="dollah">$</span>50</button>
            </div>
            <div class="amount-option dollar-amount span2">
              <button class="btn active"><span class="dollah">$</span>75</button>
              <div class="hint">
                Most popular price point
              </div>
            </div>
            <div class="amount-option dollar-amount span2">
              <button class="btn"><span class="dollah">$</span>100</button>
            </div>
            <div class="amount-option own-amount span4">
              <button class="btn">Set my own amount</button>
              <div id="amount-field">
                <span class="dollah">$</span><input type="text" name="amount-field" value="75" >
              </div>
            </div>
          </div>
        </section>
        
        <section id="recipient">
          <h2>Recipient's Name:</h2>
          <div class="row-fluid">
            <div class="span6 input">
              <input id="recipient-name"
                     type="text"
                     name="recipient-name">
              <div class="hint">
                The PDF will have the recipient's name on it. You can print it out and give it to him/her or just forward the email you receive after this purchase.
              </div>
            </div>
          </div>
        </section>
        <aside class="price-summary">
          <table>
            <tr>
              <th>Subtotal</th>
              <td>$75.00</td>
            </tr>
            <tr>
              <th>Tax</th>
              <td>$0.00</td>
            </tr>
            <tr id="total">
              <th>Total</th>
              <td>$0.00</td>
            </tr>
          </table>
        </aside>
        <section id="billing">
          <h2>Billing information:</h2>
          <fieldset>
            @tags.bootstrap_text_input_field("Card number:", Field.empty("card-number"))
            <div class="field" >
              <div class="clearfix">
                <label class="instructions" for="card-exp-month">Exp. Date:</label>
                <div class="input select card-expiry">
                  <select id="card-exp-month" class="inline chsn-select" data-placeholder="Month">
                    <option value></option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                  <select id="card-exp-year" name="card-exp-year" class="inline chsn-select" data-placeholder="Year">
                    <option value></option>
                    @for(year <- 2012 to 2020) {
                      <option value="@year">@year</option>
                    }
                  </select>
                  <div class="alert alert-error hidden">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span class="error-message">Expiry date error</span>
                  </div>
                </div>            
              </div>
            </div> <!-- end .field -->  
            <div class="field">
              <div class="clearfix">
                <label class="instructions" for="card-cvc">Security Code:</label>
                <div class="input card-cvc">
                  <p>
                    <input id="card-cvc" type="text" name="card-cvc" class="inline" size="4">
                    @**   <small><a href="#" class="tip">What's this?</a></small> *@
                    <div class="alert alert-error hidden">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <span class="error-message"></span>
                    </div>
                  </p>
                </div>
              </div>
            </div> <!-- end .field -->          
            @tags.bootstrap_text_input_field("Full name:", Field.empty("full-name"))
            @tags.bootstrap_text_input_field("Email:", Field.empty("e-mail"))
          </fieldset>
        </section>
        <section id="review">
          <h2>Review order:</h2>
          <div class="purchaser-summary">
            <div class="amount-recipient">
              <h3>Amount:</h3>
              <div class="summary-item">$75.00</div>
              <h3>Recipient's Name:</h3>
              <div class="summary-item">Andy Johnson</div>
            </div>
            <div class="billing">
              <h3>Billing information:</h3>
              <div class="summary-item">
                <p>Joshua Johnson</p>
                <p class="card-number-placeholder">Visa XXXXXXXXXXXX4021</p>
              </div>
            </div> <!-- End .billing -->
          </div> <!-- End .purchaser-summary -->
          <div class="price-summary">
            <table>
              <tr>
                <th>Subtotal</th>
                <td>$75.00</td>
              </tr>
              <tr>
                <th>Tax</th>
                <td>$0.00</td>
              </tr>
              <tr id="total">
                <th>Total</th>
                <td>$0.00</td>
              </tr>
            </table>
          </div> <!-- End .price-summary -->
        </section>
      </div>
    </div>
  </div>
}

@base_template(title="Gift Certificates", jsMain = "pages/gift_certificates", headJs = headJs, body=baseBody)