@(stars:Iterable[models.frontend.landing.CatalogStar],
  verticalViewModels: List[models.frontend.marketplace.VerticalViewModel],
  signup:Boolean = false
)(
  implicit headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData,
  authToken: egraphs.authtoken.AuthenticityToken
)

@**   Consumer landing page

      stars - the list of all featured stars celebrities.
*@

@import models.frontend.landing.CatalogStar
@import views.html.frontend.tags

@loremIpsum = {
  <h2> Lorem ipsum dolor sit amet</h2>
}
@starsBlock(stars: Iterable[CatalogStar], clearFix: Boolean) = {
  @for(starRow <- stars.grouped(4).toList) {
    <div class="celebrities row">
      @if(clearFix) {<div class="clearfix">}

      @for(star <- starRow) {
        <article class="span3">
          <figure>
            @if(!star.hasInventoryRemaining) {
              <div class="ribbon simple">
                <a class="soldout-tooltip" href="/faq#how-many" rel="tooltip" title="More available soon!">Sold out <span class="question">?</span>
                </a>
              </div>
            }
            <a class="glowborder" href="@star.storefrontUrl" >
              <img src="@star.imageUrl" alt="@star.name" />              
            </a>
          </figure>
          <hgroup>
            <p class="price">$50</p>
            <h4><a href="@star.storefrontUrl">@star.name</a></h4>
            <h5>@star.secondaryText</h5>
          </hgroup>
        </article>        
      }
      @if(clearFix) {</div>}
    </div>
  }
  <a href="#">See all stars &gt;&gt;</a>
}

@verticalAndTeams = {
  <div class="module" id="browse">
    @loremIpsum
      <div class="row">
        <div class="clearfix">
          @for(vertical <- verticalViewModels) {

            <article class="span6">
              <a id="@vertical.shortName" class="vertical-button" href=""><img src="@EgraphsAssets.at(vertical.iconUrl)"/>
                <h3>@vertical.shortName</h3>
              </a>
              <ul>
              @for(category <- vertical.categoryViewModels;
                   categoryValue <- category.categoryValues) {
                <li>
                  <a href="#">
                    @categoryValue.publicName,&nbsp;
                  </a>
                </li>

                }
                <li>
                  <a href="#">See all @vertical.shortName Teams</a>
                </li>
              </ul>
            </article>
          }
          </div>
        </div>
      </div>
    </div>
}
@verticalsRow(verticals: Iterable[models.frontend.marketplace.VerticalViewModel])= {
    <div id="verticals" class="module">
        <div class="row">
            <div class="clearfix">
                @for(vertical <- verticals) {
                <div class="vertical-select span4 offset">
                    <a class="glowborder" title="@vertical.publicName" href="#">
                      <div class="backdrop" style="background-image: url('@EgraphsAssets.at(vertical.tileUrl).url')">
                        <h3>@vertical.shortName &gt;&gt;</h3>
                           <img class="icon" src="@EgraphsAssets.at(vertical.iconUrl).url">
                      </div>
                    </a>
                </div>
                }
            </div>
        </div>
    </div>
}

@testimonials = {
   <div id="testimonials" class="module">
    @loremIpsum
    <div class="row">
      <div class="clearfix">
      @for(i <- 0 until 3){
        <div class="span4">
        <blockquote class=".pull-right">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula magna dui, mattis eleifend sapien. Proin imperdiet, odio id tincidunt venenatis, risus enim auctor nisl, vel malesuada libero sapien in urna.
          </p>
          <small>Aphrodite, <cite title="Mt Olympus, WA 11/18/1941">Mt. Olympus, WA</cite></small>
        </blockquote>
        </div>
      }  
      </div>
    </div>  
  </div>
}

@teams = {
  <div id="teams" class="module">
  @loremIpsum
    <div class="row">
      <div class="clearfix">
        @for(vertical <- verticalViewModels) {
        <div class="carousel slide span12" id="@vertical.shortName-carousel">
          <div class="carousel-inner">
            @for(category <- vertical.categoryViewModels;
                 (categoryValue, index) <- category.categoryValues.zipWithIndex) {
              @if(index % 10 == 0) {
              <div class="item @if(index == 0){active}">
                <ul class="thumbnails">
                    <li class="span1"></li>
              }  
                  <li class="span1">
                    <div class="thumbnail">
                      <img src="@EgraphsAssets.at(categoryValue.iconUrl).url"/>
                    </div>  
                  </li>
              @if(index % 10 == 9 || index == category.categoryValues.size - 1) {
                <li class="span1"></li>
                </ul>
              </div>
              }
            }  
          </div>
          <a data-slide="prev" href="#@vertical.shortName-carousel" class="left carousel-control">‹</a>
          <a data-slide="next" href="#@vertical.shortName-carousel" class="right carousel-control">›</a>
        </div>
        }
      </div>
    </div>
  </div>   
}
@modalJs = {
  @if(signup) {
    Egraphs.page.modalOn = true;
  }
}

@baseBody = {

  @tags.landing.announcement_bar_a()

  @tags.landing.masthead_section_a(
    celebrityPublicName=None,
    mastheadMessage=None,
    mastheadImageUrl=EgraphsAssets.at("images/landing-masthead.jpg").url,
    getStartedUrl=Some("/stars")
  )

  <section id="content" role="main" class="landing">

    <div id="main">
      <div id ="landing-content-a" class="container">
        
        <ul id="tabs" data-tab="tabs"class="switcher">
          <li class="active left-tab"><a class="switcher-tab" href="#shop">Shop</a></li>
          <li class="right-tab"><a class="switcher-tab" href="#learn">Learn</a></li>
        </ul>
        
        <section id="learn" class="tab" style="display: none">
          @tags.landing.welcome_header()

          @tags.landing.landing_steps()

          @tags.landing.landing_details()

          @tags.landing.landing_more(None, Some("/stars"))
        </section>        
        <section id="shop" class="tab">
          @verticalsRow(verticalViewModels)
          <div class="module">
            @loremIpsum
            @starsBlock(stars, clearFix=true)
          </div>

          @verticalAndTeams

        </section>    


        <p class="to-top"><a href="#top">Back to Top</a></p>

      </div> <!-- end .container -->

    </div> <!-- end #main -->

  </section> <!-- end #content -->
}


@base_template_a(
  title="Share a moment with your favorite star",
  jsMain="pages/landing-a",
  headJs=modalJs,
  body=baseBody
)
