@(stars:Iterable[models.frontend.landing.CatalogStar],
  mastheadOption: Option[models.frontend.landing.LandingMasthead],
  verticalViewModels: List[models.frontend.marketplace.VerticalViewModel],
  signup:Boolean = false,
  marketplaceRoute : String = "/stars"
)(
  implicit headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData,
  authToken: egraphs.authtoken.AuthenticityToken
)

@import models.frontend.landing.CatalogStar
@import views.html.frontend.tags
@import play.api.libs.json._
@import egraphs.playutils.Gender
@import egraphs.playutils.NeutralGrammar
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import views.frontend.Utils.idAttribution

@loremIpsum = {
  <h2> Lorem ipsum dolor sit amet</h2>
}
@starsBlock(stars: Iterable[CatalogStar], clearFix: Boolean) = {
  <div id="landing-stars" class="module">
    <h2>Featured Stars</h2>
    @for(starRow <- stars.grouped(4).toList) {
      <div class="celebrities row">
        @if(clearFix) {<div class="clearfix">}

        @for(star <- starRow) {
          <article  id="@star.name" class="span3">
            <figure>
              @if(!star.hasInventoryRemaining) {
                <div class="ribbon simple">
                  <a class="soldout-tooltip" href="/faq#how-many" rel="tooltip" title="More available soon!">Sold out <span class="question">?</span>
                  </a>
                </div>
              }
              <a class="glowborder" href="@star.storefrontUrl" data-name="@star.name">
                <img src="@star.imageUrl" title="Purchase an egraph from @star.name" alt="@star.name"/>              
              </a>
            </figure>
            <hgroup>
              <p class="price">$@if(star.minPrice > 0 && star.minPrice != star.maxPrice){@star.minPrice - @star.maxPrice} else { @star.maxPrice }</p>
              <h4><a href="@star.storefrontUrl" data-name="@star.name">@star.name</a></h4>
              <h5>@star.secondaryText</h5>
            </hgroup>
          </article>        
        }
        @if(clearFix) {</div>}
      </div>
    }
    @tags.landing.get_started("/stars", "See All Stars", "stars-link")
  </div>  
}


@valueProp = {
  <div class="module education">
    <div class="value-propositions row">
      <div class="span3 clearfix">
        <div class="value-icon-holder"><img src='@EgraphsAssets.at("images/pencil.png")'></img></div>
        <div class="description">
          <strong>You write a note</strong>
          <span>for favorite star's eyes only</span>
        </div>
      </div>
      <div class="span3 clearfix">
        <div class="value-icon-holder"><img src='@EgraphsAssets.at("images/glyphish-microphone.png")'></img></div>
        <div class="description">
          <strong>Your star replies</strong>
          <span>through their iPad microphone, just for you</span>
        </div>
      </div>
      <div class="span3 clearfix">
        <div class="value-icon-holder"><img src='@EgraphsAssets.at("images/glyphish-verified.png")'></img></div>
        <div class="description">
          <strong>Authenticity verified</strong>
          <span>by signature and voice analysis</span>
        </div>
      </div>
      <div class="span3 clearfix">
        <div class="value-icon-holder"><img src='@EgraphsAssets.at("images/glyphish-heart.png")'></img></div>
        <div class="description">
          <strong>Love your egraph</strong>
          <span>or your money back, no questions asked</span>
        </div>
      </div>
    </div>
    <div class="value-top row clearfix">    
        <span class="learn-more">  
          <strong>Want to know more about Egraphs?</strong>
          <br>
          <span class="actions">
            <a id="play-video-link" href="#top-relative"> Watch the video </a> 
            or 
            <a id="learn-more-link">read more here</a>
          </span>  
        </span>
    </div>  
  </div> <!-- end value-propositions -->
}

@verticalAndTeams = {
  <div class="module" id="browse">
    <h2>Find your team on Egraphs</h2>
    <div class="row">
      <div class="clearfix">
        @for(vertical <- verticalViewModels;
             iconUrl <- vertical.iconUrl
          ) {

          <article class="span6">
            <a id="@vertical.shortName" class="vertical-button" name="@vertical.shortName" data-vertical="@vertical.urlSlug"><img src="@EgraphsAssets.at(iconUrl)"/>
              <h3>@vertical.shortName</h3>
            </a>
            <ul>
            @**The if statement below is a HACK. Will remove this along, with the rest of the code when we move to a many vertical friendly page. **@
            @for(category <- vertical.categoryViewModels if(category.publicName != "MLB Prospects");
                 categoryValue <- category.categoryValues.sorted) {
              <li>
                <a data-vertical="@vertical.urlSlug" @idAttribution(categoryValue.publicName, "link") data-category="@category.id" data-categoryvalue="@categoryValue.id" class="cv-link">
                  @categoryValue.publicName&nbsp;
                </a>
              </li>

              }
              <li>
                <a data-vertical="@vertical.urlSlug" @idAttribution(vertical.shortName, "see-all") name="@vertical.shortName" class="all-teams">See all @vertical.shortName stars &raquo;</a>
              </li>
            </ul>
          </article>
        }
        </div>
      </div>
    </div>
}
@verticalsRow(verticals: Iterable[models.frontend.marketplace.VerticalViewModel])= {
  <div id="verticals" class="module">
    <h2>Find your star</h2>
    <div class="row">
      <div class="clearfix">        
        <div class="vertical-select span4">
          <a class="glowborder" title="Enter Store" href="@marketplaceRoute">
            <div class="backdrop" style="background-image: url('@EgraphsAssets.at("images/nba-stadium.jpg").url')">
              <h3>Enter Store</h3>
            </div>
          </a>
        </div>
        <div class="vertical-select span4">
          <a class="glowborder" id="tile-signup" title="Become an Egraphs Insider">
            <div class="backdrop" style="background-image: url('@EgraphsAssets.at("images/mlb-stadium.jpg").url')">
              <h3>Become an Insider</h3>
              <span class="subtext">
                See benefits  
              </span>
            </div>
          </a>
        </div>
        <div class="vertical-select span4">
          <a class="glowborder" title="Egraph's Blog'" href="http://blog.egraphs.com/">
            <div class="backdrop" style="background-image: url('@EgraphsAssets.at("images/crowd.jpg").url')">
              <h3>Egraphs Blog</h3>
            </div>
          </a>
        </div>  
      </div>
    </div>
}


@headJs = {
  @if(signup) {
    Egraphs.page.modalOn = true;
  }
  Egraphs.page.categories =  @Html(
    Json.toJson(verticalViewModels.flatMap{v =>
      v.categoryViewModels.foldLeft[Map[String, JsValue]](Map())(
        (a, b) => a ++ b.asActiveMap)
    }.toMap).toString());
  Egraphs.page.queryUrl = "@marketplaceRoute";
  Egraphs.page.mastheadName = "@escapeEcmaScript(mastheadOption.getOrElse(models.frontend.landing.DefaultLanding.masthead).name)";
}

@baseBody = {
  @headerData.giftCertificateLink.map { link =>
    @tags.landing.announcement_bar()
  }
  @tags.landing.masthead_section(mastheadOption)
  <section id="content" role="main" class="landing">

    <div id="main">
      <div id ="landing-content" class="container">
        
        <ul id="tabs" data-tab="tabs" class="switcher">
          <li class="active left-tab" id="shop-tab"><a class="switcher-tab" href="#shop">Shop</a></li>
          <li class="right-tab" id="learn-tab"><a class="switcher-tab" href="#learn">Learn</a></li>
        </ul>
        
        <div id="learn" class="tab" style="display: none">
          @tags.landing.welcome_header(celebrityGrammar = NeutralGrammar)

          @tags.landing.landing_steps(celebrityGrammar = NeutralGrammar)

          @tags.landing.landing_details(celebrityGrammar = NeutralGrammar)

          @tags.landing.landing_more(None, Some(marketplaceRoute))
        </div>        
        <div id="shop" class="tab">

          @valueProp

          @verticalsRow(verticalViewModels)          
          @starsBlock(stars, clearFix=true)

          @verticalAndTeams
          <div class="row">
            <div class="span12">
              @tags.landing.searchbox("/stars")
              @tags.mailing_list_form()
            </div>
          </div>  
        </div>    
        

          <p class="to-top"><a href="#top-relative">Back to Top</a></p>  
      </div> <!-- end .container -->

    </div> <!-- end #main -->

  </section> <!-- end #content -->
}

@base_template(
  title="Share a moment with your favorite star",
  jsMain="pages/landing",
  headJs=headJs,
  body=baseBody
)
