@(stars:Iterable[models.frontend.landing.CatalogStar], signup:Boolean = false
)(
  implicit headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData,
  authToken: egraphs.authtoken.AuthenticityToken
)

@**   Consumer landing page

      stars - the list of all featured stars celebrities.
*@

@import models.frontend.landing.CatalogStar
@import views.html.frontend.tags

@starsBlock(stars: Iterable[CatalogStar], clearFix: Boolean) = {
  @for(starRow <- stars.grouped(4).toList) {
    <div class="celebrities row">
      @if(clearFix) {<div class="clearfix">}

      @for(star <- starRow) {
        <article class="span3">
          <figure>
            @if(!star.hasInventoryRemaining) {
              <div class="ribbon simple">
                <a class="soldout-tooltip" href="/faq#how-many" rel="tooltip" title="More available soon!">Sold out <span class="question">?</span>
                </a>
              </div>
            }
            <a class="glowborder" href="@star.storefrontUrl" >
              <img src="@star.imageUrl" alt="@star.name" />              
            </a>
          </figure>
          <hgroup>
            <p class="price">$50</p>
            <h4><a href="@star.storefrontUrl">@star.name</a></h4>
            <h5>@star.secondaryText</h5>
          </hgroup>
        </article>        
      }

      @if(clearFix) {</div>}
    </div>
  }
}

@verticalAndTeams = {
  <div class="module" id="browse">
    <h2>Find your favorite team</h2>
      <div class="row">
        <div class="clearfix">
          <article class="span4">
            <div class="clearfix">
              <a id="MLB" class="vertical-button" href=""><img src="@EgraphsAssets.at("/images/icon-logo-mlb.png")">
                <h3>MLB</h3>
              </a>
            </div>  
            <ul>
              @for(i <- 0 until 3) {
              <li>
                <a href="#">
                  Atlanta Braves
                </a>
              </li>
              <li>
                <a href="#">
                Boston Red Sox
                </a>
              </li>
              <li>
                <a href="#">
                Houston Astros
                </a>
              </li>
              <li>
                <a href="#">
                  Miami Marlins
                </a>  
              </li>
              }
              <li>
                <a href="#">See all MLB Teams</a>
              </li>
            </ul>
          </article>
          <article class="span4">
            <div class="clearfix">
              <a id="NBA" class="vertical-button btn btn-primary " data-vertical="/major-league-baseball" href=""><img src="@EgraphsAssets.at("/images/icon-logo-nba.png")">
                <h3>NBA</h3>
              </a>
            </div>  
          <ul>
              @for(i <- 0 until 3) {
              <li>
                <a href="#">
                  Atlanta Hawks
                </a>
              </li>
              <li>
                <a href="#">
                Boston Celtics
                </a>
              </li>
              <li>
                <a href="#">
                  Houston Rockets
                </a>
              </li>
              <li>
                <a href="#">
                  Miami Heat
                </a>  
              </li>
              }
              <li>
                <a href="#">See all NBA Teams</a>
              </li>
            </ul>
          </article>
          <article class="span4">
            <div class="clearfix">
              <a id="NBA" class="vertical-button btn btn-primary " data-vertical="/major-league-baseball" href=""><img src="@EgraphsAssets.at("/images/icon-logo-nba.png")">
                <h3>TV</h3>
              </a>
            </div>  
            <ul>
              @for(i <- 0 until 3) {
              <li>
                <a href="#">
                  Jersey Shore
                </a>
              </li>
              <li>
                <a href="#">
                  Battlestar Galactica
                </a>
              </li>
              <li>
                <a href="#">
                  Sportscenter
                </a>
              </li>
              <li>
                <a href="#">
                  Breaking Bad
                </a>  
              </li>
              }
              <li>
                <a href="#">See all TV Stars</a>
              </li>
            </ul>
          </article>
        </div>
      </div>
    </div>
}

@modalJs = {
  @if(signup) {
    Egraphs.page.modalOn = true;
  }
}

@baseBody = {

  @tags.landing.announcement_bar_a()

  @tags.landing.masthead_section_a(
    celebrityPublicName=None,
    mastheadMessage=None,
    mastheadImageUrl=EgraphsAssets.at("images/landing-masthead.jpg").url,
    getStartedUrl=Some("/stars")
  )

  <section id="content" role="main" class="landing">

    <div id="main">
      <div id ="landing-content-a" class="container">
        
        <ul id="tabs" data-tab="tabs"class="switcher">
          <li class="active left-tab"><a class="switcher-tab" href="#shop">Shop</a></li>
          <li class="right-tab"><a class="switcher-tab" href="#learn">Learn</a></li>
        </ul>
        
        <section id="shop" class="tab">
          <div id="verticals" class="module">
             <h2>Find your favorite stars on egraphs</h2>
            <div class="row">
              <div class="clearfix">
              @for(text <- Seq("MLB", "NBA", "TV")) {
                <div class="vertical-select span4">
                  <a class="glowborder" href="#">
                    <img class="backdrop" src='@EgraphsAssets.at("images/mlb-stadium.jpg")'></img>
                    <h3>@text &gt;&gt;</h3>
                    <img class="icon" src="@EgraphsAssets.at("/images/icon-logo-mlb.png")">
                  </a>  
                </div>
              }
              </div>  
            </div>
          </div> 
          <div class="module">
            <h2>This Week's Featured Stars</h2>
            @starsBlock(stars, clearFix=true)
          </div>
          <div id="testimonials" class="module">
            <h2>Look We Have Customers</h2>
            <div class="row">
              <div class="clearfix">
              @for(i <- 0 until 3){
                <div class="span4">
                <blockquote class=".pull-right">
                  <p>
                    Egraphs is life-changing. Thanks to Egraphs, I got my son a message from Sauron himself! My lil orc child is overjoyed!
                  </p>
                  <small>Some Orc Bastard, <cite title="Middle-earth 11/18/1941">Middle-Earth</cite></small>
                </blockquote>
                </div>
              }  
              </div>
            </div>  
          </div>

          @verticalAndTeams
          <div id="teams" class="module">
            <h2>Look we have teams</h2>
            <div class="row">
              <div class="clearfix">
              @for(text <-  Seq("Yankees", "Angels", "Nationals", "Brewers")) {  
                <a class="span1 team-button">
                  <img src="@EgraphsAssets.at("/images/nyy.png")">
                  @**<h5>@text</h5>**@
                </a>  
              }  
              </div>
            </div>
          </div> 
        </section>    

        <section id="learn" class="tab" style="display: none">
          @tags.landing.welcome_header()

          @tags.landing.landing_steps()

          @tags.landing.landing_details()

          @tags.landing.landing_more(None, Some("/stars"))
        </section>

        <p class="to-top"><a href="#top">Back to Top</a></p>

      </div> <!-- end .container -->

    </div> <!-- end #main -->

  </section> <!-- end #content -->
}


@base_template_a(
  title="Share a moment with your favorite star",
  jsMain="pages/landing-a",
  headJs=modalJs,
  body=baseBody
)
