@(stars:Iterable[models.frontend.landing.CatalogStar], signup:Boolean = false
)(
  implicit headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData,
  authToken: egraphs.authtoken.AuthenticityToken
)

@**   Consumer landing page

      stars - the list of all publicly-discoverable celebrities.
*@

@import models.frontend.landing.CatalogStar
@import views.html.frontend.tags

@starsBlock(stars: Iterable[CatalogStar], clearFix: Boolean) = {
  @for(starRow <- stars.grouped(4).toList) {
    <div class="celebrities row">
      @if(clearFix) {<div class="clearfix">}

      @for(star <- starRow) {
        <article class="span3">
          <figure>
            @if(!star.hasInventoryRemaining) {
              <div class="ribbon simple">
                <a class="soldout-tooltip" href="/faq#how-many" rel="tooltip" title="More available soon!">Sold out <span class="question">?</span>
                </a>
              </div>
            }
            <a class="glowborder" href="@star.storefrontUrl" >
              <img src="@star.imageUrl" alt="@star.name" />              
            </a>
          </figure>

          <h4><a href="@star.storefrontUrl">@star.name &rsaquo;</a></h4>

          <p>@star.secondaryText</p>

        </article>        
      }

      @if(clearFix) {</div>}
    </div>
  }
}

@modalJs = {
  @if(signup) {
    Egraphs.page.modalOn = true;
  }
}

@baseBody = {
  @tags.landing.masthead_section(
    mastheadMessage=None,
    mastheadImageUrl=EgraphsAssets.at("images/landing-masthead.jpg").url,
    getStartedUrl=Some("/stars")
  )

  <section id="content" role="main">

    <div id="main">

      <div class="container">

        <footer id="landing-stars">
          <h3><a href="#featured-stars">Featured Stars <span>+</span></a></h3>
          @starsBlock(stars.filter(star => star.isFeatured), clearFix=true)
        </footer> <!-- end #landing-stars -->

        @tags.landing.welcome_header()

        @tags.landing.landing_steps()

        @tags.landing.landing_details()

        @tags.landing.landing_more(None, Some("/stars"))

        <p class="to-top"><a href="#top">Back to Top</a></p>

      </div> <!-- end .container -->

    </div> <!-- end #main -->

  </section> <!-- end #content -->
}

@base_template(
  title="Share a moment with your favorite star",
  jsMain="pages/landing",
  headJs=modalJs,
  body=baseBody
)
