@(loginForm: models.frontend.login_page.LoginFormViewModel,
  registrationForm: Form[models.frontend.login_page.RegisterConsumerViewModel],
  registrationActionUrl: String,
  fbAuthUrl: String
)(implicit headerData: models.frontend.header.HeaderData, 
  footerData: models.frontend.footer.FooterData,
  authToken: egraphs.authtoken.AuthenticityToken
)
@**   The page used to sign in existing customers. It contains a three-column layout that allows
      existing customers to sign in, non-customers to create accounts, and social media users to
      log in via their networks' oauth services.

      loginForm - the form used to log people in through egraphs.
      registrationForm - the form used to create a new Egraphs account
      fbAuthUrl - the redirect URL that allows an individual to sign into our service via
          facebook.

*@

@import views.html.frontend.tags.storefront_breadcrumbs_responsive
@import views.html.frontend.tags
@import models.frontend.forms.{Field, FormError}
@import views.frontend.Utils.bootstrapFields

@headJs = {
  Egraphs.page.login = {
    registrationErrors: @registrationForm.hasErrors
  }
}

@header = {How do you want to sign in?}

@currentOwnerHeader = {With an existing account}
 
@newOwnerHeader = {With a new account}

@newOwnerContent = {
  <div class="new-account-benefits @if(registrationForm.hasErrors) {hidden}">
    <p>You can enjoy an Egraphs account without even owning any egraphs. Having an account can provide quite a few benefits:</p>

    <ul>
      <li>Early info on upcoming featured stars</li>
      <li>Express checkout for egraphs you buy in the future</li>
      <li>A reason to brag to your friends and look down upon your enemies.</li>   
    </ul>
  </div> <!-- End new account benefits -->

  <div class="new-account-fields" @if(!registrationForm.hasErrors) {style="display: none"}>
    <fieldset>
      <span id="register-email-field">
        @helper.inputText(registrationForm("email"), '_label -> "Email Address:", '_showConstraints -> false)
      </span>

      @helper.inputPassword(registrationForm("password"), '_label -> "Password:", '_showConstraints -> false)

      @helper.input(registrationForm("bulk-email"), '_showConstraints -> false) { (id, name, value, args) =>
        <input type="checkbox" name="@name" id="@id" value="true" checked @toHtmlArgs(args)>
        Signup for the Egraphs Insider newsletter
      }
@**

      for(error <- registrationForm.generalErrors.headOption) {
        <div class="general-errors">
          <div class="alert alert-error @if(loginForm.generalErrors.isEmpty) {hidden}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span class="error-message">@error</span>
          </div>
        </div>
      }*@

      <p class="registration-instructions" style="display:none">
        Put in your deets, press the big red button, and feel like a million bucks.
      </p>

    </fieldset>                  
  </div> <!-- End new account fields -->
}

@fbHeader = {With Facebook}

@fbContent = {
  <p>
    Click the blue button to log into Egraphs through your Facebook account.
  </p>
  <p>
    Could it really be that easy? Let's find out...
  </p>
}

@login_template(
  loginForm=loginForm,
  headJs=headJs,
  header=header,
  title="Sign in",
  currentOwnerHeader=currentOwnerHeader,
  jsMain="pages/login",
  newOwnerHeader=newOwnerHeader,
  newOwnerContent=newOwnerContent,
  newOwnerTargetUrl=registrationActionUrl,
  fbHeader=fbHeader,
  fbContent=fbContent,
  fbAuthUrl=fbAuthUrl
)
