@()(implicit paginationInfo: controllers.PaginationInfo)

<div class="pagination">
  @import services.Utils.stringOptionToRichStringOption
  @if(paginationInfo.showPaging) {
  <ul>
    <li @if( paginationInfo.firstUrl.isEmpty ) {class="disabled"}><a href=@paginationInfo.firstUrl.getOrElse("")>First</a></li>
    <li @if( paginationInfo.prevUrl.isEmpty )  {class="disabled"}><a href=@paginationInfo.prevUrl.getOrElse("")>Prev</a></li>
    <li @if( paginationInfo.nextUrl.isEmpty )  {class="disabled"}><a href=@paginationInfo.nextUrl.getOrElse("")>Next</a></li>
    <li @if( paginationInfo.lastUrl.isEmpty )  {class="disabled"}><a href=@paginationInfo.lastUrl.getOrElse("")>Last</a></li>
  </ul>
  }
</div>
