@(inventoryBatches: Iterable[models.InventoryBatch], celebrity: models.Celebrity
)(implicit paginationInfo: controllers.PaginationInfo)

@import controllers.WebsiteControllers
@import views.html.Application.content_base
@import views.html.Application.tags.pagination

@content_base(title="Admin - Inventory Batches", body=body, head=head)

@{/** @getCreateCelebrityInventoryBatch = @{
	routes.WebsiteControllers.getCreateCelebrityInventoryBatchAdmin(celebrityId = celebrity.id)
}*/}

@head = {
  <script src='@RemoteAssets.at("twitter-bootstrap-1.4.0/js/bootstrap-alerts.js")' type="text/javascript"></script>
}

@headline = {
  @celebrity.publicName's Inventory Batches
}

@body = {
<div class="admin-content">
  <h1>
    @headline @paginationInfo.totalResultsStr
  </h1>
  @{/**<form method="link" action="@getCreateCelebrityInventoryBatch">
    <input class="btn primary fade in" type="submit" value="New Inventory Batch"/>
  </form>*/}
  <div>
    <h2>Filters:</h2>
    <ul class="span16">
      <li><a href="?filter=activeOnly">Active Only</a></li>
      <li><a href="?filter=all">All</a></li>
    </ul>
  </div>
  <table>
    <tr>
      <th></th>
      <th>Id</th>
      <th>Inventory Amount</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
    @inventoryBatches.map { (inventoryBatch) =>
    <tr>
      <td>
        <a class="preview-link" href="/admin/inventorybatches/@inventoryBatch.id">
          Details
        </a>
      </td>
      <td>@inventoryBatch.id</td>
      <td>@inventoryBatch.numInventory</td>
      <td>@inventoryBatch.startDate</td>
      <td>@inventoryBatch.endDate</td>
    </tr>
    }
  </table>
  @pagination()
</div>
}
