@(account: Option[(models.Account)]
)(implicit authToken: egraphs.authtoken.AuthenticityToken,
  headerData: models.frontend.header.HeaderData,
  footerData: models.frontend.footer.FooterData)


@import controllers.WebsiteControllers
@import views.html.frontend.tags
@import views.html.frontend.tags.ng
@import views.html.frontend.base_template

@getAccounts = @{
	routes.WebsiteControllers.getAccountsAdmin
}


@body = {
<section id="content" class="top" role="main">
  <div id="main" class="sub">
    <div class="container" id="celebrity-admin">      
      <h2>Accounts</h2>
      <div class="row-fluid">
        <form method="link" class="form-search" action="@getAccounts">
          <div class="span3">
            <input id="email" placeholder="Search by email" name="email" type="text" class="input-large search-query"/>
          </div>
          <div class="span9">
            @tags.arrow_button(caption="Go")
          </div>
        </form>
      </div>
      <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>Id</th>
          <th>Email</th>
          <th>Celebrity Id</th>
          <th>Customer Id</th>
          <th>Administrator Id</th>
        </tr>
        </thead>
        @account.map { case (acct) =>
        <tr>
          <td>
            <a class="preview-link" href="/admin/accounts/@acct.id">
              Details
            </a>
          </td>
          <td>@acct.id</td>
          <td>@acct.email</td>
          <td>@acct.celebrityId</td>
          <td>@acct.customerId</td>
          <td>@acct.administratorId</td>
        </tr>
        }
      </table>
    </div>
  </div>
</section>
}

@base_template(title="Admin - Accounts", body=body, jsMain="pages/admin/celebrity")