@(model: String,
  oldField: models.frontend.forms.Field[_],
  newField: models.frontend.forms.Field[_],
  confirmField: models.frontend.forms.Field[_]
)

<a id="password-display" class="row-settings row-fluid edit @{
    val errors = List(oldField.error, newField.error, confirmField.error)
    errors.flatten.headOption.map(a => "none").getOrElse("")
}">
  <span class="span3 row-label">Password</span>
  <span class="span4 setting-val">@{"*".*(40)}</span>
  <span class="span4 help-inline"></span>
  <span class="span1 action">
    <i class="icon-pencil"></i> Edit
  </span>
</a>

<div id="password-edit" class="row-settings row-fluid
  @{
    val errors = List(oldField.error, newField.error, confirmField.error)
    errors.flatten.headOption.map(a => "").getOrElse("none")
  }">
  <span class="span1"></span>
  <span class="span4">

    <div class="control-group">
      <label class="control-label ng-label">Old Password</label>
      <div class="controls">
        <input ng-model="@{model + ".oldPassword"}" name="oldPassword" type="password"
        xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label ng-label">New Password</label>
      <div class="controls">
        <input ng-model="@{model + ".newPassword"}" ng-minlength="8" id="user_password" name="newPassword"
        type="password" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label ng-label">Verify Password</label>
      <div class="controls">
        <input id="user_password_confirmation" name="passwordConfirm" type="password"
               xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"/>
      </div>
    </div>
  </span>

  <span class="span4">
    <div class="control-group">
      <label class="control-label ng-label">&nbsp;</label>
      @form_error(oldField)
    </div>
    <div class="control-group">
      <label class="control-label ng-label">&nbsp;</label>
      @form_error(newField)
    </div>
    <div class="control-group">
      <label class="control-label ng-label">&nbsp;</label>
      @form_error(confirmField)
    </div>
  </span>
  <span class="span1 help-inline"></span>
  <span class="span2 action cancel">
    @form_cancel(model, "password")
  </span>
</div>