//
// Styles for the egraph page  (e.g. /egraphs/1)
//

.egraph-content {
  h1 {
    margin-bottom:4px;

    .help-block {
      padding-top:16px;
      display:block;
      float:right;
    }
  }

  h3 {
    color:aaa;
  }

  .divider {
    margin-top:2px;
    border-bottom:1px solid #333;
    margin-bottom:10px;
  }
}
