<body>
<!-- Begin site_header.scala.html -->
<header id="top" role="navigation">
  <div class="container">
    <div class="row">
      <div class="logo span3">
        <h1><a href="/" title="Egraphs">Egraphs</a></h1>
      </div>
      <div class="explore span3">
        <p><a href="/inside-an-egraph">Inside an Egraph</a></p>
      </div> <!-- end .explore -->
      <div class="span6">
        <div class="social">
          <ul class="clearfix">
            <li><a href="http://www.facebook.com/egraphs" class="facebook">Facebook</a></li>
            <li><a href="http://www.twitter.com/egraphs" class="twitter">Twitter</a></li>
          </ul>
        </div> <!-- end .social -->
      </div>
    </div>
  </div>

</header> <!-- end #top -->
<!-- End site_header.scala.html -->

<!-- Begin base template body -->
<section id="content" role="main">
  <div id="main">
    <div class="container">
      <section>
        <header>
          <h3>${_arg}</h3>
        </header>
      </section>
    </div>
    <!-- end .container -->
  </div>
  <!-- end #main -->
</section>
<!-- end #content -->
<!-- End base template body -->

<!-- Begin site_footer.scala.html -->
<footer id="bottom" class="container" role="contentinfo">
  <div class="row">
    <div class="span6">
      <nav role="sitemap">
        <ol class="clearfix">
          <li><a href="/">Home</a></li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/terms-of-use">Terms of Use</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ol>
      </nav>
      <p><small>Copyright 2012 Egraphs</small></p>
    </div>
    <div class="social span6">
      <ul>
        <li><a href="http://www.facebook.com/egraphs" class="facebook">Facebook</a></li>
        <li><a href="http://www.twitter.com/egraphs" class="twitter">Twitter</a></li>
      </ul>
    </div> <!-- end .social -->
  </div> <!-- end .row -->
</footer> <!-- end #bottom -->
<!-- End site_footer.scala.html -->

</body>