@(name: String, zipLink: String)
@import views.html.frontend.tags

@tags.email.header("Egraphs | Reset Password")
<div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #888888; text-shadow: 0 1px 0 #ffffff; text-align: left;">
  <p>
    Dear @name,
  </p>
  <p>
  Due to some unfortunate circumstances, we will be ceasing operations in the next few weeks.
  However, we want to make sure that you can continue to enjoy your egraph(s) in perpetuity.
  We have packaged all the digital assets into a convenient zip file that you can download using the following link:
  </p>
  <a href="@zipLink">Download your egraphs</a>
  <p>
  The above link will be available until at least May 7. If you have any difficulty extracting your egraph from the zip file, feel free to contact our support team.
  We sincerely appreciate your interest in Egraphs and hope you have had a great experience using the service.
  If you have any questions about downloading your egraph(s), please email <a href="mailto:support@@egraphs.com">support@@egraphs.com</a>.
  </p>
  <p>
  Regards,<br>
  The Egraphs Team
  </p>
</div>


@tags.email.footer()