@(egraphSignedEmailStack: models.frontend.email.EgraphSignedEmailViewModel)

@import views.html.frontend.tags
@import models.frontend.email.EgraphSignedEmailViewModel

@tags.email.header("Egraphs | View Egraph")

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; line-height: 24px; color: #29abe2; text-shadow: 0 1px 0 #ffffff; text-align: center;">
  <strong>You have just recieved an egraph from @egraphSignedEmailStack.buyerName!</strong><br>An egraph is a shared moment between you and your favorite star. Check it out! 
</p>

@tags.email.egraph_ready(egraphSignedEmailStack)
@tags.email.footer()