.settings-col {
  padding-left: 0px;
}

.settings-row {
  a {
    color: @orange;
  }

  a:hover {
    color:@blue;
  }

  .span1 {
    text-align: right;
  }
}

.settings-row:last-child {
  border-bottom: 1px solid @tableBorder;
}

section .settings-group {
  h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
}