// The base stylesheet for Egraphs.

#top {
		background: @offWhite;	
}

#content {
	
	background: @grayLighter;
	
	#main {
		border-top: 8px solid @white;
		padding-top: 38px;
		margin-top: -46px;
		margin-bottom: 40px;
		background: @offWhite;
		-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
		-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
		box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	}
	
}