// Styles for the checkout explorations base checkout page
body.storefront-a-checkout {
  @mainContentWidth: 523px;
  line-height: normal;

  h2, h3, div, span {
    line-height: normal;
  }

  .tooltip-link {
    display:block;
  }

  .general-errors {
    margin-top:10px;
    @color: darken(@orange, 10%);
    border:1px solid @color;
    padding:10px;
    border-radius:10px;
    background-color:lighten(@orange, 42%);
    color:@color;
    font-style:normal;
  }

  // The funny shopping-cart navbar
  .top {
    text-align:center;
    padding:0px;

    // Silence the fixed header during checkout
    &.fixed { display: none; }
    &.relative { visibility:visible; }

    .checkout-header {
      margin-top:10px;
      margin-bottom:5px;
    }

    .checkout-logo {
      @logoWidth: 120px;
      display:inline-block;
      max-width: @logoWidth;
      
      img { width:100%; }

      a {
        color: #999;
        &:hover { color: #999; }
      }
      
      // Logo fading effect when hovered
      &:hover { .opacity(75) }
    }

    // The checkout steps navbar portion
    .steps {
      position:relative;
      border-left:1px solid #ccc;
      padding-left:12px;
      margin-left:10px;
      display: inline-block;
      vertical-align: middle;

      // Each step, e.g. "CONNECT"
      .step {
        display: inline-block;
        vertical-align:top;
        text-transform: uppercase;
        a {
          color: @orange;
        }
        label {
          line-height: normal;
          font-size:13px;
        }

        // Standardize icon heights for more attractive layout
        .image-container {
          height:20px;
        }

        // Checkout icons
        img {
          display:block;
          max-width:16px;
          margin-left:auto;
          margin-right:auto;
        }

        &.previous, &.current {
          label {
            color: @orange;
          }
        }

        &.previous, &.final {
          .opacity(40);
        }

        &.final label {
          color:black;
        }
      }

      img.step-arrow {
        position:relative;
        display:inline-block;
        margin-left:5px;
        margin-right:5px;
        vertical-align: middle;
        max-width:16px;
        margin-top:8px;
        .opacity(40);
      }
    }
  }

  #content {
    padding-bottom:15px;
  }

  #content #main {
    max-width:@mainContentWidth;
    top:0px;
    padding-top:0px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:15px;
    margin-bottom:15px;

    h2, h3 {
      text-shadow:1px 1px 0px white;
    }

    section {
      padding-top:25px;
    }

    // The main section headers, e.g. "Enter Delivery Details"
    h2 {
      margin-top:4px;
      margin-bottom:16px;
      text-align:center;
      text-transform:uppercase;
      font-size:16px;
    }

    // The icons placed inside fancy white lines above the main section headers
    .header-icon {
      text-align:center;
      background-image: url("/assets/images/fancy-lines.png");
      background-position: 50% 50%;
      background-repeat: no-repeat;

      img {
        width:20px;
      }
    }

    // Fancy headers that get an attractive squiggly above them. 
    // e.g. "ONLINE EGRAPH DELIVERY"
    .fancy-header {
      text-align:center;
      text-transform:uppercase;
      color:#999;
      font-size:14px;
      line-height:normal;
      margin-bottom:8px;

      // Place the fancy squiggly using pseudoclass
      &::before {
        text-align:center;
        margin-bottom:4px;
        margin-top:12px;
        display:block;
        margin-left:auto;
        margin-right:auto;
        content:"";
        background-image: url("/assets/images/fancy-separator-no-lines.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height:9px;
        width:17px;
      }
    }

    // The skeuomorphic receipt's "insertion point" into the page.
    .summary-insertion {
      @apertureHeight: 14px;

      position:relative;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:-1 * @apertureHeight; // sucks the summary up into the aperture
      width:95%;
      max-width:340px;
      height:@apertureHeight;
      background-color:#666;
      border-radius:9px;

      // Cast shadow above the summary using high z-indexed pseudoclass
      &::after {
        position:absolute;
        z-index:2;
        width:100%;
        height:100%;
        .box-shadow(0px 6px 6px lighten(black, 12.5%) inset);
        border-radius:9px;
        content:"";
      }
    }

    // The skeuomorphic receipt paper
    .summary {
      border-top-right-radius:10px; // shit looks like its bending into the aperture aw fuck
      border-top-left-radius:10px;
      overflow:hidden; // avoids content exposure on top border radii
      position:relative;
      z-index:1; // Place it above the aperture but below the aperture's shadow-casting pseudoclass
      width:80%;
      max-width:280px;
      margin-left:auto;
      margin-right:auto;
      padding-top:7px;
      background-color:white;
      background-image:url(/assets/images/egg_shell.png);
      border-bottom:1px solid #999;
      border-top:0px;
      .box-shadow(0px 2px 8px -1px rgba(0,0,0,.5)); // in place of a border

      // The receipt section headers, e.g. "Discounts"
      h2 {
        position:relative;
        text-transform:none; // undo the capitalization of h2s in general on this page
        font-weight:600;
        margin:0 0;
        padding:8px;
        border-top:1px dashed #aaa; // shit looks stippled
        background-color:rgba(255,255,255,0.4);

        // Slight white accent below the stippling
        &::before {
          position: absolute;
          display: block;
          content: "";
          width: 100%;
          height: 0px;
          top: 0px;
          left: 0px;
          border-top: 1px dashed white;
        }
      }

      .discounts {
        position: relative; // to enable absolute positioning of redeem link

        // The "redeem code" link
        a.redeem-link {
          text-decoration: underline;
          color: #999;
          display: block;
          font-size: 11px;
        }

        #open-redeem {
          position: absolute;
          left: 12px;
          top: 13px;
        }

        #close-redeem {
          margin-top:8px;
        }

        input {
          width:140px;
        }
      }


      // Any contiguous series of line-items. E.g. the series of items, series of fees, etc.
      ul.line-items {
        list-style-type: none;
        margin-left: 0px;
        margin-bottom: 0px;

        // Each line item in the series
        li {
          border-top:1px solid #efefef;
          padding-bottom:8px;
          padding-left:10px;
          padding-top:8px;

          // Use three-color bootstrap gradient to control height at which
          // transition occurs
          #gradient > .vertical-three-colors(
            rgba(0,0,0,0),
            rgba(0,0,0,0),
            20%,
            rgba(0,0,0,.02)
          );
          // Manually specifying the filter fixes breakage on specifying rgb or rgba in IE9.
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fefefe', GradientType=0);
          text-shadow:0px 1px 0px white;

          .image-and-description {
            .clearfix();  
          }

          // The header, e.g. "Sergio Romo egraph"
          h3 {
            margin:0px;
            font-size:13px;
            font-weight:600;
            line-height:normal;
          }

          // The optional line-item photo image
          img {
            border:1px solid transparent;
            float:left;
            padding:2px;
            background-color:transparent;
            margin-right:8px;
            width:60px;
          }

          // The line item text
          .line-item-description {
            line-height:normal;
            font-size:11px;
            margin-right:27px;
            color:#777;

            strong {
              font-weight:inherit;
              font-style:italic;
            }
          }

          // The line item money quantity. The element should be
          // placed in the lineitem's h3
          .money {
            float:right;
          }

          // All non-total .moneys get de-emphasized
          &:not(.TotalLineItem) .money {
            color:@orange;
            background-color:inherit;
          }

          // jk, discount money can stay emphasized.
          &.discount .money {
            top:-250px; // This allows it to fly in using css transition when enabled
            margin-right:5px;
            position:relative;
            color:white;
            background-color:@orange;
            .transition(.5s @naturalEasing top);

            &.applied {
              top:0px;
            }
          }

          //
          // Specific line item type styles, by codeType
          // (see https://egraphs.atlassian.net/wiki/display/DEV/API+Endpoints for list of
          //      code types)
          //
          &.EgraphOrderLineItem {
            h3 { margin-bottom:4px; }
            img {
              border:1px solid #ddd;
              background-color:white;
              width:60px;
              min-height:35px;
            }
          }

          &.PrintOrderLineItem {
            h3 { margin-bottom:4px; }
            img {
              background-color:white;
            }
          }

          &.TotalLineItem {
            text-transform:uppercase;
            background-color:transparent;

            h3 { font-size:16px; }
            .money { margin-right:5px; }
          }
        }
      }
    }

    //
    // Begin form elements
    //
    form { margin-bottom: 0px;}

    select.ng-user-has-attended {
      &.ng-invalid {
        background-color:lighten(@orange, 40%);
        border:2px solid @orange;
      }
    }

    // Coupon code box gets the styles regardless of tab setting
    #coupon-couponCode {
      .ajaxInputIcons();
      width:160px;

      // Gray circle icon instead of check-mark in valid state when the field is empty only
      &.ng-valid:not(.ng-submitting) {
        background-image: url("/assets/images/glyphicons-circle-gray.png");
      }

      &.ng-invalid-remote_validated_on_server:not(.ng-submitting) {
        background-image: url("/assets/images/glyphicons-circle-gray.png");
      }

    }

    // For coupon code, only show the green check mark when everything is valid 
    // AND the coupon is also applied. This avoids showing the check mark when
    // no code (empty code) has been applied, leaving the form valid but useless.
    .discount.applied #coupon-couponCode.ng-valid:not(.ng-submitting) {
      &.ng-user-has-attended.ng-valid:not(.ng-submitting) {
        background-image: url("@{checkMarkIcon}");
      }

      &.ng-dirty.ng-valid:not(.ng-submitting) {
        background-image: url("@{checkMarkIcon}");
      }
    }

    .discount-field .tooltip-link {
      margin-top:8px;
    }

    .control-group {
      margin-bottom:15px;
    }

    .control-label {
      width:140px;

      a {
        font-size:11px;
        text-decoration: underline;
        line-height:normal;
      }
    }

    .controls {
      margin-left:29%;
      margin-right:29%;
      
      input, textarea, select {
        &.half {
          width:50%;
        }

        &.quarter {
          width:25%;
        }
      }

      #shipping-state {
        margin-top:12px;
        display:block;
      }
    }

    .fancy-header.framed-print {
      margin-top:22px;
    }

    // Visa, Mastercard icons etc.
    #stripeForm .credit-cards {
      margin-top:7px;
    }

    .field-reminder {
      img {
        margin-left:6px;
      }
    }

    // The fun slidey review widget that applies once all form components
    // are successfully completed.
    #review {
      position:relative;
      text-shadow:1px 1px white;
      overflow:hidden;
      .box-shadow(0px 9px 20px -14px black inset);
      #gradient > .vertical(#e5e5e5, #eee); // for when the eggshell hasn't paged in yet
      background-image: url("/assets/images/egg_shell_complete_order.png");
      background-color:#eee;
      color:#555;

      &.readyForReview {
        &:after {
          display:none;
        }
      }

      &:after {
        content:"";       
        position:absolute;
        width:100%;
        height:100%;
        top:0px;
        left:0px;
        background: rgba(255,255,255,.5);
      }

      h2 {
        margin-bottom:20px;
      }      

      .control-group {
        border-top:1px solid #aaa;
        border-bottom:1px solid #ccc;
        padding-top:20px;
        padding-bottom:20px;
        margin-bottom:0px;
        .box-shadow(0px -4px 8px -6px rgba(0,0,0,.4) inset);   
      }
      
      // The purchase button and associated text
      .submission {
        max-width:205px;
        margin-left:auto;
        margin-right:auto;
      }

      #this-will-charge  {
        margin-top:15px;
        font-size:13px;
      }

      #or-edit {
        font-size:11px;
        margin-top:11px;
      }
    }

    select#cardExpMonth, select#cardExpYear {
      width:65px;
    }
  }  
}

@media (max-width:480px) { body.storefront-a-checkout {
  .top {
    .steps {
      display:block;
      margin-top:10px;
      margin-left:0px;
      padding-left:0px;
      border-left:0px;
      font-size:11px;

      img.step-arrow {
        max-width: 8px;
        margin-top:15px;
      }

      .step {
        width:60px;
      }
    }
  }

  #content #main {
    .tooltip-link {
      display:inline;
    }
    .control-group {
       padding-right:10px;
       padding-left:10px;
    }

    .controls {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .control-label {
      width:auto;
    }
  }
}}