<!DOCTYPE html>
<!-- 
  This is an HTML / CSS / JS application that facilitates making mock egraph purchases on any 
  non-production installation of the Egraphs software. It is meant for either internal use 
  or e-mail distribution to trusted partners who need an easy way to make mock purchases on the 
  fly.

  The app only works if the browser opening this file already has authenticated itself against the
  target software installation.

  TO USE THE APP:

  1. Open this file in a modern browser
  2. Follow the instructions to fill in the information
  3. Press the button at the buttom to generate the order.

  TO CONFIGURE THE APP FOR PARTNERS TO USE:

  1. Scan down to the "BEGIN CONFIGURATION" section 10-20 lines below this header
  2. Alter whatever values you want until you see the words END CONFIGURATION. The configuration
     options should be well documented
  3. Re-load the browser to make sure the outcome is what you expected. Go ahead and
     generate a few test orders.
  4. Rename this file appropriately given the audience
  5. E-mail this file to the trusted partner.
-->
<html ng-app>
  <head>
    <title>Egraphs! Get your egraphs here!</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css">    
    <link href='http://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href='https://www.egraphs.com/public/images/favicon.png'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.cdnjs.com/ajax/libs/mustache.js/0.4.2/mustache.min.js" type="text/javascript"></script>
    <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
    <script type="text/javascript">
      function BuyDemoController ($scope) {
        /////////////////////////// 
        // BEGIN CONFIGURATION   //
        ///////////////////////////

        // heading - text that the header should say: e.g. "Sony Music".
        $scope.heading = "Easy-Peezy Egraph Purchaser";

        // domain - the protocol, domain, and port containing the non-production instance of the
        //     Egraphs software. e.g. "http://localhost:9000"
        $scope.domain = "https://beta.egraphs.com";
        
        // celebs - an array of Celebrity objects. A Celebrity object has three properties:
        //     name: The celebrity name that should be presented to the person opening the application.
        //         e.g. "David Ortiz"
        //
        //     urlSlug: The portion of the url that identifies this celebrity on the target instance
        //         of the Egraphs software. You can harvest this from the URL of the "Choose Photo"
        //         page. e.g. "David-Ortiz"
        //
        //     products: An array of Product objects. A Product has two properties:
        //         name: The product name that should be presented to the person running the application
        //             e.g. "2012 All-Star Game"
        //
        //         urlSlug: The portion of the url that identifies this celebrity on the target
        //             instance of the Egraphs software. You can harvest this from the URL of the
        //              "Personalize" page. e.g. "2012-All-Star-Game"        
        $scope.celebs = [
          { name: "Kate Odell", 
            urlSlug: "Kate-Odell",
            products: [
              {name: "Soccer 2", urlSlug: "soccer2"},
              {name: "World Cup", urlSlug: "World-Cup"}
            ]
          },
          { name: "Eric Feeny", 
            urlSlug: "Eric-Feeny",
            products: [
              {name: "Product A (At Bat)", urlSlug: "Eric-Feenys-Product-A"},
              {name: "Product B (J Timb)", urlSlug: "Eric-Feenys-Product-B"}
            ]
          }
        ];

        // Default order info. This should all be self-explanatory.
        $scope.orderInfo = {
          recipient: {name: "Joe Recipient", email: "joe.recipient@egraphs.com"},
          buyer: {name: "Joe Buyer", email: "joe.buyer@egraphs.com"},
          desiredText: "Happy 13th birthday, Joe!",
          personalNote: "I'm your biggest fan!"
        };

        ///////////////////////////
        //   END CONFIGURATION   //
        ///////////////////////////
        $scope.celeb = $scope.celebs[0];
        $scope.product = $scope.celeb.products[0];


        $scope.changeCelebrity = function(newCeleb) {          
          $scope.product = newCeleb.products[0]
        };
      }
    </script>
    <style>
      .illuminated {        
        font-family: 'Rye', cursive;
        font-size:4em;
      }
      .navbar .brand img {
        height: 50px;
        margin-right: 20px        
      }

      #order-info {
        margin-top:20px;
      }

      #order-info fieldset {
        margin-bottom: 15px;
      }

      .btn.submit {
        margin-top: 20px;
      }

      #credentials-test {
        display:inline-block;
        width:70px;
      }
    </style>
  </head>
  <body>
    <div id="app" class="" ng-controller="BuyDemoController">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <div class="brand" href="#">
              <a href="https://www.egraphs.com"><img src="https://www.egraphs.com/public/images/logo.png"></img></a>
              {{heading}}
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div id="order-info" class="">
          <p><span class="illuminated">T</span>his little form will help you create mock egraph orders
          for demoing. To get started, first <a href="{{domain}}">go to the website</a> 
          we set up for you and make sure your credentials are solid.</p>

          <p>
            If you see the egraphs logo here ( <img id="credentials-test" src="{{domain}}/public/images/logo.png" > ) then you're good to go!
            If not, <a href="{{domain}}">go put in your credentials</a> and refresh this page.
          </p>
          
          
          <form method="POST" action="{{domain}}/{{celeb.urlSlug}}/{{product.urlSlug}}/buy-demo">
            <fieldset>
              <legend>Choose a star and photo</legend>
              <select ng-model="celeb" ng-options="celeb as celeb.name for celeb in celebs" ng-change="changeCelebrity(celeb)"></select>
              <select ng-model="product" required ng-options="product as product.name for product in celeb.products"></select>
            </fieldset>            
            <fieldset>
              <legend>Who will be receiving the egraph?</legend>
              <input name="recipientName" type="text" ng-model="orderInfo.recipient.name">
              <input name="recipientEmail" type="text" ng-model="orderInfo.recipient.email">
            </fieldset>
            <fieldset>
              <legend>Who is buying the egraph?</legend>
              <input name="buyerName" type="text"  ng-model="orderInfo.buyer.name">
              <input name="buyerEmail" type="text"  ng-model="orderInfo.buyer.email">
            </fieldset>
            <fieldset>
              <legend>What do you want {{celeb.name}} to write?</legend>
              <input name="desiredText" type="text" class="span12" ng-model="orderInfo.desiredText">
            </fieldset>
            <fieldset>
              <legend>Is there anything personal you want {{celeb.name}} to know?</legend>
              <input name="personalNote" type="text" class="span12" ng-model="orderInfo.personalNote">
            </fieldset>
            <button class="btn btn-primary submit">This button makes you feel really, really good</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>