@(errorFields: Option[List[String]])

@import controllers.WebsiteControllers
@import services.Utils.lookupUrl

@content_base(title="Admin - Login", body=body, head=head)

@alertMessageClass = @{
  errorFields match {
    case None => ""
    case Some(_) => "alert-message-has-errors"
  }
}

@errorMessage = {
@errorFields.map { realErrors =>
  Required fields are either missing or invalid. Please fix and resubmit.
  <ul>
    @realErrors.map { theError =>
    <li>@theError</li>
    }
  </ul>
  }
}

@postAdminLogin = @{
lookupUrl("WebsiteControllers.postAdminLogin")
}

@head = {
<script src='@asset("public/twitter-bootstrap-1.4.0/js/bootstrap-alerts.js")' type="text/javascript"></script>
}

@body = {
<div class="admin-content">
  <div class="form row">
    <div class="span12 form-column">
      <form method="POST" action="@postAdminLogin">
        <fieldset>
          <legend>Adminstrator Login</legend>
          <div class="clearfix">
            <label for="email">Email</label>
            <div class="input">
              <input class="span4" id="email" name="email" type="text">
            </div>
          </div>
          <div class="clearfix">
            <label for="password">Password</label>
            <div class="input">
              <input class="span4" id="password" name="password" type="password">
            </div>
          </div>
          <div class="actions">
            <button type="submit" id="submit-button" class="btn large primary fade in">Login</button>
            <div class="form-errors alert-message block-message error @alertMessageClass">
              @errorMessage
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
}
