@(celebrity:models.Celebrity, products: Iterable[models.Product])

@base(title=celebrity.publicName.get + " - eGraphs", body=body, head=head)

@head = {
  <style>
    body {
      background-color:black;
      background-image:url("/public/images/BaseballBackground.jpg");
      background-repeat:no-repeat;
    }
    footer {
      color:white;
    }
  </style>
}

@body = {
  <div class="celeb-content">
    <div class="row personal-info">
      <div class="span4 profile-photo" >
        <img src="@celebrity.profilePhoto.get.url" />
      </div>
      <div class="span11 profile-info">
        <h1>@celebrity.publicName</h1>
        <h2>@celebrity.description</h2>
      </div>
    </div>
    <div class="page-header"></div>
    <div class="products">
      @_products
    </div>
  </div>
}

@_products = {
  @(products.headOption match {
    case None => _noProducts
    case Some(product) => _someProducts
  })
}

@_noProducts = {
  @celebrity.publicName isn't signing eGraphs! Go badger him on Twitter.
}

@_someProducts = {
  <div class="row">
    @products.grouped(2).map { productPair =>
      @productPair.map { product =>
        <div class="span8 product">
          <img src="http://placehold.it/330x230">
        </div>
      }
    }.toList
  </div>
}
