@(title:String    = "",
  head:   => Html = Html.empty,
  onLoad: => Html = Html.empty,
  navContent: => Html = Html.empty,
  body:   => Html = Html.empty)

@base(title=title, head=localHead, onLoad=onLoad, body=localBody, navContent=navContent)

@localHead = {
  <style type="text/css">
    body {
      background-color:black;
      background-image:url("/public/images/background_gradient1.jpg");
      background-repeat:repeat;
    }
  </style>
  @head
}

@localBody = {
  <div class="content-base">
    @body
  </div>
}
