@(demoScenarios: Iterable[(String, Seq[demosetup.DemoScenario])])

<!DOCTYPE html>
<html>
<head>
  <title>Demo Scenarios</title>
</head>
<body>
@demoScenarios.map { case (category, categoryScenarios) =>
<h1>@category</h1>
<ol>
  @categoryScenarios.map { demoScenario =>
  <li style="padding-bottom:7px">
    <code><a href="/demo-setup/@demoScenario.urlSlug">@demoScenario.name</a></code>
    <div style="padding-left:17px; padding-top:3px; font-size:14px;">
      @demoScenario.description
    </div>
  </li>
  }
</ol>
}
</body>
</html>
