@(order: models.Order, egraph: models.Egraph, imageUrl: String, product: models.Product, celebrity: models.Celebrity)

@import services.Time
@import services.Blobs.AccessPolicy.Public

@content_base(title="Egraph #"+order.id+" - eGraphs", body=body, head=head)

@head = {

}

@body = {
  <div class="egraph-content">
    <div class="row">
      <div class="span16">
        <h1>eGraph #@order.id<div class="help-block">Signed @Time.toApiFormat(egraph.updated)</div></h1>
        <h3>Personally autographed by @celebrity.publicName for @order.recipientName</h3>
        <div class="divider"></div>
        <a href="@egraph.assets.image.getSaved(Public).url">
          <img src="@imageUrl" alt="Egraph #@order.id" class="span16">
        </a>
        <audio controls="controls" >
          <source src="@egraph.assets.audioUrl" type="audio/wav" />
          Your browser does not support streaming audio.
        </audio>
      </div>
    </div>
  </div>
}
