<!-- TODO(erem): Implement -->
@body = {
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Your autograph, sir.</h1>
    <p>
      Want a personalized autograph from your favorite baseball star? You are
      <span style="font-weight:bold">three clicks</span> from having one.
    </p>
    <p><a class="btn primary large">Learn about eGraphs &raquo;</a></p>
  </div>

  <h1>Your eGraph is:</h1>
  <div class="row">
    <div class="span-one-third">
      <h2>Real</h2>
       <p>
         Your purchase reserves a block of time just for you on your favorite player's busy schedule.
         This allows him to read your message, sign your personalized eGraph using a top-of-the-line
         touch pen, and record a snippet of his voice proving his identity.
       </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
   </div>
    <div class="span-one-third">
      <h2>Beautiful</h2>
      <p>
        Our <em>Infinite Detail</em> signature technology ensures that your personalized eGraph
        looks perfect whether blown up onto poster or miniaturized onto a
        coffee mug for Dad.
      </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span-one-third">
      <h2>Secure</h2>
      <p>
        Unlike physical autographs, your eGraph can't be damaged, lost, or stolen;
        we keep the digital master copy on our secured servers alongside
        biometrically analyzed proof that the player himself signed it.
      </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>
}

@base(title="eGraphs: Real autographs from real players.", body=body)