@(buyer: models.Customer,
  recipient: models.Customer,
  celebrity:models.Celebrity,
  product: models.Product,
  order: models.Order)

@import libs.Finance.TypeConversions._

@selfPurchase = @{ buyer == recipient }

@recipientPossessive = @{
 if(selfPurchase) {
   "your"
 } else {
   order.recipientName + "'s"
 }
}

@recipientMoniker = @{
  if(selfPurchase) {
    "you"
  } else {
    order.recipientName
  }
}

Dear @buyer.name,

Congratulations on your new eGraph order! We _just_ booked @recipientPossessive
slice of @celebrity.publicName's schedule to ensure that he will have plenty of time
to read the info you entered and respond in true, biometrically authenticated
handwriting.

For now just sit back and relax; @celebrity.publicName will send @recipientMoniker an e-mail
as soon as he's done signing your eGraph, so look forward to hearing from him!

Until then, here are the details of your order in case you need them for any
reason.

Order number: @order.id
Amount paid: @order.amountPaid.formatSimply
Image: @celebrity.publicName in @product.name
Desired text:
  @order.requestedMessage
Personal note:
  @order.messageToCelebrity


