@(celebrity:models.Celebrity,
  product: models.Product,
  errorFields: Option[List[String]],
  fields: (String) => String)

@import models.Product
@import controllers.WebsiteControllers
@import services.Blobs.AccessPolicy.Public
@import services.Finance.TypeConversions._
@import services.Utils.lookupUrl

@content_base(title=celebrity.publicName.get + ": " + product.name + "- eGraphs", body=body, head=head)

@head = {
<script src='@asset("public/twitter-bootstrap-1.4.0/js/bootstrap-alerts.js")' type="text/javascript" ></script>
  <script type="text/javascript" >
    require(["product-page"], function(productPage) {
       productPage.go(
         "@services.Payment.StripeKey.publishable",
         @product.price.getAmountMinor,
         !@errorFields.isEmpty);
    })
  </script>
}

@profilePhoto_100x100 = {
  @celebrity.profilePhoto.resizedWidth(100).getSaved(Public).url
}

@price = {@product.price.formatSimply}

@alertMessageClass = @{
  errorFields match {
    case None => ""
    case Some(_) => "alert-message-has-errors"
  }
}

@errorMessage = {
  @errorFields.map { realErrors =>
    Required fields are either missing or invalid. Please fix and resubmit.
    <ul>
      @realErrors.map { theError =>
        <li>@theError</li>
      }
    </ul>
  }
}

@urlSlugMap = @{
  Map("celebrityUrlSlug" -> celebrity.urlSlug.get, "productUrlSlug" -> product.urlSlug)
}

@buyPage = @{
  lookupUrl("WebsiteControllers.getCelebrityProduct", urlSlugMap)
}

@formField(id: String,
           label: String,
           inputType: String,
           width: String,
           help: Option[Html] = None,
           hasInputName: Boolean=true) = {

  @nameAttribute = {
    @if(hasInputName) {
      name="@id"
    }
  }

  <div class="clearfix">
    <label for="@id">@label</label>
    <div class="input">
      <input class="@width" id="@id" @nameAttribute type="@inputType" value="@fields(id)" >
      @help.map { htmlString =>
        <span class="help-block">@htmlString</span>
      }
    </div>
  </div>
}

@body = {
  <div class="product-content">
    <div class="row product-header" >
      <div class="span2 profile-thumbnail" >
        <a href="@WebsiteControllers.lookupGetCelebrity(celebrity.urlSlug.get)" >
          <img src="@profilePhoto_100x100" alt="@celebrity.publicName profile photo">
        </a>
      </div>
      <div class="span14 product-header">
        <h2>
          <a href="@WebsiteControllers.lookupGetCelebrity(celebrity.urlSlug.get)">
            @celebrity.publicName
          </a> in
        </h2>
        <h1>@product.name</h1>
        <h6><span class="label success">@price Signed</span></h6>
      </div>
    </div>
    <div class="product-image">
      <img src="@product.photo.resizedWidth(940).getSaved(Public).url" alt="@product.name Thumbnail">
    </div>
    <div class="form row">
      <div class="span4 form-description-column">
        <div id="your-time">
          <h2>You and @celebrity.publicName</h2>
          <p>
            Your purchase reserves time for you on @celebrity.publicName's busy
            schedule, so don't be shy about writing whatever you want in your short note --
            @celebrity.publicName is <em>guaranteed</em> to read it.
          </p>
        </div>
        <div id="grab-or-gift">
          <h2>Grab it or gift it</h2>
          <p>
            @celebrity.publicName can either sign the eGraph for you or as a gift
            for someone you care about. Just make sure the name and e-mail address
            to the right match the intended recipient!
          </p>
        </div>
        <div id="print-and-post">
          <h2>Print it and post it</h2>
          <p>
            You can do anything with the eGraph @celebrity.publicName signs for you:
            blow it up onto poster, shrink it down onto a coffee mug, share it on Facebook,
            make it your background, and any number of other things that would be
            impossible with a physical autograph.
          </p>
        </div>
      </div>
      <div class="span12 form-column">
        <form id="payment-form" method="POST" action='@buyPage' >
          <fieldset>
            <legend>Recipient info</legend>
            @formField(id="recipientName", label="Name", inputType="text", width="span4")

            @formField(
              id="recipientEmail",
              label="E-mail address",
              inputType="text",
              width="span4",
              help=Some(emailHelp))

            @emailHelp = {
              egraphs.com or raysbaseball.com.
            }

            <div class="clearfix">
              <label for="desiredText">Desired text</label>
              <div class="input">
                <textarea class="span7" id="desiredText" name="desiredText" rows="3" >@fields("desiredText")</textarea>
                <span class="help-block span7">
                  e.g. <em>"Happy 13th birthday, David!"</em> If left blank, @celebrity.publicName will just
                  sign his name over the photo.
                </span>
              </div>
            </div>
          </fieldset>
          <div style="border-top:1px solid #333">
            <fieldset>
              <legend>Payment info <span class="help-inline">where different from above</span></legend>
              @formField(id="buyerName",
                         label="Full name",
                         inputType="text",
                         width="span4",
                         help=Some(buyerNameHelp))
              @buyerNameHelp = {
                As it appears on the card
              }

              @formField(
                id="buyerEmail",
                label="E-mail address",
                inputType="text",
                width="span4",
                help=Some(emailHelp))

              @formField(id="cardNumber",
                         label="Card number",
                         inputType="text",
                         width="span4",
                         hasInputName=false,
                         help=Some(cardHelp))
              @cardHelp = {
                It will be charged @price
              }
              
              <div class="clearfix">
                <label for="cardExpirationMonth">Expiration date</label>
                <div class="input">
                  <div class="inline-inputs">
                    <input class="span1" id="cardExpirationMonth" type="text" value="05">
                    /
                    <input class="span1" id="cardExpirationYear" type="text" value="2016">
                  </div>
                  <span class="help-block">
                    e.g. <em>05 / 2016</em>
                  </span>
                </div>
              </div>
              @formField(id="cardCvc", label="CVC", inputType="text", width="span1")
            </fieldset>
          </div>
          <div style="border-top:1px solid #333">
            <fieldset>
              <legend>Anything else you want @celebrity.publicName to know?</legend>
              <div class="clearfix">
                <label for="personalNote">Note to @celebrity.publicName</label>
                <div class="input">
                  <textarea class="xxlarge" id="personalNote" name="personalNote" rows="3">@fields("personalNote")</textarea>
                  <span class="help-block">
                    e.g. <em>I'm your biggest fan!</em>
                  </span>
                </div>
              </div>
              <div class="actions">
                <button type="submit" id="submit-button" class="btn large primary fade in">Get @celebrity.publicName's Autograph Now</button>
                <span class="help-block">
                  This will charge @price to your credit card
                </span>
                <div class="form-errors alert-message block-message error @alertMessageClass">
                  @errorMessage
                </div>
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
}
