@(celebrity:models.Celebrity, product: models.Product)

@import models.Product
@import controllers.CelebrityController
@import libs.Blobs.AccessPolicy.Public

@content_base(title=celebrity.publicName.get + ": " + product.name + "- eGraphs", onLoad=onLoad, body=body, head=head)

@head = {
  <style type="text/css">
    body {
      background-color:black;
      background-image:url("/public/images/BaseballBackground.jpg");
      background-repeat:no-repeat;
    }
    footer {
      color:white;
    }
  </style>
}

@onLoad = {
  $(function () {
    $("a[rel=popover]")
      .popover({
        offset: 10,
        placement: 'above'
      })
      .click(function(e) {
        e.preventDefault()
      })
  })
}

@profilePhoto_100x100 = {
  @celebrity.profilePhoto.get.resized(100, 100).ensureSaved(Public).url
}

@body = {
  <div class="product-content">
    <div class="row product-header" >
      <div class="span2 profile-thumbnail" >
        <img src="@profilePhoto_100x100" alt="@celebrity.publicName profile photo">
      </div>
      <div class="span14 product-header">
        <h2>
          <a href="@CelebrityController.url(celebrity)">
            @celebrity.publicName
          </a> in
        </h2>
        <h1> @product.name</h1>
      </div>
    </div>
    <div class="page-header"></div>
    <div class="">
      <img src="http://placehold.it/940x500" alt="@product.name Thumbnail">
    </div>
  </div>




}
