@(urlsAndDataPoints: List[(String,List[Int])])

@main(title = "Monitoring") {
    
    <ul>
       @urlsAndDataPoints.map { urlAndDataPoint =>
           <h1> Recent GET requests to @urlAndDataPoint._1: </h1>
           <p> @urlAndDataPoint._2.mkString(", ") </p>
           <div id="placeholder" style="width:600px;height:300px;"></div>
       }

	<script type="text/javascript">
	$(function () {

    	var data = [@{
      		val points = urlsAndDataPoints.head._2
      		Html((0 to points.length).zip(points)
      			.map(point => "[" + point._1 + "," + point._2 + "]").mkString(","))}];
    
    	$.plot($("#placeholder"), [ data ]);
	});
	</script>
       
    </ul>  
}