@(celebrity: models.Celebrity, email: String)

Dear @celebrity.publicName,

Your Egraphs Celebrity account has been created!

Your fans want to interact with you. Egraphs is here to help you interact with them in a fun and comfortable way.

Username: @email
Password: If you don't have your password, please ask your Egraphs representative.

The next step is to login on the Egraphs iPad app and complete enrollment. Once you are enrolled, you can start signing digital autographs for your fans!

Thanks,
The Egraphs Team
